Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

feat(marketing): add comparison pages, lead magnets, drip emails, and resource downloads
  .continue
  proxy.ts
  src/app/blog/[slug]/blog-post-page.tsx
  src/app/blog/[slug]/page.test.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/category/[category]/page.test.tsx
  src/app/compare/[competitor]/compare-data.ts
  src/app/compare/[competitor]/page.tsx
  src/app/resources/landlord-tax-deduction-tracker/page.tsx
  src/app/resources/page.tsx
  src/app/resources/seasonal-maintenance-checklist/page.tsx
  src/app/resources/security-deposit-reference-card/page.tsx
  src/app/sitemap.ts
  src/components/blog/blog-inline-cta.tsx
  src/components/blog/lead-magnet-cta.tsx
  src/components/shared/print-button.tsx
  supabase/functions/_shared/drip-email-templates.ts
  supabase/functions/trial-drip-email/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): address P0/P1 review findings
  src/hooks/api/use-create-invitation.ts
  supabase/functions/_shared/resend.ts
  supabase/functions/tenant-invitation-accept/index.ts
  supabase/functions/trial-drip-email/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(accept-invite): read error field from Edge Function response
  src/app/(auth)/accept-invite/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: address P2/P3 review findings
  .continue
  src/app/(auth)/accept-invite/__tests__/accept-invite-session.test.tsx
  src/app/compare/[competitor]/compare-data.ts
  src/app/compare/[competitor]/compare-sections.tsx
  src/app/compare/[competitor]/page.tsx
  src/app/resources/landlord-tax-deduction-tracker/page.tsx
  src/app/resources/landlord-tax-deduction-tracker/tax-deduction-data.ts
  src/components/blog/lead-magnet-cta.tsx
  src/hooks/api/use-create-invitation.ts
  src/types/sections/compare.ts
  supabase/functions/_shared/drip-email-templates.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(drip-email): add default case and fix date range boundary
  supabase/functions/trial-drip-email/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve recharts Formatter type and exhaustive-deps lint errors
  src/app/(owner)/settings/components/billing-settings.tsx
  src/components/reports/reports-utils.ts
  src/components/settings/billing-settings.tsx
  src/components/settings/general-settings.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve recharts Formatter type, exhaustive-deps lint, and remove dead settings files
  src/app/(owner)/settings/components/billing-history-section.tsx
  src/app/(owner)/settings/components/billing-settings.tsx
  src/app/(owner)/settings/components/notification-settings.tsx
  src/app/(owner)/settings/components/security-password-section.tsx
  src/app/(owner)/settings/components/security-sessions-section.tsx
  src/app/(owner)/settings/components/security-settings.tsx
  src/components/reports/reports-utils.ts
  src/components/settings/billing-settings.tsx
  src/components/settings/general-settings.tsx
  src/components/settings/settings-page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(lockfile): deduplicate baseline-browser-mapping entries
  pnpm-lock.yaml
Due: prettier --write

fix(deps): regenerate lockfile, fix ESLint 10 peer deps, stabilize tests
  .gitattributes
  lefthook.yml
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs(29): create phase plan for Edge Function shared utilities
  .planning/ROADMAP.md
  .planning/phases/29-edge-function-shared-utilities/29-01-PLAN.md
  .planning/phases/29-edge-function-shared-utilities/29-02-PLAN.md
  .planning/phases/29-edge-function-shared-utilities/29-03-PLAN.md
Due: prettier --write

feat(29-01): create shared Edge Function utility modules
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/cors.ts
  supabase/functions/_shared/errors.ts
  supabase/functions/_shared/stripe-client.ts
  supabase/functions/_shared/supabase-client.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(29-01): extract shared email layout from template files
  supabase/functions/_shared/auth-email-templates.ts
  supabase/functions/_shared/drip-email-templates.ts
  supabase/functions/_shared/email-layout.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(29-01): complete shared Edge Function utility modules plan
  .planning/STATE.md
  .planning/phases/29-edge-function-shared-utilities/29-01-SUMMARY.md
Due: prettier --write

refactor(29-02): JWT stripe shared utils
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/cors.ts
  supabase/functions/_shared/errors.ts
  supabase/functions/_shared/stripe-client.ts
  supabase/functions/_shared/supabase-client.ts
  supabase/functions/detach-payment-method/index.ts
  supabase/functions/stripe-billing-portal/index.ts
  supabase/functions/stripe-checkout/index.ts
  supabase/functions/stripe-connect/index.ts
  supabase/functions/stripe-rent-checkout/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(29-03): JWT functions use shared modules
  supabase/functions/_shared/auth-email-templates.ts
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/cors.ts
  supabase/functions/_shared/drip-email-templates.ts
  supabase/functions/_shared/email-layout.ts
  supabase/functions/_shared/errors.ts
  supabase/functions/_shared/stripe-client.ts
  supabase/functions/_shared/supabase-client.ts
  supabase/functions/docuseal/index.ts
  supabase/functions/export-report/index.ts
  supabase/functions/export-user-data/index.ts
  supabase/functions/generate-pdf/index.ts
  supabase/functions/send-tenant-invitation/index.ts
  supabase/functions/tenant-invitation-accept/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(29-02): update non-JWT Stripe functions and webhook handler with shared utils
  supabase/functions/stripe-autopay-charge/index.ts
  supabase/functions/stripe-checkout-session/index.ts
  supabase/functions/stripe-webhooks/handlers/payment-intent-succeeded.ts
  supabase/functions/stripe-webhooks/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(29-03): non-JWT Edge Functions adopt shared utilities
  supabase/functions/auth-email-send/index.ts
  supabase/functions/docuseal-webhook/index.ts
  supabase/functions/newsletter-subscribe/index.ts
  supabase/functions/tenant-invitation-validate/index.ts
  supabase/functions/trial-drip-email/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(29-02): complete Stripe Edge Function shared utilities migration
  .planning/STATE.md
  .planning/phases/29-edge-function-shared-utilities/29-01-PLAN.md
  .planning/phases/29-edge-function-shared-utilities/29-01-SUMMARY.md
  .planning/phases/29-edge-function-shared-utilities/29-02-PLAN.md
  .planning/phases/29-edge-function-shared-utilities/29-02-SUMMARY.md
  .planning/phases/29-edge-function-shared-utilities/29-03-PLAN.md
Due: prettier --write

docs(29-03): complete non-Stripe Edge Function consumer migration plan
  .planning/STATE.md
  .planning/phases/29-edge-function-shared-utilities/29-01-PLAN.md
  .planning/phases/29-edge-function-shared-utilities/29-01-SUMMARY.md
  .planning/phases/29-edge-function-shared-utilities/29-02-PLAN.md
  .planning/phases/29-edge-function-shared-utilities/29-03-PLAN.md
  .planning/phases/29-edge-function-shared-utilities/29-03-SUMMARY.md
Due: prettier --write

docs(phase-29): complete phase execution and verification
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/29-edge-function-shared-utilities/29-VERIFICATION.md
Due: prettier --write

refactor(30-01): add formatCents to canonical currency, change default minimumFractionDigits to 2
  src/lib/formatters/__tests__/formatters.test.ts
  src/lib/utils/__tests__/currency.test.ts
  src/lib/utils/currency.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(30-02): replace inline phone validation with shared phoneSchema
  src/app/(owner)/documents/templates/components/template-schemas.ts
  src/lib/validation/contact.ts
  src/lib/validation/tenants.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-30): complete phase execution and create summaries
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-frontend-import-validation-cleanup/30-01-SUMMARY.md
  .planning/phases/30-frontend-import-validation-cleanup/30-02-SUMMARY.md
Due: prettier --write

docs(30-01): complete currency formatter consolidation plan
  .claude/worktrees/agent-a5949ec2/.planning/ROADMAP.md
  .claude/worktrees/agent-a5949ec2/.planning/STATE.md
  .claude/worktrees/agent-a5949ec2/.planning/phases/30-frontend-import-validation-cleanup/30-01-SUMMARY.md
Due: prettier --write

docs(phase-30): complete phase execution and verification
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-frontend-import-validation-cleanup/30-VERIFICATION.md
Due: prettier --write

docs(31): capture phase context
  .planning/phases/31-frontend-hook-factories/31-CONTEXT.md
  .planning/phases/31-frontend-hook-factories/31-DISCUSSION-LOG.md
Due: prettier --write

docs(state): record phase 31 context session
  .planning/STATE.md
Due: prettier --write

docs(31): create phase plan for frontend hook factories
  .planning/ROADMAP.md
  .planning/phases/31-frontend-hook-factories/31-01-PLAN.md
  .planning/phases/31-frontend-hook-factories/31-02-PLAN.md
Due: prettier --write

fix(31): revise plans based on checker feedback
  .planning/ROADMAP.md
  .planning/phases/31-frontend-hook-factories/31-01-PLAN.md
  .planning/phases/31-frontend-hook-factories/31-02-PLAN.md
Due: prettier --write

refactor(31-02): migrate 5 detail hooks to useEntityDetail factory
  src/hooks/api/use-inspections.ts
  src/hooks/api/use-lease.ts
  src/hooks/api/use-tenant.ts
  src/hooks/api/use-unit.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(31-02): migrate lease, tenant, unit mutations to createMutationCallbacks
  src/hooks/api/use-lease-lifecycle-mutations.ts
  src/hooks/api/use-lease-mutations.ts
  src/hooks/api/use-tenant-mutations.ts
  src/hooks/api/use-unit.ts
  src/hooks/create-mutation-callbacks.test.ts
  src/hooks/create-mutation-callbacks.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(31-01): add hook factory foundations from plan 31-01
  .planning/phases/31-frontend-hook-factories/31-01-SUMMARY.md
  src/hooks/api/use-properties.ts
  src/hooks/api/use-property-mutations.ts
  src/hooks/api/use-vendor.ts
  src/hooks/create-mutation-callbacks.test.ts
  src/hooks/create-mutation-callbacks.ts
  src/hooks/use-entity-detail.test.ts
  src/hooks/use-entity-detail.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(31-02): resolve useEntityDetail type errors with UseQueryOptions cast
  src/hooks/api/use-billing-mutations.ts
  src/hooks/api/use-expense-mutations.ts
  src/hooks/api/use-inspection-mutations.ts
  src/hooks/api/use-maintenance.ts
  src/hooks/api/use-payment-mutations.ts
  src/hooks/use-entity-detail.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(31): address all code review findings from PR #580
  src/hooks/api/use-inspection-mutations.ts
  src/hooks/api/use-property-mutations.ts
  src/hooks/api/use-tenant-mutations.ts
  src/hooks/api/use-vendor.ts
  src/hooks/create-mutation-callbacks.test.ts
  src/hooks/create-mutation-callbacks.ts
  src/hooks/use-entity-detail.ts
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/stripe-client.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: extract billing queryFn into queryOptions factories
  src/hooks/api/query-keys/billing-keys.ts
  src/hooks/api/use-billing.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(30-02): extract MFA queryOptions to mfa-keys.ts
  src/hooks/api/query-keys/mfa-keys.ts
  src/hooks/api/query-keys/notification-keys.ts
  src/hooks/api/query-keys/payment-keys.ts
  src/hooks/api/use-mfa.ts
  src/hooks/api/use-notifications.ts
  src/hooks/api/use-payments.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(30-02): extract identity verification queryOptions
  src/components/maintenance/assign-vendor-dialog.tsx
  src/components/maintenance/vendor-form-dialog.tsx
  src/components/maintenance/vendors-page.client.tsx
  src/hooks/api/query-keys/financial-keys.ts
  src/hooks/api/query-keys/identity-verification-keys.ts
  src/hooks/api/query-keys/lease-keys.ts
  src/hooks/api/query-keys/maintenance-keys.ts
  src/hooks/api/query-keys/owner-notification-settings-keys.ts
  src/hooks/api/query-keys/session-keys.ts
  src/hooks/api/use-billing-mutations.ts
  src/hooks/api/use-dashboard-hooks.ts
  src/hooks/api/use-expense-mutations.ts
  src/hooks/api/use-identity-verification.ts
  src/hooks/api/use-lease-mutations.ts
  src/hooks/api/use-lease.ts
  src/hooks/api/use-owner-dashboard.ts
  src/hooks/api/use-owner-notification-settings.ts
  src/hooks/api/use-sessions.ts
  src/hooks/api/use-tenant-mutations.ts
  src/hooks/api/use-vendor.ts
  src/hooks/create-mutation-callbacks.test.ts
  src/hooks/create-mutation-callbacks.ts
  src/hooks/use-entity-detail.ts
  src/types/domain.ts
  supabase/functions/_shared/cors.ts
  supabase/functions/_shared/email-layout.ts
  supabase/functions/_shared/errors.ts
  supabase/functions/stripe-webhooks/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(30-02): extract Stripe Connect queryOptions
  src/hooks/api/query-keys/stripe-connect-keys.ts
  src/hooks/api/use-identity-verification.ts
  src/hooks/api/use-stripe-connect.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(30-02): extract tenant settings queryOptions
  src/hooks/api/query-keys/tenant-settings-keys.ts
  src/hooks/api/use-tenant-settings.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
