Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

Update packages/shared/src/types/api-contracts.ts
  packages/shared/src/types/api-contracts.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: handle null completedDate to allow clearing completion date
  apps/backend/src/modules/maintenance/maintenance.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: standardize subscription types to camelCase
  apps/frontend/src/app/(owner)/rent-collection/page.tsx
  apps/frontend/src/hooks/api/use-subscriptions.ts
  packages/shared/src/types/api-contracts.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: add platform invitation email handler and fix E2E test URLs
  apps/backend/src/modules/notifications/notification-event-handler.service.spec.ts
  apps/backend/src/modules/notifications/notification-event-handler.service.ts
  apps/backend/src/modules/properties/properties.controller.spec.ts
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.ts
  apps/e2e-tests/tests/production-flows/tenant-complete-journey.e2e.spec.ts
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.e2e.spec.ts
  apps/frontend/src/app/(auth)/accept-invite/__tests__/accept-invite.test.tsx
  apps/frontend/src/app/(auth)/accept-invite/page.tsx
  apps/frontend/src/components/dashboard/section-table.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: update test mocks to match refactored service dependencies
  apps/backend/src/modules/billing/webhook-processor.service.spec.ts
  apps/backend/src/modules/financial/financial.service.n1.spec.ts
  apps/backend/src/modules/leases/lease-signature.service.spec.ts
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.spec.ts
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.ts
  apps/frontend/src/app/(auth)/accept-invite/__tests__/accept-invite.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: use AppConfigService in resendInvitation and normalize status values
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.ts
  packages/shared/src/constants/status-types.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve TypeScript build errors and update test expectations
  apps/backend/src/modules/analytics/dashboard-analytics.service.ts
  apps/backend/src/modules/leases/leases.service.spec.ts
  apps/backend/src/modules/leases/subscription-retry.service.ts
  apps/backend/src/modules/stripe-sync/stripe-sync.controller.ts
  apps/backend/src/modules/tenants/tenant-crud.service.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): upgrade Next.js to 16.0.7 to patch RCE vulnerability
  apps/e2e-tests/tests/owner/owner-financials.e2e.spec.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: resolve all ESLint warnings and errors in frontend
  apps/backend/src/modules/tenants/tenant-list.service.ts
  apps/backend/src/modules/tenants/tenants.controller.ts
  apps/frontend/src/app/(owner)/properties/units/columns.tsx
  apps/frontend/src/app/(owner)/tenants/tenants-table.client.tsx
  apps/frontend/src/app/(tenant)/tenant/tenant-portal-page.tsx
  apps/frontend/src/app/features/page.tsx
  apps/frontend/src/app/marketing-home.tsx
  apps/frontend/src/components/data-grid/data-grid-cell-wrapper.tsx
  apps/frontend/src/components/data-grid/data-grid-row.tsx
  apps/frontend/src/components/data-grid/data-grid-search.tsx
  apps/frontend/src/components/data-table/data-table-faceted-filter.tsx
  apps/frontend/src/components/sections/hero-dashboard-mockup.tsx
  apps/frontend/src/components/sections/logo-cloud.tsx
  apps/frontend/src/components/tours/tenant-onboarding-tour.tsx
  apps/frontend/src/components/ui/stepper.tsx
  apps/frontend/src/components/ui/tour.tsx
  apps/frontend/src/hooks/use-data-grid.ts
  apps/frontend/src/lib/compose-refs.ts
  apps/frontend/src/lib/format.ts
  apps/frontend/src/proxy.ts
  apps/frontend/src/types/data-grid.ts
  apps/frontend/src/types/data-table.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve jws HMAC signature verification vulnerability (GHSA-869p-cjfg-cm3x)
  apps/backend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

fix: correct dependency injection order in ContactService constructor
  apps/backend/src/modules/contact/contact.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: correct all dependency injection decorator placements
  Dockerfile
  apps/backend/src/health/health.service.ts
  apps/backend/src/modules/billing/stripe.service.ts
  apps/backend/src/modules/billing/webhook-retry.service.ts
  apps/backend/src/modules/stripe-sync/stripe-sync.controller.ts
  apps/backend/src/shared/services/utility.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve Docker log directory permission issues
  Dockerfile
  apps/backend/src/logger/winston.utils.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(backend): implement comprehensive Supabase connectivity fixes
  .gitignore
  apps/backend/package.json
  apps/backend/src/config/config.schema.spec.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/database/supabase-config.validator.property.spec.ts
  apps/backend/src/database/supabase-config.validator.spec.ts
  apps/backend/src/database/supabase-config.validator.ts
  apps/backend/src/database/supabase.constants.ts
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/database/supabase.service.error-codes.spec.ts
  apps/backend/src/database/supabase.service.health-check.property.spec.ts
  apps/backend/src/database/supabase.service.non-transient-errors.property.spec.ts
  apps/backend/src/database/supabase.service.retry-logic.property.spec.ts
  apps/backend/src/database/supabase.service.retry-logic.spec.ts
  apps/backend/src/database/supabase.service.spec.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/test/integration/health-endpoint.integration.spec.ts
  apps/backend/test/integration/subscription-retry.integration.spec.ts
  apps/backend/test/integration/supabase-module-initialization.integration.spec.ts
  apps/backend/test/property/example.property.spec.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

Update apps/backend/src/modules/tenants/tenants.controller.ts
  apps/backend/src/modules/tenants/tenants.controller.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test: add winston logging verification tests
  apps/backend/src/logger/__tests__/winston.integration-verification.ts
  apps/backend/src/logger/__tests__/winston.manual-verification.ts
  apps/backend/src/logger/winston.utils.ts
  apps/backend/src/modules/tenants/tenants.controller.spec.ts
  apps/backend/test/n1-queries.e2e.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve test failures in tenant invitation property tests
  apps/backend/scripts/backfill-stripe-customers.ts
  apps/backend/src/shared/guards/property-ownership.guard.spec.ts
  apps/backend/src/shared/guards/property-ownership.guard.ts
  apps/backend/test/integration/tenant-invitation-flow.property.integration.spec.ts
  apps/backend/test/property/tenant-invitation-creation.property.spec.ts
  apps/e2e-tests/package.json
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.property.spec.ts
  apps/frontend/package.json
  apps/frontend/src/app/(owner)/@modal/(.)tenants/new/page.test.tsx
  apps/frontend/src/app/(owner)/@modal/(.)tenants/new/page.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/current-status-display.property.test.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/invitation-status-display.property.test.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/invitation-status-update.property.test.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/status-update-acceptance.property.test.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form-success.property.test.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form.property.test.tsx
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix(backend): add src/**/*.ts to tsconfig include for proper compilation
  apps/backend/tsconfig.json
Due: prettier --write

fix(backend): restore missing imports and remove sensitive file
  .gitignore
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/database/supabase.service.ts
  apps/frontend/.vitest-session.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: add structured logging with error codes and credential masking
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/shared/guards/property-ownership.guard.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Fix/tenant rpc permissions (#446)
  .gitignore
  apps/backend/package.json
  apps/backend/src/config/config.schema.spec.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/database/supabase-config.validator.property.spec.ts
  apps/backend/src/database/supabase-config.validator.spec.ts
  apps/backend/src/database/supabase-config.validator.ts
  apps/backend/src/database/supabase.constants.ts
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/database/supabase.service.error-codes.spec.ts
  apps/backend/src/database/supabase.service.health-check.property.spec.ts
  apps/backend/src/database/supabase.service.non-transient-errors.property.spec.ts
  apps/backend/src/database/supabase.service.retry-logic.property.spec.ts
  apps/backend/src/database/supabase.service.retry-logic.spec.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/logger/__tests__/winston.integration-verification.ts
  apps/backend/src/logger/__tests__/winston.manual-verification.ts
  apps/backend/src/shared/guards/property-ownership.guard.spec.ts
  apps/backend/src/shared/guards/property-ownership.guard.ts
  apps/backend/test/integration/health-endpoint.integration.spec.ts
  apps/backend/test/integration/subscription-retry.integration.spec.ts
  apps/backend/test/integration/supabase-module-initialization.integration.spec.ts
  apps/backend/test/integration/tenant-invitation-flow.property.integration.spec.ts
  apps/backend/test/n1-queries.e2e.spec.ts
  apps/backend/test/property/example.property.spec.ts
  apps/backend/test/property/tenant-invitation-creation.property.spec.ts
  apps/backend/tsconfig.json
  apps/e2e-tests/package.json
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.property.spec.ts
  apps/frontend/.vitest-session.json
  apps/frontend/package.json
  apps/frontend/src/app/(owner)/@modal/(.)tenants/new/page.test.tsx
  apps/frontend/src/app/(owner)/@modal/(.)tenants/new/page.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/current-status-display.property.test.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/invitation-status-display.property.test.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/invitation-status-update.property.test.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/status-update-acceptance.property.test.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form-success.property.test.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form.property.test.tsx
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate
