Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

chore: flatten tsconfig.base.json into tsconfig.json
  tests/e2e/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

test(01-02): add failing tests for lease auth, error monitoring, and FOR ALL audit
  tests/integration/rls/error-monitoring.test.ts
  tests/integration/rls/for-all-audit.test.ts
  tests/integration/rls/lease-rpcs.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(01-02): lease auth guards, admin-only error RPCs, FOR ALL cleanup, rate limiting
  CLAUDE.md
  supabase/migrations/20260303120000_phase1_analyze_remaining_tables.sql
  supabase/migrations/20260304120000_rpc_auth_guards.sql
  supabase/migrations/20260304130000_lease_error_rpc_auth_and_cleanup.sql
  tests/integration/rls/rpc-auth.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(01-02): complete lease auth and error RPC security plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-rpc-database-security/01-02-SUMMARY.md
Due: prettier --write

docs(01-01): complete RPC auth guards plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-rpc-database-security/01-01-SUMMARY.md
Due: prettier --write

docs(phase-01): complete phase execution — verification passed
  .planning/STATE.md
  .planning/phases/01-rpc-database-security/01-VERIFICATION.md
Due: prettier --write

docs(02): create phase plan — 5 plans across 3 waves for financial fixes
  .planning/ROADMAP.md
  .planning/phases/02-financial-fixes/02-01-PLAN.md
  .planning/phases/02-financial-fixes/02-02-PLAN.md
  .planning/phases/02-financial-fixes/02-03-PLAN.md
  .planning/phases/02-financial-fixes/02-04-PLAN.md
  .planning/phases/02-financial-fixes/02-05-PLAN.md
Due: prettier --write

fix(02): revise plans based on checker feedback
  .planning/phases/02-financial-fixes/02-01-PLAN.md
  .planning/phases/02-financial-fixes/02-02-PLAN.md
  .planning/phases/02-financial-fixes/02-03-PLAN.md
  .planning/phases/02-financial-fixes/02-04-PLAN.md
  .planning/phases/02-financial-fixes/02-05-PLAN.md
  .planning/phases/02-financial-fixes/02-06-PLAN.md
Due: prettier --write

feat(02-01): schema migration for financial fixes
  supabase/migrations/20260304140000_financial_fixes_schema.sql
Due: none

feat(02-06): diagnose stripe sync engine and add monitoring function
  supabase/migrations/20260304150000_financial_fixes_rpcs.sql
  supabase/migrations/20260304160000_stripe_sync_diagnosis.sql
Due: none

docs(02-06): complete Stripe sync diagnosis plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-financial-fixes/02-01-SUMMARY.md
  .planning/phases/02-financial-fixes/02-06-SUMMARY.md
Due: prettier --write

chore(02-02): upgrade Stripe SDK from v14 to v20 with apiVersion 2026-02-25.clover
  supabase/functions/deno.json
  supabase/functions/stripe-webhooks/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(02-02): fix webhook idempotency, metadata, fees, invoices
  supabase/functions/deno.json
  supabase/functions/stripe-webhooks/_templates/owner-notification.tsx
  supabase/functions/stripe-webhooks/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(02-02): complete webhook fixes plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/02-financial-fixes/02-02-SUMMARY.md
Due: prettier --write

feat(02-03): per-tenant portions and correct redirect URLs in stripe-rent-checkout
  supabase/functions/stripe-rent-checkout/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(02-03): autopay per-tenant portions, idempotency, retry logic, and failure emails
  supabase/functions/stripe-autopay-charge/index.ts
  supabase/migrations/20260304160000_autopay_cron_retry.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(02-03): complete rent checkout and autopay Edge Functions plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/02-financial-fixes/02-03-SUMMARY.md
Due: prettier --write

feat(02-04): atomic RPC set-default, Stripe detach Edge Function, last-method guard
  src/app/(tenant)/tenant/payments/methods/tenant-payment-methods.client.tsx
  src/hooks/api/use-payment-methods.ts
  supabase/functions/detach-payment-method/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(02-04): subscription status from stripe.subscriptions, banner, real billing hooks
  src/app/(owner)/owner-dashboard-layout.tsx
  src/components/billing/subscription-status-banner.tsx
  src/hooks/api/use-billing.ts
  src/shared/types/api-contracts.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(02-04): replace stripe-checkout-status with stripe-checkout-session
  src/hooks/api/use-payments.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(02-04): wire autopay toggle RPC, per-tenant rent portions, plan limit checks
  src/hooks/api/use-tenant-portal.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(02-04): complete frontend payment hooks and billing plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/02-financial-fixes/02-04-SUMMARY.md
  .planning/phases/02-financial-fixes/deferred-items.md
Due: prettier --write

feat(02-05): backfill onboarding_completed_at for existing owners
  supabase/migrations/20260304170000_onboarding_backfill.sql
Due: none

docs(02-05): update CLAUDE.md with Phase 2 financial conventions
  CLAUDE.md
Due: prettier --write

docs(02-05): complete onboarding backfill and CLAUDE.md conventions plan
  .planning/STATE.md
  .planning/phases/02-financial-fixes/02-05-SUMMARY.md
Due: prettier --write

fix(02-07): close Phase 2 verification gaps — migration timestamp, apiVersion, stripe.invoices RPC
  .planning/phases/02-financial-fixes/02-07-PLAN.md
  src/hooks/api/use-billing.ts
  supabase/functions/detach-payment-method/index.ts
  supabase/migrations/20260304161000_stripe_sync_diagnosis.sql
  supabase/migrations/20260305120000_get_user_invoices_rpc.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(03): capture Phase 3 auth & middleware context
  .planning/phases/03-auth-middleware/03-CONTEXT.md
Due: prettier --write

docs(state): record phase 3 context session
  .planning/STATE.md
Due: prettier --write

docs(03-auth-middleware): create phase plan
  .planning/ROADMAP.md
  .planning/phases/03-auth-middleware/03-01-PLAN.md
  .planning/phases/03-auth-middleware/03-02-PLAN.md
  .planning/phases/03-auth-middleware/03-03-PLAN.md
  .planning/phases/03-auth-middleware/03-04-PLAN.md
  .planning/phases/03-auth-middleware/03-05-PLAN.md
Due: prettier --write

fix(03): revise plans based on checker feedback
  .planning/ROADMAP.md
  .planning/phases/03-auth-middleware/03-01-PLAN.md
  .planning/phases/03-auth-middleware/03-02-PLAN.md
  .planning/phases/03-auth-middleware/03-03-PLAN.md
  .planning/phases/03-auth-middleware/03-04-PLAN.md
  .planning/phases/03-auth-middleware/03-05-PLAN.md
  .planning/phases/03-auth-middleware/03-06-PLAN.md
Due: prettier --write

docs(phase-03): complete auth & middleware planning — 6 plans, 2 waves
  .planning/phases/03-auth-middleware/03-RESEARCH.md
  .planning/phases/03-auth-middleware/03-VALIDATION.md
Due: prettier --write

feat(03-03): harden auth callback — x-forwarded-host fix, OTP validation, email verification
  src/app/(auth)/accept-invite/page.tsx
  src/app/auth/callback/__tests__/otp-validation.test.ts
  src/app/auth/callback/route.ts
  supabase/functions/_shared/auth-email-templates.ts
  supabase/functions/tenant-invitation-accept/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(03-03): harden login redirect validation with URL constructor
  src/app/(auth)/login/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(03-03): complete auth callback & login security hardening plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/03-auth-middleware/03-03-SUMMARY.md
  src/hooks/api/__tests__/auth-keys.test.ts
  src/hooks/api/use-auth.ts
  src/lib/supabase/__tests__/middleware.test.ts
  src/lib/supabase/middleware.ts
  supabase/functions/auth-email-send/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(03-01): create updateSession utility with cookie-sync tests
  src/app/auth/post-checkout/page.tsx
  src/app/auth/signout/page.tsx
  src/hooks/api/__tests__/auth-keys.test.ts
  src/lib/supabase/__tests__/middleware.test.ts
  supabase/functions/stripe-checkout-session/index.ts
  supabase/migrations/20260305130000_restrict_user_type_change.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(03-06): complete auth email templates plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-auth-middleware/03-06-SUMMARY.md
Due: prettier --write

docs(03-04): complete invitation auth, checkout security, signout CSRF, role restriction plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-auth-middleware/03-04-SUMMARY.md
  src/lib/supabase/__tests__/middleware-routing.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(03-01): create root middleware with role-based routing
  middleware.ts
  tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write

docs(03-02): complete auth session hardening plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/03-auth-middleware/03-02-SUMMARY.md
Due: prettier --write
