Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

fix: remove non-existent tailwind-config package from Dockerfile
  Dockerfile
  apps/frontend/src/components/subscription/subscription-cancel-modal.tsx
  apps/frontend/src/hooks/api/use-maintenance.ts
  packages/emails/base-email-template.tsx
  packages/emails/day3-education.tsx
  packages/emails/day7-demo-invitation.tsx
  packages/emails/email-confirmation.tsx
  packages/emails/feature-announcement.tsx
  packages/emails/index.ts
  packages/emails/lease-expiration-alert.tsx
  packages/emails/package.json
  packages/emails/payment-reminder.tsx
  packages/emails/property-tips.tsx
  packages/emails/re-engagement.tsx
  packages/emails/styles/base.ts
  packages/emails/tenant-invitation.tsx
  packages/emails/tsconfig.json
  packages/emails/welcome-series.tsx
  packages/test-utils/tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

feat: add comprehensive CI/CD pipeline with quality gates
  .github/workflows/comprehensive-ci.yml
Due: prettier --write

feat: add pre-commit hooks with GitGuardian
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

refactor: clean and simplify CI/CD workflows
  .github/workflows/ci-cd.yml
  .github/workflows/main.yml
Due: prettier --write

fix: resolve TypeScript unsafe argument warnings in backend auth
  apps/backend/src/auth/auth-webhook.controller.ts
  apps/frontend/src/components/maintenance/maintenance-request-modal.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: inline TypeScript config to resolve Vercel build failure
  apps/frontend/tsconfig.json
Due: prettier --write

Refactor code structure for improved readability and maintainability
  *** Begin Patch *** Update File: .husky/pre-commit
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  apps/backend/src/auth/auth-webhook.controller.ts
  apps/frontend/src/app/(dashboard)/dashboard-modern/page.tsx
  apps/frontend/src/app/(dashboard)/dashboard/page.tsx
  apps/frontend/src/app/(public)/about/page.tsx
  apps/frontend/src/app/(public)/security/page.tsx
  apps/frontend/src/components/billing/customer-portal-button.tsx
  apps/frontend/src/components/billing/hosted-checkout-button.tsx
  apps/frontend/src/components/billing/payment-methods.tsx
  apps/frontend/src/components/dashboard/dashboard-widgets.tsx
  apps/frontend/src/components/leases/leases-data-table.tsx
  apps/frontend/src/components/leases/leases-stats.tsx
  apps/frontend/src/components/maintenance/maintenance-data-table.tsx
  apps/frontend/src/components/maintenance/maintenance-stats.tsx
  apps/frontend/src/components/navigation/navigation-breadcrumbs.tsx
  apps/frontend/src/components/navigation/navigation-link.tsx
  apps/frontend/src/components/navigation/tab-navigation.tsx
  apps/frontend/src/components/pricing/pricing-cards.tsx
  apps/frontend/src/components/properties/property-card.tsx
  apps/frontend/src/components/properties/units/units-data-table.tsx
  apps/frontend/src/components/properties/units/units-stats.tsx
  apps/frontend/src/components/subscription/subscription-upgrade-modal.tsx
  apps/frontend/src/components/tenants/tenants-data-table.tsx
  apps/frontend/src/components/ui/breadcrumb.tsx
  apps/frontend/src/lib/config.ts
  fix-remaining-icon-refs.sh
  new_file
  typecheck-output.txt
Due: eslint --fix --no-warn-ignored, prettier --write

fix: update Jest config path and improve email confirmation handling; refactor NavigationLink icon rendering
  apps/backend/jest.config.js
  apps/backend/src/auth/auth-webhook.controller.ts
  apps/frontend/src/app/(public)/page.tsx
  apps/frontend/src/components/navigation/navigation-link.tsx
  apps/frontend/src/lib/config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: make Jest configuration resilient to missing setup file
  apps/backend/jest.config.js
Due: eslint --fix --no-warn-ignored, prettier --write
