Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

Refactor form fields and action components for improved reusability and consistency
  apps/frontend/package.json
  apps/frontend/src/app/(dashboard)/dashboard/layout.tsx
  apps/frontend/src/app/actions/properties.ts
  apps/frontend/src/app/auth/layout.tsx
  apps/frontend/src/components/auth/auth-guard.tsx
  apps/frontend/src/components/auth/protected-route-guard.tsx
  apps/frontend/src/components/data-table/data-table-action-factory.tsx
  apps/frontend/src/components/data-table/dense-table.tsx
  apps/frontend/src/components/forms/form-fields.tsx
  apps/frontend/src/components/leases/leases-data-table.tsx
  apps/frontend/src/components/maintenance/maintenance-data-table.tsx
  apps/frontend/src/components/properties/properties-data-table.tsx
  apps/frontend/src/components/properties/units/units-data-table.tsx
  apps/frontend/src/components/tenants/tenants-data-table.tsx
  apps/frontend/src/components/ui/data-table.tsx
  apps/frontend/src/components/ui/dropdown-menu.tsx
  apps/frontend/src/components/ui/form-action-state.tsx
  apps/frontend/src/components/ui/form.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/components/ui/sidebar/index.tsx
  apps/frontend/src/hooks/api/use-billing.ts
  apps/frontend/src/lib/actions/form-action-factory.ts
  apps/frontend/src/lib/api-client.ts
  apps/frontend/src/lib/error-handling.ts
  apps/frontend/src/lib/validation/generated-auth-schemas.ts
  apps/frontend/src/stores/app-store.ts
  apps/frontend/uno.config.ts
  packages/eslint-config/anti-duplication.js
  packages/eslint-config/rules/anti-duplication.js
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

feat: implement webhook idempotency with processed events tracking and testing
  CLAUDE.md
  apps/backend/src/app.module.ts
  apps/backend/src/billing/stripe-webhook.service.ts
  apps/backend/test-idempotency.sh
  packages/shared/src/types/supabase-generated.ts
  supabase/migrations/20250129_create_processed_stripe_events.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat: Refactor API endpoints for leases, tenants, and units to use constants
  apps/frontend/src/hooks/api/use-leases.ts
  apps/frontend/src/hooks/api/use-tenants.ts
  apps/frontend/src/hooks/api/use-units.ts
  apps/frontend/src/lib/constants/api-endpoints.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat: Implement dynamic rendering for dashboard pages to support runtime-authenticated data
  apps/frontend/src/app/(dashboard)/layout.tsx
  apps/frontend/src/app/(dashboard)/leases/page.tsx
  apps/frontend/src/app/(dashboard)/properties/page.tsx
  apps/frontend/src/app/(dashboard)/properties/units/page.tsx
  apps/frontend/src/app/(dashboard)/tenants/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat: add additional redirects for sign-up paths in configuration
  apps/frontend/next.config.ts
  apps/frontend/src/app/pricing/page.tsx
  apps/frontend/src/app/robots.ts
  apps/frontend/src/app/sitemap.ts
  apps/frontend/src/app/tools/invoice-generator/page.tsx
  apps/frontend/src/app/tools/maintenance-tracker/page.tsx
  apps/frontend/src/app/tools/page.tsx
  apps/frontend/src/app/tools/rent-calculator/page.tsx
  apps/frontend/src/components/auth/login-form.tsx
  apps/frontend/src/components/blog/blog-content-section.tsx
  apps/frontend/src/components/landing/navigation-section.tsx
  apps/frontend/src/components/landing/navigation.tsx
  apps/frontend/src/components/layout/Navigation.tsx
  apps/frontend/src/hooks/use-auth.ts
  apps/frontend/src/lib/api-client.ts
  apps/frontend/src/lib/utils/api-utils.ts
  playwright.config.ts
  vercel.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: add temporary type assertions for processed_stripe_events table
  apps/backend/src/billing/stripe-webhook.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: update generated auth schema timestamp
  apps/frontend/src/lib/validation/generated-auth-schemas.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve TypeScript module import errors and build issues
  .github/workflows/ci-cd.yml
  apps/frontend/src/lib/validation/generated-auth-schemas.ts
  package-lock.json
  packages/database/package.json
  packages/database/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.build.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: update build command to use npm run build instead of turbo build
  .github/workflows/ci-cd.yml
Due: prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
