Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

chore(04-03): remove chartConfig export from dashboard-types (follow-up)
  src/components/dashboard/dashboard-types.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: standardize FRONTEND_URL → NEXT_PUBLIC_APP_URL across Edge Functions
  CLAUDE.md
  SECURITY.md
  supabase/functions/_shared/cors.ts
  supabase/functions/docuseal/handler.ts
  supabase/functions/download-documents-zip/index.ts
  supabase/functions/n8n-blog-ingest/index.ts
  supabase/functions/newsletter-subscribe/index.ts
  supabase/functions/stripe-billing-portal/index.ts
  supabase/functions/stripe-cancel-subscription/index.ts
  supabase/functions/stripe-checkout-session/index.ts
  supabase/functions/stripe-checkout/index.ts
  supabase/functions/stripe-webhooks/handlers/invoice-payment-failed.ts
  supabase/functions/stripe-webhooks/index.ts
  supabase/functions/tests/export-user-data-test.ts
  supabase/functions/tests/n8n-blog-ingest.test.ts
  supabase/functions/tests/newsletter-subscribe-test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(04-03): donut Label center text now renders in real Recharts v3.8.1
  src/components/dashboard/components/occupancy-donut-chart.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(reports): real client-side PDF + Excel generation for /reports/generate
  bun.lock
  package.json
  src/app/(owner)/reports/generate/components/report-types.ts
  src/app/(owner)/reports/generate/page.tsx
  src/lib/reports/download-blob.ts
  src/lib/reports/generate-excel.ts
  src/lib/reports/generate-pdf.ts
  src/lib/reports/report-data.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs(04): mark plan 04-03 complete + write SUMMARY
  .planning/ROADMAP.md
  .planning/phases/04-charts/04-03-SUMMARY.md
Due: prettier --write

fix(04): address all 11 cycle-1 code-review findings on PR #748
  .planning/phases/04-charts/04-UI-SPEC.md
  bun.lock
  next-env.d.ts
  package.json
  src/app/(owner)/properties/page.tsx
  src/app/(owner)/properties/units/page.tsx
  src/components/dashboard/components/revenue-area-chart.tsx
  src/components/dashboard/dashboard-types.ts
  src/components/dashboard/dashboard.tsx
  src/components/documents/documents-section.tsx
  src/components/leases/bulk-import-config.ts
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/components/properties/bulk-import-config.ts
  src/components/tenants/bulk-import-config.ts
  src/components/units/bulk-import-config.ts
  src/hooks/api/query-keys/owner-dashboard-keys.ts
  src/hooks/api/use-billing-mutations.ts
  src/hooks/api/use-dashboard-hooks.ts
  src/hooks/api/use-expense-mutations.ts
  src/hooks/api/use-lease-lifecycle-mutations.ts
  src/hooks/api/use-lease-mutations.ts
  src/hooks/api/use-maintenance.ts
  src/hooks/api/use-owner-dashboard-financial.ts
  src/hooks/api/use-owner-dashboard.ts
  src/hooks/api/use-property-mutations.ts
  src/hooks/api/use-tenant-mutations.ts
  src/hooks/api/use-unit.ts
  src/hooks/api/use-vendor.ts
  src/lib/reports/report-data.ts
  src/test/mocks/recharts.tsx
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix(rls): grant EXECUTE on audit_for_all_policies to authenticated
  supabase/migrations/20260527150424_phase4_audit_for_all_policies_canonical_grants.sql
Due: none

fix(rls): drop 11 redundant deny_all_* FOR ALL permissive policies
  supabase/migrations/20260527151342_phase4_drop_redundant_deny_all_authenticated_policies.sql
Due: none

fix(migrations): guard restore-indexes migration against dropped tables
  supabase/migrations/20260220120000_restore_tenants_user_id_index.sql
Due: none

fix(migrations): cascade drop of get_current_property_owner_id for replay
  supabase/migrations/20260306140000_documents_owner_column.sql
Due: none

fix(migrations): idempotent drop replaces replay-failing assertion
  supabase/migrations/20260306150000_leases_drop_property_owner_id.sql
Due: none

fix(migrations): soften ABORT assertion to advisory WARNING for replay
  supabase/migrations/20260306150000_leases_drop_property_owner_id.sql
Due: none

fix(migrations): guard stabilize_tenant_invitations against missing column
  supabase/migrations/20260330180000_stabilize_tenant_invitations.sql
Due: none

fix(migrations): guard 21:43 sibling of stabilize_tenant_invitations
  supabase/migrations/20260330214340_stabilize_tenant_invitations.sql
Due: none

fix(migrations): guard 5 dashboard-captured migrations for chain replay
  supabase/migrations/20260403182712_fix_stripe_sync_queue_depth_security_invoker.sql
  supabase/migrations/20260403183016_move_pg_stat_monitor_to_extensions_schema.sql
  supabase/migrations/20260403183050_fix_set_updated_at_metadata_search_path.sql
  supabase/migrations/20260403183133_fix_set_updated_at_search_path.sql
  supabase/migrations/20260403183454_fix_stripe_check_rate_limit_search_path.sql
Due: none

fix(migrations): guard backfill_funnel_events invocation for chain replay
  supabase/migrations/20260415193249_backfill_funnel_events.sql
Due: none

fix(migrations): guard stripe schema alters in security_advisor_cleanup
  supabase/migrations/20260419220000_security_advisor_cleanup.sql
Due: none

fix(migrations): guard trailing COMMENT in property_owners rename
  supabase/migrations/20251220100000_rename_property_owners_to_stripe_connected_accounts.sql
Due: none

fix(migrations): guard 2 more stripe_connected_accounts DDL/DML migrations
  supabase/migrations/20251225182240_fix_rls_policy_security_and_performance.sql
  supabase/migrations/20260304170000_onboarding_backfill.sql
Due: none

fix(migrations): guard LANGUAGE SQL functions referencing dropped table
  supabase/migrations/20260118041312_fix_get_current_property_owner_id_function.sql
  supabase/migrations/20260224080000_harden_rls_auth_uid_wrappers.sql
  supabase/migrations/20260224191923_fix_harden_rls_regression.sql
Due: none

fix(phase-4): perfect-PR cycle-2 (1 P0 + 4 P1 + 1 INFO)
  .planning/phases/04-charts/04-REVIEW.md
  .planning/phases/04-charts/04-UI-SPEC.md
  bun.lock
  package.json
  src/components/dashboard/components/__tests__/occupancy-donut-chart.test.tsx
  src/components/dashboard/components/__tests__/revenue-area-chart.test.tsx
  src/components/dashboard/components/occupancy-donut-chart-skeleton.tsx
  src/components/dashboard/components/occupancy-donut-chart.tsx
  src/components/dashboard/components/revenue-area-chart-skeleton.tsx
  src/components/dashboard/components/revenue-area-chart.tsx
  src/components/dashboard/dashboard.tsx
  src/lib/reports/generate-pdf.ts
  src/lib/reports/report-data.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix(phase-4): perfect-PR cycle-3 (1 INFO)
  .planning/phases/04-charts/04-REVIEW-CYCLE-3.md
  src/hooks/api/use-owner-dashboard.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-4): perfect-PR cycle-4 (2 P1 + 3 INFO)
  .planning/phases/04-charts/04-REVIEW-CYCLE-4.md
  src/components/dashboard/chart-area-interactive.tsx
  src/components/dashboard/dashboard-data.test.ts
  src/components/dashboard/dashboard-data.ts
  src/hooks/api/use-dashboard-hooks.ts
  src/hooks/api/use-owner-dashboard-financial.ts
  src/lib/reports/generate-excel.ts
  src/lib/reports/generate-pdf.ts
  src/lib/reports/report-data.ts
  src/types/api-contracts.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-4): perfect-PR cycle-5 (1 P1)
  .planning/phases/04-charts/04-REVIEW-CYCLE-5.md
  src/hooks/api/query-keys/owner-dashboard-keys.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-4): perfect-PR cycle-6 (2 INFO)
  .planning/phases/04-charts/04-REVIEW-CYCLE-6.md
  src/app/(owner)/reports/generate/components/report-types.ts
  src/app/(owner)/reports/generate/page.tsx
  src/lib/reports/__tests__/generate-excel.test.ts
  src/lib/reports/__tests__/report-data.test.ts
  src/lib/reports/generate-excel.ts
  src/lib/reports/report-data.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-4): perfect-PR cycle-7 (1 P0)
  .planning/phases/04-charts/04-REVIEW-CYCLE-7.md
  src/lib/reports/__tests__/generate-excel.test.ts
  src/lib/reports/generate-excel.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(db): repair 3 column-DDL reconstruction bugs in the baseline
  supabase/migrations/20260528161124_baseline_from_prod.sql
Due: none

fix(db): add required EXTENSION declarations to baseline
  supabase/migrations/20260528161124_baseline_from_prod.sql
Due: none

fix(db): drop 2 more dead LANGUAGE sql functions blocking chain replay
  src/types/supabase.ts
  supabase/migrations/20260528161124_baseline_from_prod.sql
Due: eslint --fix --no-warn-ignored, prettier --write

chore(db): drop dead stripe.* schema, fix CLAUDE.md staleness
  CLAUDE.md
  supabase/migrations/20260528202741_drop_dead_stripe_schema.sql
Due: prettier --write

chore(db): drop 4 dead functions referencing dropped rent_payments table
  src/types/supabase.ts
  supabase/migrations/20260528204818_drop_dead_rent_payment_functions.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat(db): install Stripe Foreign Data Wrapper (canonical billing pattern)
  supabase/migrations/20260528223546_install_stripe_wrapper.sql
Due: none

fix(db): repair 8 analytics RPCs broken by rent_payments demolish
  supabase/migrations/20260528231201_repair_analytics_rpcs.sql
Due: none

fix(typing): typed Database client + ~80 pre-existing drift fixes
  .planning/phases/04-charts/04-REVIEW-CYCLE-8.md
  .planning/phases/04-charts/04-REVIEW-CYCLE-9.md
  .planning/post-749-review/CYCLE-1.md
  ISSUE-749-BROWSER-PROMPT.md
  ROADMAP.md
  STATE.md
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/components/maintenance/detail/add-expense-dialog.tsx
  src/components/maintenance/kanban/maintenance-kanban.client.tsx
  src/components/properties/bulk-import-config.ts
  src/components/tenants/bulk-import-config.ts
  src/components/units/bulk-import-config.ts
  src/hooks/api/__tests__/use-expenses.test.ts
  src/hooks/api/query-keys/billing-keys.ts
  src/hooks/api/query-keys/document-search-keys.ts
  src/hooks/api/query-keys/expense-keys.ts
  src/hooks/api/query-keys/inspection-keys.ts
  src/hooks/api/query-keys/inspection-mutation-options.ts
  src/hooks/api/query-keys/lease-keys.ts
  src/hooks/api/query-keys/lease-mutation-options.ts
  src/hooks/api/query-keys/maintenance-keys.ts
  src/hooks/api/query-keys/property-keys.ts
  src/hooks/api/query-keys/report-analytics-keys.ts
  src/hooks/api/query-keys/tenant-keys.ts
  src/hooks/api/query-keys/tenant-mutation-options.ts
  src/hooks/api/query-keys/unit-keys.ts
  src/hooks/api/use-analytics.ts
  src/hooks/api/use-billing.ts
  src/hooks/api/use-inspection-room-mutations.ts
  src/hooks/api/use-owner-dashboard-financial.ts
  src/hooks/api/use-owner-dashboard.ts
  src/hooks/api/use-profile.ts
  src/lib/db-insert.ts
  src/lib/rpc-shape.ts
  src/lib/supabase/client.ts
  src/types/supabase.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: untrack session artifacts accidentally committed in 904584052
  .planning/phases/04-charts/04-REVIEW-CYCLE-8.md
  .planning/phases/04-charts/04-REVIEW-CYCLE-9.md
  ISSUE-749-BROWSER-PROMPT.md
  ROADMAP.md
  STATE.md
Due: prettier --write

fix(post-749 cycle-2): p0 invoice display + ssr Database<> + claude.md
  .planning/post-749-review/CYCLE-2.md
  CLAUDE.md
  src/app/actions/auth.ts
  src/components/settings/sections/billing-history-section.tsx
  src/lib/supabase/middleware.ts
  src/lib/supabase/server.ts
  src/proxy.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(post-749 cycle-3): in-row status visuals, real download link, full as-unknown-as sweep
  .planning/post-749-review/CYCLE-3.md
  src/components/dashboard/expiring-leases-widget.tsx
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/components/leases/wizard/selection-step.tsx
  src/components/profiles/owner/profile-card.tsx
  src/components/settings/sections/billing-history-section.tsx
  src/components/ui/chart-tooltip.tsx
  src/components/ui/slider.tsx
  src/hooks/api/query-keys/analytics-keys.ts
  src/hooks/api/query-keys/billing-keys.ts
  src/hooks/api/query-keys/inspection-keys.ts
  src/hooks/api/query-keys/inspection-mutation-options.ts
  src/hooks/api/query-keys/lease-mutation-options.ts
  src/hooks/api/query-keys/maintenance-keys.ts
  src/hooks/api/query-keys/subscription-keys.ts
  src/hooks/api/query-keys/tenant-mutation-options.ts
  src/hooks/api/use-profile-mutations.ts
  src/hooks/api/use-profile.ts
  src/lib/reports/report-data.ts
  src/proxy.ts
  src/types/api-contracts.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(post-749 cycle-4): consolidate inspection enums + drop dead defenses
  .planning/post-749-review/CYCLE-4.md
  src/hooks/api/__tests__/use-expenses.test.ts
  src/hooks/api/query-keys/financial-keys.ts
  src/hooks/api/query-keys/inspection-keys.ts
  src/hooks/api/query-keys/inspection-mutation-options.ts
  src/hooks/api/query-keys/report-keys.ts
  src/hooks/api/use-profile-mutations.ts
  src/hooks/api/use-profile.ts
  src/lib/db-insert.ts
  src/types/sections/inspections.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
