Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

feat: complete Phase 4 - Financials Section (4/4 pages)
  apps/frontend/src/app/(protected)/dashboard/financials/balance-sheet/page.tsx
  apps/frontend/src/app/(protected)/dashboard/financials/cash-flow/page.tsx
  apps/frontend/src/app/(protected)/dashboard/financials/income-statement/page.tsx
  apps/frontend/src/app/(protected)/dashboard/financials/tax-documents/page.tsx
  apps/frontend/src/components/dashboard-01/app-sidebar.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove non-existent ESLint rule references
  apps/frontend/src/app/api/security/csp-report/route.ts
  apps/frontend/src/components/auth/google-button.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test: add comprehensive financial statement service tests
  apps/backend/src/financial/balance-sheet.controller.spec.ts
  apps/backend/src/financial/balance-sheet.service.spec.ts
  apps/backend/src/financial/tax-documents.controller.spec.ts
  apps/backend/src/financial/tax-documents.service.spec.ts
  apps/frontend/src/app/(protected)/dashboard/financials/balance-sheet/page.tsx
  apps/frontend/src/app/(protected)/dashboard/financials/tax-documents/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fixed remaining tests that kept failing due to memory leak
  apps/backend/src/analytics/lease-analytics.service.ts
  apps/backend/src/analytics/maintenance-insights.service.ts
  apps/backend/src/analytics/occupancy-trends.service.ts
  apps/backend/src/analytics/property-performance.service.ts
  apps/backend/src/financial/cash-flow.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Refactor code structure for improved readability and maintainability
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

refactor: update form schemas and validation for maintenance and property management
  apps/frontend/src/app/(protected)/dashboard/dashboard.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/maintenance/create-maintenance-dialog.tsx
  apps/frontend/src/components/maintenance/edit-button.tsx
  apps/frontend/src/components/maintenance/status-button.tsx
  apps/frontend/src/components/properties/edit-button.tsx
  packages/shared/src/validation/maintenance.ts
  packages/shared/src/validation/properties.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: streamline maintenance request form submission and default values
  apps/frontend/src/components/maintenance/create-maintenance-dialog.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: update Stripe API version and create frontend test setup
  apps/backend/src/billing/stripe-data-validation.spec.ts
  apps/backend/src/billing/stripe.service.ts
  apps/frontend/src/test/jest.setup.ts
  apps/frontend/tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: migrate all forms from react-hook-form to TanStack Form
  apps/frontend/package.json
  apps/frontend/src/components/maintenance/create-maintenance-dialog.tsx
  apps/frontend/src/components/maintenance/edit-button.tsx
  apps/frontend/src/components/maintenance/status-button.tsx
  apps/frontend/src/components/properties/create-property-dialog.tsx
  apps/frontend/src/components/properties/edit-button.tsx
  apps/frontend/src/components/tenants/create-dialog.tsx
  apps/frontend/src/components/tenants/tenant-action-buttons.tsx
  apps/frontend/src/components/units/unit-dialogs.tsx
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

feat: implement user authentication in report generation
  apps/frontend/src/app/(protected)/dashboard/reports/generate/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
