Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

fix(27-01): make kanban columns droppable and resolve the drop target (MAINT-01)
  src/components/maintenance/kanban/maintenance-kanban.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(27-01): drive the kanban board from the filtered prop (MAINT-02)
  src/components/maintenance/kanban/maintenance-kanban.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(27-01): add plan summary (MAINT-01, MAINT-02, MAINT-06)
  .planning/phases/27-maintenance-inspections/27-01-SUMMARY.md
Due: prettier --write

fix(27-05): resolve inspection photos via batched signed urls (INSP-01)
  src/hooks/api/query-keys/inspection-keys.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(27-05): render inspection photos via signed url img (INSP-01)
  src/components/inspections/inspection-room-card.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(27-05): add plan summary (INSP-01)
  .planning/phases/27-maintenance-inspections/27-05-SUMMARY.md
Due: prettier --write

fix(27-06): key inspection photo upload status by stable id (INSP-02)
  src/components/inspections/inspection-photo-upload.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(27-06): add plan summary (INSP-02)
  .planning/phases/27-maintenance-inspections/27-06-SUMMARY.md
Due: prettier --write

fix(27-04): persist + display expense description (MAINT-08)
  .planning/phases/27-maintenance-inspections/27-04-SUMMARY.md
  src/components/maintenance/detail/add-expense-dialog.tsx
  src/components/maintenance/detail/expenses-card.tsx
  src/components/maintenance/detail/maintenance-details.client.tsx
  src/types/supabase.ts
  supabase/migrations/20260707031720_add_expenses_description.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(27): execution complete (6 plans), entering review [hudsor01]
  .planning/STATE.md
Due: prettier --write

fix(27): make maintenance pagination functional + 2 status lockstep gaps (review c1)
  src/components/maintenance/table/columns.tsx
  src/components/maintenance/table/maintenance-table.client.tsx
  src/hooks/api/query-keys/maintenance-mappers.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(27): accurate maintenance stats via RPC + honor rows-per-page (review c2)
  src/components/maintenance/maintenance-view.client.tsx
  src/components/maintenance/table/maintenance-table.client.tsx
  src/hooks/api/query-keys/maintenance-keys.ts
  src/types/supabase.ts
  supabase/migrations/20260707112443_extend_get_maintenance_stats_urgent_and_month.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(27): inspection upload blob-url leak + double-toast (review c2)
  src/components/inspections/inspection-photo-upload.tsx
  src/hooks/api/use-inspection-photo-mutations.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(27): capture expenses.amount money-convention bug as BILL-06 (Phase 29)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
Due: prettier --write

fix(27): surface dropzone-rejected inspection photos (review c3)
  src/components/inspections/inspection-photo-upload.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(27): invalidate stats on maintenance mutations + drag; on-hold drop lane (review c5)
  src/components/maintenance/kanban/maintenance-kanban.client.tsx
  src/hooks/api/use-maintenance.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(db): exclude cancelled from the Urgent maintenance KPI (review c7)
  supabase/migrations/20260707121808_fix_maintenance_stats_urgent_exclude_cancelled.sql
Due: none

fix(27): don't auto-close inspection upload panel with files staged (review c8)
  src/components/inspections/inspection-photo-upload.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(27): clear inspection upload auto-close timer on unmount (review c8 hardening)
  src/components/inspections/inspection-photo-upload.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(27): guard inspection upload against double-fire retry (review c9)
  src/components/inspections/inspection-photo-upload.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(27): perfect-PR gate met — review log (11 cycles) + tracking
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/27-maintenance-inspections/27-REVIEW.md
Due: prettier --write

docs(28): phase 28 context — tenant domain (TEN-01..06)
  .planning/phases/28-tenant-domain/28-CONTEXT.md
Due: prettier --write

docs(28): plan phase 28 — tenant domain (6 plans, 3 waves)
  .planning/ROADMAP.md
  .planning/phases/28-tenant-domain/28-01-PLAN.md
  .planning/phases/28-tenant-domain/28-02-PLAN.md
  .planning/phases/28-tenant-domain/28-03-PLAN.md
  .planning/phases/28-tenant-domain/28-04-PLAN.md
  .planning/phases/28-tenant-domain/28-05-PLAN.md
  .planning/phases/28-tenant-domain/28-06-PLAN.md
Due: prettier --write

docs(28): plan-check c1 — fix 28-05 leaseId narrowing + a11y test scope [hudsor01]
  .planning/phases/28-tenant-domain/28-05-PLAN.md
Due: prettier --write

fix(28-01): prefer the active lease as current in mapTenantRow (TEN-04)
  src/hooks/api/query-keys/tenant-mappers.test.ts
  src/hooks/api/query-keys/tenant-mappers.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(28-01): plan summary (TEN-04)
  .planning/phases/28-tenant-domain/28-01-SUMMARY.md
Due: prettier --write

fix(28-04): drop the broken optimistic list step in mark-moved-out (TEN-06)
  src/hooks/api/use-tenant-mutations.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(28-04): regression — mark-moved-out keeps the real list cache intact (TEN-06)
  src/hooks/api/__tests__/use-tenant.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(28-04): plan summary (TEN-06)
  .planning/phases/28-tenant-domain/28-04-SUMMARY.md
Due: prettier --write

fix(28-03): add empty-safe emergency-contact edit schema (TEN-05)
  src/lib/validation/__tests__/tenants.test.ts
  src/lib/validation/tenants.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(28-03): point tenant-edit form at the empty-safe schema (TEN-05)
  src/app/(owner)/tenants/components/tenant-edit-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(28-03): plan summary (TEN-05)
  .planning/phases/28-tenant-domain/28-03-SUMMARY.md
Due: prettier --write

fix(28-02): thread delete callbacks through Tenants row/grid/bulk (TEN-01)
  src/components/tenants/tenants.tsx
  src/types/sections/tenants.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(28-02): wire single + bulk tenant delete to the real mutation (TEN-01)
  src/app/(owner)/tenants/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(28-02): plan summary (TEN-01)
  .planning/phases/28-tenant-domain/28-02-SUMMARY.md
Due: prettier --write

fix(28-05): tenant view-lease via leaseId + read-only status badge (TEN-02, TEN-03)
  src/components/tenants/tenant-table-helpers.tsx
  src/components/tenants/tenant-table-row.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(28-05): read-only status badge in tenant grid card (TEN-03)
  src/components/tenants/__tests__/tenant-grid.a11y.test.tsx
  src/components/tenants/tenant-grid.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(28-05): plan summary (TEN-02, TEN-03)
  .planning/phases/28-tenant-domain/28-05-SUMMARY.md
Due: prettier --write

fix(28): clear bulk-delete selection only on confirm, not dialog-open (review c2)
  src/app/(owner)/tenants/page.tsx
  src/components/tenants/tenants.tsx
  src/types/sections/tenants.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(28): perfect-PR gate met — review log (4 cycles) + tracking
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-tenant-domain/28-REVIEW.md
Due: prettier --write
