Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

test(32-01): add use-tenant.ts hook tests
  apps/frontend/src/hooks/api/__tests__/use-tenant.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(32-01): add use-lease.ts hook tests
  apps/frontend/src/hooks/api/__tests__/use-lease.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(32-01): create API test utilities module
  apps/frontend/src/test/api-test-utils.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(32-01): complete Core Domain Hook Tests plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/32-frontend-test-restoration/32-01-SUMMARY.md
Due: prettier --write

refactor(frontend): simplify typography system to 5-level hierarchy
  apps/frontend/src/app/globals.css
Due: prettier --write

fix(frontend): improve pricing page UI/UX and text contrast
  apps/frontend/package.json
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/marketing-home.tsx
  apps/frontend/src/app/pricing/page.tsx
  apps/frontend/src/components/pricing/bento-pricing-section.tsx
  apps/frontend/src/components/pricing/pricing-card-featured.tsx
  apps/frontend/src/components/pricing/pricing-card-standard.tsx
  apps/frontend/src/components/pricing/pricing-comparison-table.tsx
  apps/frontend/src/components/pricing/pricing-trust-badges.tsx
  apps/frontend/src/components/sections/comparison-table.tsx
  apps/frontend/src/components/sections/features-section.tsx
  apps/frontend/src/components/sections/how-it-works.tsx
  apps/frontend/src/components/sections/stats-showcase.tsx
  apps/frontend/src/components/sections/testimonials-section.tsx
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

refactor(frontend): modernize navbar with cleaner Cal.com-style design
  apps/frontend/src/components/layout/navbar.tsx
  apps/frontend/src/components/layout/navbar/navbar-desktop-auth.tsx
  apps/frontend/src/components/layout/navbar/navbar-desktop-nav.tsx
  apps/frontend/src/components/layout/navbar/navbar-mobile-menu.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: migrate deprecated RPC methods to unified rpc() interface
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/modules/analytics/dashboard-analytics.service.ts
  apps/backend/src/modules/analytics/financial-analytics.service.spec.ts
  apps/backend/src/modules/analytics/financial-analytics.service.ts
  apps/backend/src/modules/analytics/lease-analytics.service.spec.ts
  apps/backend/src/modules/analytics/lease-analytics.service.ts
  apps/backend/src/modules/analytics/maintenance-insights.service.spec.ts
  apps/backend/src/modules/analytics/maintenance-insights.service.ts
  apps/backend/src/modules/analytics/property-performance.service.spec.ts
  apps/backend/src/modules/analytics/property-performance.service.ts
  apps/backend/src/modules/dashboard/dashboard.controller.spec.ts
  apps/backend/src/modules/dashboard/dashboard.controller.ts
  apps/backend/src/modules/dashboard/dashboard.module.ts
  apps/backend/src/modules/stripe-sync/stripe-sync.controller.ts
  apps/backend/src/modules/users/user-sessions.service.ts
  apps/backend/src/modules/users/users.controller.ts
  apps/backend/src/shared/guards/stripe-customer-ownership.guard.ts
  apps/backend/src/shared/guards/subscription.guard.spec.ts
  apps/backend/src/shared/guards/subscription.guard.ts
  apps/frontend/src/hooks/api/use-billing.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): patch vulnerable transitive dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

refactor: remove n8n/doppler deps + UI/UX improvements (#504)
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/modules/analytics/dashboard-analytics.service.ts
  apps/backend/src/modules/analytics/financial-analytics.service.spec.ts
  apps/backend/src/modules/analytics/financial-analytics.service.ts
  apps/backend/src/modules/analytics/lease-analytics.service.spec.ts
  apps/backend/src/modules/analytics/lease-analytics.service.ts
  apps/backend/src/modules/analytics/maintenance-insights.service.spec.ts
  apps/backend/src/modules/analytics/maintenance-insights.service.ts
  apps/backend/src/modules/analytics/property-performance.service.spec.ts
  apps/backend/src/modules/analytics/property-performance.service.ts
  apps/backend/src/modules/dashboard/dashboard.controller.spec.ts
  apps/backend/src/modules/dashboard/dashboard.controller.ts
  apps/backend/src/modules/dashboard/dashboard.module.ts
  apps/backend/src/modules/stripe-sync/stripe-sync.controller.ts
  apps/backend/src/modules/users/user-sessions.service.ts
  apps/backend/src/modules/users/users.controller.ts
  apps/backend/src/shared/guards/stripe-customer-ownership.guard.ts
  apps/backend/src/shared/guards/subscription.guard.spec.ts
  apps/backend/src/shared/guards/subscription.guard.ts
  apps/frontend/src/components/layout/navbar.tsx
  apps/frontend/src/components/layout/navbar/navbar-desktop-auth.tsx
  apps/frontend/src/components/layout/navbar/navbar-desktop-nav.tsx
  apps/frontend/src/components/layout/navbar/navbar-mobile-menu.tsx
  apps/frontend/src/hooks/api/use-billing.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

chore(database): remove deprecated rpcWithRetries and rpcWithCache methods
  apps/backend/src/database/supabase-rpc.service.ts
  apps/backend/src/database/supabase.service.error-codes.spec.ts
  apps/backend/src/database/supabase.service.health-check.property.spec.ts
  apps/backend/src/database/supabase.service.non-transient-errors.property.spec.ts
  apps/backend/src/database/supabase.service.retry-logic.property.spec.ts
  apps/backend/src/database/supabase.service.retry-logic.spec.ts
  apps/backend/src/database/supabase.service.spec.ts
  apps/backend/src/database/supabase.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: regenerate pnpm-lock.yaml for Next.js 16.1.5 upgrade
  pnpm-lock.yaml
Due: prettier --write

fix: clean up review issues from PR #507
  apps/backend/src/database/supabase.service.error-codes.spec.ts
  apps/backend/src/database/supabase.service.health-check.property.spec.ts
  apps/backend/src/database/supabase.service.spec.ts
  apps/frontend/src/components/maintenance/maintenance-list.tsx
  packages/shared/src/types/core.ts
  packages/shared/src/types/relations.ts
  packages/shared/src/types/sections/maintenance.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve dashboard empty state, mark-sold validation, and late-fee race condition
  apps/backend/src/instrument.ts
  apps/backend/src/modules/late-fees/late-fees.controller.ts
  apps/backend/src/modules/late-fees/late-fees.service.spec.ts
  apps/backend/src/modules/late-fees/late-fees.service.ts
  apps/backend/src/modules/properties/properties.controller.spec.ts
  apps/backend/src/modules/properties/properties.controller.ts
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/backend/src/modules/properties/properties.service.ts
  apps/backend/src/modules/rent-payments/rent-payments.service.ts
  apps/frontend/sentry.edge.config.ts
  apps/frontend/src/app/(owner)/dashboard/page.tsx
  apps/frontend/src/app/(owner)/properties/page.tsx
  apps/frontend/src/app/error.tsx
  apps/frontend/src/app/global-error.tsx
  apps/frontend/src/hooks/api/__tests__/use-properties.test.tsx
  apps/frontend/src/hooks/api/query-keys/property-keys.ts
  apps/frontend/src/hooks/api/use-properties.ts
  packages/shared/src/types/supabase.ts
  supabase/migrations/20260206090000_exclude_inactive_from_dashboard_stats.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix: broken customer portal auth, missing error states in 5 pages
  apps/frontend/src/app/(owner)/leases/[id]/edit/page.tsx
  apps/frontend/src/app/(owner)/maintenance/[id]/edit/page.tsx
  apps/frontend/src/app/(owner)/properties/[id]/edit/page.tsx
  apps/frontend/src/app/(owner)/properties/page.tsx
  apps/frontend/src/app/(owner)/tenants/page.tsx
  apps/frontend/src/components/pricing/customer-portal.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: invite tenant uses PUT to match backend, fix error rendering "0"
  apps/frontend/src/app/(tenant)/tenant/tenant-edit-form.client.tsx
  apps/frontend/src/hooks/api/__tests__/use-tenant.test.tsx
  apps/frontend/src/hooks/api/use-tenant.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(deps): resolve 10 security vulnerabilities in dependencies
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/shared/src/types/supabase.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

chore: remove unused generated-schemas.ts and supazod dependency
  packages/shared/package.json
  packages/shared/src/validation/generated-schemas.d.ts
  packages/shared/src/validation/generated-schemas.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix(deps): resolve 10 security vulnerabilities (#508)
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/shared/package.json
  packages/shared/src/types/supabase.ts
  packages/shared/src/validation/generated-schemas.d.ts
  packages/shared/src/validation/generated-schemas.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

enhance(ui): polish sidebar header and compact user profile dropdown
  apps/frontend/src/components/shell/__tests__/app-shell.test.tsx
  apps/frontend/src/components/shell/__tests__/tenant-shell.test.tsx
  apps/frontend/src/components/shell/app-shell.tsx
  apps/frontend/src/components/shell/tenant-shell.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(ui): extract UserProfileMenu, fix touch targets, improve test selectors
  apps/frontend/src/components/shell/__tests__/app-shell.test.tsx
  apps/frontend/src/components/shell/__tests__/tenant-shell.test.tsx
  apps/frontend/src/components/shell/app-shell.tsx
  apps/frontend/src/components/shell/tenant-shell.tsx
  apps/frontend/src/components/shell/user-profile-menu.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

enhance(ui): polish sidebar header and compact user profile dropdown (#509)
  apps/frontend/src/components/shell/__tests__/app-shell.test.tsx
  apps/frontend/src/components/shell/__tests__/tenant-shell.test.tsx
  apps/frontend/src/components/shell/app-shell.tsx
  apps/frontend/src/components/shell/tenant-shell.tsx
  apps/frontend/src/components/shell/user-profile-menu.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(ui): show bulk import button in properties empty state
  apps/frontend/src/components/properties/properties.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(ui): improve logo link a11y, restore text-lg, fix touch target and HTML nesting
  apps/frontend/src/components/shell/app-shell.tsx
  apps/frontend/src/components/shell/tenant-shell.tsx
  apps/frontend/src/components/shell/user-profile-menu.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

enhance(ui): polish sidebar header and extract UserProfileMenu (#510)
  apps/frontend/src/components/properties/properties.tsx
  apps/frontend/src/components/shell/app-shell.tsx
  apps/frontend/src/components/shell/tenant-shell.tsx
  apps/frontend/src/components/shell/user-profile-menu.tsx
Due: eslint --fix --no-warn-ignored, prettier --write
