Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

fix(tenant): re-throw ForbiddenException in invitation service and fix payment UX gaps
  .planning/ISSUES.md
  .planning/phases/33-smoke-test/33-02-SUMMARY.md
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.ts
  apps/frontend/src/app/(tenant)/tenant/payments/new/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore(planning): update STATE.md — v5.0 milestone complete (phases 33-37)
  .planning/STATE.md
  .planning/phases/33-smoke-test/33-01-SUMMARY.md
  .planning/phases/33-smoke-test/SMOKE-TEST-RESULTS.md
  .planning/phases/34-stripe-connect/34-01-SUMMARY.md
  .planning/phases/36-tenant-onboarding/36-01-SUMMARY.md
  .planning/phases/37-financial-wiring/37-01-SUMMARY.md
  apps/e2e-tests/tests/smoke/minimal.smoke.spec.ts
  apps/e2e-tests/tests/tanstack-query/infinite-scrolling.spec.ts
  apps/e2e-tests/tests/tanstack-query/optimistic-updates.spec.ts
  apps/frontend/src/app/(auth)/accept-invite/page.tsx
  apps/frontend/src/app/(owner)/financials/tax-documents/page.tsx
  apps/frontend/src/hooks/api/use-financials.ts
  apps/frontend/src/hooks/api/use-stripe-connect.ts
  apps/frontend/src/lib/mutation-error-handler.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(e2e): fix networkidle timeouts and double-auth in e2e tests
  apps/e2e-tests/tests/auth-guard-error-messages.spec.ts
  apps/e2e-tests/tests/examples/auth-fixture-example.spec.ts
  apps/e2e-tests/tests/helpers/navigation-helpers.ts
  apps/e2e-tests/tests/helpers/ui-validation-helpers.ts
  apps/e2e-tests/tests/owner/owner-authentication.e2e.spec.ts
  apps/e2e-tests/tests/owner/owner-dashboard.e2e.spec.ts
  apps/e2e-tests/tests/owner/owner-leases.e2e.spec.ts
  apps/e2e-tests/tests/owner/owner-maintenance.e2e.spec.ts
  apps/e2e-tests/tests/owner/owner-navigation.e2e.spec.ts
  apps/e2e-tests/tests/owner/owner-properties.e2e.spec.ts
  apps/e2e-tests/tests/owner/owner-reports.e2e.spec.ts
  apps/e2e-tests/tests/owner/owner-subscription.e2e.spec.ts
  apps/e2e-tests/tests/owner/owner-tenants.e2e.spec.ts
  apps/e2e-tests/tests/production/monitoring.prod.spec.ts
  apps/e2e-tests/tests/properties/bulk-import.spec.ts
  apps/e2e-tests/tests/setup-invite-tenant.setup.ts
  apps/e2e-tests/tests/smoke/critical-paths.smoke.spec.ts
  apps/e2e-tests/tests/tanstack-query/cache-behavior.spec.ts
  apps/e2e-tests/tests/tanstack-query/error-handling.spec.ts
  apps/e2e-tests/tests/tanstack-query/real-user-workflows.spec.ts
  apps/e2e-tests/tests/tenant-management/tenant-layout-responsive.spec.ts
  apps/e2e-tests/tests/tenant-management/tenant-management-comprehensive.e2e.spec.ts
  apps/e2e-tests/tests/tenant-management/tenant-management-fixed.e2e.spec.ts
  apps/e2e-tests/tests/tenant/tenant-authentication.e2e.spec.ts
  apps/e2e-tests/tests/tenant/tenant-dashboard.e2e.spec.ts
  apps/e2e-tests/tests/tenant/tenant-maintenance.e2e.spec.ts
  apps/e2e-tests/tests/tenant/tenant-navigation.e2e.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: remove deprecated config files and reorganize docs
  .doppler.yaml
  .gitignore
  .typos.toml
  CHANGELOG.md
  cliff.toml
  docs/0001-supabase-row-level-security.md
  docs/0002-cqrs-like-separation.md
  docs/0003-zod-validation-strategy.md
  docs/plans/2025-12-31-supabase-permissions-remediation-plan.md
  docs/property-management-architecture.md
  supabase/.temp/cli-latest
Due: prettier --write

fix(review): address code review findings on image upload PR
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/backend/src/modules/properties/properties.service.ts
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.ts
  apps/frontend/next.config.ts
  apps/frontend/src/components/properties/property-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(review): fix count null bypass, remove debug logs, fix ref-in-cleanup lint
  apps/backend/src/modules/properties/properties.controller.ts
  apps/backend/src/modules/properties/properties.service.ts
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.ts
  apps/frontend/src/components/properties/property-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(schema): sync get_user_plan_limits schema dump with migration
  supabase/schemas/public.sql
Due: none

fix(property-form): use cached object URL in image preview instead of creating new URL on every render
  apps/frontend/src/components/properties/property-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(db): replace stub check_user_feature_access with real Stripe tier logic
  packages/shared/src/types/supabase.ts
  supabase/migrations/20260219100000_implement_check_user_feature_access.sql
  supabase/migrations/20260219100002_create_email_suppressions.sql
  supabase/schemas/public.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(backend): remove fabricated financial data and implement real stub logic
  apps/backend/src/modules/billing/subscriptions/subscription.controller.ts
  apps/backend/src/modules/email/__tests__/resend-webhook.controller.spec.ts
  apps/backend/src/modules/email/resend-webhook.controller.ts
  apps/backend/src/modules/financial/balance-sheet.service.spec.ts
  apps/backend/src/modules/financial/balance-sheet.service.ts
  apps/backend/src/modules/financial/income-statement.service.ts
  apps/backend/src/modules/financial/tax-documents.service.spec.ts
  apps/backend/src/modules/financial/tax-documents.service.ts
  apps/backend/src/modules/leases/lease-subscription.service.ts
  apps/backend/src/modules/notifications/notification-settings.controller.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(frontend): replace UI stubs with real behaviour and clean up dead code
  apps/frontend/src/app/(owner)/billing/plans/page.tsx
  apps/frontend/src/app/(tenant)/tenant/lease/page.tsx
  apps/frontend/src/components/maintenance/detail/maintenance-details.client.tsx
  apps/frontend/src/components/maintenance/detail/photos-card.tsx
  apps/frontend/src/components/maintenance/maintenance-view.client.tsx
  apps/frontend/src/env.ts
  apps/frontend/src/hooks/api/use-maintenance.ts
  packages/shared/src/types/api-contracts.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: delete broken autopay stub tests and add finalize-stubs plan doc
  apps/frontend/src/app/(tenant)/tenant/__tests__/autopay-badge.test.tsx
  apps/frontend/src/app/(tenant)/tenant/__tests__/autopay-status-visibility.property.test.tsx
  docs/plans/2026-02-19-finalize-stubs-before-merge.md
Due: eslint --fix --no-warn-ignored, prettier --write

fix(property-form): address code review issues — stale closure, objectUrl flash, and E2E quality
  apps/e2e-tests/auth-helpers.ts
  apps/e2e-tests/tests/properties/property-image-upload.spec.ts
  apps/frontend/src/components/properties/property-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: address second code review — key stability, error UX, plan limit tests, serialization
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/e2e-tests/auth-helpers.ts
  apps/e2e-tests/tests/properties/property-image-upload.spec.ts
  apps/frontend/src/components/properties/property-form.client.tsx
  apps/frontend/src/lib/api-request.ts
  apps/frontend/src/lib/mutation-error-handler.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: show feedback for rejected files and surface property create errors
  apps/backend/src/modules/properties/properties.service.ts
  apps/frontend/src/components/properties/property-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): enable RLS on 7 tables flagged by Supabase Security Advisor
  supabase/migrations/20260220080000_enable_rls_on_tables_missing_it.sql
Due: none

fix(security): resolve all Supabase Security Advisor warnings
  supabase/migrations/20260220090000_fix_security_advisor_warnings.sql
Due: none

fix(security): drop duplicate indexes on stripe.refunds and stripe.setup_intents
  supabase/migrations/20260220100000_drop_duplicate_stripe_indexes.sql
Due: none

fix(security): remove internal schema details from property creation error response
  apps/backend/src/modules/properties/properties.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(properties): add tests for 23505 and 23503 error code branches in create
  apps/backend/src/modules/properties/properties.service.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore(properties): remove duplicate NotFoundException import
  apps/backend/src/modules/properties/properties.service.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): resolve Supabase Security Advisor issues and property form bugs
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/backend/src/modules/properties/properties.service.ts
  apps/frontend/src/components/properties/property-form.client.tsx
  supabase/migrations/20260220080000_enable_rls_on_tables_missing_it.sql
  supabase/migrations/20260220090000_fix_security_advisor_warnings.sql
  supabase/migrations/20260220100000_drop_duplicate_stripe_indexes.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(auth): fix user client pool cache key collision causing RLS violations
  apps/backend/src/database/supabase-user-client-pool.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): patch tar and ajv vulnerabilities (Dependabot #81, #82)
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate
