Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

fix(phase-67): perfect-PR loop pass 2 - close 11 strict-review findings
  src/app/(owner)/tenants/page.tsx
  src/app/compare/[competitor]/compare-data.ts
  src/app/help/page.tsx
  src/app/marketing-home.tsx
  src/app/pricing/page.tsx
  src/components/landing/features-data.ts
  src/components/sections/home-faq.tsx
  src/components/sections/testimonials-section.tsx
  src/components/settings/__tests__/billing-settings.test.tsx
  src/components/settings/billing-settings.tsx
  src/data/faqs.ts
  src/lib/constants/status-types.ts
  src/lib/validation/tenants.ts
  src/types/core.ts
  src/types/relations.ts
  src/types/sections/marketing.ts
  src/types/sections/tenants.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-67): perfect-PR loop pass 3 - close 3 strict-review findings
  src/app/contact/page.tsx
  src/components/settings/__tests__/billing-settings.test.tsx
  src/data/faqs.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-67): perfect-PR loop pass 4 - close 6 strict-review findings
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/app/compare/[competitor]/compare-data.ts
  src/app/features/features-client.tsx
  src/app/resources/page.tsx
  src/app/support/page.tsx
  src/components/contact/contact-form.tsx
  src/components/sections/logo-cloud.tsx
  src/config/pricing.ts
  src/data/faqs.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-67): perfect-PR loop pass 5 - close 5 strict-review findings
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/app/features/features-client.tsx
  src/components/contact/contact-form.tsx
  src/components/pricing/pricing-comparison-table.tsx
  src/components/sections/comparison-table.tsx
  src/components/sections/home-faq.tsx
  src/components/sections/how-it-works.tsx
  src/config/pricing.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-67): perfect-PR loop pass 6 - close 14 strict-review findings
  src/app/(owner)/reports/analytics/page.tsx
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/app/about/page.tsx
  src/app/auth/update-password/page.tsx
  src/app/pricing/pricing-content.tsx
  src/components/blog/blog-inline-cta.tsx
  src/components/contact/contact-form.tsx
  src/components/landing/bento-features-section.tsx
  src/components/pricing/pricing-comparison-table.tsx
  src/components/sections/comparison-table.tsx
  src/components/sections/features-section.tsx
  src/components/sections/how-it-works.tsx
  src/config/pricing.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-67): perfect-PR loop pass 7 - delete fabricated team section
  src/app/about/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-67): perfect-PR loop pass 8 - close 3 strict-review findings
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/app/about/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-67): perfect-PR loop pass 10 - close 3 out-of-scope items
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/app/about/page.tsx
  src/components/sections/features-section.tsx
  src/hooks/api/mutation-keys.ts
  src/providers/__tests__/query-cache-preservation.property.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore(ci): split Dependabot groups + extend auto-merge to GitHub Actions
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

fix(ci): close all 22 strict-review findings on Dependabot auto-merge
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  scripts/mirror-secrets-to-dependabot.sh
Due: prettier --write

fix(ci): close pass-2 strict review findings on Dependabot auto-merge
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  scripts/mirror-secrets-to-dependabot.sh
Due: prettier --write

fix(ci): close pass-3 strict review findings on Dependabot auto-merge
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  scripts/mirror-secrets-to-dependabot.sh
Due: prettier --write

fix(ci): close pass-4 strict review findings on Dependabot auto-merge
  .github/dependabot.yml
  scripts/mirror-secrets-to-dependabot.sh
Due: prettier --write

fix(ci): short-circuit e2e-smoke + rls-security on Dependabot PRs
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
  scripts/mirror-secrets-to-dependabot.sh
Due: prettier --write

fix(ci): close pass-1 strict review findings on Dependabot CI short-circuit
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
Due: prettier --write

fix(ci): remove false github.actor re-run claim from Dependabot comments
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
Due: prettier --write

fix(ci): gate Dependabot short-circuit on pull_request event only
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
Due: prettier --write

fix(tenants): filter inactive tenants from list queries
  src/hooks/api/query-keys/tenant-keys.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(marketing): add /compare index page listing competitor comparisons
  src/app/compare/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(docuseal): persist signed PDF URL from submission.completed webhook
  src/components/leases/__tests__/lease-action-buttons.test.tsx
  src/components/leases/__tests__/lease-details.test.tsx
  src/components/leases/__tests__/lease-form.test.tsx
  src/test/utils/test-data.ts
  src/types/supabase.ts
  supabase/functions/docuseal-webhook/index.ts
  supabase/migrations/20260504015457_add_docuseal_document_url.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(runbooks): add n8n webhook URL configuration procedure
  supabase/runbooks/n8n-webhook-config.md
Due: prettier --write

feat(settings): add owner emergency contact section
  src/components/settings/general-settings.tsx
  src/components/settings/owner-emergency-contact-section.tsx
  src/hooks/api/mutation-keys.ts
  src/hooks/api/use-owner-emergency-contact.ts
  src/test/utils/test-data.ts
  src/types/supabase.ts
  supabase/migrations/20260504023340_add_owner_emergency_contact.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat(expenses): soft-delete + count: 'exact' pagination
  src/hooks/api/__tests__/use-expenses.test.ts
  src/hooks/api/query-keys/expense-keys.ts
  src/hooks/api/use-expense-mutations.ts
  src/types/supabase.ts
  supabase/migrations/20260504025618_add_expenses_soft_delete_status.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat(observability): notify_critical_error delivers via HTTP to n8n
  supabase/migrations/20260504045301_notify_critical_error_http_delivery.sql
  supabase/runbooks/n8n-webhook-config.md
Due: prettier --write

fix(sessions): wire non-current session revocation via revoke_user_session RPC
  src/hooks/api/use-sessions.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(security_events): instrument property/lease/user lifecycle events
  supabase/migrations/20260504045719_security_events_instrumentation.sql
  supabase/migrations/20260504045818_security_events_instrumentation_column_fix.sql
Due: none

feat(observability): wire n8n webhook delivery via app_config table
  supabase/migrations/20260504162155_app_config_table_for_n8n_webhooks.sql
  supabase/migrations/20260504162221_notify_n8n_read_from_app_config.sql
  supabase/runbooks/n8n-webhook-config.md
Due: prettier --write

fix(rls): drop redundant FOR ALL policy on app_config (RLS-security CI)
  supabase/migrations/20260504164842_drop_app_config_for_all_service_role_policy.sql
Due: none

fix(audit): cycle-1 ultrareview findings (5 of 6 actionable)
  src/components/maintenance/detail/maintenance-details.client.tsx
  src/components/settings/owner-emergency-contact-section.tsx
  src/hooks/api/query-keys/expense-keys.ts
  src/hooks/api/query-keys/lease-keys.ts
  src/hooks/api/query-keys/session-keys.ts
  supabase/migrations/20260504195045_expense_aggregations_filter_inactive.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(audit): bug_005 - correct F-9 migration column references in place
  supabase/migrations/20260504045719_security_events_instrumentation.sql
  supabase/migrations/20260504045818_security_events_instrumentation_column_fix.sql
Due: none

fix(audit): cycle-2 ultrareview findings (4 of 4)
  src/components/settings/sections/active-sessions-section.tsx
  src/hooks/api/__tests__/use-expenses.test.ts
  src/hooks/api/query-keys/expense-keys.ts
  src/hooks/api/use-expense-mutations.ts
  src/hooks/api/use-sessions.ts
  supabase/migrations/20260504212118_fix_get_expense_summary_monthly_average.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(audit): self-review followups on cycle-2 fixes
  src/hooks/api/query-keys/session-keys.ts
  src/hooks/api/use-expense-mutations.ts
  src/hooks/api/use-sessions.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(sessions): confirmation dialogs + bulk revoke for active sessions
  src/components/settings/sections/active-sessions-section.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(audit): superpowers code-review followups (1 critical + 6 important + 1 minor)
  src/components/settings/sections/active-sessions-section.tsx
  src/hooks/api/__tests__/use-expenses.test.ts
  src/hooks/api/query-keys/expense-keys.ts
  src/hooks/api/query-keys/tenant-keys.test.ts
  src/hooks/api/use-expense-mutations.ts
  supabase/migrations/20260504232614_harden_notify_secret_check_and_user_deleted_trigger.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(sessions): post-RPC signOut belt-and-braces for double-decode-failure
  src/hooks/api/use-sessions.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(notify): include owner_email + owner_name in n8n webhook payloads
  supabase/migrations/20260505002058_notify_n8n_include_owner_email.sql
Due: none

fix(ci): add contents:write to dependabot-auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

fix(auth): narrow AuthenticatorAssuranceLevels at MFA boundary
  src/hooks/api/query-keys/mfa-keys.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore(scripts): drop db:types from validate aliases
  package.json
Due: prettier --write, npm audit --audit-level=moderate

fix(deps): regenerate pnpm-lock.yaml after auto-merges
  pnpm-lock.yaml
Due: prettier --write
