Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

chore: add eslint-env comment to prepare-husky script
  scripts/prepare-husky.cjs
Due: eslint --fix --no-warn-ignored, prettier --write

chore: update ESLint configuration and add support for CommonJS files
  eslint.config.js
  packages/eslint-config/base.js
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: update Node engine requirement to support >=22.0.0 for compatibility
  .vercelignore
  package.json
Due: prettier --write, npm audit --audit-level=moderate

Feature/UI enhancements (#244)
  scripts/prepare-husky.cjs
Due: eslint --fix --no-warn-ignored, prettier --write

fix: critical CI bug - capture exit codes from all parallel jobs
  .github/workflows/ci-cd.yml
Due: prettier --write

Feature/UI enhancements (#245)
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: production deployment issues
  apps/frontend/src/middleware.ts
  scripts/prepare-husky.cjs
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove all hardcoded visitor analytics and implement real calculations
  apps/frontend/src/app/globals.css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, npm audit --audit-level=moderate

feat: implement comprehensive color token system with Apple-inspired design
  apps/frontend/src/app/(protected)/dashboard/page.tsx
  apps/frontend/src/app/(protected)/dashboard/tenants/page.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/magicui/shimmer-button.tsx
  apps/frontend/src/components/maintenance/delete-button.tsx
  apps/frontend/src/components/marketing/hero-section.tsx
  apps/frontend/src/components/navbar.tsx
  apps/frontend/src/components/pricing/stripe-pricing-section.tsx
  apps/frontend/src/components/sections/saas-cta-section.tsx
  apps/frontend/src/components/sections/stats.tsx
  apps/frontend/src/components/sections/testimonials-bento.tsx
  apps/frontend/src/components/tenants/tenant-data-table.tsx
  apps/frontend/src/components/ui/accordion.tsx
  apps/frontend/src/components/ui/alert.tsx
  apps/frontend/src/components/ui/avatar.tsx
  apps/frontend/src/components/ui/badge.tsx
  apps/frontend/src/components/ui/breadcrumb.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/calendar.tsx
  apps/frontend/src/components/ui/card.tsx
  apps/frontend/src/components/ui/checkbox.tsx
  apps/frontend/src/components/ui/command.tsx
  apps/frontend/src/components/ui/dialog.tsx
  apps/frontend/src/components/ui/dropdown-menu.tsx
  apps/frontend/src/components/ui/enhanced-button.tsx
  apps/frontend/src/components/ui/input.tsx
  apps/frontend/src/components/ui/label.tsx
  apps/frontend/src/components/ui/popover.tsx
  apps/frontend/src/components/ui/progress.tsx
  apps/frontend/src/components/ui/radio-group.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/components/ui/skeleton.tsx
  apps/frontend/src/components/ui/slider.tsx
  apps/frontend/src/components/ui/switch.tsx
  apps/frontend/src/components/ui/table.tsx
  apps/frontend/src/components/ui/tabs.tsx
  apps/frontend/src/components/ui/textarea.tsx
  apps/frontend/src/components/ui/tooltip.tsx
  apps/frontend/src/components/virtualized-list.tsx
  apps/frontend/src/design-system/tokens/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: update package configurations and scripts
  .vercelignore
  apps/backend/package.json
  apps/frontend/package.json
  apps/frontend/src/app/globals.css
  package.json
  pnpm-workspace.yaml
Due: prettier --write, npm audit --audit-level=moderate
