Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

fix: make Jest configuration resilient to missing setup file
  apps/backend/jest.config.js
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove cssChunking experimental config to resolve client reference manifest issues
  apps/frontend/next.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: disable problematic CSS chunking in Next.js config for improved Vercel compatibility
  apps/frontend/ARCHITECTURE_GUIDELINES.md
  apps/frontend/package.json
  apps/frontend/scripts/fix-client-manifest.js
  apps/frontend/src/app/(public)/page.tsx
  apps/frontend/src/components/auth/index.ts
  apps/frontend/src/components/billing/index.ts
  apps/frontend/src/components/dashboard/index.ts
  apps/frontend/src/components/data-table/index.ts
  apps/frontend/src/components/error/index.ts
  apps/frontend/src/components/forms/index.ts
  apps/frontend/src/components/index.ts
  apps/frontend/src/components/landing/index.ts
  apps/frontend/src/components/layout/sidebar/index.ts
  apps/frontend/src/components/maintenance/index.ts
  apps/frontend/src/components/navigation/index.ts
  apps/frontend/src/components/properties/quick-property-setup.tsx
  apps/frontend/src/components/security/index.ts
  apps/frontend/src/components/stripe/index.ts
  package-lock.json
  packages/shared/tsconfig.build.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: add client reference manifest fix script for Vercel deployment
  apps/frontend/scripts/fix-client-manifest.js
  apps/frontend/src/components/landing/luxury-hero-example.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve TypeScript linting error in gradient-dashboard-example
  apps/frontend/src/components/ui/gradient-text.tsx
  apps/frontend/src/styles/gradient-system.css
Due: eslint --fix --no-warn-ignored, prettier --write

fix: allow fix-client-manifest.js script in Vercel deployment
  .vercelignore
Due: none

add design preview and bug fixes
  Dockerfile
  apps/frontend/src/app/(public)/design-preview-simple/page.tsx
  apps/frontend/src/app/(public)/design-preview/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove all design preview files and gradient components
  apps/frontend/src/app/(public)/design-preview-simple/page.tsx
  apps/frontend/src/app/(public)/design-preview/page.tsx
  apps/frontend/src/components/landing/luxury-hero-example.tsx
  apps/frontend/src/components/ui/gradient-text.tsx
  apps/frontend/src/styles/gradient-system.css
Due: eslint --fix --no-warn-ignored, prettier --write

fix: use native Fastify under-pressure plugin for Railway health checks
  Dockerfile
  apps/backend/src/main.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: use correct health endpoint path for Railway
  apps/backend/src/main.ts
  apps/frontend/eslint.config.mjs
Due: eslint --fix --no-warn-ignored, prettier --write

fix: increase build memory and simplify build steps for Railway
  Dockerfile
Due: none
