Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

Fix/tenant rpc permissions (#446)
  .gitignore
  apps/backend/package.json
  apps/backend/src/config/config.schema.spec.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/database/supabase-config.validator.property.spec.ts
  apps/backend/src/database/supabase-config.validator.spec.ts
  apps/backend/src/database/supabase-config.validator.ts
  apps/backend/src/database/supabase.constants.ts
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/database/supabase.service.error-codes.spec.ts
  apps/backend/src/database/supabase.service.health-check.property.spec.ts
  apps/backend/src/database/supabase.service.non-transient-errors.property.spec.ts
  apps/backend/src/database/supabase.service.retry-logic.property.spec.ts
  apps/backend/src/database/supabase.service.retry-logic.spec.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/logger/__tests__/winston.integration-verification.ts
  apps/backend/src/logger/__tests__/winston.manual-verification.ts
  apps/backend/src/shared/guards/property-ownership.guard.spec.ts
  apps/backend/src/shared/guards/property-ownership.guard.ts
  apps/backend/test/integration/health-endpoint.integration.spec.ts
  apps/backend/test/integration/subscription-retry.integration.spec.ts
  apps/backend/test/integration/supabase-module-initialization.integration.spec.ts
  apps/backend/test/integration/tenant-invitation-flow.property.integration.spec.ts
  apps/backend/test/n1-queries.e2e.spec.ts
  apps/backend/test/property/example.property.spec.ts
  apps/backend/test/property/tenant-invitation-creation.property.spec.ts
  apps/backend/tsconfig.json
  apps/e2e-tests/package.json
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.property.spec.ts
  apps/frontend/.vitest-session.json
  apps/frontend/package.json
  apps/frontend/src/app/(owner)/@modal/(.)tenants/new/page.test.tsx
  apps/frontend/src/app/(owner)/@modal/(.)tenants/new/page.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/current-status-display.property.test.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/invitation-status-display.property.test.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/invitation-status-update.property.test.tsx
  apps/frontend/src/app/(owner)/tenants/__tests__/status-update-acceptance.property.test.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form-success.property.test.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form.property.test.tsx
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: add health checks to cron jobs and improve API key error diagnostics
  apps/backend/package.json
  apps/backend/scripts/validate-supabase-keys.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/modules/billing/webhook-retry.service.ts
  apps/backend/src/modules/leases/subscription-retry.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs: add README for backend scripts with validation instructions
  apps/backend/scripts/README.md
Due: prettier --write

fix(tenants): resolve 403 errors in tenant invitation flow
  .gitignore
  apps/backend/package.json
  apps/backend/src/logger/winston.utils.ts
  apps/backend/src/modules/tenants/__tests__/tenant-invitation-validation.property.spec.ts
  apps/backend/src/modules/tenants/__tests__/tenant-platform-invitation.property.spec.ts
  apps/backend/src/modules/tenants/__tests__/validation-logic.spec.ts
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.ts
  apps/backend/src/shared/guards/__tests__/property-ownership.guard.pbt.spec.ts
  apps/backend/src/shared/guards/__tests__/property-ownership.guard.unit.spec.ts
  apps/backend/src/shared/guards/property-ownership.guard.spec.ts
  apps/backend/src/shared/guards/property-ownership.guard.ts
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.property.spec.ts
  apps/frontend/package.json
  package.json
  packages/shared/src/validation/tenants.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: remove unused variables and imports
  apps/backend/scripts/validate-supabase-keys.ts
  apps/backend/src/database/supabase-config.validator.property.spec.ts
  apps/backend/src/database/supabase.service.error-codes.spec.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/modules/tenants/__tests__/validation-logic.spec.ts
  apps/backend/test/integration/health-endpoint.integration.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Fix/tenant rpc permissions (#447)
  .gitignore
  apps/backend/package.json
  apps/backend/scripts/README.md
  apps/backend/scripts/validate-supabase-keys.ts
  apps/backend/src/database/supabase-config.validator.property.spec.ts
  apps/backend/src/database/supabase.service.error-codes.spec.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/logger/winston.utils.ts
  apps/backend/src/modules/billing/webhook-retry.service.ts
  apps/backend/src/modules/leases/subscription-retry.service.ts
  apps/backend/src/modules/tenants/__tests__/tenant-invitation-validation.property.spec.ts
  apps/backend/src/modules/tenants/__tests__/tenant-platform-invitation.property.spec.ts
  apps/backend/src/modules/tenants/__tests__/validation-logic.spec.ts
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.ts
  apps/backend/src/shared/guards/__tests__/property-ownership.guard.pbt.spec.ts
  apps/backend/src/shared/guards/__tests__/property-ownership.guard.unit.spec.ts
  apps/backend/src/shared/guards/property-ownership.guard.spec.ts
  apps/backend/src/shared/guards/property-ownership.guard.ts
  apps/backend/test/integration/health-endpoint.integration.spec.ts
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.property.spec.ts
  apps/frontend/package.json
  package.json
  packages/shared/src/validation/tenants.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: remove doppler from frontend build script for Vercel compatibility
  apps/frontend/package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: use TanStack Query mutations for property deletion and fix Speed Insights in dev
  apps/frontend/src/app/(owner)/properties/properties-grid.client.tsx
  apps/frontend/src/app/(owner)/properties/properties-table.client.tsx
  apps/frontend/src/app/layout.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore: update turbo to 2.6.3 and clean up global installations
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, npm audit --audit-level=moderate

feat(properties): complete UI enhancement spec with accessibility and bulk import
  apps/backend/test/integration/lease-generation-controller.integration.spec.ts
  apps/backend/test/integration/payment-failed-webhook.integration.spec.ts
  apps/backend/test/integration/properties-controller.integration.spec.ts
  apps/e2e-tests/tests/properties-header-visual.spec.ts
  apps/frontend/package.json
  apps/frontend/src/app/(owner)/properties/__tests__/properties-page.client.test.tsx
  apps/frontend/src/app/(owner)/properties/properties-grid.client.tsx
  apps/frontend/src/app/(owner)/properties/properties-page.client.tsx
  apps/frontend/src/app/(owner)/properties/properties-table.mobile.tsx
  apps/frontend/src/app/(owner)/properties/properties-view.client.tsx
  apps/frontend/src/app/(owner)/properties/property-bulk-import-dialog.tsx
  apps/frontend/src/app/(owner)/properties/property-card-skeleton.test.tsx
  apps/frontend/src/app/(owner)/properties/property-card-skeleton.tsx
  apps/frontend/src/app/(owner)/properties/property-card.test.tsx
  apps/frontend/src/app/(owner)/properties/property-card.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/properties/__tests__/bulk-import-confirm-step.test.tsx
  apps/frontend/src/components/properties/__tests__/bulk-import-dialog.test.tsx
  apps/frontend/src/components/properties/__tests__/bulk-import-upload-step.test.tsx
  apps/frontend/src/components/properties/__tests__/bulk-import-validate-step.test.tsx
  apps/frontend/src/components/properties/__tests__/csv-utils.test.ts
  apps/frontend/src/components/properties/bulk-import-confirm-step.tsx
  apps/frontend/src/components/properties/bulk-import-dialog.tsx
  apps/frontend/src/components/properties/bulk-import-stepper.tsx
  apps/frontend/src/components/properties/bulk-import-upload-step.tsx
  apps/frontend/src/components/properties/bulk-import-validate-step.tsx
  apps/frontend/src/components/properties/csv-utils.ts
  apps/frontend/src/components/ui/__tests__/animated-trend-indicator.test.tsx
  apps/frontend/src/components/ui/animated-chart-bar.tsx
  apps/frontend/src/components/ui/animated-trend-indicator.tsx
  apps/frontend/src/hooks/use-debounce.ts
  packages/shared/src/types/bulk-import.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix(ci): add turbo as explicit devDependency for CI builds
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

feat(properties): complete UI enhancement spec with accessibility and… (#448)
  apps/backend/test/integration/lease-generation-controller.integration.spec.ts
  apps/backend/test/integration/payment-failed-webhook.integration.spec.ts
  apps/backend/test/integration/properties-controller.integration.spec.ts
  apps/e2e-tests/tests/properties-header-visual.spec.ts
  apps/frontend/package.json
  apps/frontend/src/app/(owner)/properties/__tests__/properties-page.client.test.tsx
  apps/frontend/src/app/(owner)/properties/properties-grid.client.tsx
  apps/frontend/src/app/(owner)/properties/properties-page.client.tsx
  apps/frontend/src/app/(owner)/properties/properties-table.mobile.tsx
  apps/frontend/src/app/(owner)/properties/properties-view.client.tsx
  apps/frontend/src/app/(owner)/properties/property-bulk-import-dialog.tsx
  apps/frontend/src/app/(owner)/properties/property-card-skeleton.test.tsx
  apps/frontend/src/app/(owner)/properties/property-card-skeleton.tsx
  apps/frontend/src/app/(owner)/properties/property-card.test.tsx
  apps/frontend/src/app/(owner)/properties/property-card.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/properties/__tests__/bulk-import-confirm-step.test.tsx
  apps/frontend/src/components/properties/__tests__/bulk-import-dialog.test.tsx
  apps/frontend/src/components/properties/__tests__/bulk-import-upload-step.test.tsx
  apps/frontend/src/components/properties/__tests__/bulk-import-validate-step.test.tsx
  apps/frontend/src/components/properties/__tests__/csv-utils.test.ts
  apps/frontend/src/components/properties/bulk-import-confirm-step.tsx
  apps/frontend/src/components/properties/bulk-import-dialog.tsx
  apps/frontend/src/components/properties/bulk-import-stepper.tsx
  apps/frontend/src/components/properties/bulk-import-upload-step.tsx
  apps/frontend/src/components/properties/bulk-import-validate-step.tsx
  apps/frontend/src/components/properties/csv-utils.ts
  apps/frontend/src/components/ui/__tests__/animated-trend-indicator.test.tsx
  apps/frontend/src/components/ui/animated-chart-bar.tsx
  apps/frontend/src/components/ui/animated-trend-indicator.tsx
  apps/frontend/src/hooks/use-debounce.ts
  package.json
  packages/shared/src/types/bulk-import.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

chore: optimize package.json files across monorepo
  apps/backend/package.json
  apps/e2e-tests/package.json
  apps/frontend/package.json
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

perf: optimize property-based test numRuns (11s -> 7.5s)
  apps/backend/src/database/supabase.service.retry-logic.property.spec.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write

feat(tenants): auto-verify email on invitation acceptance
  apps/backend/src/modules/tenants/tenant-invitation-token.service.spec.ts
  apps/backend/src/modules/tenants/tenant-invitation-token.service.ts
  apps/frontend/src/app/(auth)/accept-invite/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(frontend): remove unused arbitraries from design system property test
  apps/frontend/src/app/(owner)/dashboard.css
  apps/frontend/src/app/(tenant)/tenant/__tests__/design-consistency.test.tsx
  apps/frontend/src/app/(tenant)/tenant/__tests__/design-system-consistency.property.test.tsx
  apps/frontend/src/app/(tenant)/tenant/layout.tsx
  apps/frontend/src/app/(tenant)/tenant/tenant-layout-client.tsx
  apps/frontend/src/app/(tenant)/tenant/tenant-portal-page.tsx
  apps/frontend/src/components/dashboard/__tests__/tenant-mobile-nav.property.test.tsx
  apps/frontend/src/components/dashboard/__tests__/tenant-mobile-nav.test.tsx
  apps/frontend/src/components/dashboard/tenant-mobile-nav.tsx
  apps/frontend/src/components/ui/stat.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: tenant names display correctly, fix infinite query loop on lease generate
  apps/backend/src/modules/tenants/tenant-list.service.ts
  apps/frontend/src/app/(tenant)/tenant/__tests__/tenant-layout-mobile.test.tsx
  apps/frontend/src/app/(tenant)/tenant/layout.tsx
  apps/frontend/src/components/leases/lease-generation-form-wizard.tsx
  scripts/check-env.sh
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
