Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: Railway deployment configuration
  .github/workflows/ci-cd.yml
  Dockerfile
  apps/backend/src/shared/scripts/security-audit.ts
  apps/frontend/src/components/ui/testimonial.tsx
  apps/frontend/src/components/ui/timeline-animation.tsx
  apps/frontend/src/providers/query-provider.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve Docker production build failure with HUSKY=0
  Dockerfile
Due: none

refactor: replace unsafe glob usage with native Node.js fs operations in security audit
  apps/backend/src/shared/scripts/security-audit.ts
Due: eslint --fix --no-warn-ignored, prettier --write

perf: optimize pre-push hook for faster pushes
  .husky/pre-push
Due: none

perf: optimize CI/CD workflow for 50%+ faster execution
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: resolve Railway deployment by ensuring husky preparation script exists
  Dockerfile
  package.json
  scripts/prepare-husky.cjs
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

chore: trigger Railway deployment with husky fix
  Dockerfile
  apps/backend/src/main.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove invalid pnpm directory copy in Docker build
  Dockerfile
Due: none

fix: use prefer-offline instead of offline for pnpm build install
  Dockerfile
Due: none

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
