Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix(a11y): migrate high-opacity destructive TEXT overrides skipped by the opacity rule
  src/app/auth/confirm-email/confirm-email-states.tsx
  src/components/ui/alert.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore(deps): sync bun.lock for @biomejs/biome 2.4.16
  bun.lock
Due: none

fix(security): pass-3 SECURITY DEFINER lockdown (revoke anon is_admin)
  supabase/migrations/20260602044104_revoke_anon_security_definer_pass3.sql
  tests/integration/rls/anon-rpc-grants.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(security): update anon-exec audit doc for pass-3 (is_admin no longer kept public)
  .planning/anon-exec-audit/CYCLE-1.md
Due: prettier --write

docs(security): tighten pass-3 comments (scope advisor claim, drop count)
  .planning/anon-exec-audit/CYCLE-1.md
  supabase/migrations/20260602044104_revoke_anon_security_definer_pass3.sql
  tests/integration/rls/anon-rpc-grants.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(security): supersede stale audit note + clarify advisor backstop is out-of-band
  .planning/repo-audit/AUDIT-2026-05-29.md
  tests/integration/rls/anon-rpc-grants.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(security): neutral phrasing for log_lease backstop note
  tests/integration/rls/anon-rpc-grants.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(planning): plant SEED-001 — queued Supabase Security Advisor remediation milestone
  .planning/seeds/SEED-001-supabase-security-advisor-remediation.md
Due: prettier --write

docs(phase-7): create verification phase plan (POLISH-09 E2E smoke + POLISH-12 token sweep)
  .planning/ROADMAP.md
  .planning/phases/07-verification/07-01-PLAN.md
  .planning/phases/07-verification/07-02-PLAN.md
Due: prettier --write

docs(plan): fix Phase 7 traceability verify grep (plan-checker W3)
  .planning/phases/07-verification/07-02-PLAN.md
Due: prettier --write

test(07-01): add authed get_dashboard_data_v2 fetch helper for dashboard smoke
  tests/e2e/dashboard-rpc-helpers.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(07-01): add POLISH-09 /dashboard smoke spec under owner-axe
  tests/e2e/tests/owner/dashboard-smoke.e2e.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(07-01): route POLISH-09 smoke into the CI-run owner-axe project
  tests/e2e/playwright.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(07-01): complete POLISH-09 dashboard-smoke plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-verification/07-01-SUMMARY.md
Due: prettier --write

test(07-02): remove stale dashboard-filters.tsx drift exemption (POLISH-12)
  src/app/__tests__/design-token-drift.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(07-02): close v2.0 milestone — POLISH-12 satisfied, 34/34
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
Due: prettier --write

docs(07-02): add plan SUMMARY — POLISH-12 sweep + v2.0 close
  .planning/phases/07-verification/07-02-SUMMARY.md
Due: prettier --write

test(07-01): mouse-sort via explicit Desc menu item, not implicit trigger-click (review P2)
  tests/e2e/tests/owner/dashboard-smoke.e2e.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: archive v2.0 Dashboard Command Center milestone
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.0-REQUIREMENTS.md
  .planning/milestones/v2.0-ROADMAP.md
Due: prettier --write

docs: v3.0 research — live Supabase advisor classification (Supabase MCP + skills)
  .planning/research/ADVISOR-STATE.md
  .planning/research/CLASSIFICATION.md
  .planning/research/SUMMARY.md
Due: prettier --write

docs: define milestone v3.0 requirements (12 REQs, 4 categories)
  .planning/REQUIREMENTS.md
Due: prettier --write

docs: create milestone v3.0 roadmap (3 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

docs(01): phase 1 research + validation strategy
  .planning/phases/01-security-definer-classification-tightening/01-RESEARCH.md
  .planning/phases/01-security-definer-classification-tightening/01-VALIDATION.md
Due: prettier --write

docs(01): create phase plan — SECURITY DEFINER classification & tightening
  .planning/ROADMAP.md
  .planning/phases/01-security-definer-classification-tightening/01-01-PLAN.md
  .planning/phases/01-security-definer-classification-tightening/01-02-PLAN.md
  .planning/phases/01-security-definer-classification-tightening/01-VALIDATION.md
Due: prettier --write

fix(01): plan-checker cycle-1 revision (1 blocker + 3 warnings)
  .planning/phases/01-security-definer-classification-tightening/01-01-PLAN.md
  .planning/phases/01-security-definer-classification-tightening/01-02-PLAN.md
  .planning/phases/01-security-definer-classification-tightening/01-RESEARCH.md
  .planning/phases/01-security-definer-classification-tightening/01-VALIDATION.md
Due: prettier --write

fix(01): correct KEEP count 44 -> 43 (plan-checker non-blocking finding)
  .planning/STATE.md
  .planning/phases/01-security-definer-classification-tightening/01-01-PLAN.md
  .planning/phases/01-security-definer-classification-tightening/01-RESEARCH.md
  .planning/research/SUMMARY.md
Due: prettier --write

feat(01): plan 01-01 — SECURITY DEFINER classification doc + live introspection
  .planning/anon-exec-audit/CYCLE-2.md
  .planning/phases/01-security-definer-classification-tightening/01-01-SUMMARY.md
Due: prettier --write

feat(01): plan 01-02 — tighten 3 authenticated SECURITY DEFINER functions
  .planning/anon-exec-audit/CYCLE-2.md
  .planning/phases/01-security-definer-classification-tightening/01-02-SUMMARY.md
  supabase/migrations/20260602202339_tighten_security_definer_phase1.sql
  tests/integration/rls/anon-rpc-grants.rls.test.ts
  tests/integration/rls/for-all-audit.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(01): mark Phase 1 executed (advisor 46→44, pre-merge)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

fix(01): perfect-PR cycle-1 review fixes (1 P1 + 1 P2 + 2 nits)
  src/components/leases/bulk-import-config.ts
  tests/integration/rls/anon-rpc-grants.rls.test.ts
  tests/integration/rls/for-all-audit.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(01): perfect-PR cycle-2 review fixes (1 P2 wording + 1 nit)
  supabase/migrations/20260602202339_tighten_security_definer_phase1.sql
  tests/integration/rls/for-all-audit.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(e2e): disambiguate the Status faceted-filter locator (strict-mode violation)
  tests/e2e/tests/owner/dashboard-smoke.e2e.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(e2e): root-cause the dashboard-smoke flakiness (empty-state race + sort assumption)
  tests/e2e/tests/owner/dashboard-smoke.e2e.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-2): research RLS-no-policy resolution
  .planning/phases/02-rls-no-policy-resolution/02-RESEARCH.md
Due: prettier --write

docs(02): phase 2 validation strategy (RLS-no-policy resolution)
  .planning/phases/02-rls-no-policy-resolution/02-VALIDATION.md
Due: prettier --write

docs(02): plan Phase 2 RLS-no-policy resolution
  .planning/ROADMAP.md
  .planning/phases/02-rls-no-policy-resolution/02-01-PLAN.md
  .planning/phases/02-rls-no-policy-resolution/02-02-PLAN.md
Due: prettier --write

fix(02): plan-checker cycle-1 revision (2 blockers + 3 warnings)
  .planning/phases/02-rls-no-policy-resolution/02-01-PLAN.md
  .planning/phases/02-rls-no-policy-resolution/02-02-PLAN.md
  .planning/phases/02-rls-no-policy-resolution/02-RESEARCH.md
  .planning/phases/02-rls-no-policy-resolution/02-VALIDATION.md
Due: prettier --write

feat(02): plan 02-01 — RLS-no-policy lockdown migration (advisor 10→0)
  .planning/anon-exec-audit/CYCLE-3.md
  .planning/phases/02-rls-no-policy-resolution/02-01-SUMMARY.md
  supabase/migrations/20260602230717_rls_no_policy_resolution_phase2.sql
Due: prettier --write

feat(02): plan 02-02 — RLS-no-policy deny-side regression test
  .planning/phases/02-rls-no-policy-resolution/02-02-SUMMARY.md
  tests/integration/rls/rls-no-policy-lockdown.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
