Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

ci: fix schema warnings; move on triggers to top, add branch filters for PRs, remove top-level secret envs, and avoid invalid context usage in run
  .github/workflows/ci-cd.yml
Due: prettier --write

ci: add workflow_dispatch, minimal permissions, concurrency; use npm ci with cache-dependency-path
  .github/workflows/ci-cd.yml
Due: prettier --write

ci: skip job when Doppler tokens are not present to avoid failing pushes
  .github/workflows/ci-cd.yml
Due: prettier --write

ci: target environment 'tenantflow-backend' so Environment-scoped secrets are available
  .github/workflows/ci-cd.yml
Due: prettier --write

chore(stripe): mark webhook routes as node runtime to avoid Edge env; keep lazy init
  apps/frontend/src/app/api/stripe/webhook/route.ts
  apps/frontend/src/app/api/webhooks/stripe/route.ts
Due: eslint --fix --no-warn-ignored, prettier --write

build(vercel): ensure Linux Tailwind Oxide bindings available and force clean install with npm ci to avoid cross-platform cache issues
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/sections/minimalist-pricing-section.tsx
  apps/frontend/src/components/sections/saas-hero-section.tsx
  package.json
  vercel.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

feat: update metadata and hero section content for improved clarity and SEO; enhance pricing section layout
  apps/frontend/public/browserconfig.xml
  apps/frontend/public/favicon-16x16.png
  apps/frontend/public/favicon-32x32.png
  apps/frontend/public/manifest.json
  apps/frontend/public/robots.txt
  apps/frontend/public/safari-pinned-tab.svg
  apps/frontend/public/sitemap.xml
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/opengraph-image.tsx
  package-lock.json
Due: eslint --fix --no-warn-ignored, prettier --write

build(tailwind): force WASI fallback for @tailwindcss/oxide (NAPI_RS_FORCE_WASI=1) during Next build to avoid native binding issues on Vercel
  apps/frontend/package.json
Due: prettier --write, npm audit --audit-level=moderate

ci(deploy): add Railway backend deploy job using Dockerfile + railway.toml (manual or on main)
  .github/workflows/ci-cd.yml
  apps/frontend/src/app/maintenance/page.tsx
  apps/frontend/src/components/seo-head.tsx
  apps/frontend/src/components/ui/enhanced-button.tsx
  apps/frontend/src/components/ui/loading-spinner.tsx
  apps/frontend/src/components/ui/toast-system.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(shared): avoid exporting browser-only api-client from root to prevent '@supabase/ssr' being required in backend runtime
  packages/shared/src/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(backend): remove unused @supabase/ssr dep; shared no longer exports browser api-client so backend avoids SSR import
  apps/backend/package.json
Due: prettier --write, npm audit --audit-level=moderate
