Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

docs(phase-8): complete phase execution and verification (25/25 requirements)
  .planning/STATE.md
  .planning/phases/07-ux-accessibility/07-03-SUMMARY.md
  .planning/phases/08-performance-optimization/08-07-SUMMARY.md
  .planning/phases/08-performance-optimization/08-CONTEXT.md
  .planning/phases/08-performance-optimization/08-RESEARCH.md
  .planning/phases/08-performance-optimization/08-VALIDATION.md
  .planning/phases/08-performance-optimization/08-VERIFICATION.md
  src/components/dashboard/__tests__/owner-dashboard.test.tsx
  supabase/functions/stripe-autopay-charge/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(09): capture phase context
  .planning/phases/09-testing-ci-pipeline/09-CONTEXT.md
Due: prettier --write

docs(state): record phase 9 context session
  .planning/STATE.md
Due: prettier --write

docs(09): create phase 9 testing & CI pipeline plan (9 plans, 2 waves)
  .planning/ROADMAP.md
  .planning/phases/09-testing-ci-pipeline/09-01-PLAN.md
  .planning/phases/09-testing-ci-pipeline/09-02-PLAN.md
  .planning/phases/09-testing-ci-pipeline/09-03-PLAN.md
  .planning/phases/09-testing-ci-pipeline/09-04-PLAN.md
  .planning/phases/09-testing-ci-pipeline/09-05-PLAN.md
  .planning/phases/09-testing-ci-pipeline/09-06-PLAN.md
  .planning/phases/09-testing-ci-pipeline/09-07-PLAN.md
  .planning/phases/09-testing-ci-pipeline/09-08-PLAN.md
  .planning/phases/09-testing-ci-pipeline/09-09-PLAN.md
Due: prettier --write

feat(09-02): enable 4 TypeScript strictness flags and fix all errors
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
  .gitignore
  src/app/(tenant)/tenant/tenant-portal-page.tsx
  src/providers/query-provider.tsx
  supabase/functions/tests/stripe-autopay-charge-test.ts
  supabase/functions/tests/stripe-webhooks-test.ts
  tests/e2e/.env.test.example
  tests/e2e/playwright.config.prod.ts
  tests/e2e/playwright.config.ts
  tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline

test(09-07): add Deno integration tests for stripe-rent-checkout Edge Function
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/09-testing-ci-pipeline/09-02-SUMMARY.md
  supabase/functions/tests/stripe-rent-checkout-test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(09-06): add RLS tests for notifications, subscriptions, and tenant isolation
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-testing-ci-pipeline/09-03-SUMMARY.md
  .planning/phases/09-testing-ci-pipeline/09-08-SUMMARY.md
Due: prettier --write

test(09-05): add unit tests for attach-payment-method API route
  .planning/STATE.md
  src/app/api/stripe/__tests__/attach-payment-method.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(09-02): complete TypeScript strictness flags plan
  .planning/STATE.md
  .planning/phases/09-testing-ci-pipeline/09-01-SUMMARY.md
Due: prettier --write

test(09-05): add unit tests for Supabase client utilities
  .planning/STATE.md
  src/lib/supabase/__tests__/get-cached-user.test.ts
  src/lib/supabase/__tests__/server.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(09-05): complete API route and Supabase client utility tests plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/09-testing-ci-pipeline/09-05-SUMMARY.md
  .planning/phases/09-testing-ci-pipeline/09-06-SUMMARY.md
  .planning/phases/09-testing-ci-pipeline/09-07-SUMMARY.md
Due: prettier --write

test(09-06): add remaining RLS tests and plan documentation
  src/lib/supabase/__tests__/server.test.ts
  tests/integration/rls/notification-settings.rls.test.ts
  tests/integration/rls/notifications.rls.test.ts
  tests/integration/rls/subscriptions.rls.test.ts
  tests/integration/rls/tenant-invitations.rls.test.ts
  tests/integration/rls/tenant-isolation.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(09-02): update SUMMARY with metadata commit hash
  .planning/phases/09-testing-ci-pipeline/09-02-SUMMARY.md
Due: prettier --write

test(09-04): add unit tests for 5 shared validation schemas
  src/shared/validation/__tests__/auth.test.ts
  src/shared/validation/__tests__/common.test.ts
  src/shared/validation/__tests__/maintenance.test.ts
  src/shared/validation/__tests__/properties.test.ts
  src/shared/validation/__tests__/tenants.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(09-04): add utility tests and fix skipped bulk-import tests
  src/components/properties/__tests__/bulk-import-upload-step.test.tsx
  src/shared/utils/__tests__/api-error.test.ts
  src/shared/utils/__tests__/currency.test.ts
  src/shared/utils/__tests__/optimistic-locking.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(09-04): complete shared validation and utility unit tests plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/09-testing-ci-pipeline/09-04-SUMMARY.md
Due: prettier --write

docs(09-09): update CLAUDE.md with Phase 9 testing and CI conventions
  CLAUDE.md
Due: prettier --write

docs(09-09): complete CLAUDE.md documentation update plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-testing-ci-pipeline/09-09-SUMMARY.md
Due: prettier --write

docs(09): add Phase 9 verification report (22/22 requirements passed)
  .planning/phases/09-testing-ci-pipeline/09-RESEARCH.md
  .planning/phases/09-testing-ci-pipeline/09-VALIDATION.md
  .planning/phases/09-testing-ci-pipeline/09-VERIFICATION.md
  docs/plans/2026-03-06-blog-redesign.md
  src/shared/validation/__tests__/.gitkeep
Due: prettier --write

docs(audit): complete v1.0 milestone audit (171/171 requirements, 9/9 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/v1.0-MILESTONE-AUDIT.md
Due: prettier --write

docs(roadmap): add Phase 10 audit cleanup with 2 plans
  .planning/ROADMAP.md
  .planning/phases/10-audit-cleanup/10-01-PLAN.md
  .planning/phases/10-audit-cleanup/10-02-PLAN.md
Due: prettier --write

docs(cleanup): fix CLAUDE.md inaccuracies for dashboard-keys, VirtualizedList, EmptyState
  CLAUDE.md
  proxy.ts
  src/shared/validation/__tests__/auth.test.ts
  src/shared/validation/auth.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(cleanup): delete orphaned EmptyState and VirtualizedList components
  .planning/phases/04-edge-function-hardening/04-VERIFICATION.md
  src/components/shared/empty-state.tsx
  src/components/shared/virtualized-list.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(10-01): complete dead code and orphaned components cleanup plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/10-audit-cleanup/10-01-SUMMARY.md
  .planning/phases/10-audit-cleanup/10-02-SUMMARY.md
Due: prettier --write

docs(10-02): complete documentation cleanup plan
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

docs(audit): update milestone audit — Phase 10 resolved all integration findings
  .planning/v1.0-MILESTONE-AUDIT.md
Due: prettier --write

chore: complete v1.0 Production Hardening milestone
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.0-MILESTONE-AUDIT.md
  .planning/milestones/v1.0-REQUIREMENTS.md
  .planning/milestones/v1.0-ROADMAP.md
Due: prettier --write

fix: remove RLS integration tests from pre-push and CI
  .github/workflows/rls-security-tests.yml
  lefthook.yml
Due: prettier --write

fix: regenerate pnpm-lock.yaml (broken merge artifact)
  pnpm-lock.yaml
  tests/integration/rls/for-all-audit.test.ts
  tests/integration/rls/subscriptions.rls.test.ts
  tests/integration/rls/tenant-invitations.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

ci: restore RLS security tests workflow
  .github/workflows/rls-security-tests.yml
Due: prettier --write

fix: remove date-fns from optimizePackageImports and fix build error
  CLAUDE.md
  next.config.ts
  src/app/api/stripe/attach-payment-method/route.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: set jsx to react-jsx and prevent /properties/new prerender error
  src/app/(owner)/properties/new/page.tsx
  tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve CI build prerender errors
  .github/workflows/ci-cd.yml
  src/app/(owner)/layout.tsx
  src/app/(owner)/properties/new/page.tsx
  src/app/(tenant)/layout.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs: start milestone v1.1 Blog Redesign & CI
  .planning/PROJECT.md
  .planning/STATE.md
  next-env.d.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs: complete project research for v1.1 blog redesign milestone
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: prettier --write

docs: define milestone v1.1 requirements (20 requirements)
  .planning/REQUIREMENTS.md
Due: prettier --write

docs: create milestone v1.1 roadmap (5 phases, 20 requirements)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

docs(phase-11): gather implementation context for blog data layer
  .planning/STATE.md
  .planning/phases/11-blog-data-layer/11-CONTEXT.md
Due: prettier --write
