Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

CRUD functionality maintenance
  apps/backend/src/modules/properties/properties.service.ts
  apps/frontend/src/hooks/api/use-dashboard.ts
  apps/frontend/src/hooks/api/use-lease.ts
  apps/frontend/src/hooks/api/use-maintenance.ts
  apps/frontend/src/hooks/api/use-payment-history.ts
  apps/frontend/src/hooks/api/use-payment-methods.ts
  apps/frontend/src/hooks/api/use-rent-payments.ts
  apps/frontend/src/hooks/api/use-stripe-connect.ts
  apps/frontend/src/hooks/api/use-tenant.ts
  apps/frontend/src/hooks/api/use-unit.ts
  apps/frontend/src/lib/api-client.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/api/reports.ts
  packages/shared/src/security/csp-config.ts
  packages/shared/src/utils/api-client.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: streamline supabase auth handling and properties flow
  apps/backend/src/database/supabase-auth-token.resolver.ts
  apps/backend/src/database/supabase-user-client-pool.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/modules/properties/properties.controller.spec.ts
  apps/backend/src/modules/properties/properties.controller.ts
  apps/frontend/src/app/(protected)/manage/leases/page.tsx
  apps/frontend/src/components/dashboard/section-table.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix --no-warn-ignored, prettier --write

headers and cookies validation
  apps/backend/src/database/supabase-auth-token.resolver.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/shared/auth/supabase.strategy.ts
  apps/frontend/next.config.ts
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/app/faq/page.tsx
  apps/frontend/tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write

json regex logic and header guards
  apps/backend/src/database/supabase-auth-token.resolver.ts
  apps/backend/src/shared/auth/supabase.strategy.ts
  apps/frontend/src/lib/api.ts
Due: eslint --fix --no-warn-ignored, prettier --write

updating passport and jwt signing keys
  apps/backend/src/database/supabase-user-client-pool.ts
  apps/backend/src/shared/auth/supabase.strategy.ts
  tenantflow.app_manage_properties.png
Due: eslint --fix --no-warn-ignored, prettier --write

chore: update lockfile after dependency install
  pnpm-lock.yaml
Due: prettier --write

fixed vercel.json
  apps/backend/package.json
  apps/frontend/package.json
  apps/frontend/vercel.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

Backend code quality improvements and property creation fix
  apps/backend/src/modules/analytics/dashboard-analytics.service.ts
  apps/backend/src/modules/late-fees/late-fees.controller.ts
  apps/backend/src/modules/maintenance/maintenance.service.ts
  apps/backend/src/modules/payment-methods/payment-methods.service.ts
  apps/backend/src/modules/properties/properties.service.ts
  apps/backend/src/modules/rent-payments/rent-payments.service.ts
  packages/shared/src/types/backend-domain.ts
  packages/shared/src/validation/properties.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: production critical fixes - RLS, security, API routing, HEIC support, and webhook monitoring
  apps/backend/src/modules/stripe-sync/webhook-health.controller.ts
  apps/frontend/package.json
  apps/frontend/src/hooks/__tests__/use-property-image-upload.heic.test.tsx
  apps/frontend/src/hooks/api/use-current-user.ts
  apps/frontend/src/hooks/api/use-dashboard.ts
  apps/frontend/src/hooks/api/use-lease.ts
  apps/frontend/src/hooks/api/use-maintenance.ts
  apps/frontend/src/hooks/api/use-payment-history.ts
  apps/frontend/src/hooks/api/use-payment-methods.ts
  apps/frontend/src/hooks/api/use-properties.ts
  apps/frontend/src/hooks/api/use-rent-payments.ts
  apps/frontend/src/hooks/api/use-reports.ts
  apps/frontend/src/hooks/api/use-stripe-connect.ts
  apps/frontend/src/hooks/api/use-subscriptions.ts
  apps/frontend/src/hooks/api/use-tenant.ts
  apps/frontend/src/hooks/api/use-unit.ts
  apps/frontend/src/hooks/use-property-image-upload.ts
  apps/frontend/src/hooks/use-stripe-products.ts
  apps/frontend/src/lib/image-compression.ts
  apps/frontend/src/test/setup.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
  supabase/migrations/20250111_add_missing_indexes.sql
  supabase/migrations/20250111_fix_function_search_path_security.sql
  supabase/migrations/20250111_fix_rpc_functions.sql
  supabase/migrations/20250111_fix_unit_lease_rls_infinite_recursion.sql
  supabase/migrations/20250111_optimize_documents_rls_performance.sql
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: remove problematic test file causing TypeScript errors in CI
  apps/frontend/src/hooks/__tests__/use-property-image-upload.heic.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write
