Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

docs(52-04): complete notification data layer plan
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-04-SUMMARY.md
Due: prettier --write

feat(52-02): activity audit triggers for the four create events
  supabase/migrations/20260719130000_notification_and_activity_event_triggers.sql
Due: none

test(52-02): assert maintenance INSERT fires create_notification
  tests/integration/rls/notifications.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-02): complete notification & activity event triggers plan
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-02-SUMMARY.md
Due: prettier --write

chore(52-02): apply event-trigger migration to prod, reconcile filename
  supabase/migrations/20260719200224_notification_and_activity_event_triggers.sql
Due: none

docs(phase-52): update tracking after wave 2
  .planning/ROADMAP.md
Due: prettier --write

feat(52-03): add notifications retention cron
  supabase/migrations/20260719140000_notifications_retention_cron.sql
Due: none

chore(52-03): reconcile orphan schema (CLEAN-01/02)
  supabase/migrations/20260719141000_reconcile_orphan_schema.sql
Due: none

test(52-03): add notifications retention privilege-boundary test
  tests/integration/rls/notifications-retention.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-05): add notification row + popover list with action_url guard
  src/components/notifications/notification-item.tsx
  src/components/notifications/notification-popover-list.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-05): add NotificationBell client island with capped live badge
  src/components/notifications/__tests__/notification-bell.test.tsx
  src/components/notifications/notification-bell.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-03): complete notifications retention + orphan-schema reconcile plan
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-03-SUMMARY.md
Due: prettier --write

feat(52-05): mount NotificationBell island in the app-shell header
  src/components/shell/__tests__/app-shell.test.tsx
  src/components/shell/app-shell-header.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-05): complete notification center surface plan
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-05-SUMMARY.md
Due: prettier --write

chore(52-03): apply retention + orphan-reconcile migrations, reconcile filenames
  supabase/migrations/20260719202447_notifications_retention_cron.sql
  supabase/migrations/20260719202453_reconcile_orphan_schema.sql
Due: none

docs(phase-52): update tracking after wave 3
  .planning/ROADMAP.md
Due: prettier --write

feat(52-06): add paginated /notifications inbox page
  src/app/(owner)/notifications/page.tsx
  src/components/notifications/notifications-inbox.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(52-06): add notification-stack E2E smoke + register in owner-axe
  tests/e2e/playwright.config.ts
  tests/e2e/tests/notifications.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-06): complete notifications inbox page plan
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-06-SUMMARY.md
  .planning/phases/52-notification-center-activity-feed-channel-honesty/deferred-items.md
Due: prettier --write

fix(52-08): align settings nav description with honest channels
  src/app/(owner)/settings/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-52): update tracking after wave 4
  .planning/ROADMAP.md
Due: prettier --write

docs(52): code review
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier --write

fix(notifications): make trigger the sole lease-sign notification writer (CR-01)
  supabase/migrations/20260719210000_single_notification_writer_rpcs.sql
Due: none

fix(notifications): gate popover mark-all-read on the header unread count (WR-01)
  src/components/notifications/notification-popover-list.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(notifications): close backslash/control-char open-redirect in resolveHref (WR-03)
  src/components/notifications/notification-item.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(settings): reword enable-all copy to email-and-categories reality (IN-01)
  src/components/settings/notification-settings.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(tests): correct stale migration filenames in RLS test comments (IN-03)
  tests/integration/rls/notifications-retention.rls.test.ts
  tests/integration/rls/notifications.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(notifications): use explicit column list for the inbox list query (IN-04)
  src/hooks/api/query-keys/__tests__/notification-keys.test.ts
  src/hooks/api/query-keys/notification-keys.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(review): mark phase 52 review fixed with per-finding outcome table
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier --write

chore(52): apply single-writer rpc migration to prod, reconcile filename
  supabase/migrations/20260719211249_single_notification_writer_rpcs.sql
Due: none

docs(52): phase verification
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-VERIFICATION.md
Due: prettier --write

test(52): persist human verification items as uat
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-HUMAN-UAT.md
Due: prettier --write

docs(52): ship phase 52 - PR #922
  .planning/STATE.md
Due: prettier --write

fix(52): extend notification_type check + harden archive grants/policies/cron
  supabase/migrations/20260720001542_extend_notification_type_check.sql
  supabase/migrations/20260720001657_harden_notifications_archive_and_cron.sql
Due: none

fix(52): clamp notifications inbox page when total count shrinks
  src/components/notifications/__tests__/notifications-inbox.client.test.tsx
  src/components/notifications/notifications-inbox.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(52): add error state to the notification popover list
  src/components/notifications/__tests__/notification-popover-list.test.tsx
  src/components/notifications/notification-popover-list.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(52): close notification popover on navigation
  src/components/notifications/__tests__/notification-bell.test.tsx
  src/components/notifications/notification-bell.tsx
  src/components/notifications/notification-item.tsx
  src/components/notifications/notification-popover-list.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(52): route notifications nav entries to /notifications
  src/components/shell/__tests__/quick-actions-dock.test.tsx
  src/components/shell/app-shell.tsx
  src/components/shell/quick-actions-dock.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(52): export and unit-test resolveHref open-redirect guard
  src/components/notifications/__tests__/resolve-href.test.ts
  src/components/notifications/notification-item.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(52): harden and test mapDashboardActivityRow boundary mapper
  src/hooks/api/__tests__/map-dashboard-activity-row.test.ts
  src/hooks/api/use-owner-dashboard.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
