Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

feat: implement obsession-critical performance testing for Issue #218
  .github/workflows/performance-obsession-testing.yml
  package.json
  tests/performance/README.md
  tests/performance/interactions/bored-browsing-engagement.spec.ts
  tests/performance/interactions/sub-200ms-interactions.spec.ts
  tests/performance/lighthouse-integration.spec.ts
  tests/performance/loading-states/contextual-loading.spec.ts
  tests/performance/micro-interactions/apple-motion-tokens.spec.ts
  tests/performance/micro-interactions/button-press-satisfaction.spec.ts
  tests/performance/performance-test-utilities.ts
  tests/performance/regression/performance-regression-prevention.spec.ts
  tests/performance/scroll-performance/buttery-smooth-scroll.spec.ts
  tests/performance/user-monitoring/real-user-monitoring.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

feat: implement comprehensive production security architecture
  apps/backend/src/app.module.ts
  apps/backend/src/billing/stripe.controller.ts
  apps/backend/src/main.ts
  apps/backend/src/security/security.controller.ts
  apps/backend/src/security/security.module.ts
  apps/backend/src/shared/decorators/admin-only.decorator.ts
  apps/backend/src/shared/filters/security-exception.filter.ts
  apps/backend/src/shared/guards/auth.guard.ts
  apps/backend/src/shared/middleware/input-sanitization.middleware.ts
  apps/backend/src/shared/middleware/rate-limit.middleware.ts
  apps/backend/src/shared/middleware/security-headers.middleware.ts
  apps/backend/src/shared/scripts/security-audit.ts
  apps/backend/src/shared/services/security-monitor.service.ts
  apps/backend/src/shared/shared.module.ts
  apps/frontend/src/app/(protected)/dashboard/page.tsx
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/components/charts/maintenance-analytics.tsx
  apps/frontend/src/components/charts/occupancy-heatmap.tsx
  apps/frontend/src/components/charts/revenue-trend-chart.tsx
  apps/frontend/src/components/finance/financial-metrics-cards.tsx
  apps/frontend/src/styles/globals.css
  packages/shared/src/constants/apple-colors.ts
  packages/shared/src/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: regex syntax and add missing dependencies
  apps/backend/src/shared/services/security-monitor.service.ts
  package-lock.json
  package.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: resolve TypeScript errors and update imports for Apple design system
  apps/backend/src/cache/cache.service.ts
  apps/backend/src/health/enhanced-health.controller.ts
  apps/backend/src/health/health.controller.ts
  apps/backend/src/health/health.module.ts
  apps/backend/src/interceptors/performance.interceptor.ts
  apps/backend/src/shared/services/error-boundary.service.ts
  apps/backend/src/shared/services/resilience.service.ts
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/components/pricing/checkout/checkout-error.tsx
  apps/frontend/src/components/pricing/checkout/checkout-form.tsx
  apps/frontend/src/components/pricing/checkout/checkout-loading.tsx
  apps/frontend/src/components/pricing/checkout/checkout-success.tsx
  apps/frontend/src/components/pricing/checkout/error-banner.tsx
  apps/frontend/src/components/pricing/checkout/express-checkout.tsx
  apps/frontend/src/components/pricing/checkout/loading-overlay.tsx
  apps/frontend/src/components/pricing/checkout/success-confirmation.tsx
  apps/frontend/src/components/pricing/checkout/use-checkout.ts
  apps/frontend/src/components/ui/blur-fade.tsx
  apps/frontend/src/components/ui/border-beam.tsx
  apps/frontend/src/components/ui/magic-card.tsx
  apps/frontend/src/lib/stripe-client.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat: implement Apple HIG-compliant components with 44px touch targets
  apps/frontend/src/app/component-test/page.tsx
  apps/frontend/src/app/simple-test/page.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/card.tsx
  apps/frontend/src/components/ui/dialog.tsx
  apps/frontend/src/styles/globals.css
Due: eslint --fix --no-warn-ignored, prettier --write

feat: Apple HIG-compliant components with 44px touch targets (#225)
  FEATURE_SPEC.md
  apps/frontend/src/app/component-test/page.tsx
  apps/frontend/src/app/simple-test/page.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/card.tsx
  apps/frontend/src/components/ui/dialog.tsx
  apps/frontend/src/styles/globals.css
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve all TypeScript errors and build issues for production security architecture
  apps/backend/src/cache/cache.service.ts
  apps/backend/src/health/enhanced-health.controller.ts
  apps/backend/src/interceptors/performance.interceptor.ts
  apps/backend/src/main.ts
  apps/backend/src/security/security.controller.ts
  apps/backend/src/shared/filters/security-exception.filter.ts
  apps/backend/src/shared/middleware/input-sanitization.middleware.ts
  apps/backend/src/shared/middleware/rate-limit.middleware.ts
  apps/backend/src/shared/services/error-boundary.service.ts
  apps/backend/src/shared/services/resilience.service.ts
  apps/backend/src/shared/services/security-monitor.service.ts
  apps/backend/tsconfig.build.json
  apps/frontend/src/app/api/auth/confirm/route.ts
  apps/frontend/src/app/api/auth/oauth/route.ts
  apps/frontend/src/app/auth/confirm/route.ts
  apps/frontend/src/app/auth/oauth/route.ts
  apps/frontend/src/components/pricing/checkout/checkout-error.tsx
  apps/frontend/src/components/pricing/checkout/checkout-form.tsx
  apps/frontend/src/components/pricing/checkout/checkout-loading.tsx
  apps/frontend/src/components/pricing/checkout/checkout-success.tsx
  apps/frontend/src/components/pricing/checkout/error-banner.tsx
  apps/frontend/src/components/pricing/checkout/express-checkout.tsx
  apps/frontend/src/components/pricing/checkout/loading-overlay.tsx
  apps/frontend/src/components/pricing/checkout/success-confirmation.tsx
  apps/frontend/src/components/pricing/checkout/use-checkout.ts
  apps/frontend/src/components/ui/blur-fade.tsx
  apps/frontend/src/components/ui/border-beam.tsx
  apps/frontend/src/components/ui/magic-card.tsx
  apps/frontend/src/lib/stripe-client.ts
  apps/frontend/src/providers/query-provider.tsx
  packages/shared/src/index.ts
  packages/shared/src/lib/supabase-client.ts
  supabase/migrations/20250116_security_events.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat: implement 2025 modern testing infrastructure and achieve 79% test pass rate
  apps/backend/jest.config.js
  apps/backend/migrate-logger.sh
  apps/backend/src/analytics/analytics.service.ts
  apps/backend/src/auth/auth-webhook.controller.ts
  apps/backend/src/billing/stripe-data.service.ts
  apps/backend/src/billing/stripe-sync.service.ts
  apps/backend/src/billing/stripe.controller.ts
  apps/backend/src/contact/contact.controller.ts
  apps/backend/src/dashboard/dashboard.controller.ts
  apps/backend/src/dashboard/dashboard.service.ts
  apps/backend/src/database/storage.service.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/emails/direct-email.service.ts
  apps/backend/src/health/health.controller.ts
  apps/backend/src/health/health.module.ts
  apps/backend/src/health/stripe-fdw.health.ts
  apps/backend/src/leases/leases.service.ts
  apps/backend/src/main.ts
  apps/backend/src/maintenance/maintenance.service.ts
  apps/backend/src/notifications/notification.service.ts
  apps/backend/src/notifications/notifications.service.ts
  apps/backend/src/pdf/lease-pdf.service.ts
  apps/backend/src/pdf/pdf-generator.service.ts
  apps/backend/src/pdf/pdf.controller.ts
  apps/backend/src/properties/properties.service.ts
  apps/backend/src/security/security-monitor.service.ts
  apps/backend/src/security/security.controller.ts
  apps/backend/src/shared/filters/security-exception.filter.ts
  apps/backend/src/shared/middleware/input-sanitization.middleware.ts
  apps/backend/src/shared/middleware/rate-limit.middleware.ts
  apps/backend/src/shared/services/resilience.service.ts
  apps/backend/src/shared/services/security-monitor.service.ts
  apps/backend/src/tenants/tenants.service.ts
  apps/backend/src/units/units.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: complete NestJS Logger migration for production deployment
  apps/backend/fix-nestjs-logger.sh
  apps/backend/src/app.module.ts
  apps/backend/src/auth/auth-webhook.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/billing/stripe-data.service.ts
  apps/backend/src/billing/stripe-sync.service.ts
  apps/backend/src/contact/contact.controller.ts
  apps/backend/src/dashboard/dashboard.controller.ts
  apps/backend/src/dashboard/dashboard.service.ts
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/emails/direct-email.service.ts
  apps/backend/src/health/health.controller.ts
  apps/backend/src/main.ts
  apps/backend/src/notifications/notification.service.ts
  apps/backend/src/notifications/notifications.service.ts
  apps/backend/src/pdf/lease-pdf.service.ts
  apps/backend/src/pdf/pdf-generator.service.ts
  apps/backend/src/pdf/pdf.controller.ts
  apps/backend/src/security/security.controller.ts
  apps/backend/src/shared/filters/security-exception.filter.ts
  apps/backend/src/shared/guards/roles.guard.ts
  apps/backend/src/shared/middleware/input-sanitization.middleware.ts
  apps/backend/src/shared/middleware/rate-limit.middleware.ts
  apps/backend/src/shared/services/security-monitor.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test: verify husky hooks
  test-file.txt
Due: none

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
