Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

fix(ci): specify backend service for Railway deployment
  .github/workflows/ci-cd.yml
Due: prettier --write

fix(ci): use correct Railway service name format
  .github/workflows/ci-cd.yml
Due: prettier --write

fix(ci): use Railway environment flag instead of service flag
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: railway deployment command with service and environment flags
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: switch to Railway automatic deployment
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: implement Railway's official GitHub Actions deployment pattern
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: use simple Railway CLI with correct service name
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: update Railway health check endpoint from /health/ping to /health
  railway.toml
Due: none

fix: add /health/ping endpoint for Railway compatibility
  apps/backend/src/main.ts
  railway.toml
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve frontend build error and simplify Railway deployment
  .github/workflows/ci-cd.yml
  apps/frontend/src/app/about/page.tsx
  apps/frontend/src/app/api/stripe/create-checkout-session/route.ts
  apps/frontend/src/app/api/stripe/webhook/route.ts
  apps/frontend/src/app/api/webhooks/stripe/route.ts
  apps/frontend/src/app/blog/page.tsx
  apps/frontend/src/app/contact/page.tsx
  apps/frontend/src/app/faq/page.tsx
  apps/frontend/src/app/help/page.tsx
  apps/frontend/src/app/maintenance/page.tsx
  apps/frontend/src/app/not-found.tsx
  apps/frontend/src/app/pricing/cancel/page.tsx
  apps/frontend/src/app/pricing/checkout/page.tsx
  apps/frontend/src/app/pricing/page.tsx
  apps/frontend/src/app/pricing/success/page.tsx
  apps/frontend/src/app/stripe/cancel/page.tsx
  apps/frontend/src/app/stripe/success/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: specify correct Railway service name in CI/CD deployment
  .github/workflows/ci-cd.yml
Due: prettier --write
