Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

perf: consolidate 9 dashboard RPCs into single unified call
  apps/frontend/src/hooks/api/use-owner-dashboard.ts
  packages/shared/src/types/supabase.ts
  supabase/migrations/20260301070000_unified_dashboard_rpc.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix: add ANALYZE to index drop migration for planner stats
  supabase/migrations/20260301065605_drop_unused_indexes_optimize.sql
Due: none

fix: occupancy trend computation and MetricTrend key alignment
  supabase/migrations/20260301070000_unified_dashboard_rpc.sql
Due: none

refactor: remove eslint suppressions and dead dashboard code
  apps/frontend/src/app/(owner)/leases/page.tsx
  apps/frontend/src/app/auth/signout/page.tsx
  apps/frontend/src/components/tenants/tenants.tsx
  apps/frontend/src/hooks/api/__tests__/use-payments.test.tsx
  apps/frontend/src/hooks/api/use-owner-dashboard.ts
  apps/frontend/src/hooks/api/use-payments.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: exclude inactive properties from dashboard leases, optimize time series queries
  apps/frontend/src/components/tenants/tenants.tsx
  apps/frontend/src/hooks/api/__tests__/use-payments.test.tsx
  apps/frontend/src/hooks/api/use-payments.ts
  supabase/migrations/20260301070000_unified_dashboard_rpc.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix: derive occupancy trend current_val from lease dates, not unit status
  supabase/migrations/20260301070000_unified_dashboard_rpc.sql
Due: none

fix: maintenance trend filter, live dashboard values, import order, response validation
  apps/frontend/src/hooks/api/use-owner-dashboard.ts
  supabase/migrations/20260301070000_unified_dashboard_rpc.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix: add trend direction to MetricTrend, document lease_status limitation, clean tenant_agg
  apps/frontend/src/components/dashboard/__tests__/owner-dashboard.test.tsx
  packages/shared/src/types/analytics.ts
  supabase/migrations/20260301070000_unified_dashboard_rpc.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix: align open_maintenance trend with stat card, complete ANALYZE coverage
  supabase/migrations/20260302061333_fix_maintenance_trend_analyze_coverage.sql
Due: none

perf: drop 42 unused indexes and vacuum bloated tables (#537)
  apps/frontend/src/app/(owner)/leases/page.tsx
  apps/frontend/src/app/auth/signout/page.tsx
  apps/frontend/src/components/dashboard/__tests__/owner-dashboard.test.tsx
  apps/frontend/src/components/tenants/tenants.tsx
  apps/frontend/src/hooks/api/__tests__/use-payments.test.tsx
  apps/frontend/src/hooks/api/use-owner-dashboard.ts
  apps/frontend/src/hooks/api/use-payments.ts
  packages/shared/src/types/analytics.ts
  packages/shared/src/types/supabase.ts
  supabase/migrations/20260301065605_drop_unused_indexes_optimize.sql
  supabase/migrations/20260301070000_unified_dashboard_rpc.sql
  supabase/migrations/20260302061333_fix_maintenance_trend_analyze_coverage.sql
Due: eslint --fix --no-warn-ignored, prettier --write

perf: add DB optimization migrations — drop unused indexes, ANALYZE tables, fix RLS
  supabase/migrations/20260303120000_phase1_analyze_remaining_tables.sql
  supabase/migrations/20260303130000_phase2_drop_remaining_unused_indexes.sql
  supabase/migrations/20260303140000_phase3_rls_function_audit.sql
  supabase/migrations/20260303150000_phase4_critical_flow_analysis.sql
  supabase/migrations/20260303160000_phase5_index_consolidation.sql
Due: none

refactor: clean review artifacts, modernize lease wizard, update pre-commit hooks
  .continue-here.md
  .full-review/00-scope.md
  .full-review/01-quality-architecture.md
  .full-review/02-security-performance.md
  .full-review/03-testing-documentation.md
  .full-review/04-best-practices.md
  .full-review/05-final-report.md
  .full-review/state.json
  .husky/pre-commit
  CLAUDE.md
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/components/leases/generate-lease.tsx
  apps/frontend/src/components/leases/lease-step-property.tsx
  apps/frontend/src/components/leases/lease-step-review.tsx
  apps/frontend/src/components/leases/lease-step-tenant.tsx
  apps/frontend/src/components/leases/lease-step-terms.tsx
  apps/frontend/src/components/leases/use-generate-lease-form.ts
  apps/frontend/src/components/leases/wizard/__tests__/selection-step.spec.tsx
  apps/frontend/src/components/leases/wizard/__tests__/terms-step.test.tsx
  apps/frontend/src/components/leases/wizard/lease-creation-wizard.tsx
  apps/frontend/src/components/leases/wizard/selection-step.tsx
  apps/frontend/src/components/leases/wizard/terms-step.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

refactor: replace Husky with Lefthook for parallel git hooks
  .gitignore
  .husky/init.sh
  .husky/pre-commit
  .husky/pre-push
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

wip: tooling modernization paused — phases 1-2 complete, 1b/3/4/5 remaining
  .continue-here.md
Due: prettier --write

refactor: single root ESLint config, inline TypeScript configs, remove packages/
  apps/e2e-tests/eslint.config.mjs
  apps/e2e-tests/package.json
  apps/e2e-tests/tsconfig.json
  apps/frontend/eslint.config.mjs
  apps/frontend/tsconfig.json
  eslint.config.js
  lefthook.yml
  package.json
  packages/eslint-config/base.js
  packages/eslint-config/index.js
  packages/eslint-config/nextjs.js
  packages/eslint-config/package.json
  packages/typescript-config/library.json
  packages/typescript-config/next.json
  packages/typescript-config/node-library.json
  packages/typescript-config/package.json
  packages/typescript-config/react.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rules/no-admin-client-bypass.cjs
  tsconfig.base.json
  tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs: comprehensive Bun vs pnpm evaluation — decision to stay on pnpm
  docs/bun-evaluation.md
Due: prettier --write

refactor: phases 4-5 — dep cleanup, config modernization, fix Vitest 4.x compat
  .github/dependabot.yml
  .gitignore
  .planning/phases/04-code-quality/04-02-SUMMARY.md
  .planning/phases/26-test-environment-parity/26-01-PLAN.md
  .planning/phases/50-infrastructure-auth-foundation-user-profile-crud/50-VERIFICATION.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-05-SUMMARY.md
  .planning/phases/58-security-hardening/58-RESEARCH.md
  .planning/phases/60-receipt-emails/60-RESEARCH.md
  .planning/research/PITFALLS.md
  .prettierignore
  CLAUDE.md
  docs/property-management-architecture.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/prepare-husky.cjs
  src/app/(tenant)/tenant/maintenance/new/page.tsx
  src/components/ui/chart.tsx
  src/hooks/api/__tests__/property-mutations.test.tsx
  src/hooks/api/__tests__/use-tenant.test.tsx
  src/hooks/api/use-owner-notification-settings.ts
  src/shared/types/notifications.ts
  src/test/unit-setup.ts
  src/types/jest-dom.d.ts
  tests/e2e/package.json
  tests/e2e/preflight.ts
  tests/e2e/run-production-flows.sh
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
