Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: resolve TypeScript config path resolution and turbo binary issues
  .github/workflows/test.yml
  apps/frontend/tsconfig.json
  package-lock.json
  packages/eslint-config/tsconfig.json
  packages/test-utils/tsconfig.json
Due: prettier --write

chore: update package-lock.json for turbo binary fixes
  package-lock.json
Due: prettier --write

fix: resolve remaining merge conflict in tailwind-config package.json
  packages/tailwind-config/package.json
  playwright.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: clean up remaining merge conflict markers in JSON files
  apps/backend/tsconfig.build.json
  apps/backend/tsconfig.json
  apps/frontend/package.json
  package-lock.json
  packages/database/package.json
  packages/database/tsconfig.json
  packages/eslint-config/package.json
  packages/shared/package.json
  packages/shared/tsconfig.build.json
  packages/shared/tsconfig.esm.json
  packages/shared/tsconfig.json
  packages/typescript-config/nestjs.json
  packages/typescript-config/package.json
  packages/typescript-config/react.json
  vercel.json
Due: prettier --write, npm audit --audit-level=moderate

ci: add simplified CI/CD workflow to replace complex security scan
  .github/workflows/main.yml
Due: prettier --write

fix: add missing exports for post-transformation compatibility
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/form.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: sync package-lock.json with package.json
  package-lock.json
Due: prettier --write

fix(deps): resolve cache-manager dependency conflict
  apps/backend/package.json
  package-lock.json
Due: prettier --write, npm audit --audit-level=moderate

fix(deps): update jspdf to resolve security vulnerability
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
