Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: remove problematic test file causing TypeScript errors in CI
  apps/frontend/src/hooks/__tests__/use-property-image-upload.heic.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: notifications INSERT policy security vulnerability
  supabase/migrations/20250111_fix_notifications_insert_security.sql
Due: none

fix: address code review feedback - security, performance, and consistency
  apps/frontend/src/hooks/api/use-reports.ts
  packages/eslint-config/package.json
  supabase/migrations/20250111_add_missing_indexes.sql
  supabase/migrations/20250111_fix_rpc_functions.sql
  supabase/migrations/20250111_optimize_documents_rls_performance.sql
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

feat: consolidate dashboard functions, fix architecture violations, add missing financial RPC functions
  apps/backend/src/modules/analytics/dashboard-analytics.service.ts
  apps/backend/src/modules/dashboard/dashboard.controller.ts
  apps/backend/src/modules/dashboard/dashboard.service.ts
  apps/frontend/src/hooks/api/use-dashboard-trends.ts
  apps/frontend/src/test/setup.ts
  packages/shared/src/types/supabase-generated.ts
  supabase/migrations/20250111_create_dashboard_stats_optimized.sql
  supabase/migrations/20250111_fix_function_search_path_security.sql
  supabase/migrations/20250111_fix_notifications_insert_security.sql
  supabase/migrations/20250111_fix_rpc_functions.sql
  supabase/migrations/20250111_fix_unit_lease_rls_infinite_recursion.sql
  supabase/migrations/20250112_consolidate_dashboard_functions.sql
  supabase/migrations/20250112_create_financial_analytics_functions.sql
  supabase/migrations/20250112_create_metric_trend_function.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix: implement dashboard trends metrics and API config validation
  apps/frontend/src/hooks/api/use-dashboard-trends.ts
  apps/frontend/src/lib/api-config.ts
  supabase/migrations/20250112_consolidate_dashboard_functions.sql
  supabase/migrations/20250112_create_metric_trend_function.sql
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: inline API_BASE_URL environment variable in api-config
  apps/frontend/src/lib/api-config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: add lint to pre-commit hook and fix ESLint config
  .husky/pre-commit
  apps/frontend/eslint.config.mjs
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: use structured logging in api-config
  apps/frontend/src/lib/api-config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: improve API config with single warning and environment-aware fallback
  apps/frontend/eslint.config.mjs
  apps/frontend/src/lib/api-config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: migrate all TanStack Query hooks to use clientFetch with automatic auth
  .husky/pre-commit
  .vercelignore
  apps/frontend/src/hooks/api/use-current-user.ts
  apps/frontend/src/hooks/api/use-dashboard-trends.ts
  apps/frontend/src/hooks/api/use-dashboard.ts
  apps/frontend/src/hooks/api/use-late-fees.ts
  apps/frontend/src/hooks/api/use-lease.ts
  apps/frontend/src/hooks/api/use-maintenance.ts
  apps/frontend/src/hooks/api/use-payment-history.ts
  apps/frontend/src/hooks/api/use-payment-methods.ts
  apps/frontend/src/hooks/api/use-payment-verification.ts
  apps/frontend/src/hooks/api/use-properties.ts
  apps/frontend/src/hooks/api/use-rent-payments.ts
  apps/frontend/src/hooks/api/use-reports.ts
  apps/frontend/src/hooks/api/use-stripe-connect.ts
  apps/frontend/src/hooks/api/use-subscriptions.ts
  apps/frontend/src/hooks/api/use-tax-documents.ts
  apps/frontend/src/hooks/api/use-tenant.ts
  apps/frontend/src/hooks/api/use-unit.ts
  apps/frontend/src/hooks/use-property-image-upload.ts
  apps/frontend/src/hooks/use-supabase-upload.ts
  apps/frontend/src/lib/api/client.ts
  lint-staged.config.js
  package.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

chore: update pnpm lockfile
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
