Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: resolve TypeScript type issues in shared package utilities
  apps/frontend/src/lib/theme-utils.ts
  apps/frontend/src/stores/auth-store.ts
  packages/shared/src/index.ts
  packages/shared/src/types/frontend.ts
  packages/shared/src/utils/tailwind.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve all TypeScript and ESLint errors for clean build
  apps/frontend/scripts/auth-health-check.ts
  apps/frontend/src/app/pricing/checkout/page.tsx
  apps/frontend/src/components/finance/revenue-trend-chart.tsx
  apps/frontend/src/components/pricing/checkout-form.tsx
  apps/frontend/src/components/pricing/customer-portal.tsx
  apps/frontend/src/components/ui/pagination.tsx
  apps/frontend/src/components/virtualized-list.tsx
  apps/frontend/src/hooks/use-data-table-instance.ts
  packages/shared/src/types/frontend.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve all TypeScript errors systematically
  apps/frontend/scripts/auth-health-check.ts
  apps/frontend/src/components/finance/revenue-trend-chart.tsx
  apps/frontend/src/components/pricing/checkout-form.tsx
  apps/frontend/src/components/virtualized-list.tsx
  packages/shared/src/types/frontend.ts
  packages/shared/src/types/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

security: fix input sanitization bypass vulnerability
  apps/backend/src/main.ts
  apps/backend/src/shared/guards/tenant-isolation.test.ts
  apps/backend/src/shared/middleware/input-sanitization.middleware.ts
  apps/frontend/src/components/pricing/stripe-pricing-section.tsx
  packages/shared/src/types/backend-domain.ts
  packages/shared/src/types/frontend.ts
  packages/shared/src/types/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

security: fix token validation race condition vulnerability
  apps/backend/src/shared/services/security-monitor.service.ts
  apps/backend/src/shared/services/token-validation.service.ts
  apps/backend/src/shared/shared.module.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve all security vulnerabilities and TypeScript compilation issues
  apps/backend/src/main.ts
  apps/backend/src/shared/filters/__tests__/security-exception.filter.test.ts
  apps/backend/src/shared/filters/security-exception.filter.ts
  apps/backend/src/shared/services/security-monitor.service.ts
  apps/backend/src/shared/shared.module.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve lint-staged configuration and all compilation issues
  .lintstagedrc.js
  apps/backend/src/shared/filters/__tests__/security-exception.filter.test.ts
  apps/backend/src/shared/filters/security-exception.filter.ts
  lint-staged.config.cjs
  package.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: resolve Fastify middleware compatibility and TypeScript errors
  apps/backend/src/dashboard/dashboard.service.ts
  apps/backend/src/database/database-optimization.service.ts
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/main.ts
  apps/backend/src/shared/middleware/security-headers.middleware.ts
  apps/backend/src/shared/services/__tests__/security-monitor-integration.test.ts
  apps/backend/src/shared/services/security-monitor.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve all TypeScript compilation errors and lint warnings
  apps/backend/scripts/validate-stripe-schema.ts
  apps/backend/src/shared/scripts/security-audit.ts
  apps/backend/src/shared/services/security-monitor.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove explicit any types from shared package api-client
  packages/shared/src/utils/api-client.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: correct Railway port configuration and add BACKEND_PORT to turbo.json
  apps/backend/src/main.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: enable environment variable expansion in Docker CMD
  Dockerfile
Due: none

Fix pre-push hook to use lint:fix instead of lint
  .husky/pre-push
Due: none

Fix TypeScript types to use database types from Supabase generated types
  apps/backend/src/billing/stripe-data.service.ts
  apps/backend/src/shared/filters/security-exception.filter.ts
  packages/shared/src/lib/supabase-client.ts
  packages/shared/src/utils/api-client.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Remove sanitizeMessage tests since method was removed
  apps/backend/src/shared/filters/__tests__/security-exception.filter.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve import path issues and move AuthFormProps to shared types
  apps/frontend/src/app/auth/register/page.tsx
  apps/frontend/src/components/auth/login-form.tsx
  packages/shared/src/types/frontend.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: add missing UI component imports in unit-dialogs.tsx
  apps/frontend/src/components/units/unit-dialogs.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: update tsconfig paths for component imports
  apps/frontend/tsconfig.json
Due: prettier --write

fix: restore missing UI component imports after find/replace issue
  apps/frontend/src/app/(protected)/dashboard/analytics/page.tsx
  apps/frontend/src/app/(protected)/dashboard/layout.tsx
  apps/frontend/src/app/(protected)/dashboard/leases/page.tsx
  apps/frontend/src/app/(protected)/dashboard/properties/page.tsx
  apps/frontend/src/components/nav-documents.tsx
  apps/frontend/src/components/nav-main.tsx
  apps/frontend/src/components/nav-projects.tsx
  apps/frontend/src/components/nav-user.tsx
  apps/frontend/src/components/team-switcher.tsx
  apps/frontend/src/components/ui/command.tsx
  apps/frontend/src/components/ui/get-started-button.tsx
  apps/frontend/src/components/ui/pagination.tsx
  apps/frontend/src/components/ui/sidebar.tsx
  apps/frontend/src/components/ui/testimonial.tsx
  fix-imports.js
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve Supabase client initialization during build
  packages/shared/src/lib/supabase-client.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: update GitHub Actions pnpm version to match package.json
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: add missing password UI components to fix CI build
  .gitignore
  apps/frontend/src/components/ui/password-input.tsx
  apps/frontend/src/components/ui/password-strength.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: critical security vulnerabilities and build errors
  apps/backend/src/billing/stripe.controller.ts
  test-vscode-inputs.html
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve shared package build issues and centralize types
  apps/frontend/src/components/pricing/stripe-pricing-section.tsx
  packages/shared/package.json
  packages/shared/src/types/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: remove duplicate SubscriptionStatus type export from auth
  packages/shared/src/types/index.ts
  test-vscode-inputs.html
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
