Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

feat(02-04): validate expiring-leases boundary via mapExpiringLeaseRow (TYPE-03)
  src/components/dashboard/expiring-leases-mapper.test.ts
  src/components/dashboard/expiring-leases-mapper.ts
  src/components/dashboard/expiring-leases-widget.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(02-04): drift guard pinning zero as-unknown-as at src/hooks/api boundaries (TYPE-03)
  src/lib/__tests__/rpc-boundary-cast-pins.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(02-04): complete expiring-leases mapper + drift guard plan (TYPE-03)
  .planning/phases/02-typed-rpc-boundaries/02-04-SUMMARY.md
Due: prettier --write

docs(03): context for Phase 3 Stats RPC Consolidation (live-DB-grounded)
  .planning/phases/03-stats-rpc-consolidation/03-CONTEXT.md
Due: prettier --write

feat(03-01): add get_unit_stats + get_tenant_stats SECURITY DEFINER RPCs (PERF-02/03)
  src/types/supabase.ts
  supabase/migrations/20260606041458_stats_consolidation_rpcs.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(03-01): complete stats RPCs migration plan (PERF-02/03)
  .planning/phases/03-stats-rpc-consolidation/03-01-SUMMARY.md
Due: prettier --write

feat(03-02): add Zod-validated mapUnitStats/mapTenantStats boundary mappers
  src/hooks/api/query-keys/tenant-stats-mapper.test.ts
  src/hooks/api/query-keys/tenant-stats-mapper.ts
  src/hooks/api/query-keys/unit-mappers.test.ts
  src/hooks/api/query-keys/unit-mappers.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(03-02): rewire unit/tenant stats() to single get_unit_stats/get_tenant_stats RPCs
  src/hooks/api/__tests__/use-tenant.test.tsx
  src/hooks/api/query-keys/tenant-keys.ts
  src/hooks/api/query-keys/unit-keys.ts
  src/test/mocks/msw/handlers/rpc.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(03-02): complete mappers + stats hook rewire plan
  .planning/phases/03-stats-rpc-consolidation/03-02-SUMMARY.md
Due: prettier --write

test(03-03): dual-client owner-isolation RLS test for stats RPCs
  tests/integration/rls/stats-rpcs.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(03-03): complete dual-client stats-RPC RLS test plan
  .planning/phases/03-stats-rpc-consolidation/03-03-SUMMARY.md
Due: prettier --write

docs(03): roadmap — Phase 3 plans + reconcile progress table to shipped state
  .planning/ROADMAP.md
Due: prettier --write

docs(04): context for Phase 4 Cron Stagger & Index Cleanup (canonical determination)
  .planning/phases/04-cron-stagger-index-cleanup/04-CONTEXT.md
Due: prettier --write

docs(04): plan + context for Phase 4 Cron Stagger & Index Cleanup
  .planning/ROADMAP.md
  .planning/phases/04-cron-stagger-index-cleanup/04-01-PLAN.md
Due: prettier --write

perf(04): stagger 4 pg_cron jobs off 0 3 + drop 1 dead index (PERF-01/04)
  supabase/migrations/20260606205922_cron_stagger_index_cleanup.sql
Due: none

docs(04): complete cron stagger & index cleanup plan (PERF-01/04)
  .planning/phases/04-cron-stagger-index-cleanup/04-01-SUMMARY.md
Due: prettier --write

docs(04): correct PERF-04 index-residue comment (review cycle 1)
  supabase/migrations/20260606205922_cron_stagger_index_cleanup.sql
Due: none

docs(05): context for Phase 5 Cross-Owner RLS Coverage (live-policy-grounded)
  .planning/phases/05-cross-owner-rls-coverage/05-CONTEXT.md
Due: prettier --write

docs(05): plan Phase 5 Cross-Owner RLS Coverage (3 plans)
  .planning/ROADMAP.md
  .planning/phases/05-cross-owner-rls-coverage/05-01-PLAN.md
  .planning/phases/05-cross-owner-rls-coverage/05-02-PLAN.md
  .planning/phases/05-cross-owner-rls-coverage/05-03-PLAN.md
Due: prettier --write

test(05-01): cross-owner RLS isolation for reports + document_template_definitions
  tests/integration/rls/document-template-definitions.rls.test.ts
  tests/integration/rls/reports.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(05-01): cross-owner RLS isolation for expenses via maintenance_request chain
  tests/integration/rls/expenses.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(05-01): complete Cross-Owner RLS Coverage TEST-01 plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-cross-owner-rls-coverage/05-01-SUMMARY.md
Due: prettier --write

test(05-02): cross-owner RLS isolation for property_images + inspection_rooms
  tests/integration/rls/inspection-rooms.rls.test.ts
  tests/integration/rls/property-images.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(05-02): cross-owner RLS for inspection_photos + maintenance_request_photos (S/I/D)
  tests/integration/rls/inspection-photos.rls.test.ts
  tests/integration/rls/maintenance-request-photos.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(05-02): complete Cross-Owner RLS Coverage TEST-02 plan
  .planning/phases/05-cross-owner-rls-coverage/05-02-SUMMARY.md
Due: prettier --write

test(05-03): extract REVOKED_CODES + DENIED_CODES to shared RLS helper
  tests/integration/rls/_helpers/revoked-codes.ts
  tests/integration/rls/admin-rpc-grants.rls.test.ts
  tests/integration/rls/anon-rpc-grants.rls.test.ts
  tests/integration/rls/funnel-admin-rpc.test.ts
  tests/integration/rls/rls-no-policy-lockdown.rls.test.ts
  tests/integration/rls/users-privileged-columns.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(05-03): pin RLS/ownership rejections to SQLSTATE P0001
  tests/integration/rls/bulk-import-create-lease.test.ts
  tests/integration/rls/dashboard-rpc-open-maintenance.test.ts
  tests/integration/rls/dashboard-rpc-revenue-6mo.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(05-03): complete SQLSTATE assertions + shared REVOKED_CODES helper plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-cross-owner-rls-coverage/05-03-SUMMARY.md
Due: prettier --write

docs(06): context for Phase 6 Auth & Dollar-Hook Unit Tests (TEST-03)
  .planning/phases/06-auth-dollar-hook-tests/06-CONTEXT.md
Due: prettier --write

fix(07): a11y text-muted->text-muted-foreground in error-boundary + Phase 7 context (A11Y-03)
  .planning/phases/07-accessibility-labels/07-CONTEXT.md
  src/components/error-boundary/error-boundary.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(07): programmatic labels for emergency-contact/change-password/personal-info forms (A11Y-01)
  src/app/(owner)/profile/__tests__/profile-page.test.tsx
  src/components/auth/__tests__/change-password-dialog.a11y.test.tsx
  src/components/auth/change-password-dialog.tsx
  src/components/profiles/owner/__tests__/personal-info-section.test.tsx
  src/components/profiles/tenant/__tests__/emergency-contact-section.test.tsx
  src/components/profiles/tenant/__tests__/personal-information-section.test.tsx
  src/components/profiles/tenant/emergency-contact-section.tsx
  src/components/profiles/tenant/personal-information-section.tsx
  src/components/settings/__tests__/owner-emergency-contact-section.test.tsx
  src/components/settings/owner-emergency-contact-section.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(07): accessible names for toolbar/checkbox/tooltip controls (A11Y-02)
  src/components/leases/table/__tests__/leases-table-columns.a11y.test.tsx
  src/components/leases/table/leases-table-columns.tsx
  src/components/leases/table/leases-table.tsx
  src/components/leases/template/__tests__/clause-selector.test.tsx
  src/components/leases/template/clause-selector.tsx
  src/components/tenants/__tests__/tenant-grid.a11y.test.tsx
  src/components/tenants/__tests__/tenant-toolbar.a11y.test.tsx
  src/components/tenants/tenant-grid.tsx
  src/components/tenants/tenant-toolbar.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(07): complete Accessibility Labels plan (A11Y-01/02/03)
  .planning/phases/07-accessibility-labels/07-SUMMARY.md
Due: prettier --write

fix(07): complete A11Y-02 on grid/table controls (review cycle 1)
  src/components/leases/table/__tests__/leases-table-columns.a11y.test.tsx
  src/components/leases/table/__tests__/leases-table.a11y.test.tsx
  src/components/leases/table/leases-table-columns.tsx
  src/components/tenants/__tests__/tenant-grid.a11y.test.tsx
  src/components/tenants/tenant-grid.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(08): noindex empty blog category pages (SEO-03)
  .planning/phases/08-seo-recovery/08-CONTEXT.md
  src/app/blog/category/[category]/page.test.tsx
  src/app/blog/category/[category]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(08): complete SEO Recovery plan (SEO-02 verified, SEO-03 done, SEO-01 content-dependent)
  .planning/phases/08-seo-recovery/08-SUMMARY.md
Due: prettier --write

docs(09): plan + context for Phase 9 LLM Wiring & Model Selection (BLOG-01/02)
  .planning/phases/09-llm-wiring-model-selection/09-01-PLAN.md
  .planning/phases/09-llm-wiring-model-selection/09-02-PLAN.md
  .planning/phases/09-llm-wiring-model-selection/09-CONTEXT.md
Due: prettier --write

docs(09): roadmap reflects Phase 9 planned (2 plans)
  .planning/ROADMAP.md
Due: prettier --write

docs(09): set generation model to Mistral-Small-3.2-24B (HF research)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/09-llm-wiring-model-selection/09-02-PLAN.md
  .planning/phases/09-llm-wiring-model-selection/09-CONTEXT.md
Due: prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
