Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

feat(payments): Stripe Connect tenant payments; enforce invite-only onboarding; add DB migration and form typings
  apps/backend/scripts/audit-rls-security.js
  apps/backend/scripts/security-audit.js
  apps/backend/scripts/validate-stripe-schema.js
  apps/backend/src/app.module.ts
  apps/backend/src/payment-methods/payment-methods.controller.ts
  apps/backend/src/payment-methods/payment-methods.module.ts
  apps/backend/src/payment-methods/payment-methods.service.spec.ts
  apps/backend/src/payment-methods/payment-methods.service.ts
  apps/backend/src/rent-payments/rent-payments.controller.ts
  apps/backend/src/rent-payments/rent-payments.module.ts
  apps/backend/src/rent-payments/rent-payments.service.ts
  apps/backend/src/stripe-connect/stripe-connect.controller.spec.ts
  apps/backend/src/stripe-connect/stripe-connect.controller.ts
  apps/backend/src/stripe-connect/stripe-connect.module.ts
  apps/backend/src/stripe-connect/stripe-connect.service.spec.ts
  apps/backend/src/stripe-connect/stripe-connect.service.ts
  apps/backend/src/stripe-webhook/stripe-webhook.controller.ts
  apps/backend/src/stripe-webhook/stripe-webhook.module.ts
  apps/backend/src/stripe-webhook/stripe-webhook.service.ts
  apps/backend/src/subscriptions/subscriptions.controller.ts
  apps/backend/src/subscriptions/subscriptions.module.ts
  apps/backend/src/subscriptions/subscriptions.service.ts
  apps/backend/test/__tests__/test-environment.spec.js
  apps/backend/test/email/email-test-config.js
  apps/backend/test/email/run-email-tests.js
  apps/backend/test/env-check.spec.js
  apps/backend/test/setup.js
  apps/backend/test/test-environment.js
  apps/frontend/src/app/(protected)/settings/payment-methods/page.tsx
  apps/frontend/src/components/payment-methods/add-payment-method-dialog.tsx
  apps/frontend/src/components/payment-methods/payment-method-setup-form.tsx
  apps/frontend/src/components/payment-methods/payment-methods-list.tsx
  apps/frontend/src/hooks/api/use-payment-methods.ts
  packages/shared/src/types/core.ts
  packages/shared/src/types/supabase-generated.ts
  pnpm-lock.yaml
  supabase/.temp/cli-latest
  supabase/migrations/20251004_create_connected_account.sql
  supabase/migrations/20251004_create_payment_tables.sql
  supabase/migrations/20251004_create_rent_subscription.sql
Due: eslint --fix --no-warn-ignored, prettier --write

chore(reviews): annotate subscription auth & schema issues; fix chart typings to satisfy tsc
  apps/backend/src/billing/stripe.service.ts
  apps/backend/src/stripe-webhook/stripe-webhook.module.ts
  apps/backend/src/stripe-webhook/stripe-webhook.service.ts
  apps/backend/src/subscriptions/subscriptions.controller.ts
  apps/backend/src/subscriptions/subscriptions.service.ts
  apps/frontend/src/components/ui/chart.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

recover: restore WIP from stash (pre-clean-branch) - analytics page + chart tweaks
  apps/backend/src/billing/stripe.service.ts
  apps/frontend/src/app/(protected)/owner/analytics/financial/page.tsx
  apps/frontend/src/components/ui/chart.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(billing): align Stripe apiVersion with types to satisfy typecheck
  apps/backend/src/billing/stripe.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: remove Claude Code Review workflows that were causing CI failures
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier --write

fix(ci): align pnpm version to 10.17.1 to match GitHub Actions
  package.json
Due: prettier --write, npm audit --audit-level=moderate

fix(frontend): configure TypeScript to emit build artifacts outside source
  .gitignore
  apps/frontend/tsconfig.json
Due: prettier --write

Remove Claude Code Review workflow - optional check not needed
  .github/workflows/claude-code-review.yml
Due: prettier --write

fix(auth): implement role-based redirects for tenant portal
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/app/login/actions.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: Update pnpm-lock.yaml to sync with eslint version
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
