Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

fix(tenant-portal): populate lease page with actual property and unit data
  apps/backend/src/modules/tenant-portal/tenant-portal.controller.ts
  apps/frontend/src/app/(protected)/tenant/lease/page.tsx
  apps/frontend/src/hooks/api/use-lease.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): enforce user ID in financial RPC calls for defense-in-depth
  apps/backend/src/modules/financial/balance-sheet.service.ts
  apps/backend/src/modules/financial/cash-flow.service.ts
  apps/backend/src/modules/financial/income-statement.service.ts
  apps/backend/src/modules/financial/tax-documents.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve all PR #375 review comments
  apps/backend/package.json
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/modules/dashboard/dashboard.controller.ts
  apps/backend/src/modules/faq/faq.controller.ts
  apps/backend/src/modules/faq/faq.module.ts
  apps/backend/src/modules/rent-payments/rent-payments.service.spec.ts
  apps/backend/src/modules/rent-payments/rent-payments.service.ts
  apps/backend/src/modules/tenant-portal/tenant-portal.controller.ts
  apps/backend/src/modules/tenants/tenants.service.ts
  apps/frontend/src/app/faq/page.tsx
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/server-auth.ts
  apps/frontend/tests/integration/hooks/api/use-tenants-crud.test.tsx
  apps/frontend/vitest.integration.config.js
  package.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs(security): complete RLS testing analysis for Phase 1
  RLS-TESTING-ANALYSIS.md
Due: prettier --write

test(financial): fix broken tests after RPC security changes
  apps/backend/src/modules/financial/balance-sheet.service.spec.ts
  apps/backend/src/modules/financial/tax-documents.service.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(testing): add comprehensive testing verification for Phase 1
  TESTING-VERIFICATION.md
Due: prettier --write

feat(profile): implement password change flow
  PHASE-2-PLAN.md
  apps/frontend/src/app/(protected)/tenant/profile/page.tsx
  apps/frontend/src/components/auth/change-password-dialog.tsx
  apps/frontend/src/hooks/api/use-supabase-auth.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(profile): implement notification preferences backend (Task 2.2 - Part 1)
  apps/backend/src/modules/tenants/dto/notification-preferences.dto.ts
  apps/backend/src/modules/tenants/tenants.controller.ts
  apps/backend/src/modules/tenants/tenants.service.ts
  supabase/migrations/20250216000000_add_notification_preferences.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase2): add comprehensive status tracking
  PHASE-2-STATUS.md
Due: prettier --write

feat(profile): complete notification preferences frontend (Task 2.2)
  apps/backend/src/modules/tenants/tenants.service.ts
  apps/frontend/src/app/(protected)/tenant/profile/page.tsx
  apps/frontend/src/hooks/api/use-notification-preferences.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase2): update status - Task 2.2 complete (60% overall)
  PHASE-2-STATUS.md
Due: prettier --write
