Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

feat(51-03): migrate tenant-keys.ts and use-tenant.ts to PostgREST
  apps/frontend/src/hooks/api/query-keys/tenant-keys.ts
  apps/frontend/src/hooks/api/use-tenant.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(51-02/03): summaries, state, roadmap for wave 2
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/51-core-crud-migration-properties-units-tenants-leases/51-02-SUMMARY.md
  .planning/phases/51-core-crud-migration-properties-units-tenants-leases/51-03-SUMMARY.md
Due: prettier --write

feat(51-04): migrate leases domain to PostgREST + update test suite
  apps/frontend/src/hooks/api/__tests__/use-lease.test.tsx
  apps/frontend/src/hooks/api/query-keys/lease-keys.ts
  apps/frontend/src/hooks/api/use-lease.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(51-04): create summary, update state and roadmap
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/51-core-crud-migration-properties-units-tenants-leases/51-04-SUMMARY.md
Due: prettier --write

feat(integration-tests): bootstrap apps/integration-tests/ package
  apps/integration-tests/jest.config.ts
  apps/integration-tests/package.json
  apps/integration-tests/src/setup/env.ts
  apps/integration-tests/src/setup/supabase-client.ts
  apps/integration-tests/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

feat(51-05): add 4 RLS cross-tenant isolation test suites
  apps/integration-tests/src/rls/leases.rls.test.ts
  apps/integration-tests/src/rls/properties.rls.test.ts
  apps/integration-tests/src/rls/tenants.rls.test.ts
  apps/integration-tests/src/rls/units.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(51-05): create summary, update STATE.md and ROADMAP.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/51-core-crud-migration-properties-units-tenants-leases/51-05-SUMMARY.md
Due: prettier --write

docs(51): add VERIFICATION.md — phase 51 PASS (24/24 must-haves)
  .planning/phases/51-core-crud-migration-properties-units-tenants-leases/51-VERIFICATION.md
Due: prettier --write

docs(52): capture phase context
  .planning/phases/52-operations-crud-migration-maintenance-vendors-inspections/52-CONTEXT.md
Due: prettier --write

docs(52): create phase plan
  .planning/ROADMAP.md
  .planning/phases/52-operations-crud-migration-maintenance-vendors-inspections/52-01-PLAN.md
  .planning/phases/52-operations-crud-migration-maintenance-vendors-inspections/52-02-PLAN.md
  .planning/phases/52-operations-crud-migration-maintenance-vendors-inspections/52-03-PLAN.md
Due: prettier --write

feat(52-01): add 'assigned' and 'needs_reassignment' to maintenance status constraint
  apps/backend/src/modules/maintenance/maintenance.service.spec.ts
  apps/backend/src/test-utils/mocks.ts
  apps/frontend/src/components/maintenance/__tests__/maintenance-form.test.tsx
  apps/frontend/src/test/utils/test-data.ts
  packages/shared/src/types/supabase.ts
  supabase/migrations/20260221120000_add_maintenance_status_vendor_statuses.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-01): migrate maintenance-keys.ts to PostgREST direct calls
  apps/frontend/src/components/maintenance/maintenance-analytics.tsx
  apps/frontend/src/hooks/api/query-keys/maintenance-keys.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-01): migrate use-maintenance.ts mutations and use-vendor.ts to PostgREST
  apps/frontend/src/hooks/api/use-maintenance.ts
  apps/frontend/src/hooks/api/use-vendor.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-01): create SUMMARY.md, update STATE.md and ROADMAP.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/52-operations-crud-migration-maintenance-vendors-inspections/52-01-SUMMARY.md
Due: prettier --write

feat(52-02): migrate inspection-keys.ts to PostgREST
  apps/frontend/src/hooks/api/query-keys/inspection-keys.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-02): migrate use-inspections.ts mutations to PostgREST + Storage
  apps/frontend/src/hooks/api/use-inspections.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-02): create summary, update STATE.md and ROADMAP.md
  .planning/phases/52-operations-crud-migration-maintenance-vendors-inspections/52-02-SUMMARY.md
Due: prettier --write

feat(52-03): delete NestJS maintenance, vendors, and inspections modules
  apps/backend/src/app.module.ts
  apps/backend/src/modules/inspections/dto/create-inspection-room.dto.ts
  apps/backend/src/modules/inspections/dto/create-inspection.dto.ts
  apps/backend/src/modules/inspections/dto/record-photo.dto.ts
  apps/backend/src/modules/inspections/dto/tenant-review.dto.ts
  apps/backend/src/modules/inspections/dto/update-inspection-room.dto.ts
  apps/backend/src/modules/inspections/dto/update-inspection.dto.ts
  apps/backend/src/modules/inspections/inspections.controller.ts
  apps/backend/src/modules/inspections/inspections.module.ts
  apps/backend/src/modules/inspections/inspections.service.spec.ts
  apps/backend/src/modules/inspections/inspections.service.ts
  apps/backend/src/modules/maintenance/analytics.controller.ts
  apps/backend/src/modules/maintenance/dto/create-maintenance.dto.ts
  apps/backend/src/modules/maintenance/dto/update-maintenance.dto.ts
  apps/backend/src/modules/maintenance/maintenance-assignment.service.ts
  apps/backend/src/modules/maintenance/maintenance-expense.service.ts
  apps/backend/src/modules/maintenance/maintenance-reporting.service.spec.ts
  apps/backend/src/modules/maintenance/maintenance-reporting.service.ts
  apps/backend/src/modules/maintenance/maintenance-status.service.ts
  apps/backend/src/modules/maintenance/maintenance-workflow.service.spec.ts
  apps/backend/src/modules/maintenance/maintenance-workflow.service.ts
  apps/backend/src/modules/maintenance/maintenance.controller.spec.ts
  apps/backend/src/modules/maintenance/maintenance.controller.ts
  apps/backend/src/modules/maintenance/maintenance.module.ts
  apps/backend/src/modules/maintenance/maintenance.service.spec.ts
  apps/backend/src/modules/maintenance/maintenance.service.ts
  apps/backend/src/modules/maintenance/vendors/dto/create-vendor.dto.ts
  apps/backend/src/modules/maintenance/vendors/dto/update-vendor.dto.ts
  apps/backend/src/modules/maintenance/vendors/vendors.controller.ts
  apps/backend/src/modules/maintenance/vendors/vendors.module.ts
  apps/backend/src/modules/maintenance/vendors/vendors.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-03): add RLS cross-tenant isolation tests for maintenance, vendors, inspections
  apps/integration-tests/src/rls/inspections.rls.test.ts
  apps/integration-tests/src/rls/maintenance.rls.test.ts
  apps/integration-tests/src/rls/vendors.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-03): create summary, update STATE.md and ROADMAP.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/52-operations-crud-migration-maintenance-vendors-inspections/52-03-SUMMARY.md
Due: prettier --write
