Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: update SubscriptionGuard to query by users.id instead of supabaseId
  apps/backend/src/shared/guards/subscription.guard.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: consolidate property CRUD forms and improve UX
  apps/frontend/src/app/(protected)/loading.tsx
  apps/frontend/src/app/(protected)/manage/properties/[id]/edit/page.tsx
  apps/frontend/src/app/(protected)/manage/properties/[id]/edit/property-edit-form.client.tsx
  apps/frontend/src/app/(protected)/manage/properties/new/page.tsx
  apps/frontend/src/components/properties/property-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(ci): build shared package before running tests
  .github/workflows/tests.yml
Due: prettier --write

fix(backend): correct RPC parameter names for dashboard stats
  apps/backend/src/modules/analytics/dashboard-analytics.service.ts
  supabase/migrations/20251103_optimize_dashboard_stats_rpc.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve git hooks and vitest watch mode issues
  apps/frontend/src/components/maintenance/__tests__/maintenance-form.test.tsx
  apps/frontend/src/components/maintenance/maintenance-form.client.tsx
  apps/frontend/src/hooks/use-maintenance-form.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): add critical RLS policies for payment tables and fix tenant onboarding
  apps/frontend/src/app/(protected)/tenant/onboarding/page.tsx
  scripts/verify-rls-coverage.sql
  supabase/migrations/20250215120000_add_rent_payment_rls.sql
  supabase/migrations/20250215120001_add_payment_method_rls.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): add critical RLS policies for payment tables and fix tenant onboarding
  apps/frontend/src/app/(protected)/tenant/onboarding/page.tsx
  docs/architecture/identity-mapping.md
  docs/architecture/rls-policies.md
  docs/deployment/phase-0-migration-guide.md
  scripts/verify-rls-coverage.sql
  supabase/migrations/20250215120000_add_rent_payment_rls.sql
  supabase/migrations/20250215120001_add_payment_method_rls.sql
Due: eslint --fix --no-warn-ignored, prettier --write

perf(migrations): optimize auth.uid() calls for RLS performance
  supabase/migrations/20250215120000_add_rent_payment_rls.sql
  supabase/migrations/20250215120001_add_payment_method_rls.sql
Due: none

fix(tenant-portal): populate lease page with actual property and unit data
  apps/backend/src/modules/tenant-portal/tenant-portal.controller.ts
  apps/frontend/src/app/(protected)/tenant/lease/page.tsx
  apps/frontend/src/hooks/api/use-lease.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
