Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix(forms): phase 31 review cycle-4 — maintenance-form unhandled rejection
  src/hooks/use-maintenance-form.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(forms): phase 31 review cycle-5 — restore-once gate in use-form-progress
  src/hooks/use-form-progress.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(forms): phase 31 review cycle-7 — two more duplicate-toast siblings
  src/components/leases/wizard/selection-step-filters.tsx
  src/components/units/unit-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(forms): phase 31 — eradicate remaining duplicate-toast siblings (exhaustive sweep)
  src/app/(owner)/properties/property-details.client.tsx
  src/app/(owner)/properties/units/components/unit-actions.tsx
  src/app/(owner)/properties/units/page.tsx
  src/app/(owner)/tenants/components/tenant-details.client.tsx
  src/app/(owner)/tenants/components/tenant-edit-form.client.tsx
  src/components/leases/dialogs/renew-lease-dialog.tsx
  src/components/leases/dialogs/terminate-lease-dialog.tsx
  src/components/leases/lease-action-buttons.tsx
  src/components/properties/property-units-table.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(forms): phase 31 review cycle-8 — lease-signature duplicate error toasts
  src/components/leases/detail/lease-header.tsx
  src/components/leases/lease-action-buttons.tsx
  src/components/leases/send-for-signature-button.tsx
  src/components/leases/sign-lease-button.tsx
  src/components/properties/property-form-upload.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(forms): phase 31 — dedup subscription cancel/reactivate error toasts
  src/components/settings/sections/subscription-cancel-section.tsx
  src/hooks/api/use-billing-mutations.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(31-07): phase 31 verification summary — gate met (cycles 9 & 10 clean)
  .planning/phases/31-forms-behavior/31-07-SUMMARY.md
Due: prettier --write

docs(32): phase 32 context — shared UI, data-table & uploads (UIX-01..05, PROP-04/05)
  .planning/phases/32-shared-ui/32-CONTEXT.md
Due: prettier --write

docs(32): phase 32 plans (6) + plan-check PASS
  .planning/ROADMAP.md
  .planning/phases/32-shared-ui/32-01-PLAN.md
  .planning/phases/32-shared-ui/32-02-PLAN.md
  .planning/phases/32-shared-ui/32-03-PLAN.md
  .planning/phases/32-shared-ui/32-04-PLAN.md
  .planning/phases/32-shared-ui/32-05-PLAN.md
  .planning/phases/32-shared-ui/32-06-PLAN.md
Due: prettier --write

fix(search): phase 32 — sanitize-search split + friendly mutation errors (UIX-03, UIX-04)
  src/hooks/api/query-keys/property-keys.ts
  src/hooks/api/query-keys/tenant-keys.ts
  src/hooks/api/query-keys/unit-keys.ts
  src/hooks/api/use-vendor.ts
  src/lib/__tests__/mutation-error-handler.test.ts
  src/lib/__tests__/sanitize-search.test.ts
  src/lib/mutation-error-handler.ts
  src/lib/sanitize-search.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(uploads): phase 32 — upload dedup + honest success + avatar cache-bust (UIX-02, UIX-05)
  src/hooks/__tests__/use-supabase-upload.test.ts
  src/hooks/api/__tests__/use-profile-avatar-mutations.test.tsx
  src/hooks/api/use-profile-avatar-mutations.ts
  src/hooks/use-supabase-upload.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(data-table): phase 32 — filters + pagination actually work (UIX-01)
  src/app/(owner)/analytics/financial/_components/__tests__/lease-table.test.tsx
  src/app/(owner)/analytics/financial/_components/lease-table.tsx
  src/app/(owner)/analytics/property-performance/active-units-table.tsx
  src/app/(owner)/analytics/property-performance/top-properties-table.tsx
  src/app/(owner)/units/page.tsx
  src/components/analytics/lease-insights-section.tsx
  src/components/analytics/maintenance-insights-section.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(properties): phase 32 — remove Duplex + clear-to-null property/unit (PROP-04, PROP-05)
  src/app/(owner)/properties/components/property-transforms.ts
  src/components/properties/__tests__/property-form.test.tsx
  src/components/properties/properties.tsx
  src/components/properties/property-bulk-edit-dialog.tsx
  src/components/properties/property-form.client.tsx
  src/components/properties/property-toolbar.tsx
  src/components/properties/types.ts
  src/components/units/__tests__/unit-form.test.tsx
  src/components/units/unit-form.client.tsx
  src/lib/validation/properties.ts
  src/lib/validation/units.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(vendor,maintenance): phase 32 — clear-to-null on edit (PROP-05)
  src/components/maintenance/__tests__/maintenance-form.test.tsx
  src/components/maintenance/__tests__/vendor-form-dialog.test.tsx
  src/components/maintenance/vendor-form-dialog.tsx
  src/hooks/use-maintenance-form.ts
  src/lib/validation/maintenance.ts
  src/types/domain.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(forms): phase 32 review cycle-1 — author RAISE messages + vendor hourly_rate
  src/components/maintenance/__tests__/vendor-form-dialog.test.tsx
  src/components/maintenance/vendor-form-dialog.tsx
  src/lib/__tests__/mutation-error-handler.test.ts
  src/lib/mutation-error-handler.ts
  src/types/domain.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(data-table): phase 32 review cycle-2 — namespace co-located client tables (UIX-01)
  src/app/(owner)/analytics/property-performance/active-units-table.tsx
  src/app/(owner)/analytics/property-performance/top-properties-table.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(data-table): phase 32 review cycle-3 — namespace maintenance insights table (UIX-01)
  src/components/analytics/maintenance-insights-section.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(32-06): phase 32 verification summary — gate met (cycles 4 & 5 clean)
  .planning/phases/32-shared-ui/32-06-SUMMARY.md
Due: prettier --write

test(avatar): phase 32 — avoid dynamic RegExp in avatar-url assertion (CodeQL)
  src/hooks/api/__tests__/use-profile-avatar-mutations.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(33): phase 33 context — security & delivery config (SEC-01..05)
  .planning/phases/33-security/33-CONTEXT.md
Due: prettier --write

docs(33): revise SEC-04 to trigger approach (prod has cross-owner test residue)
  .planning/phases/33-security/33-CONTEXT.md
Due: prettier --write

docs(33): phase 33 plans (5) + plan-check PASS
  .planning/ROADMAP.md
  .planning/phases/33-security/33-01-PLAN.md
  .planning/phases/33-security/33-02-PLAN.md
  .planning/phases/33-security/33-03-PLAN.md
  .planning/phases/33-security/33-04-PLAN.md
  .planning/phases/33-security/33-05-PLAN.md
Due: prettier --write

feat(security): lease FK owner-validation + e-signature audit guards (SEC-04/05)
  supabase/migrations/20260710060840_sec04_lease_fk_owner_validation.sql
  supabase/migrations/20260710061130_sec05_lease_signature_audit_tamper_guard.sql
Due: none

fix(security): server-side MFA aal2 gate + CSP storage origin + cache hardening (SEC-01/02/03)
  src/app/(auth)/login/page.tsx
  src/lib/__tests__/csp-header.test.ts
  src/lib/supabase/__tests__/mfa-assurance.test.ts
  src/lib/supabase/__tests__/middleware.test.ts
  src/lib/supabase/mfa-assurance.ts
  src/lib/supabase/middleware.ts
  src/proxy.ts
  vercel.json
Due: eslint --fix --no-warn-ignored, prettier --write

test(security): lease FK + signature-audit RLS integration tests (SEC-04/05)
  tests/integration/rls/sec04-lease-fk-ownership.rls.test.ts
  tests/integration/rls/sec05-signature-audit-tamper.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): allow blob: in frame-src so PDF previews render (SEC-02 review c2)
  src/lib/__tests__/csp-header.test.ts
  src/proxy.ts
  vercel.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): lock e-signature audit columns from authenticated (SEC-05 review c2)
  supabase/migrations/20260710070223_sec05_lock_signature_audit_columns_from_authenticated.sql
  tests/integration/rls/sec05-signature-audit-tamper.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(33-05): phase 33 verification summary — gate met (cycles 3 & 4 clean)
  .planning/phases/33-security/33-05-SUMMARY.md
Due: prettier --write

test(security): drive term-lock via lease_status after SEC-05 column lock
  tests/integration/rls/lease-terms-lock.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(security): seed term-lock signed state via service role (SEC-05 col lock)
  tests/integration/rls/lease-terms-lock.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(34): phase 34 context — marketing, blog & SEO surface (MKT-01..05)
  .planning/phases/34-marketing-seo/34-CONTEXT.md
Due: prettier --write

docs(34): phase 34 plans (5) + plan-check PASS
  .planning/ROADMAP.md
  .planning/phases/34-marketing-seo/34-01-PLAN.md
  .planning/phases/34-marketing-seo/34-02-PLAN.md
  .planning/phases/34-marketing-seo/34-03-PLAN.md
  .planning/phases/34-marketing-seo/34-04-PLAN.md
  .planning/phases/34-marketing-seo/34-05-PLAN.md
Due: prettier --write

fix(og): render OG images with hsl instead of oklch (MKT-01)
  src/app/__tests__/design-token-drift.test.ts
  src/app/api/og/compare/[competitor]/route.tsx
  src/app/api/og/features/route.tsx
  src/app/api/og/pricing/route.tsx
  src/app/features/__tests__/page.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): real pagination navigation + category 404/error handling (MKT-02, MKT-03)
  src/app/blog/category/[category]/page.test.tsx
  src/app/blog/category/[category]/page.tsx
  src/components/blog/blog-pagination.test.tsx
  src/components/blog/blog-pagination.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(search): wire /search to real public blog search (MKT-04)
  src/app/search/page.test.tsx
  src/app/search/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): repoint six dead cross-link slugs to real posts (MKT-05)
  src/app/blog/[slug]/blog-post-page.tsx
  src/app/compare/[competitor]/compare-data.ts
  src/components/blog/related-articles.test.tsx
  src/lib/content-links.test.ts
  src/lib/content-links.ts
  tests/integration/content-links-slugs.test.ts
  tests/integration/tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix(search): coerce repeated ?q= array param, don't 500 (MKT-04 review c1)
  src/app/search/page.test.tsx
  src/app/search/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(34-05): phase 34 verification summary — gate met (cycles 2 & 3 clean)
  .planning/phases/34-marketing-seo/34-05-SUMMARY.md
Due: prettier --write

docs(phase-35): synthesize TZ/bulk-import/scripts context for the final v8.0 phase
  .planning/phases/35-tz-hygiene/35-CONTEXT.md
Due: prettier --write

fix(tz): parse and persist date-only values in the local zone (TZ-01)
  src/components/dashboard/components/revenue-area-chart.tsx
  src/components/dashboard/expiring-leases-widget.tsx
  src/components/documents/documents-vault.client.tsx
  src/components/leases/detail/__tests__/lease-detail-utils.test.ts
  src/components/leases/detail/lease-detail-utils.ts
  src/components/leases/wizard/terms-step.tsx
  src/components/maintenance/detail/add-expense-dialog.tsx
  src/components/maintenance/detail/expenses-card.tsx
  src/components/maintenance/detail/maintenance-header-card.tsx
  src/components/maintenance/detail/maintenance-utils.ts
  src/components/maintenance/detail/schedule-dialog.tsx
  src/hooks/api/query-keys/lease-mutation-options.ts
  src/lib/formatters/__tests__/date.test.ts
  src/lib/formatters/date.ts
  src/lib/reports/report-data.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
