Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix(23): use query key factory for template definition load and invalidation
  src/app/(owner)/documents/templates/components/template-definition.test.ts
  src/app/(owner)/documents/templates/components/template-definition.ts
  src/hooks/api/query-keys/template-definition-keys.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(gdpr): validate active leases/payments at deletion request time
  supabase/migrations/20260311210000_request_deletion_validate_owner.sql
Due: none

refactor: remove 22 dead exports and 3 unused files (-990 lines)
  src/components/deferred-section.tsx
  src/hooks/api/query-keys/dashboard-graphql-keys.ts
  src/lib/dom-utils.ts
  src/lib/parsers.ts
  src/lib/security.ts
  src/types/analytics.ts
  src/types/data-table.ts
  src/types/lease-generator.types.ts
  tests/e2e/tests/_archived/examples/auth-fixture-example.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: align pnpm lockfile
  pnpm-lock.yaml
Due: prettier --write

feat(quick-01): add subscription gate to proxy middleware
  pnpm-lock.yaml
  proxy.ts
  src/lib/supabase/__tests__/middleware-routing.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(quick-01): fix select-role redirect and add subscription banner
  src/app/auth/select-role/page.tsx
  src/components/billing/__tests__/subscription-status-banner.test.tsx
  src/components/billing/subscription-status-banner.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: address code review findings on subscription gate
  .planning/STATE.md
  proxy.ts
  src/components/billing/__tests__/subscription-status-banner.test.tsx
  src/components/billing/subscription-status-banner.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore: align package.json dependency versions
  package.json
Due: prettier --write, npm audit --audit-level=moderate

feat(23.1-01): consolidate social proof, fix dark mode, semantic colors, tenant greeting
  pnpm-lock.yaml
  src/app/(auth)/login/page.tsx
  src/app/(tenant)/tenant/tenant-portal-page.tsx
  src/app/about/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/faq/page.tsx
  src/app/help/page.tsx
  src/app/marketing-home.tsx
  src/app/pricing/cancel/page.tsx
  src/app/pricing/complete/page.tsx
  src/app/pricing/page.tsx
  src/app/pricing/pricing-content.tsx
  src/app/pricing/success/page.tsx
  src/components/landing/final-cta-section.tsx
  src/components/landing/hero-section.tsx
  src/components/maintenance/maintenance-view.client.tsx
  src/components/pricing/bento-pricing-section.tsx
  src/components/pricing/portal-trust-signals.tsx
  src/components/sections/premium-cta.tsx
  src/components/sections/stats-showcase.tsx
  src/components/tenant-portal/tenant-stats-cards.tsx
  src/config/social-proof.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(23.1-01): standardize typography-h1 on all page headings
  src/app/(owner)/analytics/overview/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(23.1-01): complete typography and social proof polish plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/23.1-ui-ux-polish/23.1-01-SUMMARY.md
  src/app/(owner)/analytics/financial/financial-charts.tsx
  src/app/(owner)/analytics/financial/revenue-expense-chart.tsx
  src/app/(owner)/analytics/leases/lease-charts.tsx
  src/app/(owner)/analytics/maintenance/maintenance-charts.tsx
  src/app/(owner)/analytics/occupancy/occupancy-charts.tsx
  src/app/(owner)/analytics/property-performance/property-charts.tsx
  src/app/(owner)/units/page.tsx
  src/app/(tenant)/tenant/payments/history/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(23.1-02): complete component consistency and empty states plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/23.1-ui-ux-polish/23.1-02-SUMMARY.md
Due: prettier --write

feat(24-01): rewrite CSV parsing with Papa Parse + Zod validation
  package.json
  pnpm-lock.yaml
  src/components/properties/__tests__/bulk-import-validate-step.test.tsx
  src/components/properties/__tests__/csv-utils.test.ts
  src/components/properties/bulk-import-stepper.tsx
  src/components/properties/bulk-import-validate-step.tsx
  src/components/properties/csv-utils.ts
  src/types/api-contracts.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs(24-01): complete CSV parsing rewrite plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/24-bulk-property-import/24-01-SUMMARY.md
Due: prettier --write

feat(24-02): wire stepper to real PostgREST inserts and update step components
  src/components/properties/bulk-import-confirm-step.tsx
  src/components/properties/bulk-import-stepper.tsx
  src/components/properties/bulk-import-upload-step.tsx
  src/components/properties/bulk-import-validate-step.tsx
  src/types/api-contracts.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(24-02): update component tests for new bulk import APIs
  src/components/properties/__tests__/bulk-import-confirm-step.test.tsx
  src/components/properties/__tests__/bulk-import-validate-step.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(24-02): complete bulk import stepper wiring plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/24-bulk-property-import/24-02-SUMMARY.md
Due: prettier --write

docs(25): create phase plan
  .planning/ROADMAP.md
  .planning/phases/25-maintenance-photos-stripe-dashboard/25-01-PLAN.md
  .planning/phases/25-maintenance-photos-stripe-dashboard/25-02-PLAN.md
Due: prettier --write

feat(25-01): add maintenance_request_photos table, RLS policies, and storage bucket
  src/types/supabase.ts
  supabase/migrations/20260318120000_maintenance_request_photos.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat(25-02): add Stripe Express Dashboard login link access
  src/app/(owner)/settings/__tests__/settings-page.test.tsx
  src/components/connect/connect-account-status.tsx
  src/hooks/api/mutation-keys.ts
  src/hooks/api/use-stripe-connect.ts
  supabase/functions/stripe-connect/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(25-01): implement maintenance photo upload and display
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/25-maintenance-photos-stripe-dashboard/25-02-SUMMARY.md
  src/app/(tenant)/tenant/maintenance/new/page.tsx
  src/components/maintenance/detail/maintenance-details.client.tsx
  src/components/maintenance/detail/photos-card.tsx
  src/hooks/api/query-keys/maintenance-keys.ts
  src/hooks/api/use-tenant-maintenance.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(25-01): complete maintenance photos plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/25-maintenance-photos-stripe-dashboard/25-01-SUMMARY.md
Due: prettier --write

chore: complete v1.3 Stub Elimination milestone
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/RETROSPECTIVE.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.3-REQUIREMENTS.md
  .planning/milestones/v1.3-ROADMAP.md
Due: prettier --write

fix(24): prevent double-click on bulk import button
  src/components/properties/bulk-import-stepper.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore: rewrite CLAUDE.md for current project state and UI polish
  CLAUDE.md
  src/app/about/page.tsx
  src/app/globals.css
  src/app/marketing-home.tsx
  src/app/privacy/page.tsx
  src/app/resources/page.tsx
  src/app/security-policy/page.tsx
  src/app/support/page.tsx
  src/app/terms/page.tsx
  src/components/layout/navbar.tsx
  src/components/layout/navbar/navbar-desktop-nav.tsx
  src/components/sections/logo-cloud.tsx
  src/providers/auth-provider.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore: add msw for network-level test mocking
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

feat(test): add MSW infrastructure with PostgREST handlers and consolidated query mock
  src/test/__tests__/msw-smoke.test.ts
  src/test/mocks/msw/handlers.ts
  src/test/mocks/msw/handlers/leases.ts
  src/test/mocks/msw/handlers/maintenance.ts
  src/test/mocks/msw/handlers/payments.ts
  src/test/mocks/msw/handlers/properties.ts
  src/test/mocks/msw/handlers/rpc.ts
  src/test/mocks/msw/handlers/supabase-auth.ts
  src/test/mocks/msw/handlers/tenants.ts
  src/test/mocks/msw/handlers/units.ts
  src/test/mocks/msw/server.ts
  src/test/mocks/msw/utils.ts
  src/test/mocks/supabase-query-mock.ts
  src/test/msw-polyfill.ts
  vitest.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(test): replace duplicated query chain factories with shared createQueryChain
  src/hooks/api/__tests__/use-lease.test.tsx
  src/hooks/api/__tests__/use-properties.test.tsx
  src/hooks/api/__tests__/use-tenant.test.tsx
  src/hooks/api/query-keys/blog-keys.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test: add ErrorPage and NotFoundPage component tests
  src/components/shared/error-page.test.tsx
  src/components/shared/not-found-page.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test: remove placeholder assert(true) tests from Edge Functions
  supabase/functions/tests/export-user-data-test.ts
  supabase/functions/tests/newsletter-subscribe-test.ts
  supabase/functions/tests/send-tenant-invitation-test.ts
  supabase/functions/tests/stripe-autopay-charge-test.ts
  supabase/functions/tests/tenant-invitation-accept-test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test: add Playwright visual regression tests for key pages
  tests/e2e/tests/visual/visual-regression.e2e.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(ci): remove hardcoded pnpm version to match packageManager field
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
  tests/e2e/playwright.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(e2e): skip smoke tests gracefully when credentials are missing
  tests/e2e/tests/smoke/critical-paths.smoke.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: add Docker setup with standalone Next.js output
  .dockerignore
  Dockerfile
  next.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): resolve all 21 GitHub security alerts
  package.json
  pnpm-lock.yaml
  public/sw.js
  src/lib/templates/lease-template.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix(deps): patch smol-toml DoS vulnerability (GHSA-v3rj-xjv7-4jmq)
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

fix(db): backfill public.users from auth.users to fix FK constraint
  supabase/migrations/20260330143506_backfill_public_users.sql
Due: none

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
