Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

refactor: update SWC compatibility settings and improve type definitions in StripeDataService
  .npmrc
  apps/backend/src/billing/stripe-data.service.ts
  package-lock.json
  package.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

feat: integrate Doppler CLI for environment management and update build scripts
  .doppler.yaml
  .github/workflows/ci-cd.yml
  .gitignore
  .vercelignore
  package.json
Due: prettier --write, npm audit --audit-level=moderate

refactor: rename SUPABASE_SERVICE_ROLE_KEY to SERVICE_ROLE_KEY across the codebase
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/config/app-config.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/config/env.validation.ts
  apps/backend/src/config/fastify.config.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/health/health.controller.ts
  apps/backend/src/health/supabase.health.ts
  apps/backend/src/shared/guards/auth.guard.ts
  apps/backend/src/shared/services/token-validation.service.ts
  scripts/verify-deployment.sh
Due: eslint --fix --no-warn-ignored, prettier --write

chore: increase CI/CD build timeout to 20 minutes and add lint check step
  .github/workflows/ci-cd.yml
  .playwright-mcp/automation-flow-react-spring.png
  .playwright-mcp/homepage-styling-verification.png
  .playwright-mcp/middleware-test-root- USER LIKES THIS.png
  .playwright-mcp/page-2025-09-08T07-37-58-873Z.png
  .playwright-mcp/react-spring-animations.png
  .playwright-mcp/real-shadcn-dashboard-01.png
  .playwright-mcp/signup-final-with-padding.png
  .playwright-mcp/signup-fixed-no-duplicate.png
  .playwright-mcp/signup-form-filled.png
  .playwright-mcp/signup-page-with-image-right - USER LIKES THIS.png
  .playwright-mcp/tenants-audit-verification- USER LIKE THIS.png
  .playwright-mcp/tenants-page-consistency-USER LIKES THIS.png
Due: prettier --write

feat: update build command to use Doppler for environment management in Vercel configuration
  apps/frontend/vercel.json
  vercel.json
Due: prettier --write

fix: update build command and output directory in Vercel configuration
  apps/frontend/vercel.json
  vercel.json
Due: prettier --write

fix: remove Doppler command from build script in Vercel configuration
  apps/frontend/vercel.json
  vercel.json
Due: prettier --write

ci(doppler): support personal token auth and use project/config secrets; avoid nested doppler run by calling scripts directly
  .github/workflows/ci-cd.yml
Due: prettier --write

fix(stripe): avoid module-scope Stripe init in API route; lazy-init in handler and force node runtime
  apps/frontend/src/app/api/stripe/create-checkout-session/route.ts
Due: eslint --fix --no-warn-ignored, prettier --write

ci(doppler): fallback to repository variables if secrets are not set
  .github/workflows/ci-cd.yml
Due: prettier --write

ci: fix schema warnings; move on triggers to top, add branch filters for PRs, remove top-level secret envs, and avoid invalid context usage in run
  .github/workflows/ci-cd.yml
Due: prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
