Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: auth hook defaults to OWNER instead of TENANT
  supabase/migrations/20251126030000_fix_auth_hook_default_to_owner.sql
  supabase/migrations/20251126030001_fix_security_definer_functions.sql
Due: none

fix: resolve property images RLS issues and hydration mismatch
  apps/backend/src/app.module.ts
  apps/backend/src/config/app-config.service.ts
  apps/backend/src/config/config.schema.spec.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/modules/properties/properties.controller.ts
  apps/backend/src/modules/properties/services/property-bulk-import.service.ts
  apps/backend/src/modules/properties/services/property-images.service.ts
  apps/e2e-tests/tests/helpers/modal-helpers.ts
  apps/e2e-tests/tests/helpers/ui-validation-helpers.ts
  apps/e2e-tests/tests/owner/owner-properties.e2e.spec.ts
  apps/frontend/src/app/(owner)/properties/page.tsx
  apps/frontend/src/app/(owner)/properties/properties-grid.client.tsx
  apps/frontend/src/app/(owner)/properties/units/columns.tsx
  apps/frontend/src/hooks/use-offline-data.ts
  supabase/migrations/20251126140000_add_service_role_grants.sql
Due: eslint --fix --no-warn-ignored, prettier --write

security: fix body-parser DoS vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

fix: resolve Vercel build issues and unify supabase-js version
  apps/backend/package.json
  apps/backend/src/modules/billing/stripe-connect.controller.ts
  apps/backend/src/modules/billing/webhook-processor.service.ts
  apps/backend/src/modules/tenants/tenant-query.service.ts
  apps/frontend/next.config.ts
  apps/frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: address PR review issues for security and code quality
  apps/backend/src/modules/billing/stripe-connect.controller.ts
  apps/backend/src/modules/billing/webhook-processor.service.spec.ts
  apps/backend/src/modules/billing/webhook-processor.service.ts
  apps/backend/src/modules/tenants/tenant-query.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: address PR review type safety and code quality issues
  apps/backend/src/modules/billing/stripe-connect.controller.spec.ts
  apps/backend/src/modules/billing/stripe-connect.controller.ts
  apps/backend/src/modules/billing/webhook-processor.service.ts
  apps/backend/src/modules/tenants/tenant-query.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: address PR review issues - DB-level filtering and input validation
  apps/backend/src/config/config.schema.ts
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/modules/billing/stripe-connect.controller.spec.ts
  apps/backend/src/modules/billing/stripe-connect.controller.ts
  apps/backend/src/modules/tenants/tenant-query.service.ts
  apps/backend/src/security/security.controller.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: rename env vars for Doppler compatibility
  apps/backend/src/config/app-config.service.ts
  apps/backend/src/config/config.schema.spec.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/modules/tenants/auth-webhook.controller.ts
  apps/backend/test/__tests__/test-environment.spec.ts
  apps/backend/test/test-environment.ts
  apps/e2e-tests/auth-helpers.ts
  apps/frontend/src/config/env.ts
  apps/frontend/src/test/setup.ts
  apps/frontend/src/test/unit-setup.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove unused HTTP auth webhook controller
  apps/backend/src/config/app-config.service.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/modules/tenants/auth-webhook.controller.ts
  apps/backend/src/modules/tenants/tenants.module.ts
  apps/backend/src/types/webhooks.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
