Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

feat(28-02): create Stripe customer lifecycle integration test
  apps/backend/test/integration/stripe-customer-lifecycle.integration.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(28-02): create Stripe subscription lifecycle integration test
  apps/backend/test/integration/stripe-subscription-lifecycle.integration.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(28-02): create Stripe Connect integration test
  apps/backend/test/integration/stripe-connect.integration.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(28-02): complete Real Stripe Integration Tests plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-real-service-integration/28-02-SUMMARY.md
Due: prettier --write

feat(29-01): create SentryContextMiddleware for tenant context
  apps/backend/src/shared/middleware/sentry-context.middleware.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(29-01): enhance Sentry beforeSend with data scrubbing
  apps/backend/src/instrument.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(29-01): add Sentry transaction naming for webhook jobs
  apps/backend/src/modules/billing/webhooks/webhook-queue.processor.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(29-01): register SentryContextMiddleware in app module
  apps/backend/src/app.module.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(29-01): complete Sentry Backend Integration Enhancement plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/29-sentry-backend/29-01-PLAN.md
  .planning/phases/29-sentry-backend/29-01-SUMMARY.md
Due: prettier --write

feat(30-01): add Sentry user context on auth state change
  apps/frontend/src/providers/auth-provider.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(30-01): add data scrubbing to Sentry client config
  apps/frontend/sentry.client.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(30-01): add data scrubbing to Sentry server config
  apps/frontend/sentry.server.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(30-01): add TanStack Query error capture to Sentry
  apps/frontend/src/providers/query-provider.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(30-01): complete Sentry Frontend Integration Enhancement plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/30-sentry-frontend/30-01-PLAN.md
  .planning/phases/30-sentry-frontend/30-01-SUMMARY.md
Due: prettier --write

docs(31): create phase plan for Synthetic Monitoring
  .planning/phases/31-synthetic-monitoring/31-01-PLAN.md
Due: prettier --write

feat(31-01): create post-deploy smoke test script
  scripts/smoke-test.sh
Due: none

chore(31-01): add test:smoke script to package.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

docs(31-01): create monitoring runbook documentation
  .planning/docs/MONITORING-RUNBOOK.md
Due: prettier --write

docs(31-01): complete synthetic monitoring phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/31-synthetic-monitoring/31-01-SUMMARY.md
Due: prettier --write

docs(32): create phase plan for frontend test restoration
  .planning/ROADMAP.md
  .planning/phases/32-frontend-test-restoration/32-01-PLAN.md
Due: prettier --write
