Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: remove unused imports, fix netIncome calculation, and improve type safety
  apps/backend/src/modules/leases/leases.service.ts
  apps/frontend/src/app/(protected)/manage/financials/income-statement/page.tsx
  apps/frontend/src/hooks/api/__tests__/use-property-images.integration.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove lint/typecheck dependencies from build tasks to ensure Railway builds complete
  turbo.json
Due: prettier --write

fix: add explicit build verification to Dockerfile to diagnose Railway deployment failures
  Dockerfile
Due: none

fix: type safety, SQL security, and build improvements
  Dockerfile
  apps/backend/nest-cli.json
  apps/backend/package.json
  apps/backend/tsconfig.json
  apps/frontend/src/hooks/api/use-properties.ts
  packages/shared/src/types/supabase.ts
  packages/shared/src/validation/contact.ts
  supabase/migrations/20251028150000_create_dashboard_materialized_view.sql
  supabase/migrations/20251029_create_dashboard_stats_history.sql
  supabase/migrations/20251029_fix_email_queue_permissions.sql
  supabase/migrations/20251029_setup_dashboard_cron_jobs.sql
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: revert backend build changes to restore working configuration
  Dockerfile
  apps/backend/nest-cli.json
  apps/backend/package.json
  apps/backend/tsconfig.json
Due: prettier --write, npm audit --audit-level=moderate

fix: add explicit date cast in cleanup_dashboard_history for reliable comparison
  supabase/migrations/20251029_create_dashboard_stats_history.sql
Due: none

fix: include test directory in backend TypeScript compilation
  apps/backend/tsconfig.json
Due: prettier --write

fix: ensure session established before rendering property creation form
  apps/frontend/src/app/(protected)/manage/properties/new/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: align testing with Next.js docs and replace /dashboard routes
  apps/backend/src/emails/email-templates.ts
  apps/backend/src/modules/notifications/notifications.service.ts
  apps/frontend/next-sitemap.config.js
  apps/frontend/package.json
  apps/frontend/public/robots.txt
  apps/frontend/src/app/(protected)/manage/analytics/page.tsx
  apps/frontend/src/app/(protected)/tenant/onboarding/page.tsx
  apps/frontend/src/app/auth/post-checkout/page.tsx
  apps/frontend/src/app/pricing/cancel/page.tsx
  apps/frontend/src/app/pricing/complete/page.tsx
  apps/frontend/src/app/pricing/success/page.tsx
  apps/frontend/src/app/stripe/success/page.tsx
  apps/frontend/src/components/auth/update-password-form.tsx
  apps/frontend/src/components/layout/navbar.tsx
  apps/frontend/src/hooks/api/use-supabase-auth.ts
  apps/frontend/src/hooks/use-contextual-metrics.ts
  apps/frontend/src/test/jest.d.ts
  apps/frontend/src/test/jest.setup.ts
  apps/frontend/src/test/utils/test-mocks.ts
  apps/frontend/tsconfig.json
  apps/frontend/vercel.json
  apps/frontend/vitest.config.js
  packages/shared/src/utils/billing.ts
  pnpm-lock.yaml
  supabase/config.toml
  supabase/migrations/20250903_stripe_ultra_native_rpc.sql
  supabase/migrations/20251020_email_notifications.sql
  supabase/migrations/20251029150001_create_dashboard_materialized_view.sql
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: update Supabase and dependencies to resolve JWT authentication
  apps/backend/package.json
  apps/backend/tsconfig.json
  apps/frontend/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

refactor: rename dashboard API endpoints to /api/v1/manage for consistency
  .nvmrc
  apps/backend/src/modules/dashboard/dashboard.controller.ts
  apps/frontend/src/hooks/api/use-dashboard.ts
  apps/frontend/src/lib/api/dashboard-server.ts
  packages/database/package.json
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
