Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

resolve: complete merge of main branch with production fixes
  packages/shared/src/types/backend-domain.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: use workspace protocol for internal dependencies
  packages/database/package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

fix: align pnpm version to 10.0.0 across all configs
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: add missing @types/react-dom to shared package
  packages/shared/package.json
  packages/shared/src/lib/frontend-logger.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: critical security vulnerabilities and build errors
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/billing/stripe.controller.ts
  apps/backend/src/shared/guards/auth.guard.ts
  apps/frontend/src/hooks/api/financial.ts
  apps/frontend/src/middleware.ts
  test-vscode-inputs.html
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve shared package build issues and centralize types
  apps/frontend/src/components/pricing/stripe-pricing-section.tsx
  packages/shared/package.json
  packages/shared/src/types/index.ts
  packages/shared/tsconfig.build.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

add: comprehensive Stripe controller security tests
  apps/backend/src/billing/stripe.controller.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: critical security vulnerabilities and build errors (cherry-picked from main)
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/billing/stripe.controller.ts
  apps/backend/src/shared/guards/auth.guard.ts
  apps/frontend/src/hooks/api/financial.ts
  apps/frontend/src/middleware.ts
  test-vscode-inputs.html
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve shared package build issues and centralize types (cherry-picked from main)
  apps/frontend/src/components/pricing/stripe-pricing-section.tsx
  packages/shared/package.json
  packages/shared/src/types/index.ts
  packages/shared/tsconfig.build.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: add missing @types/react-dom to shared package (cherry-picked from main)
  packages/shared/src/lib/frontend-logger.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write

fix: align pnpm version to 10.0.0 across all configs (cherry-picked from main)
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: use workspace protocol for internal dependencies (cherry-picked from main)
  packages/database/package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

fix: remove non-existent health types import to resolve build errors
  packages/shared/src/types/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve all TypeScript build errors and import path issues
  apps/backend/package.json
  apps/backend/src/auth/auth-webhook.controller.ts
  apps/backend/src/dashboard/dashboard.controller.ts
  apps/backend/src/database/storage.service.ts
  apps/backend/src/leases/leases.service.ts
  apps/backend/src/main.ts
  apps/backend/src/notifications/notifications.service.ts
  apps/backend/src/pdf/template-helpers.ts
  apps/backend/src/shared/decorators/current-user.decorator.ts
  apps/backend/src/shared/decorators/roles.decorator.ts
  apps/backend/src/tenants/tenants.service.ts
  apps/backend/src/types/fastify.d.ts
  apps/backend/tsconfig.build.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: remove missing anti-duplication ESLint plugin
  packages/shared/src/types/core.ts
  packages/shared/src/types/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve lint errors for control character regex and env var declaration
  apps/backend/src/billing/stripe.controller.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve Jest configuration and test failures in backend
  apps/backend/.lintstagedrc.js
  apps/backend/jest.config.js
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/src/billing/stripe.controller.spec.ts
  apps/backend/src/billing/stripe.controller.ts
  eslint.config.js
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve backend test failures and ESLint errors
  .lintstagedrc.js
  apps/backend/.lintstagedrc.js
  apps/backend/jest.config.js
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/src/billing/stripe.controller.spec.ts
  apps/backend/src/billing/stripe.controller.ts
  debug-sanitization.js
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove non-existent anti-duplication plugin import
  apps/frontend/eslint.config.mjs
Due: eslint --fix --no-warn-ignored, prettier --write

fix: regenerate pnpm-lock.yaml to resolve merge conflicts
  pnpm-lock.yaml
Due: prettier --write

fix: add missing eslint-config-prettier dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

fix: resolve TypeScript duplicate export errors in shared package
  packages/shared/src/index.ts
  packages/shared/src/types/backend-domain.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: properly reference Turbo env vars in vercel.json build config
  vercel.json
Due: prettier --write

fix: resolve lint errors and add missing env vars to turbo.json
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/src/billing/stripe.controller.spec.ts
  apps/backend/src/billing/stripe.controller.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove eslint-disable comments and properly type test mocks
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/src/billing/stripe.controller.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
