Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: resolve console errors - dead links, toLowerCase crashes, Bearer undefined
  apps/frontend/src/components/billing/payment-methods-list.tsx
  apps/frontend/src/components/dashboard/dashboard.tsx
  apps/frontend/src/components/dashboard/portfolio-overview-section.tsx
  apps/frontend/src/components/financials/tax-documents.tsx
  apps/frontend/src/components/leases/lease-list.tsx
  apps/frontend/src/components/leases/lease-templates.tsx
  apps/frontend/src/components/maintenance/maintenance-list.tsx
  apps/frontend/src/components/payments/payments-list.tsx
  apps/frontend/src/components/properties/properties.tsx
  apps/frontend/src/components/shell/__tests__/main-nav.test.tsx
  apps/frontend/src/components/shell/app-shell.tsx
  apps/frontend/src/components/shell/main-nav.tsx
  apps/frontend/src/lib/api-request.ts
Due: eslint --fix --no-warn-ignored, prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier --write

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier --write

Add Claude Code GitHub Workflow (#512)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier --write

Chore/remove deprecated rpc methods (#511)
  apps/backend/src/instrument.ts
  apps/backend/src/modules/late-fees/late-fees.controller.ts
  apps/backend/src/modules/late-fees/late-fees.service.spec.ts
  apps/backend/src/modules/late-fees/late-fees.service.ts
  apps/backend/src/modules/properties/properties.controller.spec.ts
  apps/backend/src/modules/properties/properties.controller.ts
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/backend/src/modules/properties/properties.service.ts
  apps/backend/src/modules/rent-payments/rent-payments.service.ts
  apps/frontend/sentry.edge.config.ts
  apps/frontend/src/app/(owner)/dashboard/page.tsx
  apps/frontend/src/app/(owner)/leases/[id]/edit/page.tsx
  apps/frontend/src/app/(owner)/maintenance/[id]/edit/page.tsx
  apps/frontend/src/app/(owner)/properties/[id]/edit/page.tsx
  apps/frontend/src/app/(owner)/properties/page.tsx
  apps/frontend/src/app/(owner)/tenants/page.tsx
  apps/frontend/src/app/(tenant)/tenant/tenant-edit-form.client.tsx
  apps/frontend/src/app/error.tsx
  apps/frontend/src/app/global-error.tsx
  apps/frontend/src/components/pricing/customer-portal.tsx
  apps/frontend/src/hooks/api/__tests__/use-properties.test.tsx
  apps/frontend/src/hooks/api/__tests__/use-tenant.test.tsx
  apps/frontend/src/hooks/api/query-keys/property-keys.ts
  apps/frontend/src/hooks/api/use-properties.ts
  apps/frontend/src/hooks/api/use-tenant.ts
  supabase/migrations/20260206090000_exclude_inactive_from_dashboard_stats.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix: address PR #513 code review findings for type safety and test coverage
  apps/backend/jest.config.js
  apps/frontend/src/components/leases/lease-list.tsx
  apps/frontend/src/components/shell/__tests__/main-nav.test.tsx
  apps/frontend/src/hooks/api/__tests__/property-mutations.test.tsx
  apps/frontend/src/lib/api-request.ts
  packages/shared/src/validation/lease-wizard.schemas.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write

chore: update dependencies to match lockfile
  apps/backend/package.json
  apps/e2e-tests/package.json
  apps/frontend/package.json
  package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  packages/testing/package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: resolve TypeScript errors in Stripe services
  apps/backend/src/shared/guards/stripe-customer-ownership.guard.ts
  apps/backend/src/shared/stripe-client.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Enhance/sidebar and user profile UI (#513)
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/shared/guards/stripe-customer-ownership.guard.ts
  apps/backend/src/shared/stripe-client.service.ts
  apps/e2e-tests/package.json
  apps/frontend/package.json
  apps/frontend/src/components/billing/payment-methods-list.tsx
  apps/frontend/src/components/dashboard/dashboard.tsx
  apps/frontend/src/components/dashboard/portfolio-overview-section.tsx
  apps/frontend/src/components/financials/tax-documents.tsx
  apps/frontend/src/components/leases/lease-list.tsx
  apps/frontend/src/components/leases/lease-templates.tsx
  apps/frontend/src/components/maintenance/maintenance-list.tsx
  apps/frontend/src/components/payments/payments-list.tsx
  apps/frontend/src/components/properties/properties.tsx
  apps/frontend/src/components/shell/__tests__/main-nav.test.tsx
  apps/frontend/src/components/shell/app-shell.tsx
  apps/frontend/src/components/shell/main-nav.tsx
  apps/frontend/src/hooks/api/__tests__/property-mutations.test.tsx
  apps/frontend/src/lib/api-request.ts
  package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  packages/shared/src/validation/lease-wizard.schemas.ts
  packages/testing/package.json
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: resolve Headers API conflicts and API contract mismatch causing 400 errors
  .typos.toml
  CHANGELOG.md
  apps/backend/src/modules/properties/properties.controller.spec.ts
  apps/backend/src/modules/properties/properties.controller.ts
  apps/frontend/src/lib/api-request.ts
  cliff.toml
  scripts/health-check.sh
Due: eslint --fix --no-warn-ignored, prettier --write

fix(deps): update qs override to >=6.14.2 to patch CVE-2026-2391
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

feat(property-form): enable image upload during property creation
  apps/frontend/src/components/properties/__tests__/property-form.test.tsx
  apps/frontend/src/components/properties/property-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(properties): prevent mobile and desktop forms from rendering simultaneously
  apps/frontend/src/app/(owner)/properties/new/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(e2e): add property creation with images upload test
  apps/e2e-tests/tests/properties/property-image-upload.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(seed): create new seed file matching current schema
  supabase/seed.sql
Due: none

fix(e2e): resolve property creation test failures with authentication and configuration fixes
  apps/backend/src/modules/properties/properties.controller.ts
  apps/e2e-tests/playwright.config.ts
  apps/e2e-tests/tests/properties/property-image-upload.spec.ts
  apps/frontend/src/components/properties/property-form.client.tsx
  packages/shared/src/validation/properties.ts
  supabase/seed.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat: Enable image upload during property creation (#514)
  apps/backend/src/modules/properties/properties.controller.ts
  apps/e2e-tests/playwright.config.ts
  apps/e2e-tests/tests/properties/property-image-upload.spec.ts
  apps/frontend/src/app/(owner)/properties/new/page.tsx
  apps/frontend/src/components/properties/__tests__/property-form.test.tsx
  apps/frontend/src/components/properties/property-form.client.tsx
  packages/shared/src/validation/properties.ts
  supabase/seed.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(e2e): clean up debug logs and fix auth injection for property creation tests
  apps/backend/src/modules/properties/properties.controller.ts
  apps/e2e-tests/auth-helpers.ts
  apps/e2e-tests/tests/properties/property-image-upload.spec.ts
  apps/frontend/src/components/properties/property-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(e2e): fix all 4 property image upload tests
  apps/e2e-tests/tests/properties/property-image-upload.spec.ts
  apps/frontend/next.config.ts
  apps/frontend/src/components/properties/property-select-card.tsx
  supabase/migrations/20260218032800_fix_property_images_storage_rls.sql
  supabase/migrations/20260218035300_fix_property_images_table_rls.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs: add execution plans for phases 34-37 (v5.0 production hardening)
  .planning/ROADMAP.md
  .planning/phases/34-stripe-connect/34-01-PLAN.md
  .planning/phases/35-subscription-enforcement/35-01-PLAN.md
  .planning/phases/36-tenant-onboarding/36-01-PLAN.md
  .planning/phases/37-financial-wiring/37-01-PLAN.md
Due: prettier --write

fix(seed): correct user_type for E2E test owner account
  .planning/phases/33-smoke-test/33-01-SUMMARY.md
  .planning/phases/33-smoke-test/SMOKE-TEST-RESULTS.md
  supabase/seed.sql
Due: prettier --write

feat(billing): enforce plan-based property and tenant limits
  .planning/phases/35-subscription-enforcement/35-01-SUMMARY.md
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/backend/src/modules/properties/properties.service.ts
  apps/backend/src/modules/tenants/__tests__/tenant-platform-invitation.property.spec.ts
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.spec.ts
  apps/backend/src/modules/tenants/tenant-platform-invitation.service.ts
  packages/shared/src/types/supabase.ts
  supabase/migrations/20260218035300_fix_property_images_table_rls.sql
  supabase/migrations/20260218120000_fix_plan_limits_real_tiers.sql
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
