Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

feat: add grid snapping and window edge constraints to maintenance kanban
  apps/frontend/src/app/(protected)/manage/maintenance/maintenance-kanban.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve production crash loop - NestJS dependency injection errors
  apps/backend/src/app.module.ts
  apps/backend/src/cache/cache.module.ts
  apps/backend/src/context/context.module.ts
  apps/backend/src/modules/contact/contact.module.ts
  apps/backend/src/modules/contact/contact.service.ts
  apps/backend/src/modules/dashboard/dashboard.module.ts
  apps/backend/src/rate-limiting/rate-limiting.module.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: address PR feedback - type safety, error handling, and validation
  .gitignore
  apps/backend/src/app.module.ts
  apps/backend/src/config/app-config.service.ts
  apps/backend/src/modules/email/email.service.ts
  apps/backend/src/modules/owner-dashboard/analytics/analytics.controller.ts
  apps/backend/src/modules/tenant-portal/tenant-portal.module.ts
  apps/backend/src/modules/tenants/tenant-invitation.service.ts
  apps/backend/src/shared/guards/property-ownership.guard.ts
  apps/frontend/src/hooks/api/use-auth.ts
  apps/frontend/src/hooks/api/use-owner-dashboard.ts
  packages/shared/src/validation/leases.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: production readiness - DI, security, and ownership verification
  apps/backend/src/app.module.ts
  apps/backend/src/modules/billing/stripe.module.ts
  apps/backend/src/modules/email/email.service.ts
  apps/backend/src/modules/tenants/tenant-invitation.service.ts
  apps/backend/src/shared/guards/property-ownership.guard.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs: add complete Texas lease agreement form structure
  docs/features/LEASE-FORM-STRUCTURE.md
Due: prettier --write

prom service fix
  apps/backend/src/modules/billing/stripe.module.ts
  apps/backend/src/modules/email/email.service.ts
  apps/backend/src/modules/tenants/tenant-invitation.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

pull request review resolutions
  apps/backend/src/config/app-config.service.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/modules/billing/stripe-webhook.listener.ts
  apps/backend/src/modules/billing/stripe.module.ts
  apps/backend/src/modules/email/email.service.ts
  apps/backend/src/modules/leases/leases.controller.ts
  apps/backend/src/modules/leases/leases.service.ts
  apps/backend/src/modules/maintenance/maintenance.service.ts
  apps/backend/src/modules/notifications/failed-notifications.service.ts
  apps/backend/src/modules/notifications/notifications.service.ts
  apps/backend/src/modules/payment-methods/payment-methods.service.ts
  apps/backend/src/modules/properties/properties.controller.ts
  apps/backend/src/modules/properties/properties.service.ts
  apps/backend/src/modules/tenants/tenant-invitation.service.ts
  apps/backend/src/modules/tenants/tenants.controller.ts
  apps/backend/src/modules/tenants/tenants.service.ts
  apps/backend/src/modules/units/units.controller.ts
  apps/backend/src/modules/units/units.service.ts
  apps/backend/src/test-utils/mocks.ts
  apps/frontend/src/hooks/api/use-maintenance.ts
  apps/frontend/src/hooks/api/use-properties.ts
  apps/frontend/src/hooks/api/use-unit.ts
  apps/frontend/src/lib/supabase/middleware.ts
  apps/frontend/src/test/utils/test-data.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: formatting and validate script issues
  apps/backend/src/modules/billing/stripe-webhook.listener.ts
  package.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: resolve StripeWebhookListener dependency injection error
  apps/backend/src/modules/billing/stripe.module.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: make PrometheusService optional injection per official NestJS pattern
  apps/backend/src/modules/billing/stripe-webhook.controller.ts
  apps/backend/src/modules/billing/stripe-webhook.listener.ts
  apps/backend/src/modules/billing/stripe.module.ts
  apps/backend/src/modules/billing/webhook-retry.service.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: metrics security, stats consolidation, and tenant portal TypeScript fixes
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/modules/billing/stripe.module.ts
  apps/backend/src/modules/metrics/metrics.controller.ts
  apps/backend/src/modules/metrics/metrics.module.ts
  apps/backend/src/modules/metrics/metrics.service.ts
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/frontend/src/app/(protected)/tenant/documents/page.tsx
  apps/frontend/src/app/(protected)/tenant/onboarding/page.tsx
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: resolve TypeScript and linting errors across codebase
  apps/backend/global.d.ts
  apps/backend/package.json
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/backend/src/modules/tenants/tenants.service.ts
  apps/backend/test/test-bed.utils.ts
  apps/frontend/src/app/(protected)/tenant/documents/page.tsx
  apps/frontend/src/app/(protected)/tenant/layout.tsx
  apps/frontend/src/app/(protected)/tenant/page.tsx
  apps/frontend/src/app/(protected)/tenant/profile/page.tsx
  apps/frontend/src/hooks/use-user-profile.ts
  packages/shared/src/types/supabase-generated.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate
