Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

refactor: remove deprecated legacy redirects and fix internal route references
  apps/e2e-tests/tests/auth-nextjs16-middleware.spec.ts
  apps/e2e-tests/tests/route-verification.spec.ts
  apps/frontend/next.config.ts
  apps/frontend/src/__tests__/foundation/auth-redirect.test.ts
  apps/frontend/src/app/(auth)/login/page.tsx
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write

docs(55): create gap closure plan 55-04 for remaining NestJS PDF callsites
  .planning/ROADMAP.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-04-PLAN.md
Due: prettier --write

feat(55-04): export callGeneratePdfFromHtml helper + migrate reports and dashboard PDF callsites
  apps/frontend/src/app/(owner)/reports/page.tsx
  apps/frontend/src/components/dashboard/dashboard-filters.tsx
  apps/frontend/src/hooks/api/use-reports.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(55-04): migrate lease-template-builder PDF preview to generate-pdf Edge Function
  apps/frontend/src/components/leases/template/lease-template-builder.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(55-04): extend generate-pdf EF with leaseId mode + migrate send-for-signature-button
  apps/frontend/src/components/leases/send-for-signature-button.tsx
  supabase/functions/generate-pdf/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(55-04): create SUMMARY, update STATE and ROADMAP for plan 55-04 completion
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-04-SUMMARY.md
Due: prettier --write

docs(phase-55): complete phase execution — PDF + DocuSeal Edge Functions fully migrated
  .planning/ROADMAP.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-VERIFICATION.md
Due: prettier --write

feat(50-01): Supabase anon-key clients + PostgREST feature flag helper
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/50-infrastructure-auth-foundation-user-profile-crud/50-01-SUMMARY.md
  apps/frontend/src/env.ts
  apps/frontend/src/lib/postgrest-flag.ts
  apps/frontend/src/lib/supabase/client.ts
  apps/frontend/src/lib/supabase/server.ts
  apps/frontend/src/test/unit-setup.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(50-02): migrate use-profile.ts and use-auth.ts to dual-path PostgREST/NestJS
  apps/frontend/src/hooks/api/use-auth.ts
  apps/frontend/src/hooks/api/use-profile.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(50-02): create summary and mark ROADMAP complete
  .planning/ROADMAP.md
  .planning/phases/50-infrastructure-auth-foundation-user-profile-crud/50-02-SUMMARY.md
Due: prettier --write

feat(50-03): migrate use-sessions.ts to dual-path PostgREST/NestJS
  apps/frontend/src/hooks/api/use-sessions.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(50-03): migrate use-emergency-contact.ts to dual-path PostgREST/NestJS
  apps/frontend/src/hooks/api/use-emergency-contact.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(50-03): migrate use-sessions.ts + use-emergency-contact.ts to dual-path PostgREST/NestJS
  .planning/STATE.md
  .planning/phases/50-infrastructure-auth-foundation-user-profile-crud/50-03-SUMMARY.md
Due: prettier --write

feat(50-04): migrate use-notifications.ts + use-owner-notification-settings.ts to dual-path PostgREST/NestJS
  .planning/phases/50-infrastructure-auth-foundation-user-profile-crud/50-04-SUMMARY.md
  apps/frontend/src/hooks/api/use-notifications.ts
  apps/frontend/src/hooks/api/use-owner-notification-settings.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(50-05): migrate use-identity-verification.ts + use-tour-progress.ts — Phase 50 complete
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/50-infrastructure-auth-foundation-user-profile-crud/50-05-SUMMARY.md
  apps/frontend/src/hooks/api/use-identity-verification.ts
  apps/frontend/src/hooks/api/use-tour-progress.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-50): complete phase — Supabase infra + 8 hooks dual-pathed to PostgREST
  .planning/ROADMAP.md
  .planning/phases/50-infrastructure-auth-foundation-user-profile-crud/50-VERIFICATION.md
Due: prettier --write

docs(56): create discuss-phase context for pg_cron + n8n scheduled jobs
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-CONTEXT.md
Due: prettier --write

docs(56): create phase plan
  .planning/ROADMAP.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-01-PLAN.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-02-PLAN.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-03-PLAN.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-04-PLAN.md
Due: prettier --write

fix(56): revise plans based on checker feedback
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-02-PLAN.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-03-PLAN.md
Due: prettier --write

feat(56-01): create Phase 56 schema foundations migration
  supabase/migrations/20260222110100_phase56_schema_foundations.sql
Due: none

docs(56-01): complete Phase 56 Plan 01 — schema foundations summary
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-01-SUMMARY.md
Due: prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
