Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

fix: Validate user authentication before property creation
  apps/frontend/src/app/(protected)/manage/properties/new/create-property-form.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat: Add property image upload with automatic compression and cleanup
  apps/backend/src/modules/properties/properties.module.ts
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/backend/src/modules/properties/properties.service.ts
  apps/frontend/components.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/manage/properties/new/create-property-form.client.tsx
  apps/frontend/src/components/dropzone.tsx
  apps/frontend/src/hooks/use-property-image-upload.ts
  apps/frontend/src/hooks/use-supabase-upload.ts
  apps/frontend/src/lib/image-compression.ts
  apps/frontend/src/lib/supabase/client.ts
  apps/frontend/src/lib/supabase/middleware.ts
  apps/frontend/src/lib/supabase/server.ts
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: Remove validator-patch causing backend crash and fix tenant invite
  apps/backend/src/main.ts
  apps/backend/src/patches/validator-patch.ts
  apps/frontend/src/app/(protected)/manage/tenants/tenant-action-buttons.tsx
  apps/frontend/src/lib/api-client.ts
  n8n-tenantflow-simple.json
  n8n-tenantflow-webhook-v4-correct.json
  supabase/functions/stripe-checkout/index.ts
  supabase/migrations/20251019000001_enable_pg_net_integration.sql
  supabase/migrations/20251019000002_configure_webhook_credentials.sql
  supabase/migrations/20251019000003_create_webhook_functions.sql
  supabase/migrations/20251019000004_setup_database_triggers.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix: Remove duplicate SupabaseService provider in LateFeesModule
  apps/backend/src/modules/late-fees/late-fees.module.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: Remove duplicate SupabaseService provider in FinancialModule
  apps/backend/src/modules/financial/financial.module.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: Resolve tenant creation 400 error by removing userId from client payload
  apps/backend/src/modules/tenants/tenants.service.ts
  apps/frontend/src/app/(protected)/tenant/create-tenant-form.client.tsx
  packages/shared/src/types/api-inputs.ts
  packages/shared/src/types/backend-domain.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat: Replace hardcoded Loading... with Skeleton components in tenant portal
  apps/frontend/src/app/(protected)/tenant/documents/page.tsx
  apps/frontend/src/app/(protected)/tenant/lease/page.tsx
  apps/frontend/src/app/(protected)/tenant/page.tsx
  apps/frontend/src/app/(protected)/tenant/payments/history/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat: Enforce 44px minimum touch targets globally for accessibility
  apps/frontend/src/app/(protected)/manage/page.tsx
  apps/frontend/src/app/(protected)/tenant/page.tsx
  apps/frontend/src/components/ui/button.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat: Replace all mock data with real lease data in tenant portal
  apps/frontend/src/app/(protected)/tenant/lease/page.tsx
  apps/frontend/src/app/(protected)/tenant/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore: Remove unused n8n workflow files
  n8n-tenantflow-simple.json
  n8n-tenantflow-webhook-v4-correct.json
Due: prettier --write

chore: Trigger Vercel deployment
  .vercel-trigger
Due: none
