Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: resolve ES module directory import issue in shared package
  apps/backend/src/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  packages/shared/src/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: URGENT - resolve PostHog CSP blocking in production
  apps/frontend/next.config.ts
  packages/shared/src/security/csp-config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve all TypeScript and ESLint errors across codebase
  apps/backend/src/auth/auth.service.integration.spec.ts
  apps/backend/src/billing/stripe-data-validation.spec.ts
  apps/backend/src/billing/stripe-event-processor.service.ts
  apps/backend/src/billing/stripe-interfaces.ts
  apps/backend/src/billing/stripe-sync.service.spec.ts
  apps/backend/src/billing/stripe.controller.ts
  packages/shared/src/types/core.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: CRITICAL - resolve InputSanitizationMiddleware read-only property error in production
  apps/backend/src/properties/properties.service.spec.ts
  apps/backend/src/shared/middleware/input-sanitization.middleware.ts
  apps/backend/src/tenants/tenants.service.spec.ts
  package.json
  tests/e2e/pages/dashboard.page.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

fix: resolve critical production errors in Stripe billing and middleware
  apps/backend/src/billing/stripe-data-validation.spec.ts
  apps/backend/src/billing/stripe-event-processor.service.ts
  apps/backend/src/billing/stripe-interfaces.ts
  apps/backend/src/billing/stripe.controller.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve Stripe provider imports and enhance CSP configuration
  apps/frontend/next.config.ts
  apps/frontend/src/providers/stripe-provider.tsx
  packages/shared/src/security/csp-config.ts
  packages/shared/src/types/security.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: add environment variable indicators to health check
  apps/backend/src/health/health.controller.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: update lockfile and verify deployment environments
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
