Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix(seo): cycle-2 — guard against duplicate brand in og:title; rename /contact and /compare
  src/app/compare/page.tsx
  src/app/contact/page.tsx
  src/app/page.tsx
  src/lib/seo/__tests__/page-metadata.test.ts
  src/lib/seo/page-metadata.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(seo): cycle-1 — align all JSON-LD descriptions + word-boundary brand guard
  src/app/pricing/page.tsx
  src/lib/generate-metadata.ts
  src/lib/seo/page-metadata.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(seo): cycle-2 — align /pricing + /faq descriptions, manifest, JSDoc & test coverage
  public/manifest.json
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/app/faq/page.tsx
  src/app/pricing/page.tsx
  src/lib/seo/__tests__/page-metadata.test.ts
  src/lib/seo/page-metadata.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(seo): cycle-1 align llms files (P0 pricing, P1 deleted ref) + extend banlist
  public/llms-full.txt
  public/llms.txt
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/app/faq/page.tsx
  src/lib/seo/page-metadata.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(seo): cycle-2 P3 — Buildium compare 'individual' to 'independent' landlords
  src/app/compare/[competitor]/compare-data.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(seo): cycle-2 P3 — symmetric alreadyBranded guard + JSDoc tightening
  src/lib/seo/__tests__/page-metadata.test.ts
  src/lib/seo/page-metadata.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(navbar): bump desktop nav breakpoint from md to lg
  src/components/layout/navbar.tsx
  src/components/layout/navbar/navbar-desktop-nav.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): deprioritize blog placeholder; explicit annual total on standard cards
  src/app/blog/page.tsx
  src/components/layout/footer.tsx
  src/components/layout/navbar/types.ts
  src/components/pricing/pricing-card-standard.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): cycle-1 cascading findings — /resources tile, llms files, em-dash, comment, test regex
  public/llms-full.txt
  public/llms.txt
  src/app/blog/loading.test.tsx
  src/app/blog/page.tsx
  src/app/resources/page.tsx
  src/components/pricing/pricing-card-standard.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(resources): cycle-1 P2 — switch mainResources grid to md:grid-cols-3 after Blog tile removal
  src/app/resources/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog,pricing): cycle-2 — soft-404 guard, llms intro, formatCurrency on annual, compare CTA
  public/llms.txt
  src/app/blog/loading.test.tsx
  src/app/blog/page.tsx
  src/app/compare/[competitor]/compare-sections.tsx
  src/components/pricing/pricing-card-featured.tsx
  src/components/pricing/pricing-card-standard.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): cycle-1 P3 polish — Sentry guard on metadata count, drop unused BottomCta prop
  src/app/blog/page.tsx
  src/app/compare/[competitor]/compare-sections.tsx
  src/app/compare/[competitor]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): cycle-2 P3 polish — stale comments, redundant Fragment, formatCurrency on line-through
  src/app/blog/page.tsx
  src/app/compare/[competitor]/compare-sections.tsx
  src/components/layout/navbar/types.ts
  src/components/pricing/pricing-card-featured.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(edge-fn): canonical config.toml entry for n8n-blog-ingest
  supabase/config.toml
Due: none

fix(blog): allow dynamic slugs on /blog/[slug] so cron-published posts render without redeploy
  src/app/blog/[slug]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): revert dynamicParams=true — ISR notFound() soft-200s, breaks SEO 404 contract
  src/app/blog/[slug]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): make /blog/[slug] cookie-less so dynamicParams=false actually enforces 404
  src/app/blog/[slug]/page.test.tsx
  src/app/blog/[slug]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): emit og:url on /blog/[slug] so SEO smoke test passes
  src/app/blog/[slug]/page.test.tsx
  src/app/blog/[slug]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): fail the build when generateStaticParams query errors
  src/app/blog/[slug]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): retry generateStaticParams before failing the build
  src/app/blog/[slug]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): skip generateStaticParams enumeration on placeholder-env builds
  src/app/blog/[slug]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(blog): cover generateStaticParams retry + fail-safe branches
  src/app/blog/[slug]/page.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(07-pricing-card-chrome): create phase plan
  .planning/ROADMAP.md
  .planning/phases/07-pricing-card-chrome/07-01-PLAN.md
  .planning/phases/07-pricing-card-chrome/07-02-PLAN.md
  .planning/phases/07-pricing-card-chrome/07-UI-SPEC.md
  .planning/phases/07-pricing-card-chrome/07-VALIDATION.md
Due: prettier --write

test(07-01): pin CONS-05/09/10 fixes on Growth pricing card
  src/components/pricing/__tests__/pricing-card-featured.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(07-01): complete pricing-card-featured regression-pin plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/config.json
  .planning/phases/07-pricing-card-chrome/07-01-SUMMARY.md
Due: prettier --write

test(07-02): pin CONS-09/10 fixes on Standard pricing card
  src/components/pricing/__tests__/bento-pricing-section.test.tsx
  src/components/pricing/__tests__/pricing-card-standard.test.tsx
  src/config/__tests__/pricing.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(07-02): complete Standard pricing-card regression-pin plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/07-pricing-card-chrome/07-02-SUMMARY.md
Due: prettier --write

docs(phase-07): complete phase execution — verification, plan revisions, UI-SPEC, patterns
  .planning/STATE.md
  .planning/phases/07-pricing-card-chrome/07-01-PLAN.md
  .planning/phases/07-pricing-card-chrome/07-02-PLAN.md
  .planning/phases/07-pricing-card-chrome/07-PATTERNS.md
  .planning/phases/07-pricing-card-chrome/07-RESEARCH.md
  .planning/phases/07-pricing-card-chrome/07-UI-SPEC.md
  .planning/phases/07-pricing-card-chrome/07-VALIDATION.md
  .planning/phases/07-pricing-card-chrome/07-VERIFICATION.md
Due: prettier --write

docs(07): ship phase 7 — PR #735
  .planning/STATE.md
Due: prettier --write

docs(07): add code review report
  .planning/phases/07-pricing-card-chrome/07-REVIEW.md
Due: prettier --write

fix(07): wr-01 replace bento no-op badge test with structural assertion
  src/components/pricing/__tests__/bento-pricing-section.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(07): wr-02 render card savings via calculateAnnualSavings helper
  src/components/pricing/pricing-card-featured.tsx
  src/components/pricing/pricing-card-standard.tsx
  src/config/__tests__/pricing.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(07): in-01..04 type fixtures, anchor price selectors, tighten savings regex
  src/components/pricing/__tests__/pricing-card-featured.test.tsx
  src/components/pricing/__tests__/pricing-card-standard.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(07): add code review fix report
  .planning/phases/07-pricing-card-chrome/07-REVIEW-FIX.md
Due: prettier --write

docs(07): code review clean — perfect-PR gate satisfied (2 consecutive zero-finding cycles)
  .planning/phases/07-pricing-card-chrome/07-REVIEW.md
Due: prettier --write

docs(08): gather phase context (nav, active states, dead links)
  .planning/phases/08-nav-active-states/08-CONTEXT.md
Due: prettier --write

docs(08): research phase domain — nav active states & dead links
  .planning/phases/08-nav-active-states/08-RESEARCH.md
Due: prettier --write

docs(08-nav-active-states): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/08-nav-active-states/08-01-PLAN.md
  .planning/phases/08-nav-active-states/08-PATTERNS.md
  .planning/phases/08-nav-active-states/08-VALIDATION.md
Due: prettier --write

test(08-01): pin Multi-Property Dashboard card icon (CONS-02)
  src/components/sections/__tests__/features-section.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(08-01): pin homepage active-nav aria-current wiring (CONS-03)
  src/components/layout/navbar/__tests__/navbar-desktop-nav.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
