Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

feat(54-02): Stripe Connect Edge Function + dashboard UI + payouts page
  .planning/phases/54-payments-billing-postgrest-stripe-edge-functions/54-02-SUMMARY.md
  apps/frontend/src/app/(owner)/dashboard/page.tsx
  apps/frontend/src/app/(owner)/settings/payouts/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(54-03): Stripe webhooks Edge Function + stripe_webhook_events table
  .planning/phases/54-payments-billing-postgrest-stripe-edge-functions/54-03-SUMMARY.md
  supabase/functions/stripe-webhooks/index.ts
  supabase/migrations/20260221130000_create_stripe_webhook_events.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(54): update ROADMAP and STATE after plans 01-03 complete
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

feat(54-04): add stripe-checkout and stripe-billing-portal Edge Functions
  supabase/functions/stripe-billing-portal/index.ts
  supabase/functions/stripe-checkout/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(54-04): migrate use-billing.ts to Edge Functions and PostgREST
  apps/frontend/src/app/(owner)/dashboard/page.tsx
  apps/frontend/src/hooks/api/use-billing.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(54-04): complete stripe-checkout/billing-portal Edge Functions + use-billing.ts migration plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/54-payments-billing-postgrest-stripe-edge-functions/54-04-SUMMARY.md
Due: prettier --write

docs(54-04): update ROADMAP plan checkboxes for 54-02 through 54-04
  .planning/ROADMAP.md
Due: prettier --write

docs(54): mark Phase 54 complete — verification checkpoint pre-approved (yolo mode)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/54-payments-billing-postgrest-stripe-edge-functions/54-05-SUMMARY.md
Due: prettier --write

docs(54): add phase 54 verification report — status passed
  .planning/phases/54-payments-billing-postgrest-stripe-edge-functions/VERIFICATION.md
Due: prettier --write

docs(phase-54): complete phase execution — all PAY requirements fulfilled
  .planning/ROADMAP.md
Due: prettier --write

docs(55): capture phase context
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-CONTEXT.md
Due: prettier --write

docs(55): create phase plan
  .planning/ROADMAP.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-01-PLAN.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-02-PLAN.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-03-PLAN.md
Due: prettier --write

fix(55): revise plans based on checker feedback
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-02-PLAN.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-03-PLAN.md
Due: prettier --write

feat(55-01): create generate-pdf Edge Function and wire frontend PDF hooks
  apps/backend/src/shared/stripe-client.service.ts
  apps/frontend/src/hooks/api/use-reports.ts
  pnpm-lock.yaml
  supabase/functions/export-report/index.ts
  supabase/functions/generate-pdf/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(55-02): create docuseal outbound Edge Function
  supabase/functions/docuseal/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(55-02): migrate lease signature mutations to docuseal Edge Function
  apps/backend/DEBUGGING.md
  apps/backend/package.json
  apps/frontend/src/hooks/api/__tests__/use-lease.test.tsx
  apps/frontend/src/hooks/api/use-lease.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs(55-02): complete plans 55-01 and 55-02 — generate-pdf and docuseal Edge Functions
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-01-SUMMARY.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-02-SUMMARY.md
Due: prettier --write

feat(55-03): create docuseal-webhook Edge Function for inbound webhook events
  package.json
  pnpm-lock.yaml
  supabase/functions/docuseal-webhook/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs(55-03): complete phase 55 — docuseal-webhook summary, state, roadmap updated
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-03-SUMMARY.md
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.e2e.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: remove deprecated legacy redirects and fix internal route references
  apps/e2e-tests/tests/auth-nextjs16-middleware.spec.ts
  apps/e2e-tests/tests/route-verification.spec.ts
  apps/frontend/next.config.ts
  apps/frontend/src/__tests__/foundation/auth-redirect.test.ts
  apps/frontend/src/app/(auth)/login/page.tsx
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
