Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: update lockfile and verify deployment environments
  pnpm-lock.yaml
Due: prettier --write

fix: update health controller tests for env_vars_loaded field
  apps/backend/src/health/health.controller.spec.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: update health controller tests for env_vars_loaded field
  apps/backend/src/health/health.controller.spec.ts
  apps/backend/test/setup.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove non-existent env vars and fix test mocks
  apps/backend/src/billing/stripe-data-validation.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve Stripe webhook test idempotency mock behavior
  apps/backend/src/billing/stripe-data-validation.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: correct Stripe webhook test expectations for idempotency
  apps/backend/src/billing/stripe-data-validation.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: resolve all build errors and test failures
  apps/backend/src/billing/stripe-data-validation.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: use forceExit flag in pre-push hook to prevent Jest hanging
  .husky/pre-push
Due: none

fix: add forceExit to Jest commands to prevent hanging
  .husky/pre-push
  apps/backend/package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: restore setup.ts with safe mock keys
  apps/backend/test/setup.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: improve Railway deployment in GitHub Actions
  .github/workflows/ci-cd.yml
Due: prettier --write

feat: optimize deployment by reducing env vars and using native approaches
  apps/backend/src/billing/stripe-data-validation.spec.ts
  apps/backend/src/billing/stripe-event-processor.service.ts
  apps/backend/src/billing/stripe-sync.service.ts
  apps/backend/src/billing/stripe.controller.ts
  apps/backend/src/config/app-config.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/config/express.config.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/emails/direct-email.service.ts
  apps/backend/src/emails/payment-failed-email.tsx
  apps/backend/src/emails/payment-success-email.tsx
  apps/backend/src/emails/subscription-canceled-email.tsx
  apps/backend/src/health/health.controller.spec.ts
  apps/backend/src/health/health.controller.ts
  apps/backend/src/interceptors/cache-control.interceptor.ts
  apps/backend/src/main.ts
  apps/backend/src/pdf/pdf-generator.service.ts
  apps/backend/src/shared/services/email.service.ts
  apps/backend/src/shared/services/security-monitor.service.ts
  apps/frontend/src/app/api/contact/route.ts
  apps/frontend/src/app/contact/page.tsx
  apps/frontend/src/components/marketing/bento-grid-alt.tsx
  apps/frontend/src/components/marketing/contact-form.tsx
  apps/frontend/src/components/marketing/content-section.tsx
  apps/frontend/src/components/marketing/cta-section.tsx
  apps/frontend/src/components/marketing/features-grid.tsx
  packages/shared/src/stripe/config.ts
  packages/shared/src/types/core.ts
  turbo.json
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
