Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix(66.1): plan 01's gate was a syntax error, so my B2/B4 fixes were inert
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-01-PLAN.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-04-PLAN.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-05-PLAN.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-PLAN-CHECK.md
Due: prettier --write

fix(66.1): the concurrency gate reported OK when the proof failed
  .planning/ROADMAP.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-01-PLAN.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-02-PLAN.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-03-PLAN.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-PLAN-CHECK.md
Due: prettier --write

docs(66.1): plan-check PASS; close the last empty-file residual
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-02-PLAN.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-PLAN-CHECK.md
Due: prettier --write

feat(66.1-01): add postgres rate limiter migration with both guards
  supabase/migrations/20260816010000_rate_limit_counters.sql
Due: none

test(66.1-01): add concurrent RATE-01 proof for check_rate_limit
  tests/integration/rls/rate-limit-concurrency.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(66.1-01): pin EXECUTE grants for the rate-limit functions
  tests/integration/rls/anon-rpc-grants.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(66.1-01): complete rate-limit migration and concurrency-proof plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-01-SUMMARY.md
Due: prettier --write

chore(66.1-02): add rollback for the rate-limit migration, before the apply
  supabase/migrations/rollbacks/20260816010000_rate_limit_counters.rollback.sql
Due: none

docs(66.1-02): record the blocked apply and its evidence
  .planning/STATE.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-02-SUMMARY.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/deferred-items.md
Due: prettier --write

fix(66.1-02): repair two gates found while blocked on the dead PAT
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-02-PLAN.md
Due: prettier --write

feat(66.1-02): apply the rate limiter to production, verified behaviourally
  .planning/STATE.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-01-PLAN.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-01-SUMMARY.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-02-PLAN.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-02-SUMMARY.md
  supabase/migrations/20260818031338_rate_limit_counters.sql
  supabase/migrations/rollbacks/20260818031338_rate_limit_counters.rollback.sql
  tests/integration/rls/anon-rpc-grants.rls.test.ts
  tests/integration/rls/rate-limit-concurrency.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(66.1-03): add the pure fail-closed rate-limit decision leaf
  supabase/functions/__tests__/rate-limit.test.ts
  supabase/functions/_shared/rate-limit-decision.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(66.1-03): rewrite the limiter onto check_rate_limit and bind Sentry
  supabase/functions/_shared/errors.ts
  supabase/functions/_shared/rate-limit.ts
  supabase/functions/deno.json
Due: eslint --fix --no-warn-ignored, prettier --write

test(66.1-03): pin the glue, prove the Sentry bind, kill the stale fail-open prose
  supabase/functions/__tests__/apply-token-contract.test.ts
  supabase/functions/__tests__/rate-limit.test.ts
  supabase/functions/_shared/application-guards.ts
  supabase/functions/tests/lease-signature-metering-test.ts
  supabase/functions/tests/rate-limit-sentry-test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(66.1-03): complete the fail-closed limiter rewrite plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-03-SUMMARY.md
Due: prettier --write

feat(66.1-04): forward the platform-attested client address, or forward nothing
  src/app/apply/[token]/__tests__/apply-context.test.ts
  src/app/apply/[token]/apply-context.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(66.1-04): verify before believing a forwarded client address
  supabase/functions/__tests__/rate-limit.test.ts
  supabase/functions/_shared/cors.ts
  supabase/functions/_shared/rate-limit-decision.ts
  supabase/functions/_shared/rate-limit.ts
  supabase/functions/_shared/timing-safe.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(66.1-04): give the forwarded address a consumer, gated on verification
  src/app/apply/[token]/apply-context.ts
  supabase/functions/__tests__/apply-token-contract.test.ts
  supabase/functions/__tests__/rate-limit.test.ts
  supabase/functions/apply-token/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(66.1-04): complete the trusted client-IP forward plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-04-SUMMARY.md
Due: prettier --write

fix(66.1-03): unbind Sentry in the probe test; it was corrupting sibling suites
  supabase/functions/tests/rate-limit-sentry-test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(66.1-05): runbook for the owner-only go-live steps
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-05-OWNER-RUNBOOK.md
  supabase/functions/deno.lock
Due: prettier --write

fix(66.1-05): land the deferred source corrections and settle the probe
  supabase/functions/__tests__/apply-token-contract.test.ts
  supabase/functions/_shared/timing-safe.ts
  supabase/functions/apply-token/index.ts
  supabase/functions/newsletter-subscribe/index.ts
  supabase/functions/send-contact-email/index.ts
  supabase/functions/sign-lease-token/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(66.1-05): limiter and edge Sentry are LIVE in production
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-05-SUMMARY.md
Due: prettier --write

feat(66.1-05): provision CLIENT_IP_FORWARD_SECRET, prove RATE-03 live
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-05-SUMMARY.md
Due: prettier --write

fix(66.1): perfect-PR cycle 1 — 10 confirmed findings
  CLAUDE.md
  SECURITY.md
  src/types/supabase.ts
  supabase/config.toml
  supabase/functions/__tests__/apply-token-contract.test.ts
  supabase/functions/__tests__/rate-limit.test.ts
  supabase/functions/_shared/errors.ts
  supabase/functions/_shared/rate-limit-decision.ts
  supabase/functions/_shared/rate-limit.ts
  supabase/functions/apply-token/index.ts
  supabase/functions/newsletter-subscribe/index.ts
  supabase/functions/send-contact-email/index.ts
  supabase/migrations/20260822122606_correct_rate_limit_doc_comments.sql
  supabase/migrations/rollbacks/20260818031338_rate_limit_counters.rollback.sql
Due: eslint --fix --no-warn-ignored, prettier --write

test(66.1): perfect-PR cycle 2 — pin every cycle-1 fix
  supabase/functions/__tests__/apply-token-contract.test.ts
  supabase/functions/__tests__/rate-limit.test.ts
  supabase/migrations/rollbacks/20260818031338_rate_limit_counters.rollback.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(66.1): perfect-PR cycle 3 — and I broke my own freeze
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-05-OWNER-RUNBOOK.md
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/deferred-items.md
  CLAUDE.md
  supabase/functions/__tests__/rate-limit.test.ts
  supabase/functions/_shared/timing-safe.ts
  supabase/functions/apply-token/index.ts
  supabase/functions/deno.lock
  supabase/functions/tests/newsletter-subscribe-test.ts
  supabase/migrations/20260818031338_rate_limit_counters.sql
  supabase/migrations/rollbacks/20260818031338_rate_limit_counters.rollback.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(66.1): perfect-PR cycle 4 — the tag pin, third attempt
  supabase/functions/__tests__/rate-limit.test.ts
  supabase/functions/tests/newsletter-subscribe-test.ts
  supabase/migrations/20260818031338_rate_limit_counters.sql
  tests/integration/rls/rate-limit-concurrency.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(66.1): perfect-PR cycle 5 — both findings were mine, from cycle 4
  supabase/functions/__tests__/rate-limit.test.ts
  supabase/functions/tests/newsletter-subscribe-test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(66.1): perfect-PR cycle 6 — a grep gate that was never committed
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/66.1-05-OWNER-RUNBOOK.md
  src/app/apply/[token]/__tests__/apply-context.test.ts
  src/app/apply/[token]/apply-context.ts
  supabase/functions/__tests__/rate-limit.test.ts
  tests/integration/rls/rate-limit-concurrency.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(66.1): perfect-PR cycle 7 — pin the RESULT, not the call
  supabase/functions/__tests__/apply-token-contract.test.ts
  supabase/functions/__tests__/rate-limit.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(ci): the RLS gate tolerated the one missing secret it exists to catch
  .github/workflows/rls-security-tests.yml
Due: prettier --write

fix(tests): close D1 — the property tests were flaky about themselves
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/deferred-items.md
  src/components/tenants/__tests__/add-tenant-form-success.property.test.tsx
  src/components/tenants/__tests__/add-tenant-form.property.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(ci): reject the legacy JWT service-role key, which is disabled here
  .github/workflows/rls-security-tests.yml
Due: prettier --write

docs(audit): triage the 18 RLS failures the CI gap was hiding
  .planning/audits/2026-08-23-rls-18-failures-triage.md
Due: prettier --write

fix(tests): cluster A — storage metering can seed without exposing the schema
  supabase/migrations/20260823191022_storage_metering_test_seed_rpcs.sql
  supabase/migrations/20260823191208_drop_unworkable_storage_delete_test_rpc.sql
  tests/integration/rls/storage-metering.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(tests): clusters B, C, D, E — and a retraction
  tests/integration/rls/blogs-status-workflow.rls.test.ts
  tests/integration/rls/lease-signing-tokens.rls.test.ts
  tests/integration/rls/rent-ledger-generation.test.ts
  tests/integration/rls/rental-applications-retention.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(audit): record the cluster execution result — 18 failures to 7
  .planning/audits/2026-08-23-rls-18-failures-triage.md
Due: prettier --write

fix(tests): cluster D and E root causes; make the C outlier self-describing
  tests/integration/rls/lease-signing-tokens.rls.test.ts
  tests/integration/rls/rent-ledger-generation.test.ts
  tests/integration/rls/rental-applications-retention.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(tests): precedence case gets an unsigned lease; retract the product-bug call
  .planning/audits/2026-08-23-rls-18-failures-triage.md
  tests/integration/rls/lease-signing-tokens.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
