Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

security: replace realistic test API key with dummy value
  apps/frontend/scripts/validate-env.ts
  apps/frontend/src/lib/actions/client-auth-actions.ts
  apps/frontend/src/lib/actions/embedded-billing-actions.ts
  apps/frontend/src/lib/config.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: complete production readiness - native Fastify validation
  apps/backend/src/auth/auth.controller.ts
  apps/frontend/src/lib/actions/client-auth-actions.ts
  apps/frontend/src/lib/actions/embedded-billing-actions.ts
Due: eslint --fix --no-warn-ignored, prettier --write

cleanup: remove unused development files
  .size-limit.json
  commitlint.config.js
  fix-errors.js
Due: eslint --fix --no-warn-ignored, prettier --write

fix: repair corrupted configuration files causing act failures
  .prettierrc
  apps/backend/.railwayignore
Due: none

fix: resolve turbo platform dependency issues for CI/CD
  .github/workflows/test.yml
  package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: remove platform-specific turbo dependencies for CI compatibility
  package.json
Due: prettier --write, npm audit --audit-level=moderate

feat: complete frontend production readiness review and runtime fixes
  package-lock.json
Due: prettier --write

fix: resolve turbo binary platform architecture conflicts in CI
  .github/workflows/test.yml
  .npmrc
  package-lock.json
Due: prettier --write

fix(test-utils): add @repo/typescript-config devDependency so tsconfig extends resolves in isolated package builds
  packages/test-utils/package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: resolve TypeScript config path resolution and turbo binary issues
  .github/workflows/test.yml
  apps/frontend/tsconfig.json
  package-lock.json
  packages/eslint-config/tsconfig.json
  packages/test-utils/tsconfig.json
Due: prettier --write
