Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

docs: add README + SECURITY policy, refresh LICENSE copyright year
  LICENSE
  README.md
  SECURITY.md
Due: prettier --write

chore: change license from MIT to FSL-1.1-MIT
  LICENSE
  README.md
  SECURITY.md
  package.json
Due: prettier --write, npm audit --audit-level=moderate

docs: initialize project
  .gitignore
  .planning/PROJECT.md
  .planning/config.json
Due: prettier --write

docs: define v1.0 requirements
  .planning/REQUIREMENTS.md
Due: prettier --write

docs: re-point CLAUDE.md Workflow at GSD; archive UI audit source
  CLAUDE.md
  audit-ui-2026-05-08.md
Due: prettier --write

docs(phase-1): deep parallel research — 4 specialists + synthesizer
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-RESEARCH-blog-data.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-RESEARCH-blog-seo.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-RESEARCH-pricing-schema.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-RESEARCH-pricing-ui.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-RESEARCH.md
Due: prettier --write

docs(phase-1): capture locked decisions in CONTEXT.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-CONTEXT.md
Due: prettier --write

docs(phase-1): plans land — 2 plans, 1 wave, parallel-eligible
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/config.json
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-01-PLAN.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-02-PLAN.md
Due: prettier --write

feat(01-02): add MAX_PUBLIC_PRICE_DISPLAY constant + swap comparison table
  src/components/pricing/pricing-comparison-table.tsx
  src/config/pricing.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(01-02): drop Max from JSON-LD offers + align metadata text
  src/app/pricing/__tests__/page.test.ts
  src/app/pricing/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(01-02): summary + state — plan 02 implementation complete
  .planning/STATE.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-02-SUMMARY.md
Due: prettier --write

feat(01-01): unpublish broken blogs + n8n re-bleed trigger guard
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-CRIT-01-affected-ids.txt
  supabase/migrations/20260508231802_unpublish_broken_blogs.sql
Due: none

docs(01-01): summary — all 6 post-flight gates pass
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-01-SUMMARY.md
Due: prettier --write

docs(phase-1): verifier — VERIFICATION PASSED
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-VERIFICATION.md
Due: prettier --write

chore: enable auto_advance per user preference
  .planning/config.json
Due: prettier --write

docs(01): ship phase 1 — PR #682
  .planning/STATE.md
Due: prettier --write

docs(01): add phase 5 breadcrumbs for IN-01 and IN-02
  src/app/pricing/page.tsx
  src/config/pricing.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(01): code review — perfect-PR gate satisfied
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-REVIEW-cycle-2.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-REVIEW-cycle-3.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-REVIEW.md
Due: prettier --write

fix(blog): force-dynamic to emit real HTTP 404 (Phase 1 follow-up)
  src/app/blog/[slug]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): differentiate DB errors from "post not found" (WR-01)
  src/app/blog/[slug]/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(01): followup PR #683 — perfect-PR gate satisfied
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-FOLLOWUP-REVIEW-cycle-1.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-FOLLOWUP-REVIEW-cycle-2.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-FOLLOWUP-REVIEW-cycle-3.md
Due: prettier --write

fix(blog): override global loading.tsx for [slug] route — emit real 404
  src/app/blog/[slug]/loading.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(blog): add explicit null return type to loading shim
  src/app/blog/[slug]/loading.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(01): followup v2 PR #684 — perfect-PR gate satisfied
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-FOLLOWUP-V2-REVIEW-cycle-1.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-FOLLOWUP-V2-REVIEW-cycle-3.md
Due: prettier --write

revert: drop blog/[slug]/loading.tsx shim — it produced empty UI on 404
  src/app/blog/[slug]/loading.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(01): revert PR #685 — perfect-PR gate satisfied
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-FOLLOWUP-V3-REVERT-REVIEW-cycle-1.md
  .planning/phases/01-critical-stop-bleed-blog-unpublish-pricing-placeholder/01-FOLLOWUP-V3-REVERT-REVIEW-cycle-2.md
Due: prettier --write

docs(01): mark phase 1 complete + carry soft-404 to phase 6
  .planning/STATE.md
Due: prettier --write

docs(02): capture locked decisions in CONTEXT.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-CONTEXT.md
Due: prettier --write

docs(02): deep parallel research — 2 specialists + synthesizer
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-RESEARCH-mobile-hamburger.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-RESEARCH-numberticker.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-RESEARCH.md
Due: prettier --write

docs(02): plans land — 2 plans, 1 wave, parallel-eligible
  .planning/ROADMAP.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-01-PLAN.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-02-PLAN.md
Due: prettier --write

docs(02): plan-checker iter1 fixes + validation scaffolding
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-01-PLAN.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-02-PLAN.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-RESEARCH-mobile-hamburger.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-RESEARCH-numberticker.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-VALIDATION.md
Due: prettier --write

fix(02-01): rewrite NumberTicker eliminating 4 compounding defects
  src/components/ui/number-ticker.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(02-01): add 5 Vitest 4 fake-timer tests for NumberTicker
  src/components/ui/__tests__/number-ticker.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(02-01): complete NumberTicker animation fix plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-01-SUMMARY.md
Due: prettier --write

fix(02-02): hero overflow + CTA truncation at 375px
  src/app/marketing-home.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(02-02): polish mobile drawer for 44x44 touch targets + a11y
  src/components/layout/navbar.tsx
  src/components/layout/navbar/navbar-mobile-menu.tsx
  src/components/ui/sheet.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(02-02): lock 375px mobile nav contract with 8 Playwright assertions
  tests/e2e/tests/public/mobile-nav-375px.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(02-02): complete mobile hero + drawer polish plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-02-SUMMARY.md
Due: prettier --write

docs(02): verifier — VERIFICATION PASSED
  .planning/phases/02-frontend-correctness-numberticker-mobile/02-VERIFICATION.md
Due: prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
