Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

test(phase-06): skip soft-404 + canonical tests when 0 posts published
  tests/e2e/tests/public/seo-smoke.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(phase-07-01): fix Most Popular badge overlap + price-row whitespace
  src/components/pricing/pricing-card-featured.tsx
  src/components/pricing/pricing-card-standard.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(phase-07-02): per-card annual savings backed by Phase 5 numbers
  src/components/pricing/bento-pricing-section.tsx
  src/components/pricing/pricing-card-featured.tsx
  src/components/pricing/pricing-card-standard.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-07): research + context for pricing-card chrome
  .planning/phases/07-pricing-card-chrome/07-CONTEXT.md
  .planning/phases/07-pricing-card-chrome/07-RESEARCH.md
Due: prettier --write

docs(phase-07): cycle 1+2 reviews — perfect-PR gate satisfied
  .planning/phases/07-pricing-card-chrome/07-REVIEW-cycle-1.md
  .planning/phases/07-pricing-card-chrome/07-REVIEW-cycle-2.md
Due: prettier --write

feat(phase-08): nav active states + dead-link fix + dashboard icon
  src/components/layout/navbar/navbar-desktop-nav.tsx
  src/components/layout/navbar/types.ts
  src/components/sections/features-section.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-08): cycle 1+2 reviews — perfect-PR gate satisfied
  .planning/phases/08-nav-active-states/08-REVIEW-cycle-1.md
  .planning/phases/08-nav-active-states/08-REVIEW-cycle-2.md
Due: prettier --write

feat(phase-09): page-level cleanup (CONS-04/13/14)
  src/app/marketing-home.tsx
  src/app/privacy/page.tsx
  src/app/security-policy/page.tsx
  src/app/sitemap.test.ts
  src/app/sitemap.ts
  src/app/terms/page.tsx
  src/components/sections/logo-cloud.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-09): cycle 1+2 reviews + JSDoc refresh
  .planning/phases/09-page-cleanup/09-REVIEW-cycle-1.md
  .planning/phases/09-page-cleanup/09-REVIEW-cycle-2.md
  src/components/sections/logo-cloud.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(phase-10): cta + conversion standardization (CONS-06/07/08, TRUST-03)
  .planning/phases/10-cta-conversion/10-CONTEXT.md
  src/app/about/page.tsx
  src/app/compare/[competitor]/compare-data.ts
  src/app/compare/[competitor]/compare-sections.tsx
  src/app/pricing/pricing-content.tsx
  src/app/security-policy/page.tsx
  src/components/contact/contact-form-fields.tsx
  src/types/sections/compare.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-10): cycle 1+2 reviews — perfect-PR gate satisfied
  .planning/phases/10-cta-conversion/10-REVIEW-cycle-1.md
  .planning/phases/10-cta-conversion/10-REVIEW-cycle-2.md
Due: prettier --write

feat(phase-10-followup): wire real testimonials — TRUST-01 un-deferred
  src/app/marketing-home.tsx
  src/app/pricing/page.tsx
  src/data/testimonials.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(phase-10-followup): add testimonials.ts to MARKETING_FILES banlist guard
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/data/testimonials.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-10-followup): cycle 1+2 reviews — perfect-PR gate satisfied
  .planning/phases/10-cta-conversion-followup/REVIEW-cycle-1.md
  .planning/phases/10-cta-conversion-followup/REVIEW-cycle-2.md
Due: prettier --write

feat(phase-11): extend color-tokens ESLint plugin to cover all 4 drift patterns
  .planning/phases/11-token-alignment/LINT-RULE.md
  color-tokens.eslint.js
  eslint.config.js
  src/components/auth/two-factor-setup-steps.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-11): cycle 1+2 reviews — perfect-PR gate satisfied
  .planning/phases/11-token-alignment/11-REVIEW-cycle-1.md
  .planning/phases/11-token-alignment/11-REVIEW-cycle-2.md
Due: prettier --write

fix(phase-11): define --color-white / --color-black tokens for Tailwind v4 opacity
  src/app/globals.css
Due: prettier --write

fix(phase-11): swap border-white/20 for arbitrary oklch to bypass tailwind opacity bug
  src/app/(auth)/login/page.tsx
  src/app/auth/confirm-email/confirm-email-states.tsx
  src/app/auth/update-password/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

refactor(phase-11): replace arbitrary oklch with border-glass-light @utility
  src/app/(auth)/login/page.tsx
  src/app/auth/confirm-email/confirm-email-states.tsx
  src/app/auth/update-password/page.tsx
  src/app/globals.css
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-11): exclude .planning + README from tailwind v4 source scan
  src/app/globals.css
Due: prettier --write

feat(phase-12): per-page og images, compare breadcrumb, footer sitemap
  src/app/api/og/compare/[competitor]/route.tsx
  src/app/api/og/pricing/route.tsx
  src/app/compare/[competitor]/page.tsx
  src/app/pricing/page.tsx
  src/components/compare/compare-breadcrumb.tsx
  src/components/layout/footer.tsx
  src/lib/seo/page-metadata.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-12): cycle-1 review — IN-01/02/03 fixes
  src/app/api/og/compare/[competitor]/route.tsx
  src/app/api/og/pricing/route.tsx
  src/components/compare/compare-breadcrumb.tsx
  src/lib/seo/page-metadata.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-12): cycle-2 review — IN-04/05 fixes
  src/app/api/og/compare/[competitor]/route.tsx
  src/components/compare/__tests__/compare-breadcrumb.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(phase-13): sticky cta, lead modal, isr, stripe webhook diagnostics
  src/app/compare/[competitor]/page.tsx
  src/app/compare/page.tsx
  src/app/faq/page.tsx
  src/app/features/page.tsx
  src/app/pricing/page.tsx
  src/components/marketing/__tests__/lead-capture-modal.test.tsx
  src/components/marketing/__tests__/sticky-conversion-cta.test.tsx
  src/components/marketing/lead-capture-modal.tsx
  src/components/marketing/sticky-conversion-cta.tsx
  supabase/functions/stripe-webhooks/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(phase-13): cycle-1 review — 2 P1 + 4 P2 fixes
  src/components/marketing/__tests__/lead-capture-modal.test.tsx
  src/components/marketing/__tests__/sticky-conversion-cta.test.tsx
  src/components/marketing/lead-capture-modal.tsx
  src/components/marketing/sticky-conversion-cta.tsx
  supabase/functions/stripe-webhooks/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore(v1.0): cleanup pass on v1.0 retrospective gaps
  src/app/about/page.tsx
  src/app/faq/page.tsx
  src/app/features/page.tsx
  src/components/layout/navbar/navbar-mobile-menu.tsx
  src/config/pricing.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(v1.0-cleanup): cycle-1 — about brand duplicate + desktop dropdown aria
  src/app/about/page.tsx
  src/components/layout/navbar/navbar-desktop-nav.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore(sentry): wire all error surfaces through sentry
  src/app/(auth)/error.tsx
  src/app/(owner)/error.tsx
  src/app/(owner)/properties/page.tsx
  src/app/actions/auth.ts
  src/app/auth/error.tsx
  src/app/blog/error.tsx
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/pricing/error.tsx
  src/components/blog/newsletter-signup.tsx
  src/components/leases/lease-action-buttons.tsx
  src/components/marketing/lead-capture-modal.tsx
  src/components/settings/gdpr-data-actions.tsx
  src/components/settings/sections/subscription-cancel-section.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(sentry): cycle-1 review — duplicate captures + handleMutationError gap
  src/app/(owner)/error.tsx
  src/components/error-boundary/error-fallback.tsx
  src/components/shared/error-page.test.tsx
  src/components/shared/error-page.tsx
  src/lib/mutation-error-handler.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(sentry): cycle-2 review — CR-01 duplicate event + IN-01/02 polish
  src/components/shared/error-page.test.tsx
  src/hooks/api/__tests__/property-mutations.test.tsx
  src/hooks/api/__tests__/use-lease.test.tsx
  src/hooks/api/__tests__/use-properties.test.tsx
  src/hooks/api/__tests__/use-tenant.test.tsx
  src/lib/__tests__/mutation-error-handler.test.ts
  src/lib/mutation-error-handler.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: pull deferred items into scope — sentry, a11y, helper extraction
  src/app/pricing/page.tsx
  src/app/pricing/pricing-content.tsx
  src/components/blog/blog-post-breadcrumb.tsx
  src/components/error-boundary/error-boundary.tsx
  src/components/layout/navbar/navbar-desktop-nav.tsx
  src/components/layout/navbar/navbar-mobile-menu.tsx
  src/components/shell/main-nav.tsx
  src/hooks/api/query-keys/property-keys.ts
  src/lib/__tests__/is-active-link.test.ts
  src/lib/is-active-link.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(proxy): unknown routes 404 instead of redirecting to login
  src/proxy.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(vercel-deploy): trim env key, pin node 24.x, slim OG edge bundle
  package.json
  src/app/api/og/blog/[slug]/route.tsx
  src/env.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs(phase-14): plan + verify 4-finding remediation phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/14-battle-test-findings-remediation/.gitkeep
  .planning/phases/14-battle-test-findings-remediation/14-01-PLAN.md
  .planning/phases/14-battle-test-findings-remediation/14-02-PLAN.md
  .planning/phases/14-battle-test-findings-remediation/14-03-PLAN.md
  .planning/phases/14-battle-test-findings-remediation/14-04-PLAN.md
  .planning/phases/14-battle-test-findings-remediation/14-CONTEXT.md
Due: prettier --write

feat(phase-14-01): wrap public 404 in marketing layout with smart button label
  src/app/not-found.tsx
  src/components/shared/not-found-page.test.tsx
  src/components/shared/not-found-page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-14-01): complete public-404-marketing-layout plan
  .planning/STATE.md
  .planning/phases/14-battle-test-findings-remediation/14-01-SUMMARY.md
Due: prettier --write

feat(phase-14-02): delete dead Stripe.js code + uninstall @stripe/stripe-js
  package.json
  pnpm-lock.yaml
  src/lib/stripe/stripe-client.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

docs(phase-14-02): complete D-02 dead Stripe.js code deletion plan
  .planning/phases/14-battle-test-findings-remediation/14-02-SUMMARY.md
  .planning/phases/14-battle-test-findings-remediation/deferred-items.md
Due: prettier --write

feat(phase-14-03): try/catch /blog Supabase fetch + Sentry failures
  src/app/blog/page.test.tsx
  src/app/blog/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-14-03): complete D-03 try/catch + Sentry blog plan
  .planning/phases/14-battle-test-findings-remediation/14-03-SUMMARY.md
Due: prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
