Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

fix(marketing): compare-table a11y labels + pricing stat icon semantics
  src/app/compare/[competitor]/compare-sections.tsx
  src/app/pricing/pricing-content.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): delete orphaned LazySection + SectionSkeleton
  src/components/ui/lazy-section.tsx
  src/components/ui/section-skeleton.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

chore(deps): sync bun.lock after dependency bump
  bun.lock
Due: none

fix(marketing): unify spacing rhythm + biome 2.5.4 lint/format compliance
  biome.json
  src/app/(owner)/dashboard/__tests__/dashboard-page-branch.test.tsx
  src/app/about/page.tsx
  src/app/compare/[competitor]/compare-sections.tsx
  src/app/help/page.tsx
  src/app/marketing-home.tsx
  src/app/privacy/page.tsx
  src/app/resources/page.tsx
  src/app/security-policy/page.tsx
  src/app/terms/page.tsx
  src/components/dashboard/components/__tests__/lease-status-badge.test.tsx
  src/components/landing/hero-section.tsx
  src/components/leases/__tests__/sign-lease-form.test.tsx
  src/components/sections/features-section.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/home-faq.tsx
  src/components/sections/how-it-works.tsx
  src/components/sections/premium-cta.tsx
  src/components/sections/stats-showcase.tsx
  src/components/sections/testimonials-section.tsx
  src/components/settings/__tests__/billing-settings.test.tsx
  src/components/tenants/__tests__/tenants.test.tsx
  src/hooks/__tests__/use-supabase-upload.test.ts
  src/lib/__tests__/csp-header.test.ts
  src/lib/mutation-error-handler.ts
  src/lib/supabase/__tests__/middleware-routing.test.ts
  tests/integration/rls/bulk-import-create-lease.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): tighten section rhythm + premium trust strip
  src/app/globals.css
  src/app/marketing-home.tsx
  src/components/sections/home-faq.tsx
  src/components/sections/logo-cloud.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): evenly distribute the trust-strip logos
  src/components/sections/logo-cloud.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): equal-height "How it works" step cards
  src/components/sections/how-it-works.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): crisp final-CTA headline (drop the blur halo)
  src/components/sections/premium-cta.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): remove redundant "Still have questions?" FAQ card
  src/components/sections/home-faq.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): drop the redundant mid-page "Start free" CTA in How It Works
  src/components/sections/how-it-works.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): drop dangling FAQ-accordion bottom margin on last accordion
  src/components/faq-accordion.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): normalize pricing FAQ + CTA section rhythm
  src/app/pricing/pricing-content.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(marketing): premium pricing-card hierarchy + annual incentive
  src/components/pricing/bento-pricing-section.tsx
  src/components/pricing/pricing-card-standard.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(marketing): additive pricing tiers + show all features
  src/components/pricing/bento-pricing-section.tsx
  src/components/pricing/pricing-card-featured.tsx
  src/components/pricing/pricing-card-standard.tsx
  src/config/pricing.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(marketing): polish the pricing comparison table
  src/components/pricing/pricing-comparison-table.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(billing): render includesPrevious on in-app plan cards
  src/app/(owner)/billing/plans/page.tsx
  src/components/billing/plan-card.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(marketing): drop duplicate testimonials section from /pricing
  src/app/pricing/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-01): add create_notification RPC + inbox index + RLS reconcile
  supabase/migrations/20260719120000_create_notification_and_reconcile_rls.sql
Due: none

test(52-01): fix read/is_read column bug + pin create_notification privilege
  tests/integration/rls/notifications.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-07): add selectActivity + useDashboardActivity selector hook
  src/hooks/api/use-dashboard-hooks.ts
  src/hooks/api/use-owner-dashboard.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-08): honest notification channels — email + categories only
  src/components/settings/notification-settings.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

test(52-08): pin honest notification surface, drop sms/push/in-app assertions
  src/app/(owner)/settings/__tests__/settings-page.test.tsx
  src/components/settings/__tests__/notification-settings.test.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-08): complete channel-honesty notification-settings plan
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-08-SUMMARY.md
Due: prettier --write

docs(52-01): complete notification write-path primitive plan
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-01-SUMMARY.md
Due: prettier --write

feat(52-07): add DashboardActivityCard audit trail (ACT-01/ACT-02)
  src/components/dashboard/__tests__/dashboard-activity-card.test.tsx
  src/components/dashboard/dashboard-activity-card.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-08): record self-check PASSED in plan summary
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-08-SUMMARY.md
Due: prettier --write

feat(52-07): pair activity card with expiring leases in dashboard grid
  src/app/(owner)/dashboard/__tests__/dashboard-page-branch.test.tsx
  src/app/(owner)/dashboard/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(52-07): complete dashboard activity card plan
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-07-SUMMARY.md
Due: prettier --write

chore(52-01): apply create_notification migration to prod, reconcile filename
  supabase/migrations/20260719193759_create_notification_and_reconcile_rls.sql
Due: none

docs(phase-52): update tracking after wave 1
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

feat(52-04): add notification-keys factory with HEAD unread count + bounded list
  src/hooks/api/query-keys/__tests__/notification-keys.test.ts
  src/hooks/api/query-keys/notification-keys.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-04): add use-notifications mark-read / mark-all-read mutations
  src/hooks/api/__tests__/use-notifications.test.ts
  src/hooks/api/use-notifications.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(52-02): notification triggers + finalize-failed edge-fn helper
  supabase/functions/_shared/lease-signing.ts
  supabase/functions/tests/lease-signing-test.ts
  supabase/migrations/20260719130000_notification_and_activity_event_triggers.sql
Due: eslint --fix --no-warn-ignored, prettier --write
