Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

fix: Remove artificial width constraints on properties page for full-width layout
  apps/backend/src/modules/properties/properties.service.ts
  apps/frontend/src/app/(protected)/manage/ActivitySection.tsx
  apps/frontend/src/app/(protected)/manage/ChartsSection.tsx
  apps/frontend/src/app/(protected)/manage/PerformanceSection.tsx
  apps/frontend/src/app/(protected)/manage/QuickActionsSection.tsx
  apps/frontend/src/app/(protected)/manage/analytics/overview/page.tsx
  apps/frontend/src/app/(protected)/manage/layout.tsx
  apps/frontend/src/app/(protected)/manage/leases/lease-action-buttons.tsx
  apps/frontend/src/app/(protected)/manage/loading.tsx
  apps/frontend/src/app/(protected)/manage/maintenance/delete-button.tsx
  apps/frontend/src/app/(protected)/manage/properties/page.tsx
  apps/frontend/src/app/(protected)/manage/tenants/page.tsx
  apps/frontend/src/components/dashboard/app-sidebar.tsx
  apps/frontend/src/components/dashboard/site-header.tsx
  packages/shared/src/types/backend-domain.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: Fix backend test mock setup to reduce test failures from 34 to 25
  apps/backend/src/modules/late-fees/late-fees.controller.spec.ts
  apps/backend/src/modules/properties/properties.controller.spec.ts
  apps/backend/src/modules/tenants/tenants.controller.spec.ts
  apps/backend/src/modules/tenants/tenants.service.spec.ts
  apps/backend/src/modules/units/units.controller.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix: Resolve backend test failures and remove Prettier organize-imports
  .prettierrc.json
  apps/backend/src/modules/properties/properties.controller.spec.ts
  apps/backend/src/modules/tenants/tenants.service.ts
  apps/backend/src/modules/units/units.controller.spec.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

test: fix tenants service spec setup
  apps/backend/src/modules/tenants/tenants.service.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore: Update dependencies and improve error handling
  apps/backend/package.json
  apps/backend/src/modules/properties/properties.controller.ts
  apps/backend/src/modules/tenants/tenants.controller.ts
  apps/backend/src/modules/units/units.controller.ts
  apps/frontend/src/app/(protected)/manage/tenants/page.tsx
  apps/frontend/src/lib/api/dashboard-server.ts
  packages/shared/src/lib/format.ts
  packages/shared/src/types/core.ts
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

security: Fix esbuild vulnerability and document validator.js CVE
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

fix: Correct authentication redirect route from /sign-in to /login
  apps/frontend/src/lib/server-auth.ts
Due: eslint --fix --no-warn-ignored, prettier --write

sidebar fixes
  apps/frontend/src/app/(protected)/manage/documents/page.tsx
  apps/frontend/src/app/(protected)/manage/layout.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs: Update health check comments and security documentation
  apps/backend/src/health/health.controller.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs: Add SECURITY.md with vulnerability documentation
  .gitignore
  SECURITY.md
Due: prettier --write

test: Add comprehensive controller tests for properties and units modules
  apps/backend/src/modules/properties/properties.controller.spec.ts
  apps/backend/src/modules/units/units.controller.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
