Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

feat: Implement fallback data handling for dashboard and properties metrics retrieval
  apps/backend/src/dashboard/dashboard.controller.ts
  apps/backend/src/dashboard/dashboard.service.ts
  apps/backend/src/properties/properties.controller.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(frontend): apply theme colors to marketing layout
  apps/frontend/src/app/layout.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: aggregate dashboard stats from services
  apps/backend/src/dashboard/dashboard.controller.ts
  apps/backend/src/dashboard/dashboard.service.ts
  apps/backend/src/properties/properties.controller.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat: refactor bootstrap function to streamline Fastify route schema attachment and enhance ESLint configuration
  apps/backend/src/main.ts
  apps/frontend/next.config.ts
  apps/frontend/src/styles/globals.css
Due: eslint --fix --no-warn-ignored, prettier --write

feat(ci-cd): add DOPPLER_TOKEN to build packages environment variables
  .github/workflows/ci-cd.yml
Due: prettier --write

fix: remove Doppler from build scripts for CI compatibility
  apps/backend/package.json
  apps/frontend/package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: remove test files from git and prevent tracking
  .gitignore
  apps/frontend/src/app/(protected)/dashboard/visual-testing/page.tsx
  apps/frontend/src/app/api/dev-auth/route.ts
  apps/frontend/src/app/api/dev-auth/status/route.ts
  apps/frontend/src/components/testing/dashboard-test-harness.tsx
  apps/frontend/src/lib/mock-auth-data.ts
  apps/frontend/src/stores/auth-provider.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: remove component-test-utils from git tracking
  apps/frontend/src/components/testing/component-test-utils.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix: ensure all code paths return in auth-provider useEffect
  apps/frontend/src/stores/auth-provider.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
