Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

docs(phase2): update status - Task 2.2 complete (60% overall)
  PHASE-2-STATUS.md
Due: prettier --write

feat(profile): implement emergency contact feature (Task 2.1 - Complete)
  apps/backend/src/modules/tenants/dto/emergency-contact.dto.ts
  apps/backend/src/modules/tenants/tenants.controller.ts
  apps/backend/src/modules/tenants/tenants.service.ts
  apps/frontend/src/app/(protected)/tenant/profile/page.tsx
  apps/frontend/src/hooks/api/use-emergency-contact.ts
  supabase/migrations/20250216000100_create_tenant_emergency_contact.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase2): update status - Task 2.1 complete (80% overall)
  PHASE-2-STATUS.md
Due: prettier --write

fix(migration): change tenant_emergency_contact IDs from UUID to TEXT
  supabase/migrations/20250216000100_create_tenant_emergency_contact.sql
Due: none

fix(emergency-contact): change ownerId to userId for tenant ownership
  apps/backend/src/modules/tenants/tenants.service.ts
  supabase/migrations/20250216000100_create_tenant_emergency_contact.sql
Due: eslint --fix --no-warn-ignored, prettier --write

fix(emergency-contact): use auth_user_id for tenant self-management
  apps/backend/src/modules/tenants/tenants.service.ts
  supabase/migrations/20250216000100_create_tenant_emergency_contact.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(migration): update with production-verified SQL
  supabase/migrations/20250216000100_create_tenant_emergency_contact.sql
Due: none

docs(phase2): update status - emergency contact migration applied
  PHASE-2-STATUS.md
Due: prettier --write

feat(phase2): complete Tasks 2.4 and 2.5 - Phase 2 100% complete
  PHASE-2-STATUS.md
  apps/backend/src/modules/rent-payments/rent-payments.controller.ts
  apps/backend/src/modules/rent-payments/rent-payments.service.ts
  apps/backend/src/modules/tenants/dto/emergency-contact.dto.ts
  apps/backend/src/modules/tenants/tenants.controller.ts
  apps/frontend/src/app/(protected)/tenant/payments/page.tsx
  apps/frontend/src/components/auth/change-password-dialog.tsx
  apps/frontend/src/hooks/api/use-rent-payments.ts
  apps/frontend/tests/integration/rls-boundary.test.tsx
  packages/shared/src/types/supabase-generated.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): address PR #376 critical security feedback
  apps/frontend/src/app/(protected)/tenant/onboarding/page.tsx
  apps/frontend/src/hooks/api/use-lease.ts
  apps/frontend/src/hooks/api/use-tenant-portal.ts
  packages/shared/src/types/core.ts
  supabase/migrations/20250215120000_add_rent_payment_rls.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat(backend): complete RLS integration test infrastructure (Task 3.4)
  apps/backend/tests/integration/rls/payment-isolation.spec.ts
  apps/backend/tests/integration/rls/property-isolation.spec.ts
  apps/backend/tests/integration/rls/setup.ts
  apps/backend/tests/integration/rls/tenant-isolation.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((((((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,jsonc})) or (any of: *.{md,mdx})) or (any of: *.{yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: package.json)
  detect-secrets scan --baseline .secrets.baseline: any of: *.{env,env.*}
  npm audit --audit-level=moderate: any of: package.json
