Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

docs(56-01): complete Phase 56 Plan 01 — schema foundations summary
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-01-SUMMARY.md
Due: prettier --write

feat(56-02): create pg_cron SECURITY DEFINER functions and schedule all three jobs
  supabase/migrations/20260222120000_phase56_pg_cron_jobs.sql
Due: none

docs(56-02): complete pg_cron functions plan — SCHED-01/02/03 scheduled jobs implemented
  .planning/STATE.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-02-SUMMARY.md
Due: prettier --write

feat(56-03): add pg_net DB webhook triggers for n8n integration
  supabase/migrations/20260222130000_phase56_db_webhooks.sql
Due: none

docs(56-03): complete DB webhooks plan — n8n trigger functions via pg_net
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-03-SUMMARY.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-03-USER-SETUP.md
Due: prettier --write

feat(56-04): create n8n workflow JSON definitions for all three notification channels
  supabase/n8n-workflows/lease-reminder-notification.json
  supabase/n8n-workflows/maintenance-notification.json
  supabase/n8n-workflows/rent-payment-notification.json
Due: prettier --write

docs(56-04): complete phase — n8n workflow JSONs + human checkpoint approved
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-04-SUMMARY.md
Due: prettier --write

docs(phase-56): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/56-scheduled-jobs-db-webhooks-pg-cron-n8n/56-VERIFICATION.md
Due: prettier --write

docs(57): capture phase context
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-CONTEXT.md
Due: prettier --write

docs(57): create phase plan
  .planning/ROADMAP.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-01-PLAN.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-02-PLAN.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-03-PLAN.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-04-PLAN.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-05-PLAN.md
Due: prettier --write

fix(57): revise plans based on checker feedback
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-03-PLAN.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-05-PLAN.md
Due: prettier --write

chore(57-01): delete deploy-backend.yml and remove backend tests from ci-cd.yml
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-backend.yml
Due: prettier --write

chore(57-01): update rls-security-tests workflow to target integration-tests
  .github/workflows/rls-security-tests.yml
Due: prettier --write

docs(57-01): add phase summary and update STATE.md
  .planning/STATE.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-01-SUMMARY.md
Due: prettier --write

chore(57-02): remove nestjs catalog entries and delete infrastructure files
  .dockerignore
  Dockerfile
  apps/backend/package.json
  docker-compose.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  railway.toml
Due: prettier --write, npm audit --audit-level=moderate

chore(57-02): remove backend scripts from root package.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

docs(57-02): add summary and update state
  .planning/STATE.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-02-SUMMARY.md
Due: prettier --write

chore(57-03): delete NestJS adapter files and migrate auth to ANON_KEY
  apps/frontend/src/app/(owner)/documents/templates/components/use-template-pdf.ts
  apps/frontend/src/app/(owner)/reports/generate/page.tsx
  apps/frontend/src/app/actions/auth.ts
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/app/auth/post-checkout/page.tsx
  apps/frontend/src/env.ts
  apps/frontend/src/lib/api-config.ts
  apps/frontend/src/lib/api-request.ts
  apps/frontend/src/lib/api/reports-client.ts
  apps/frontend/src/lib/postgrest-flag.ts
  apps/frontend/src/lib/stripe/stripe-client.ts
  apps/frontend/src/lib/supabase/proxy.ts
  apps/frontend/src/lib/utils.ts
  apps/frontend/src/providers/query-error-handler.ts
  apps/frontend/src/providers/query-provider.tsx
  apps/frontend/src/providers/sse-connection.ts
  apps/frontend/src/providers/sse-provider.tsx
  apps/frontend/src/test/api-test-utils.tsx
  apps/frontend/src/test/unit-setup.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore(57-03): remove isPostgrestEnabled dual-path branches from all hooks
  apps/frontend/src/hooks/api/__tests__/use-tenant.test.tsx
  apps/frontend/src/hooks/api/use-auth.ts
  apps/frontend/src/hooks/api/use-emergency-contact.ts
  apps/frontend/src/hooks/api/use-identity-verification.ts
  apps/frontend/src/hooks/api/use-notifications.ts
  apps/frontend/src/hooks/api/use-owner-notification-settings.ts
  apps/frontend/src/hooks/api/use-profile.ts
  apps/frontend/src/hooks/api/use-sessions.ts
  apps/frontend/src/hooks/api/use-tenant.ts
  apps/frontend/src/hooks/api/use-tour-progress.ts
Due: eslint --fix --no-warn-ignored, prettier --write

chore(57-03): migrate components to PostgREST/Edge Functions
  apps/frontend/src/components/connect/connect-requirements.tsx
  apps/frontend/src/components/contact/contact-form.tsx
  apps/frontend/src/components/export/export-buttons.tsx
  apps/frontend/src/components/leases/wizard/__tests__/selection-step-filtering.property.test.tsx
  apps/frontend/src/components/leases/wizard/__tests__/selection-step.spec.tsx
  apps/frontend/src/components/leases/wizard/lease-creation-wizard.tsx
  apps/frontend/src/components/leases/wizard/selection-step.tsx
  apps/frontend/src/components/maintenance/__tests__/maintenance-details.test.tsx
  apps/frontend/src/components/maintenance/detail/add-expense-dialog.tsx
  apps/frontend/src/components/maintenance/detail/maintenance-details.client.tsx
  apps/frontend/src/components/maintenance/kanban/maintenance-kanban.client.tsx
  apps/frontend/src/components/maintenance/table/columns.tsx
  apps/frontend/src/components/maintenance/table/maintenance-table.client.tsx
  apps/frontend/src/components/onboarding/onboarding-step-tenant.tsx
  apps/frontend/src/components/onboarding/use-onboarding.ts
  apps/frontend/src/components/pricing/customer-portal.tsx
  apps/frontend/src/components/properties/bulk-import-stepper.tsx
  apps/frontend/src/components/settings/account-data-section.tsx
  apps/frontend/src/components/settings/billing-settings.tsx
  apps/frontend/src/components/settings/general-settings.tsx
  apps/frontend/src/components/settings/sections/account-danger-section.tsx
  apps/frontend/src/components/settings/sections/billing-history-section.tsx
  apps/frontend/src/components/settings/sections/subscription-cancel-section.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form-success.property.test.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form.property.test.tsx
  apps/frontend/src/components/tenants/invite-tenant-form.tsx
Due: eslint --fix --no-warn-ignored, prettier --write
