Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

docs(phase-59): complete phase execution — 14/14 verified
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/59-stripe-rent-checkout/59-VERIFICATION.md
Due: prettier --write

docs(phase-59): transition complete — evolve PROJECT.md, advance STATE.md to Phase 60
  .planning/PROJECT.md
  .planning/STATE.md
Due: prettier --write

docs(60): capture phase context for receipt emails
  .planning/phases/60-receipt-emails/60-CONTEXT.md
Due: prettier --write

feat(60-01): add shared Resend email helper
  supabase/functions/_shared/resend.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(60-01): add React Email templates for receipt and notification
  supabase/functions/stripe-webhooks/_templates/email-layout.tsx
  supabase/functions/stripe-webhooks/_templates/owner-notification.tsx
  supabase/functions/stripe-webhooks/_templates/payment-receipt.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(60-02): wire receipt emails into stripe webhook handler
  supabase/functions/stripe-webhooks/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-60): complete phase execution — 4/4 verified
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/60-receipt-emails/60-01-PLAN.md
  .planning/phases/60-receipt-emails/60-01-SUMMARY.md
  .planning/phases/60-receipt-emails/60-02-PLAN.md
  .planning/phases/60-receipt-emails/60-02-SUMMARY.md
  .planning/phases/60-receipt-emails/60-RESEARCH.md
  .planning/phases/60-receipt-emails/60-VERIFICATION.md
Due: prettier --write

docs(61): capture phase context for auth flow completion
  .planning/phases/61-auth-flow-completion/61-CONTEXT.md
Due: prettier --write

feat(auth): complete password reset flow with expired link handling
  .planning/phases/61-auth-flow-completion/61-01-PLAN.md
  .planning/phases/61-auth-flow-completion/61-02-PLAN.md
  .planning/phases/61-auth-flow-completion/61-03-PLAN.md
  .planning/phases/61-auth-flow-completion/PLAN-INDEX.md
  apps/frontend/src/app/auth/update-password/page.tsx
  apps/frontend/src/components/auth/update-password-form.tsx
  apps/frontend/src/hooks/api/use-auth.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(auth): email confirmation flow with rate-limited resend and token handling
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/app/auth/confirm-email/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(auth): Google OAuth role selection and tenant invitation auto-linking
  apps/frontend/src/app/(auth)/login/page.tsx
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/app/auth/select-role/page.tsx
  apps/frontend/src/env.ts
  apps/frontend/src/lib/supabase/proxy.ts
  packages/shared/src/constants/auth.ts
  packages/shared/src/utils/auth.ts
  supabase/migrations/20260227160724_google_oauth_pending_user_type.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-61): transition complete — evolve PROJECT.md, advance STATE.md to Phase 62
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

docs(62): capture phase context for code quality + performance
  .planning/phases/62-code-quality-performance/62-CONTEXT.md
Due: prettier --write

fix: eliminate double-toast by removing toast from handlePostgrestError
  apps/frontend/src/hooks/api/use-financials.ts
  apps/frontend/src/hooks/api/use-properties.ts
  apps/frontend/src/lib/postgrest-error-handler.ts
Due: eslint --fix --no-warn-ignored, prettier --write

refactor: consolidate payment hooks and replace all runtime-throw stubs
  apps/frontend/src/app/(owner)/documents/templates/components/template-definition.ts
  apps/frontend/src/app/(owner)/documents/templates/components/use-template-pdf.test.ts
  apps/frontend/src/app/(owner)/documents/templates/components/use-template-pdf.ts
  apps/frontend/src/app/(owner)/payments/methods/payment-methods-list.client.tsx
  apps/frontend/src/app/(owner)/rent-collection/page.tsx
  apps/frontend/src/app/(tenant)/tenant/__tests__/responsive-data-display.test.tsx
  apps/frontend/src/app/(tenant)/tenant/payments/autopay/page.tsx
  apps/frontend/src/app/(tenant)/tenant/payments/history/page.tsx
  apps/frontend/src/app/(tenant)/tenant/payments/methods/tenant-payment-methods.client.tsx
  apps/frontend/src/app/(tenant)/tenant/settings/page.tsx
  apps/frontend/src/app/(tenant)/tenant/settings/payment-methods-tab.tsx
  apps/frontend/src/components/billing/payment-methods-list.tsx
  apps/frontend/src/components/contact/contact-form.tsx
  apps/frontend/src/components/leases/pay-rent-dialog.tsx
  apps/frontend/src/components/onboarding/onboarding-step-tenant.tsx
  apps/frontend/src/components/properties/bulk-import-stepper.tsx
  apps/frontend/src/components/tenants/invite-tenant-form.tsx
  apps/frontend/src/hooks/api/use-identity-verification.ts
  apps/frontend/src/hooks/api/use-payment-methods.ts
  apps/frontend/src/hooks/api/use-payments.ts
Due: eslint --fix --no-warn-ignored, prettier --write

perf: replace 95 getUser() calls with cached auth, add CSV limit, batch tenant ops
  apps/frontend/src/app/(owner)/settings/components/general-settings.tsx
  apps/frontend/src/app/(owner)/settings/components/security-settings.tsx
  apps/frontend/src/app/(tenant)/tenant/onboarding/page.tsx
  apps/frontend/src/app/(tenant)/tenant/settings/page.tsx
  apps/frontend/src/app/auth/select-role/page.tsx
  apps/frontend/src/components/export/export-buttons.tsx
  apps/frontend/src/components/onboarding/onboarding-step-tenant.tsx
  apps/frontend/src/components/onboarding/use-onboarding.ts
  apps/frontend/src/components/settings/general-settings.tsx
  apps/frontend/src/components/settings/sections/password-section.tsx
  apps/frontend/src/components/tenants/invite-tenant-form.tsx
  apps/frontend/src/hooks/api/__tests__/use-payments.test.tsx
  apps/frontend/src/hooks/api/query-keys/lease-keys.ts
  apps/frontend/src/hooks/api/query-keys/maintenance-keys.ts
  apps/frontend/src/hooks/api/query-keys/property-keys.ts
  apps/frontend/src/hooks/api/use-analytics.ts
  apps/frontend/src/hooks/api/use-auth.ts
  apps/frontend/src/hooks/api/use-billing.ts
  apps/frontend/src/hooks/api/use-emergency-contact.ts
  apps/frontend/src/hooks/api/use-financials.ts
  apps/frontend/src/hooks/api/use-identity-verification.ts
  apps/frontend/src/hooks/api/use-inspections.ts
  apps/frontend/src/hooks/api/use-lease.ts
  apps/frontend/src/hooks/api/use-maintenance.ts
  apps/frontend/src/hooks/api/use-owner-dashboard.ts
  apps/frontend/src/hooks/api/use-owner-notification-settings.ts
  apps/frontend/src/hooks/api/use-payment-methods.ts
  apps/frontend/src/hooks/api/use-payments.ts
  apps/frontend/src/hooks/api/use-profile.ts
  apps/frontend/src/hooks/api/use-properties.ts
  apps/frontend/src/hooks/api/use-reports.ts
  apps/frontend/src/hooks/api/use-tenant-portal.ts
  apps/frontend/src/hooks/api/use-tenant.ts
  apps/frontend/src/hooks/api/use-tour-progress.ts
  apps/frontend/src/hooks/api/use-unit.ts
  apps/frontend/src/hooks/api/use-vendor.ts
  apps/frontend/src/lib/supabase/get-cached-user.ts
  apps/frontend/src/providers/auth-provider.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(phase-62): transition complete — evolve PROJECT.md, advance STATE.md to Phase 63
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

docs(63): capture phase context for testing, CI/CD + documentation
  .planning/phases/63-testing-ci-cd-documentation/63-CONTEXT.md
Due: prettier --write

feat: add RLS write-path isolation tests for all 7 domains
  .planning/phases/63-testing-ci-cd-documentation/63-01-rls-write-path-tests.md
  .planning/phases/63-testing-ci-cd-documentation/63-02-ci-pipeline-e2e-cleanup.md
  .planning/phases/63-testing-ci-cd-documentation/63-03-claude-md-modernization.md
  .planning/phases/63-testing-ci-cd-documentation/PLAN-INDEX.md
  apps/integration-tests/src/rls/inspections.rls.test.ts
  apps/integration-tests/src/rls/leases.rls.test.ts
  apps/integration-tests/src/rls/maintenance.rls.test.ts
  apps/integration-tests/src/rls/properties.rls.test.ts
  apps/integration-tests/src/rls/tenants.rls.test.ts
  apps/integration-tests/src/rls/units.rls.test.ts
  apps/integration-tests/src/rls/vendors.rls.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

ci: gate PRs with RLS security tests + purge stale NestJS E2E intercepts
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
  apps/e2e-tests/mocks/api-handlers.ts
  apps/e2e-tests/tests/auth-jwt-validation.spec.ts
  apps/e2e-tests/tests/auth-nextjs16-dal.spec.ts
  apps/e2e-tests/tests/owner/connect-onboarding.e2e.spec.ts
  apps/e2e-tests/tests/production/monitoring.prod.spec.ts
  apps/e2e-tests/tests/seed.spec.ts
  apps/e2e-tests/tests/staging/tenant-portal.staging.spec.ts
  apps/e2e-tests/tests/tanstack-query/cache-behavior.spec.ts
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.e2e.spec.ts
  apps/e2e-tests/tests/tenant-management/tenant-management-fixed.e2e.spec.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs: modernize CLAUDE.md with PostgREST, Edge Function, and RLS patterns
  CLAUDE.md
Due: prettier --write

docs: advance STATE.md to Phase 63 complete
  .planning/STATE.md
Due: prettier --write

docs(phase-63): transition complete — evolve PROJECT.md, advance STATE.md to Phase 64
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

docs(64): capture phase context for autopay
  .planning/phases/64-autopay/64-CONTEXT.md
Due: prettier --write

feat: add autopay infrastructure — Edge Function, pg_cron job, failure emails (64-01)
  .planning/phases/64-autopay/64-01.md
  .planning/phases/64-autopay/64-02.md
  .planning/phases/64-autopay/PLAN-INDEX.md
  supabase/functions/stripe-autopay-charge/index.ts
  supabase/functions/stripe-rent-checkout/index.ts
  supabase/functions/stripe-webhooks/_templates/autopay-failed.tsx
  supabase/functions/stripe-webhooks/index.ts
  supabase/migrations/20260227160000_autopay_schema_and_cron.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat: implement autopay frontend — toggle, real mutations, payment method selection (64-02)
  apps/frontend/src/app/(tenant)/tenant/payments/autopay/page.tsx
  apps/frontend/src/components/leases/__tests__/lease-action-buttons.test.tsx
  apps/frontend/src/components/leases/__tests__/lease-details.test.tsx
  apps/frontend/src/components/leases/__tests__/lease-form.test.tsx
  apps/frontend/src/hooks/api/use-tenant-portal.ts
  apps/frontend/src/test/utils/test-data.ts
  packages/shared/src/types/supabase.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(v8.0): milestone complete — all 7 phases shipped (58-64)
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

fix: correct domain from tenantflow.com to tenantflow.app
  .planning/STATE.md
  apps/frontend/src/components/sections/hero-dashboard-mockup.tsx
  packages/shared/src/validation/common.ts
  supabase/functions/_shared/resend.ts
  supabase/functions/stripe-webhooks/_templates/email-layout.tsx
  supabase/functions/stripe-webhooks/index.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat: add /support, /security-policy pages and PGP key
  .gitignore
  apps/frontend/public/.well-known/pgp-key.txt
  apps/frontend/public/.well-known/security.txt
  apps/frontend/public/sitemap.xml
  apps/frontend/src/app/security-policy/page.tsx
  apps/frontend/src/app/support/page.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(security): resolve basic-ftp path traversal and hono IP spoofing
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

fix(ci): skip RLS tests gracefully when secrets are not configured
  .github/workflows/rls-security-tests.yml
Due: prettier --write

fix(ci): move RLS tests to pre-commit only, remove from CI pipeline
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-05-PLAN.md
  .planning/phases/60-receipt-emails/60-01-PLAN.md
  .planning/phases/60-receipt-emails/60-CONTEXT.md
  .planning/phases/60-receipt-emails/60-RESEARCH.md
  .planning/phases/62-code-quality-performance/62-01-PLAN.md
  .planning/phases/62-code-quality-performance/62-02-PLAN.md
  .planning/phases/62-code-quality-performance/62-03-PLAN.md
  .planning/phases/62-code-quality-performance/PLAN-INDEX.md
Due: prettier --write

fix(security): resolve 7 dependabot alerts via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm audit --audit-level=moderate

perf: drop 42 unused indexes and vacuum bloated tables
  supabase/migrations/20260301065605_drop_unused_indexes_optimize.sql
Due: none

perf: consolidate 9 dashboard RPCs into single unified call
  apps/frontend/src/hooks/api/use-owner-dashboard.ts
  packages/shared/src/types/supabase.ts
  supabase/migrations/20260301070000_unified_dashboard_rpc.sql
Due: eslint --fix --no-warn-ignored, prettier --write
