Repository hudsor01/tenant-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write, detect-secrets scan --baseline .secrets.baseline, npm audit --audit-level=moderate

.lintstagedrc.json:

{
	"*.{ts,tsx}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{js,jsx,mjs,cjs}": [
		"eslint --fix --no-warn-ignored",
		"prettier --write"
	],
	"*.{json,jsonc}": [
		"prettier --write"
	],
	"*.{md,mdx}": [
		"prettier --write"
	],
	"*.{yml,yaml}": [
		"prettier --write"
	],
	"*.{css,scss,sass}": [
		"prettier --write"
	],
	"*.{env,env.*}": [
		"detect-secrets scan --baseline .secrets.baseline"
	],
	"package.json": [
		"npm audit --audit-level=moderate",
		"prettier --write"
	]
}

feat(55-01): add rent charge generation cron
  supabase/migrations/20260724140100_rent_charges_generation_cron.sql
Due: none

docs(55-01): complete rent-ledger schema + generation plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-rent-ledger/55-01-SUMMARY.md
Due: prettier --write

feat(55-02): add ledger read/reverse/onboarding/collection-rate RPCs
  supabase/migrations/20260724140200_rent_ledger_rpcs.sql
Due: none

feat(55-02): fill revenue collections from ledger receipts
  supabase/migrations/20260724140300_revenue_collected_integration.sql
Due: none

docs(55-02): complete ledger RPCs + revenue-collected integration plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-rent-ledger/55-02-SUMMARY.md
Due: prettier --write

feat(55-03): add pure ledger-derivation math + balance unit test
  src/hooks/api/__tests__/rent-ledger-balance.test.ts
  src/lib/ledger/ledger-math.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(55-03): add money-boundary static guard for ledger paths
  src/hooks/api/__tests__/rent-ledger-money.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

test(55-03): add rent-ledger rls integration scaffolds
  tests/integration/rls/rent-ledger-append-only.test.ts
  tests/integration/rls/rent-ledger-generation.test.ts
  tests/integration/rls/rent-ledger-isolation.test.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(55-03): complete ledger-math + wave 0 test suites plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-rent-ledger/55-03-SUMMARY.md
  .planning/phases/55-rent-ledger/deferred-items.md
Due: prettier --write

fix(55-04): normalize ledger migrations to pure ascii before mcp apply
  supabase/migrations/20260724140000_rent_ledger_schema.sql
  supabase/migrations/20260724140100_rent_charges_generation_cron.sql
  supabase/migrations/20260724140200_rent_ledger_rpcs.sql
  supabase/migrations/20260724140300_revenue_collected_integration.sql
Due: none

chore(55-04): reconcile ledger migration filenames to prod timestamps
  supabase/migrations/20260725020925_rent_ledger_schema.sql
  supabase/migrations/20260725020952_rent_charges_generation_cron.sql
  supabase/migrations/20260725021100_rent_ledger_rpcs.sql
  supabase/migrations/20260725021124_revenue_collected_integration.sql
Due: none

feat(55-04): regenerate supabase types from live db with ledger schema
  src/components/leases/__tests__/lease-action-buttons.test.tsx
  src/components/leases/__tests__/lease-details.test.tsx
  src/components/leases/__tests__/lease-form.test.tsx
  src/components/leases/dialogs/__tests__/renew-lease-dialog.test.tsx
  src/hooks/api/__tests__/use-lease.test.tsx
  src/test/utils/test-data.ts
  src/types/supabase.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(55-04): complete prod apply gate summary
  .planning/ROADMAP.md
  .planning/phases/55-rent-ledger/55-04-SUMMARY.md
Due: prettier --write

feat(55-05): add rent-ledger query keys, typed mappers, and mutations
  src/hooks/api/__tests__/rent-ledger-money.test.ts
  src/hooks/api/mutation-keys.ts
  src/hooks/api/query-keys/rent-ledger-keys.test.ts
  src/hooks/api/query-keys/rent-ledger-keys.ts
  src/hooks/api/query-keys/rent-ledger-mutation-options.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(55-05): add rent-ledger query and mutation hooks
  src/hooks/api/use-rent-ledger.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(55-05): complete ledger data-layer plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-rent-ledger/55-05-SUMMARY.md
  .planning/phases/55-rent-ledger/deferred-items.md
Due: prettier --write

docs(55-05): correct d2 attribution in summary to the phase-55 hygiene sweep
  .planning/phases/55-rent-ledger/55-05-SUMMARY.md
Due: prettier --write

fix(55-04): permit parent cascades in ledger append-only guard
  .planning/phases/55-rent-ledger/55-04-SUMMARY.md
  .planning/phases/55-rent-ledger/deferred-items.md
  supabase/migrations/20260725131659_rent_ledger_cascade_delete_guard.sql
Due: prettier --write

chore(55): enforce typecheck on integration and e2e projects
  biome.json
  package.json
  tests/e2e/tests/helpers/form-helpers.ts
  tests/e2e/tests/owner/owner-dashboard.e2e.spec.ts
  tests/e2e/tests/owner/owner-leases.e2e.spec.ts
  tests/e2e/tests/owner/owner-maintenance.e2e.spec.ts
  tests/e2e/tests/owner/owner-properties.e2e.spec.ts
  tests/e2e/tests/owner/owner-settings.e2e.spec.ts
  tests/e2e/tests/owner/owner-tenants.e2e.spec.ts
  tests/e2e/tests/smoke/critical-paths.smoke.spec.ts
  tests/integration/rls/activity.rls.test.ts
  tests/integration/rls/document-category-mutations.rls.test.ts
  tests/integration/rls/document-template-definitions.rls.test.ts
  tests/integration/rls/documents.rls.test.ts
  tests/integration/rls/error-monitoring.test.ts
  tests/integration/rls/esign-metering.rls.test.ts
  tests/integration/rls/expenses.rls.test.ts
  tests/integration/rls/rent-ledger-append-only.test.ts
  tests/integration/rls/reports.rls.test.ts
  tests/integration/tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write, npm audit --audit-level=moderate

feat(55-08): restore the collection-rate KPI from ledger actuals
  src/components/dashboard/components/__tests__/dashboard-portfolio-swap.test.tsx
  src/components/dashboard/dashboard.tsx
  src/components/ledger/__tests__/collection-rate-kpi.test.tsx
  src/components/ledger/collection-rate-kpi.tsx
  src/hooks/api/__tests__/collection-rate-mapper.test.ts
  src/hooks/api/query-keys/owner-dashboard-keys.ts
  src/hooks/api/use-owner-dashboard-financial.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(55-08): label revenue surfaces Scheduled vs Collected
  src/app/(owner)/analytics/financial/_components/__tests__/financial-overview-stats.test.tsx
  src/app/(owner)/analytics/financial/_components/financial-overview-stats.tsx
  src/app/(owner)/analytics/financial/page.tsx
  src/hooks/api/query-keys/analytics-mappers.test.ts
  src/hooks/api/query-keys/analytics-mappers.ts
  src/types/analytics.ts
Due: eslint --fix --no-warn-ignored, prettier --write

docs(55-08): complete collection-rate KPI + Scheduled/Collected relabel plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-rent-ledger/55-08-SUMMARY.md
  .planning/phases/55-rent-ledger/deferred-items.md
Due: prettier --write

feat(55-06): add record-receipt dialog with per-charge allocation
  src/components/ledger/__tests__/record-receipt-dialog.test.tsx
  src/components/ledger/ledger-date-field.tsx
  src/components/ledger/record-receipt-dialog.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

feat(55-06): add manual line and track-since ledger dialogs
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/components/ledger/__tests__/add-line-dialog.test.tsx
  src/components/ledger/__tests__/track-since-dialog.test.tsx
  src/components/ledger/add-line-dialog.tsx
  src/components/ledger/track-since-dialog.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(55-06): complete ledger action dialogs plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-rent-ledger/55-06-SUMMARY.md
  .planning/phases/55-rent-ledger/deferred-items.md
Due: prettier --write

fix(55): clear supabase advisor findings on the new ledger objects
  src/hooks/api/__tests__/collection-rate-mapper.test.ts
  src/hooks/api/query-keys/__tests__/notification-keys.test.ts
  src/hooks/api/query-keys/document-category-keys.test.ts
  src/hooks/api/query-keys/document-keys.test.ts
  src/hooks/api/query-keys/rent-ledger-keys.test.ts
  supabase/migrations/20260725134519_rent_ledger_guard_search_path.sql
  supabase/migrations/20260725134640_rent_ledger_reverses_id_indexes.sql
Due: eslint --fix --no-warn-ignored, prettier --write

feat(55-07): add the per-lease ledger tab surface
  src/components/ledger/__tests__/ledger-tab.test.tsx
  src/components/ledger/ledger-balance-strip.tsx
  src/components/ledger/ledger-tab.tsx
  src/components/ledger/ledger-table-row.tsx
  src/components/ledger/ledger-table.tsx
  src/lib/ledger/ledger-math.ts
Due: eslint --fix --no-warn-ignored, prettier --write

feat(55-07): mount the ledger tab on the lease detail page
  src/components/leases/__tests__/lease-details.test.tsx
  src/components/leases/detail/lease-details.client.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

docs(55-07): complete per-lease ledger tab plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/55-rent-ledger/55-07-SUMMARY.md
Due: prettier --write

fix(55): remove the form-level onBlur validator deadlock codebase-wide
  .planning/phases/55-rent-ledger/deferred-items.md
  src/app/(owner)/documents/templates/components/maintenance-request-template.client.tsx
  src/app/(owner)/documents/templates/components/property-inspection-template.client.tsx
  src/app/(owner)/documents/templates/components/rental-application-template.client.tsx
  src/app/(owner)/documents/templates/components/tenant-notice-template.client.tsx
  src/components/leases/lease-form-options.ts
  src/components/properties/property-form-options.ts
  src/lib/forms/form-components/submit-button.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix(55): rent charges were not reversible; close all verification findings
  .planning/phases/55-rent-ledger/VERIFICATION.md
  src/lib/ledger/ledger-math.ts
  supabase/migrations/20260726020701_rent_ledger_verification_fixes.sql
Due: eslint --fix --no-warn-ignored, prettier --write

docs(55): ship phase 55 - PR #927
  .planning/STATE.md
Due: prettier --write

docs(56): capture phase context
  .planning/phases/56-reporting-hub-documents-landing/56-CONTEXT.md
  .planning/phases/56-reporting-hub-documents-landing/56-DISCUSSION-LOG.md
Due: prettier --write

docs(56): add UI design contract for reporting hub + documents landing
  .planning/phases/56-reporting-hub-documents-landing/56-UI-SPEC.md
Due: prettier --write

docs(56): apply ui-checker corrections to design contract
  .planning/phases/56-reporting-hub-documents-landing/56-UI-SPEC.md
Due: prettier --write

docs(56): research reporting hub consolidation + documents landing
  .planning/phases/56-reporting-hub-documents-landing/56-RESEARCH.md
Due: prettier --write

docs(56): add validation strategy
  .planning/phases/56-reporting-hub-documents-landing/56-VALIDATION.md
Due: prettier --write

docs(56): lock post-research decisions D-19..D-26
  .planning/phases/56-reporting-hub-documents-landing/56-CONTEXT.md
Due: prettier --write

docs(56): rescope - analytics stays separate, split out phase 65
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/56-reporting-hub-documents-landing/56-CONTEXT.md
  .planning/phases/56-reporting-hub-documents-landing/56-RESEARCH.md
  .planning/phases/56-reporting-hub-documents-landing/56-UI-SPEC.md
  .planning/phases/56-reporting-hub-documents-landing/56-VALIDATION.md
Due: prettier --write

fix(sentry): pin release name so the post-deploy gate can find it
  .github/workflows/post-deploy-sentry-gate.yml
  next.config.ts
Due: eslint --fix --no-warn-ignored, prettier --write
