Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

fix: add graceful degradation to RedisCacheService when Redis is unavailable
  apps/backend/src/cache/cache.service.ts
Due: prettier, lint-quick

fix: add graceful degradation to RedisCacheService when Redis is unavailable (#473)
  apps/backend/src/cache/cache.service.ts
Due: prettier, lint-quick

fix: replace pink chart color with masculine slate blue
  apps/frontend/src/app/globals.css
Due: none

ci: fix barrel file check workflow with shell script
  .github/workflows/fix-barrels.yml
Due: prettier

fix: sync remaining local changes
  apps/frontend/src/app/(owner)/analytics/leases/page.tsx
  apps/frontend/src/app/(owner)/analytics/occupancy/page.tsx
  apps/frontend/src/app/(owner)/analytics/overview/page.tsx
  apps/frontend/src/app/(owner)/analytics/property-performance/page.tsx
  apps/frontend/src/app/(owner)/financials/balance-sheet/page.tsx
  apps/frontend/src/app/(owner)/financials/cash-flow/page.tsx
  apps/frontend/src/app/(owner)/financials/expenses/page.tsx
  apps/frontend/src/app/(owner)/financials/income-statement/page.tsx
  apps/frontend/src/app/(owner)/financials/page.tsx
  apps/frontend/src/app/(owner)/financials/payouts/page.tsx
  apps/frontend/src/app/(owner)/maintenance/maintenance-card.tsx
  apps/frontend/src/app/(owner)/maintenance/maintenance-view.client.tsx
  apps/frontend/src/app/(owner)/profile/page.tsx
  apps/frontend/src/app/(owner)/settings/page.tsx
  apps/frontend/src/components/dashboard/chart-area-interactive.tsx
  apps/frontend/src/components/tenant-portal/rent-payment-card.tsx
  apps/frontend/src/components/tenant-portal/tenant-stats-cards.tsx
  apps/frontend/src/components/tenants/tenants.tsx
  apps/frontend/src/hooks/api/use-properties.ts
  apps/frontend/src/hooks/api/use-rent-payments.ts
  apps/frontend/src/hooks/api/use-tenant.ts
Due: prettier, lint-quick

test: add comprehensive shell component and SSE tests
  apps/backend/src/modules/notifications/sse/sse.controller.spec.ts
  apps/backend/src/modules/notifications/sse/sse.controller.ts
  apps/backend/src/modules/notifications/sse/sse.service.spec.ts
  apps/backend/src/modules/notifications/sse/sse.service.ts
  apps/frontend/src/components/shell/__tests__/app-shell.test.tsx
  apps/frontend/src/components/shell/__tests__/main-nav.test.tsx
  apps/frontend/src/components/shell/__tests__/quick-actions-dock.test.tsx
  apps/frontend/src/components/shell/__tests__/tenant-shell.test.tsx
  apps/frontend/src/lib/__tests__/breadcrumbs.test.ts
  packages/shared/src/types/supabase.ts
Due: prettier, lint-quick

test: enhance PDF lease template tests with section validation
  apps/backend/src/modules/pdf/__snapshots__/react-lease-pdf.service.spec.ts.snap
  apps/backend/src/modules/pdf/react-lease-pdf.service.spec.ts
  apps/backend/src/modules/pdf/templates/components/lease-sections.tsx
  apps/backend/src/modules/pdf/templates/texas-lease-template.tsx
Due: prettier, lint-quick

feat: add document templates for PDF generation
  apps/backend/src/modules/documents/document-template-storage.service.ts
  apps/backend/src/modules/documents/documents.module.ts
  apps/backend/src/modules/pdf/document-template.controller.ts
  apps/backend/src/modules/pdf/pdf.module.ts
  apps/backend/src/modules/pdf/templates/maintenance-request.hbs
  apps/backend/src/modules/pdf/templates/property-inspection.hbs
  apps/backend/src/modules/pdf/templates/rental-application.hbs
  apps/backend/src/modules/pdf/templates/tenant-notice.hbs
  apps/frontend/src/app/(owner)/documents/templates/components/branding-editor.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/clauses-editor.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/custom-fields-editor.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/dynamic-form.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/form-builder-panel.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/maintenance-request-template.client.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/property-inspection-template.client.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/rental-application-template.client.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/template-definition.ts
  apps/frontend/src/app/(owner)/documents/templates/components/template-preview-panel.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/template-schemas.ts
  apps/frontend/src/app/(owner)/documents/templates/components/template-types.ts
  apps/frontend/src/app/(owner)/documents/templates/components/tenant-notice-template.client.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/use-template-pdf.ts
  apps/frontend/src/app/(owner)/documents/templates/maintenance-request/page.tsx
  apps/frontend/src/app/(owner)/documents/templates/property-inspection/page.tsx
  apps/frontend/src/app/(owner)/documents/templates/rental-application/page.tsx
  apps/frontend/src/app/(owner)/documents/templates/tenant-notice/page.tsx
  apps/frontend/src/components/documents/documents.client.tsx
Due: prettier, lint-quick

fix(security): upgrade qs to 6.14.1 to fix DoS vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier

fix(security): upgrade qs to 6.14.1 to fix DoS vulnerability (#479)
  package.json
  pnpm-lock.yaml
Due: prettier

feat: complete enum-to-text migration with function recreation
  apps/backend/src/modules/documents/document-template-storage.service.ts
  apps/backend/src/modules/pdf/document-template.controller.ts
  apps/frontend/src/app/(owner)/documents/templates/components/branding-editor.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/custom-fields-editor.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/form-builder-panel.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/template-definition.ts
Due: prettier, lint-quick

fix: add auth guards, debounce, and validation to document templates
  apps/backend/src/modules/documents/document-template-storage.service.ts
  apps/backend/src/modules/pdf/document-template.controller.spec.ts
  apps/backend/src/modules/pdf/document-template.controller.ts
  apps/frontend/src/app/(owner)/documents/templates/components/form-builder-panel.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/use-template-pdf.test.ts
  apps/frontend/src/app/(owner)/documents/templates/components/use-template-pdf.ts
Due: prettier, lint-quick

feat: add document templates for PDF generation (#477)
  apps/backend/src/modules/documents/document-template-storage.service.ts
  apps/backend/src/modules/pdf/document-template.controller.spec.ts
  apps/backend/src/modules/pdf/document-template.controller.ts
  apps/frontend/src/app/(owner)/documents/templates/components/form-builder-panel.tsx
  apps/frontend/src/app/(owner)/documents/templates/components/use-template-pdf.test.ts
  apps/frontend/src/app/(owner)/documents/templates/components/use-template-pdf.ts
Due: prettier, lint-quick

fix: lazy init Supabase client to avoid SSG failures
  apps/frontend/src/lib/generate-metadata.ts
  apps/frontend/src/providers/auth-provider.tsx
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
