Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

test(40-01): strengthen SEO smoke spec with breadcrumb and double-suffix guards
  tests/e2e/tests/public/seo-smoke.spec.ts
Due: prettier, lint-quick

docs(phase-40): land 40-01 SEO smoke strengthening and commit phase plans
  .planning/STATE.md
  .planning/phases/40-metadata-verification-completeness/40-01-PLAN.md
  .planning/phases/40-metadata-verification-completeness/40-01-SUMMARY.md
  .planning/phases/40-metadata-verification-completeness/40-02-PLAN.md
  .planning/phases/40-metadata-verification-completeness/40-03-PLAN.md
  .planning/phases/40-metadata-verification-completeness/40-RESEARCH.md
  .planning/phases/40-metadata-verification-completeness/40-VALIDATION.md
Due: prettier

feat(40-02): migrate 4 legal/support pages to createPageMetadata factory
  .planning/phases/40-metadata-verification-completeness/40-02-SUMMARY.md
  src/app/privacy/page.tsx
  src/app/security-policy/page.tsx
  src/app/support/page.tsx
  src/app/terms/page.tsx
Due: prettier, lint-quick

feat(40-03): migrate 3 resource pages and close BreadcrumbList gap
  .planning/ROADMAP.md
  .planning/phases/40-metadata-verification-completeness/40-03-SUMMARY.md
  src/app/resources/landlord-tax-deduction-tracker/page.tsx
  src/app/resources/seasonal-maintenance-checklist/page.tsx
  src/app/resources/security-deposit-reference-card/page.tsx
Due: prettier, lint-quick

docs(phase-40): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/40-metadata-verification-completeness/40-VERIFICATION.md
Due: prettier

docs(audit): backfill VERIFICATION.md for phases 32 and 34
  .planning/phases/32-crawlability-critical-fixes/32-VERIFICATION.md
  .planning/phases/34-per-page-metadata/34-VERIFICATION.md
Due: prettier

chore(deps): pin node engine to 24.x to prevent auto-upgrade
  package.json
Due: prettier

chore(deps): patch 9 dependabot security alerts (vite, hono)
  package.json
  pnpm-lock.yaml
Due: prettier

feat(launch-readiness): payout timing instrumentation + health RPCs
  supabase/functions/stripe-webhooks/handlers/payout-lifecycle.ts
  supabase/functions/stripe-webhooks/index.ts
  supabase/migrations/20260413120000_launch_readiness_instrumentation.sql
Due: prettier, lint-quick

feat(launch-readiness): autopay notifications + dashboard widgets
  src/components/admin/payout-timing-card.tsx
  src/components/dashboard/components/autopay-health-card.tsx
  src/components/dashboard/owner-dashboard.tsx
  src/hooks/api/query-keys/autopay-health-keys.ts
  src/hooks/api/query-keys/payout-timing-keys.ts
  supabase/functions/_shared/autopay-email-template.ts
  supabase/functions/stripe-autopay-charge/index.ts
  supabase/functions/tests/payout-webhook-test.ts
  supabase/functions/tests/stripe-autopay-charge-test.ts
Due: prettier, lint-quick

docs: start milestone v1.7 Launch Readiness
  .planning/PROJECT.md
Due: prettier

chore: pause v1.7 milestone definition (next: /gsd:plan-phase 41)
  .planning/.continue-here.md
  .planning/HANDOFF.json
Due: prettier

docs(phase-41): plan Payment Correctness & Split-Rent Tests
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-payment-correctness-split-rent-tests/41-01-PLAN.md
  .planning/phases/41-payment-correctness-split-rent-tests/41-02-PLAN.md
  .planning/phases/41-payment-correctness-split-rent-tests/41-03-PLAN.md
Due: prettier

test(41-01): add shared autopay fixture helper
  supabase/functions/tests/_helpers/autopay-fixtures.ts
Due: prettier, lint-quick

test(41-01): add TEST-01 autopay success integration test
  supabase/functions/tests/autopay-success.test.ts
Due: prettier, lint-quick

test(41-01): add TEST-02 autopay decline retry tracking test
  supabase/functions/tests/autopay-decline-retry.test.ts
Due: prettier, lint-quick

test(41-01): add TEST-03 autopay final attempt exhaustion test
  supabase/functions/tests/autopay-final-attempt.test.ts
Due: prettier, lint-quick

test(41-01): add TEST-04 webhook replay idempotency test
  supabase/functions/tests/autopay-webhook-idempotency.test.ts
Due: prettier, lint-quick

docs(41-01): complete autopay correctness tests plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-payment-correctness-split-rent-tests/41-01-SUMMARY.md
Due: prettier

test(41-02): add shared payout fixtures + webhook signing helpers
  supabase/functions/tests/_helpers/payout-fixtures.ts
Due: prettier, lint-quick

test(41-02): add TEST-05 payout lifecycle integration test
  supabase/functions/tests/payout-lifecycle-integration.test.ts
Due: prettier, lint-quick

test(41-02): add TEST-05 webhook idempotency test for payout.paid
  supabase/functions/tests/payout-idempotency.test.ts
Due: prettier, lint-quick

test(41-02): add TEST-06 duration_hours + admin timing RPC test
  supabase/functions/tests/payout-duration-hours.test.ts
Due: prettier, lint-quick

docs(41-02): complete payout lifecycle tests plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-payment-correctness-split-rent-tests/41-02-SUMMARY.md
Due: prettier

test(41-03): add split-rent shared fixture loader
  tests/integration/setup/split-rent-fixture.ts
Due: prettier, lint-quick

test(41-03): add TEST-07 tenant-portion split-rent RLS test
  tests/integration/rls/split-rent-tenant-portion.rls.test.ts
Due: prettier, lint-quick

test(41-03): add TEST-08 cross-tenant split-rent RLS isolation test
  tests/integration/rls/split-rent-tenant-isolation.rls.test.ts
Due: prettier, lint-quick

test(41-03): add TEST-09 owner-aggregate split-rent RLS test
  tests/integration/rls/split-rent-owner-aggregate.rls.test.ts
Due: prettier, lint-quick

docs(41-03): complete split-rent RLS correctness plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-payment-correctness-split-rent-tests/41-03-SUMMARY.md
Due: prettier

docs(phase-41): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/41-payment-correctness-split-rent-tests/41-VERIFICATION.md
Due: prettier

feat(42-01): add get_subscription_status RPC migration
  supabase/migrations/20260414120000_get_subscription_status_rpc.sql
Due: none

feat(42-01): add stripe-cancel-subscription Edge Function + Deno test
  supabase/functions/stripe-cancel-subscription/index.ts
  supabase/functions/tests/stripe-cancel-subscription.test.ts
Due: prettier, lint-quick

feat(42-01): wire useCancel + useReactivate mutation hooks + unit tests
  src/app/(owner)/rent-collection/page.tsx
  src/hooks/api/mutation-keys.ts
  src/hooks/api/query-keys/subscription-keys.ts
  src/hooks/api/use-billing-mutations.test.ts
  src/hooks/api/use-billing-mutations.ts
  src/hooks/api/use-subscription-status.test.ts
Due: prettier, lint-quick

refactor(42-02): extract GdprDataActions from account-danger-section
  src/components/settings/gdpr-data-actions.tsx
  src/components/settings/sections/account-danger-section.tsx
Due: prettier, lint-quick

test(42-02): add GdprDataActions component tests
  src/components/settings/__tests__/gdpr-data-actions.test.tsx
Due: prettier, lint-quick

feat(42-02): rewrite SubscriptionCancelSection as 3-state machine
  src/components/settings/sections/subscription-cancel-section.test.tsx
  src/components/settings/sections/subscription-cancel-section.tsx
Due: prettier, lint-quick

test(42-02): add Playwright cancellation happy-path spec
  tests/e2e/tests/owner/cancellation.spec.ts
Due: prettier, lint-quick

docs(42-02): complete cancellation UX 3-state machine plan
  .planning/phases/42-cancellation-ux-end-to-end-audit-fix/42-02-SUMMARY.md
Due: prettier

docs(phase-42): complete phase execution and tracking
  .planning/STATE.md
  .planning/phases/42-cancellation-ux-end-to-end-audit-fix/42-01-PLAN.md
  .planning/phases/42-cancellation-ux-end-to-end-audit-fix/42-01-SUMMARY.md
  .planning/phases/42-cancellation-ux-end-to-end-audit-fix/42-02-PLAN.md
  .planning/phases/42-cancellation-ux-end-to-end-audit-fix/42-CONTEXT.md
  .planning/phases/42-cancellation-ux-end-to-end-audit-fix/42-RESEARCH.md
  .planning/phases/42-cancellation-ux-end-to-end-audit-fix/42-UI-SPEC.md
  .planning/phases/42-cancellation-ux-end-to-end-audit-fix/42-VALIDATION.md
Due: prettier
