Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

docs: start milestone v1.4 Tenant Invitation Flow Redesign
  .planning/PROJECT.md
  .planning/STATE.md
Due: prettier

docs: complete v1.4 tenant invitation flow research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: prettier

docs: define milestone v1.4 requirements (16 reqs)
  .planning/REQUIREMENTS.md
Due: prettier

docs: create milestone v1.4 roadmap (3 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

docs(26): capture phase context
  .planning/phases/26-database-stabilization/26-CONTEXT.md
  .planning/phases/26-database-stabilization/26-DISCUSSION-LOG.md
Due: prettier

docs(state): record phase 26 context session
  .planning/STATE.md
Due: prettier

docs(phase-26): planning artifacts for database stabilization
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/26-database-stabilization/26-01-PLAN.md
  .planning/phases/26-database-stabilization/26-02-PLAN.md
  .planning/phases/26-database-stabilization/26-RESEARCH.md
  .planning/phases/26-database-stabilization/26-VALIDATION.md
Due: prettier

feat(26-01): stabilize tenant invitations migration
  supabase/migrations/20260330180000_stabilize_tenant_invitations.sql
Due: none

docs(26-01): complete stabilize tenant invitations plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/26-database-stabilization/26-01-SUMMARY.md
Due: prettier

docs(phase-26): add planning artifacts for database stabilization
  .planning/phases/26-database-stabilization/26-01-PLAN.md
  .planning/phases/26-database-stabilization/26-02-PLAN.md
  .planning/phases/26-database-stabilization/26-CONTEXT.md
  .planning/phases/26-database-stabilization/26-RESEARCH.md
  .planning/phases/26-database-stabilization/26-VALIDATION.md
Due: prettier

chore(26-02): update types
  src/types/supabase.ts
Due: prettier, lint-quick

fix(26-02): fix portal_access typo and remove client expires_at from invite-tenant-form
  src/components/tenants/invite-tenant-form.tsx
Due: prettier, lint-quick

fix(26-02): remove client-side expires_at from onboarding and mutation options
  src/components/onboarding/onboarding-step-tenant.tsx
  src/hooks/api/query-keys/tenant-invite-mutation-options.ts
Due: prettier, lint-quick

docs(26-02): complete tenant invitations code fixes plan
  .planning/STATE.md
  .planning/phases/26-database-stabilization/26-02-SUMMARY.md
  .planning/phases/26-database-stabilization/deferred-items.md
Due: prettier

fix(26): remove client-side expires_at from lease wizard invite path
  src/components/leases/wizard/selection-step-filters.tsx
Due: prettier, lint-quick

chore(26): regenerate types from live DB after migration applied
  src/types/supabase.ts
Due: prettier, lint-quick

docs(phase-26): complete phase execution and verification
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/26-database-stabilization/26-VERIFICATION.md
Due: prettier

docs(27): capture phase context
  .planning/phases/27-unified-mutation-hook/27-CONTEXT.md
  .planning/phases/27-unified-mutation-hook/27-DISCUSSION-LOG.md
Due: prettier

feat(27-01): extract INVITATION_ACCEPT_PATH constant
  src/components/leases/wizard/selection-step-filters.tsx
  src/components/onboarding/onboarding-step-tenant.tsx
  src/components/tenants/invite-tenant-form.tsx
  src/hooks/api/__tests__/use-tenant.test.tsx
  src/hooks/api/query-keys/tenant-invite-mutation-options.ts
  src/lib/constants/routes.ts
Due: prettier, lint-quick

feat(27-02): create useCreateInvitation hook
  src/hooks/api/__tests__/use-create-invitation.test.tsx
  src/hooks/api/use-create-invitation.ts
Due: prettier, lint-quick

refactor(27-02): remove old invite factory and useInviteTenantMutation
  src/hooks/api/__tests__/use-create-invitation.test.tsx
  src/hooks/api/__tests__/use-tenant.test.tsx
  src/hooks/api/query-keys/tenant-invite-mutation-options.ts
  src/hooks/api/use-create-invitation.ts
  src/hooks/api/use-tenant-invite-mutations.ts
Due: prettier, lint-quick

docs(27-02): complete unified mutation hook plan
  .planning/STATE.md
  .planning/phases/27-unified-mutation-hook/27-02-SUMMARY.md
Due: prettier

docs(27): add phase 27 planning artifacts
  .planning/phases/27-unified-mutation-hook/27-01-PLAN.md
  .planning/phases/27-unified-mutation-hook/27-02-PLAN.md
  .planning/phases/27-unified-mutation-hook/27-CONTEXT.md
  .planning/phases/27-unified-mutation-hook/27-DISCUSSION-LOG.md
  .planning/phases/27-unified-mutation-hook/27-RESEARCH.md
  .planning/phases/27-unified-mutation-hook/27-UI-SPEC.md
  .planning/phases/27-unified-mutation-hook/27-VALIDATION.md
Due: prettier

docs(phase-27): complete phase execution and verification
  .planning/phases/27-unified-mutation-hook/27-01-SUMMARY.md
  .planning/phases/27-unified-mutation-hook/27-VERIFICATION.md
Due: prettier

docs(28): capture phase context
  .planning/phases/28-consumer-migration-dead-code-removal/28-CONTEXT.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-DISCUSSION-LOG.md
Due: prettier

docs(state): record phase 28 context session
  .planning/STATE.md
Due: prettier

docs(28): add UI design contract
  .planning/phases/28-consumer-migration-dead-code-removal/28-UI-SPEC.md
Due: prettier

docs(state): record phase 28 UI-SPEC session
  .planning/STATE.md
Due: prettier

fix(260330-rp5): align tenant table and badge spacing to 4px grid
  src/components/tenants/tenant-table-row.tsx
  src/components/tenants/tenant-table.tsx
  src/components/ui/badge.tsx
Due: prettier, lint-quick

docs(260330-rp5): complete fix non-4px grid spacing plan
  .planning/quick/260330-rp5-fix-non-4px-grid-spacing-in-tenant-table/260330-rp5-SUMMARY.md
  .planning/quick/260330-rp5-fix-non-4px-grid-spacing-in-tenant-table/deferred-items.md
Due: prettier

docs(quick-260330-rp5): fix non-4px-grid spacing in tenant table and badge
  .planning/STATE.md
  .planning/quick/260330-rp5-fix-non-4px-grid-spacing-in-tenant-table/260330-rp5-PLAN.md
Due: prettier

docs(28): create phase plan for consumer migration and dead code removal
  .planning/ROADMAP.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-01-PLAN.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-02-PLAN.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-03-PLAN.md
Due: prettier

fix(28): revise plans based on checker feedback
  .planning/phases/28-consumer-migration-dead-code-removal/28-01-PLAN.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-02-PLAN.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-03-PLAN.md
Due: prettier

feat(28-03): add session-aware accept flow for logged-in users
  src/app/(auth)/accept-invite/__tests__/accept-invite-session.test.tsx
  src/app/(auth)/accept-invite/page.tsx
Due: prettier, lint-quick

feat(28-03): add login redirect link with encoded invitation code
  src/app/(auth)/accept-invite/page.tsx
  src/components/auth/accept-invite/invite-signup-form.tsx
Due: prettier, lint-quick

docs(28-03): complete accept-invite session-aware flow plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-03-PLAN.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-03-SUMMARY.md
Due: prettier

feat(28-01): migrate consumers to useCreateInvitation
  src/components/leases/wizard/__tests__/selection-step-filters.test.tsx
  src/components/leases/wizard/selection-step-filters.tsx
  src/components/onboarding/__tests__/onboarding-step-tenant.test.tsx
  src/components/onboarding/onboarding-step-tenant.tsx
  src/components/tenants/invite-tenant-form.tsx
  src/hooks/api/__tests__/use-create-invitation.test.tsx
  src/hooks/api/__tests__/use-tenant.test.tsx
  src/hooks/api/query-keys/tenant-invite-mutation-options.ts
  src/hooks/api/use-create-invitation.ts
  src/hooks/api/use-tenant-invite-mutations.ts
  src/lib/constants/routes.ts
  src/lib/invitation-utils.ts
Due: prettier, lint-quick

refactor(28-01): delete InviteTenantModal and remove all dead code references
  src/app/(owner)/tenants/page.tsx
  src/components/tenants/invite-tenant-modal.tsx
  src/components/tenants/tenants.tsx
  src/stores/tenants-store.ts
  src/types/sections/tenants.ts
Due: prettier, lint-quick

docs(28-01): complete consumer migration and dead code removal plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-01-PLAN.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-01-SUMMARY.md
Due: prettier

docs(phase-28): complete phase execution
  .planning/STATE.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-02-SUMMARY.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-HUMAN-UAT.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-RESEARCH.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-VALIDATION.md
  .planning/phases/28-consumer-migration-dead-code-removal/28-VERIFICATION.md
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
