Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix(53-03): register send-lease-reminders in edge-deploy script
  scripts/deploy-edge-functions.ts
Due: prettier, lint-quick

feat(53-04): split go-live into C1 mechanical go-flip + C2 owner flag flip
  supabase/migrations/20260722013000_lease_reminders_goflip.sql
  supabase/migrations/20260722014000_lease_reminders_delivery_flip.sql
Due: none

test(53-04): dual-client RLS test for lease_reminders delivery isolation
  tests/integration/rls/lease-reminders-delivery.rls.test.ts
Due: prettier, lint-quick

docs(53-04): go-live runbook for owner-run renewal reminder delivery flip
  .planning/phases/53-renewal-reminder-delivery/53-GO-LIVE-RUNBOOK.md
Due: prettier

docs(53-04): complete go-live split plan (C1 mechanical + C2 owner flip)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/53-renewal-reminder-delivery/53-04-SUMMARY.md
Due: prettier

chore(53-04): apply migration c1 to prod, reconcile filename
  supabase/migrations/20260722013850_lease_reminders_goflip.sql
Due: none

docs(53): phase verification
  .planning/phases/53-renewal-reminder-delivery/53-VERIFICATION.md
Due: prettier

docs(53): code review
  .planning/phases/53-renewal-reminder-delivery/53-REVIEW.md
Due: prettier

fix(53): grant suppression-check to service_role, reclaim stale claims (CR-01/WR-02)
  supabase/migrations/20260722015716_grant_suppression_check_and_reclaim_stale.sql
Due: none

fix(53): fail closed on suppression-check errors in shouldEmail (CR-01/WR-01)
  supabase/functions/send-lease-reminders/index.ts
Due: prettier, lint-quick

fix(53): escape ctaUrl in reminder email href for consistency (IN-02)
  supabase/functions/send-lease-reminders/index.ts
Due: prettier, lint-quick

fix(53): correct stale migration c1 timestamp reference (IN-01)
  .planning/phases/53-renewal-reminder-delivery/53-GO-LIVE-RUNBOOK.md
  supabase/migrations/20260722014000_lease_reminders_delivery_flip.sql
Due: prettier

fix(53): sentry cron check-in reflects real drain outcome (WR-03)
  supabase/migrations/20260722020000_fix_reminder_drain_sentry_checkin.sql
Due: none

docs(53): mark code review fixed with per-finding outcomes
  .planning/phases/53-renewal-reminder-delivery/53-REVIEW.md
Due: prettier

chore(53): apply wr-03 sentry check-in migration to prod, reconcile filename
  supabase/migrations/20260722020626_fix_reminder_drain_sentry_checkin.sql
Due: none

fix(53): reach lease property via units embed in reminder drainer
  supabase/functions/send-lease-reminders/index.ts
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

fix(53): dedup in-app reminder notification on stale-claim reclaim
  supabase/functions/send-lease-reminders/index.ts
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

test(53): cover Resend send-failure branch of reminder drainer
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

test(53): cover fail-closed suppression-error paths in reminder drainer
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

docs(53): document accepted at-least-once email residual on reclaim
  .planning/phases/53-renewal-reminder-delivery/53-GO-LIVE-RUNBOOK.md
  supabase/functions/send-lease-reminders/index.ts
Due: prettier, lint-quick

docs(53): record perfect-pr cycle 1 findings and outcomes in review
  .planning/phases/53-renewal-reminder-delivery/53-REVIEW.md
Due: prettier

chore(53): reconcile invoke-revoke migration ledger (repo == prod)
  supabase/migrations/20260722012107_send_lease_reminders_drain_cron.sql
  supabase/migrations/20260722012127_revoke_invoke_send_lease_reminders_public.sql
Due: none

test(shared): fix off-by-one boundary in loading-timeout property test
  src/components/shared/__tests__/loading-timeout-wrapper.property.test.tsx
Due: prettier, lint-quick

fix(53): time-bound the reminder notification dedup guard to the reclaim window
  supabase/functions/send-lease-reminders/index.ts
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

test(53): assert reminder notification action_url + entity_id (F2)
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

test(53): cover multi-row batch isolation in the reminder drainer (F3)
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

test(53): cover leases-lookup error vs not-found branches in the drainer (F4)
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

test(53): pin claim/reaper owner-visible invariants in lease-reminders RLS (F5)
  tests/integration/rls/lease-reminders-delivery.rls.test.ts
Due: prettier, lint-quick

docs(53): correct reminder-drain sentry check-in migration header (F6)
  supabase/migrations/20260722020626_fix_reminder_drain_sentry_checkin.sql
Due: none

docs(53): record perfect-pr cycle 2 findings and outcomes in review
  .planning/phases/53-renewal-reminder-delivery/53-REVIEW.md
Due: prettier

test(53): cover reminder sub-status gate and email send payload
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

docs(53): record perfect-pr cycle 3 findings and outcomes in review
  .planning/phases/53-renewal-reminder-delivery/53-REVIEW.md
Due: prettier

test(53): cover renewal-reminder dedup time-bound guard
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

docs(53): record perfect-PR cycle 4 dedup-guard coverage
  .planning/phases/53-renewal-reminder-delivery/53-REVIEW.md
Due: prettier

test(53): pin shouldEmail email-disabled + reminderDaysLabel arms
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

docs(53): record perfect-PR cycle 5 suppression + label sweep
  .planning/phases/53-renewal-reminder-delivery/53-REVIEW.md
Due: prettier

docs(53): perfect-pr gate closed after 7 cycles
  .planning/phases/53-renewal-reminder-delivery/53-REVIEW.md
Due: prettier

docs(phase-53): complete phase execution
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

docs: mark phase 52/53 edge deploys complete (2026-07-23)
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-HUMAN-UAT.md
  .planning/phases/53-renewal-reminder-delivery/53-GO-LIVE-RUNBOOK.md
Due: prettier

fix(supabase): migrate deprecated [inbucket] config to [local_smtp]
  supabase/config.toml
Due: none
