Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

docs(25): perfect-PR gate met — review log (9 cycles) + tracking
  .planning/STATE.md
  .planning/phases/25-critical-corruption-broken-deletes/25-REVIEW.md
Due: prettier

docs(26): phase 26 context — lease domain correctness (LEASE-01..08)
  .planning/phases/26-lease-domain-correctness/26-CONTEXT.md
Due: prettier

docs(26): create phase plan
  .planning/ROADMAP.md
  .planning/phases/26-lease-domain-correctness/26-01-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-02-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-03-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-04-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-05-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-06-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-07-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-08-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-09-PLAN.md
Due: prettier

docs(26): plan phase 26 + revise for plan-check blockers (LEASE-01..08)
  .planning/ROADMAP.md
  .planning/phases/26-lease-domain-correctness/26-02-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-03-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-06-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-07-PLAN.md
  .planning/phases/26-lease-domain-correctness/26-08-PLAN.md
Due: prettier

docs(26): fix 26-09 verification plan — 2 migrations, no pendingLeases (plan-check c2)
  .planning/phases/26-lease-domain-correctness/26-09-PLAN.md
Due: prettier

fix(26-01): expand leases list embed to real tenant/property/unit
  src/hooks/api/query-keys/lease-keys.ts
Due: prettier, lint-quick

test(26-01): regression test for transformLease on the list embed shape
  src/hooks/api/__tests__/use-lease.test.tsx
Due: prettier, lint-quick

docs(26-01): complete LEASE-01 leases-list embed plan
  .planning/phases/26-lease-domain-correctness/26-01-SUMMARY.md
Due: prettier

feat(leases): auto-create primary lease_tenants row on every create path (LEASE-02)
  .planning/phases/26-lease-domain-correctness/26-05-SUMMARY.md
  supabase/migrations/20260705003811_lease_tenants_primary_trigger.sql
  tests/integration/rls/lease-tenants-trigger.test.ts
Due: prettier, lint-quick

feat(leases): server-side financial-term lock on signed leases (LEASE-04)
  .planning/phases/26-lease-domain-correctness/26-06-SUMMARY.md
  supabase/migrations/20260705004013_lease_terms_lock_before_update.sql
  tests/integration/rls/lease-terms-lock.test.ts
Due: prettier, lint-quick

fix(26-03): add pending_signature and expired to lease status select (LEASE-05)
  src/components/leases/__tests__/lease-form.test.tsx
  src/components/leases/lease-form-financial-fields.tsx
Due: prettier, lint-quick

docs(26-03): add plan summary (LEASE-05)
  .planning/phases/26-lease-domain-correctness/26-03-SUMMARY.md
Due: prettier

feat(26-02): persist optional rent_amount in the renew mutation (LEASE-03)
  src/hooks/api/query-keys/lease-mutation-options.ts
Due: prettier, lint-quick

feat(26-02): send adjusted rent on renew, lock it on signed leases (LEASE-03)
  src/components/leases/dialogs/__tests__/renew-lease-dialog.test.tsx
  src/components/leases/dialogs/renew-lease-dialog.tsx
  src/components/leases/dialogs/renew-lease-form-fields.tsx
  src/components/leases/lease-terms-lock.ts
Due: prettier, lint-quick

docs(26-02): add plan summary (LEASE-03)
  .planning/phases/26-lease-domain-correctness/26-02-SUMMARY.md
Due: prettier

fix(26-04): format signed-PDF money as 2-decimal USD (LEASE-07)
  supabase/functions/_shared/lease-signing.ts
  supabase/functions/tests/lease-signing-test.ts
Due: prettier, lint-quick

docs(26-04): add plan summary; deploy deferred to owner (LEASE-07)
  .planning/phases/26-lease-domain-correctness/26-04-SUMMARY.md
Due: prettier

feat(26-07): gate edit button + notice property address (LEASE-04, LEASE-08)
  src/components/leases/__tests__/lease-details.test.tsx
  src/components/leases/detail/lease-details.client.tsx
  src/components/leases/detail/lease-header.tsx
Due: prettier, lint-quick

feat(26-07): gate the edit route on locked leases (LEASE-04)
  src/app/(owner)/leases/[id]/edit/page.tsx
Due: prettier, lint-quick

docs(26-07): add plan summary (LEASE-04, LEASE-08)
  .planning/phases/26-lease-domain-correctness/26-07-SUMMARY.md
Due: prettier

fix(26-08): reach all leases + true total on the leases list (LEASE-06)
  src/app/(owner)/leases/page.tsx
Due: prettier, lint-quick

docs(26-08): add plan summary (LEASE-06)
  .planning/phases/26-lease-domain-correctness/26-08-SUMMARY.md
Due: prettier

docs(26): phase 26 executed + verified — LEASE-01..08 complete (9/9 plans)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/26-lease-domain-correctness/26-09-SUMMARY.md
Due: prettier

fix(db): lock lease dates during signature + backfill primary lease_tenants (26 review c1)
  supabase/migrations/20260705173648_lease_terms_lock_dates_and_backfill_primary_tenant.sql
Due: none

fix(db): also lock governing_state during signature window (26 review c1)
  supabase/migrations/20260705174052_lease_terms_lock_add_governing_state.sql
Due: none

fix(db): lock notice-address + family on signed PDF during signature (26 review c2)
  supabase/migrations/20260705180152_lease_terms_lock_add_notice_and_family.sql
Due: none

fix(db): lock unit_id + primary_tenant_id FKs during signature (26 review c3)
  supabase/migrations/20260705182227_lease_terms_lock_add_unit_and_tenant_fk.sql
Due: none

docs(26): capture 2 follow-ups as SEC-04/05 (FK ownership + esign audit immutability)
  .planning/REQUIREMENTS.md
Due: prettier

docs: map SEC-04/05 into Phase 33 (roadmap)
  .planning/ROADMAP.md
Due: prettier

docs(26): perfect-PR gate met — review log (5 cycles) + tracking
  .planning/STATE.md
  .planning/phases/26-lease-domain-correctness/26-REVIEW.md
Due: prettier

docs(27): phase 27 context — maintenance & inspections (MAINT-01..08, INSP-01..02)
  .planning/phases/27-maintenance-inspections/27-CONTEXT.md
Due: prettier

docs: note Phase 25+26 merged to main + deployed
  .planning/STATE.md
Due: prettier

docs(27): plan phase 27 — maintenance & inspections (7 plans, 2 waves)
  .planning/phases/27-maintenance-inspections/27-01-PLAN.md
  .planning/phases/27-maintenance-inspections/27-02-PLAN.md
  .planning/phases/27-maintenance-inspections/27-03-PLAN.md
  .planning/phases/27-maintenance-inspections/27-04-PLAN.md
  .planning/phases/27-maintenance-inspections/27-05-PLAN.md
  .planning/phases/27-maintenance-inspections/27-06-PLAN.md
  .planning/phases/27-maintenance-inspections/27-07-PLAN.md
Due: prettier

docs(27): plan-check c1 — clarify .lists() invalidation in 27-01 (non-blocking) [hudsor01]
  .planning/phases/27-maintenance-inspections/27-01-PLAN.md
Due: prettier

fix(27-02): consolidate maintenance list to one durable actions column (MAINT-03, MAINT-04)
  src/components/maintenance/table/columns.tsx
  src/components/maintenance/table/maintenance-table.client.tsx
Due: prettier, lint-quick

fix(27-02): give the maintenance table a real client page count (MAINT-05)
  src/components/maintenance/table/maintenance-table.client.tsx
Due: prettier, lint-quick

docs(27-02): add plan summary (MAINT-03, MAINT-04, MAINT-05)
  .planning/phases/27-maintenance-inspections/27-02-SUMMARY.md
Due: prettier

fix(27-03): scope the maintenance completed stat to this month (MAINT-07)
  src/components/maintenance/maintenance-view.client.tsx
Due: prettier, lint-quick

docs(27-03): add plan summary (MAINT-07)
  .planning/phases/27-maintenance-inspections/27-03-SUMMARY.md
Due: prettier

fix(27-01): cover all 7 maintenance statuses across the board (MAINT-06)
  src/components/maintenance/detail/maintenance-utils.ts
  src/components/maintenance/detail/status-select.tsx
  src/components/maintenance/kanban/maintenance-kanban.client.tsx
  src/lib/validation/maintenance.ts
  src/types/core.ts
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
