Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: prettier

chore: initialize GSD project for codebase health remediation
  .planning/PROJECT.md
  .planning/config.json
Due: prettier

docs: create health remediation roadmap (5 phases)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

fix(01-01): fix active_entitlements RLS vulnerability
  .planning/STATE.md
  .planning/phases/1-critical-security/1-RESEARCH.md
  supabase/migrations/20260115184134_fix_active_entitlements_rls.sql
Due: prettier

feat(02-01): add stripe schema safeguard helper function
  supabase/migrations/20260115191026_add_stripe_schema_safeguards.sql
Due: none

fix(02-01): handle PGRST002 error in n1-real-db test
  apps/backend/test/n1-real-db.spec.ts
Due: prettier, lint-quick

docs(03): create phase 3 test coverage plans
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-test-coverage/03-01-PLAN.md
  .planning/phases/03-test-coverage/03-02-PLAN.md
  .planning/phases/03-test-coverage/03-03-PLAN.md
Due: prettier

test(03-01): add tests for StripeSubscriptionService
  apps/backend/src/modules/billing/stripe-subscription.service.spec.ts
Due: prettier, lint-quick

test(03-01): add tests for StripeCustomerService
  apps/backend/src/modules/billing/stripe-customer.service.spec.ts
Due: prettier, lint-quick

docs(03-01): complete Stripe service tests plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-test-coverage/03-01-SUMMARY.md
Due: prettier

test(03-02): add pdf-generator.service tests
  apps/backend/src/modules/pdf/pdf-generator.service.spec.ts
Due: prettier, lint-quick

docs(03-02): complete PDF generator test coverage
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-test-coverage/03-02-SUMMARY.md
Due: prettier

refactor(03-03): delete 8 dead E2E test files
  apps/e2e-tests/tests/financial-statements.e2e.spec.ts
  apps/e2e-tests/tests/integration/manage-legacy.e2e.spec.ts
  apps/e2e-tests/tests/lease-signature/lease-signature-flow.e2e.spec.ts
  apps/e2e-tests/tests/lease-template-pdf-generation.spec.ts
  apps/e2e-tests/tests/production-flows/complete-owner-journey.e2e.spec.ts
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.e2e.spec.ts
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.property.spec.ts
  apps/e2e-tests/tests/tenant-onboarding.e2e.spec.ts
  apps/e2e-tests/tests/texas-lease-generation.spec.ts
Due: prettier, lint-quick

docs(03-03): complete Phase 3 - Test Coverage
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-test-coverage/03-03-SUMMARY.md
Due: prettier

docs(04): plan Phase 4 - Code Quality
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-code-quality/04-01-PLAN.md
  .planning/phases/04-code-quality/04-02-PLAN.md
Due: prettier

perf(lint): remove unused projectService, add ESLint caching
  apps/backend/package.json
  apps/e2e-tests/package.json
  apps/frontend/package.json
  packages/eslint-config/base.js
  packages/shared/package.json
  packages/testing/package.json
Due: prettier, lint-quick

feat: add full Sentry observability for backend and frontend
  .github/workflows/deploy-backend.yml
  apps/backend/__mocks__/@sentry/nestjs/index.js
  apps/backend/__mocks__/@sentry/nestjs/setup.js
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/health/health.controller.ts
  apps/backend/src/instrument.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/leases/lease-expiry-checker.service.ts
  apps/backend/src/modules/leases/subscription-retry.service.ts
  apps/backend/src/modules/rent-payments/payment-reminder.service.ts
  apps/backend/src/shared/services/event-idempotency.service.ts
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/sentry.client.config.ts
  apps/frontend/sentry.edge.config.ts
  apps/frontend/sentry.server.config.ts
  apps/frontend/src/app/error.tsx
  apps/frontend/src/app/global-error.tsx
  apps/frontend/src/instrumentation.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier, lint-quick

fix: resolve CI/CD failures
  .github/workflows/migrations.yml
  apps/backend/src/main.ts
Due: prettier, lint-quick

fix: correct Railway service name in deploy workflow
  .github/workflows/deploy-backend.yml
Due: prettier

fix: correct Railway service name in deploy workflow (#488)
  .github/workflows/deploy-backend.yml
Due: prettier

fix: align Stripe env var names with Doppler prod config
  apps/frontend/src/env.ts
  apps/frontend/src/test/unit-setup.ts
Due: prettier, lint-quick

fix: silence Sentry build output spam
  apps/frontend/next.config.ts
Due: prettier, lint-quick

fix: simplify next.config.ts to essential options only
  apps/frontend/next.config.ts
Due: prettier, lint-quick

fix: disable Sentry source map uploads for faster builds
  apps/frontend/next.config.ts
Due: prettier, lint-quick

fix: only upload source maps on production, filter to app code only
  apps/frontend/next.config.ts
Due: prettier, lint-quick

fix: update vulnerable dependencies via overrides
  package.json
  pnpm-lock.yaml
Due: prettier

fix: remove pnpm cache from migrations workflow (no install step)
  .github/workflows/migrations.yml
Due: prettier

ci: remove migrations validation from CI (too slow)
  .github/workflows/ci-cd.yml
Due: prettier
