Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

feat(06-03): add internal reduced-motion guard to NumberTicker
  src/components/ui/number-ticker.tsx
Due: prettier, lint-quick

test(06-03): add reduced-motion branch test for NumberTicker
  src/components/ui/__tests__/number-ticker.test.tsx
Due: prettier, lint-quick

docs(06-03): complete NumberTicker reduced-motion guard plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-polish-a11y/06-03-SUMMARY.md
Due: prettier

test(06-04): add dashboard axe a11y + 375px zero-scroll E2E spec
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

test(06-04): regression-lock dashboard skeleton/empty mutual exclusion
  src/app/(owner)/dashboard/__tests__/dashboard-page-branch.test.tsx
Due: prettier, lint-quick

docs(06-04): complete dashboard a11y / 375px / branch-exclusion plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-polish-a11y/06-04-SUMMARY.md
Due: prettier

docs(06): add code review report
  .planning/phases/06-polish-a11y/06-REVIEW.md
Due: prettier

fix(06): use contrast-safe status text tokens for AA in light mode
  src/app/globals.css
  src/components/dashboard/components/__tests__/kpi-bento-row.test.tsx
  src/components/dashboard/components/kpi-bento-row.tsx
  src/components/dashboard/components/portfolio-columns.tsx
  src/components/dashboard/components/portfolio-grid.tsx
  src/components/dashboard/expiring-leases-widget.tsx
  src/components/ui/stat.tsx
Due: prettier, lint-quick

fix(06): authenticate dashboard a11y E2E via in-test login, not storageState
  .github/workflows/ci-cd.yml
  tests/e2e/playwright.config.ts
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

fix(06): honor status-chip border, pin a11y heading, harden reduced-motion test
  src/components/dashboard/components/lease-status-badge.tsx
  src/components/ui/__tests__/number-ticker.test.tsx
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

test(06): pin lease-status badge mapping, document legacy E2E auth path
  src/components/dashboard/components/__tests__/lease-status-badge.test.tsx
  tests/e2e/playwright.config.ts
Due: prettier, lint-quick

test(06): persist human verification items as UAT
  .planning/phases/06-polish-a11y/06-HUMAN-UAT.md
  .planning/phases/06-polish-a11y/06-VERIFICATION.md
Due: prettier

docs(phase-06): complete phase execution
  .planning/STATE.md
Due: prettier

docs(phase-06): evolve PROJECT.md after phase completion
  .planning/PROJECT.md
Due: prettier

docs(06): record cycle-2 code review (blockers resolved)
  .planning/phases/06-polish-a11y/06-REVIEW.md
Due: prettier

fix(06): inject E2E session as @supabase/ssr cookies, not localStorage
  tests/e2e/auth-helpers.ts
  tests/e2e/playwright.config.ts
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

fix(06): fail loudly when E2E owner hits the /pricing subscription gate
  tests/e2e/auth-helpers.ts
Due: prettier, lint-quick

docs(06): ship phase 6 — PR #767
  .planning/STATE.md
Due: prettier

fix(06): resolve dashboard axe + 375px violations caught by the CI sweep
  src/app/globals.css
  src/components/dashboard/components/revenue-area-chart.tsx
  src/components/dashboard/dashboard.tsx
  src/components/data-table/data-table-pagination.tsx
  src/components/shell/__tests__/main-nav.test.tsx
  src/components/shell/main-nav.tsx
  src/components/shell/user-profile-menu.tsx
Due: prettier, lint-quick

fix(06): guarantee unique storage path in Phase-66 RLS test (CI flake)
  tests/integration/rls/document-category-mutations.rls.test.ts
Due: prettier, lint-quick

docs(06): mark HUMAN-UAT item 1 (live CI axe) passed — PR #767 green
  .planning/phases/06-polish-a11y/06-HUMAN-UAT.md
Due: prettier

refactor(06): cookies-only E2E session injection + accurate comments
  tests/e2e/auth-helpers.ts
  tests/e2e/playwright.config.ts
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

refactor(06): drop redundant dashboard re-nav + fix last localStorage comment
  tests/e2e/playwright.config.ts
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

fix(06): contrast-safe chart-area text + restore discriminating nav test
  src/components/dashboard/chart-area-interactive.tsx
  src/components/shell/__tests__/main-nav.test.tsx
  tests/e2e/auth-helpers.ts
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

fix(06): seed the real tour-progress key so the tour can't flake the axe sweep
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

fix(06): replace panel-less Tabs with ToggleGroup; fix auth-helpers header
  src/components/dashboard/components/__tests__/revenue-area-chart.test.tsx
  src/components/dashboard/components/revenue-area-chart.tsx
  tests/e2e/auth-helpers.ts
Due: prettier, lint-quick

fix(06): make dashboard a11y sweep tolerate the empty-data state
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

docs(06): correct the status-text token rationale comment
  src/app/globals.css
Due: none

refactor(06): resolve every outstanding perfect-PR info finding
  src/app/globals.css
  src/components/dashboard/chart-area-interactive.tsx
  src/components/dashboard/components/__tests__/kpi-bento-row.test.tsx
  src/components/dashboard/components/kpi-bento-row.tsx
  src/components/dashboard/components/portfolio-columns.tsx
  src/components/dashboard/components/portfolio-data-table.tsx
  src/components/dashboard/components/portfolio-grid.tsx
  src/components/dashboard/expiring-leases-widget.tsx
  src/components/shell/__tests__/main-nav.test.tsx
  src/components/shell/main-nav.tsx
  src/components/shell/user-profile-menu.tsx
  src/components/ui/stat.tsx
  tests/e2e/auth-helpers.ts
  tests/e2e/playwright.config.ts
  tests/e2e/tests/auth-api.setup.ts
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

chore(06): remove dead loginAsTenant + its sole archived caller
  tests/e2e/auth-helpers.ts
  tests/e2e/tests/_archived/stripe-disputes-fraud.e2e.spec.ts
Due: prettier, lint-quick

test(06): scope the a11y empty-state wait to the EmptyTitle slot
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

docs(06): note why the E2E cookie chunker is exact-equivalent to @supabase/ssr
  tests/e2e/auth-helpers.ts
Due: prettier, lint-quick

chore(06): drop dead test:stripe script + clarify a11y-spec target comment
  tests/e2e/package.json
  tests/e2e/tests/owner/dashboard-a11y.e2e.spec.ts
Due: prettier, lint-quick

refactor(a11y): migrate interactive vivid-token text states to AA-safe -text companions app-wide
  src/app/(owner)/properties/units/components/unit-actions.tsx
  src/app/(owner)/units/page.tsx
  src/app/faq/page.tsx
  src/app/help/page.tsx
  src/app/resources/page.tsx
  src/components/documents/document-row.tsx
  src/components/leases/lease-action-buttons.tsx
  src/components/leases/table/leases-table-columns.tsx
  src/components/maintenance/cards/maintenance-card.tsx
  src/components/maintenance/detail/maintenance-details.client.tsx
  src/components/maintenance/detail/photos-card.tsx
  src/components/profiles/owner/profile-card.tsx
  src/components/properties/property-action-bar.tsx
  src/components/properties/property-units-table-row.tsx
  src/components/sections/stats-showcase.tsx
  src/components/tenants/tenant-action-bar.tsx
  src/components/tenants/tenant-grid.tsx
  src/components/tenants/tenant-table-row.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/empty.tsx
  src/components/ui/field.tsx
  src/components/ui/item.tsx
  src/components/ui/mobile-nav.tsx
Due: prettier, lint-quick

fix(a11y): complete destructive-text lockstep on photos-card Remove + FieldError
  src/components/maintenance/detail/photos-card.tsx
  src/components/ui/field.tsx
Due: prettier, lint-quick

fix(a11y): migrate active-nav labels + bordered destructive action buttons to -text
  src/app/(auth)/login/login-form.tsx
  src/components/profiles/owner/profile-card.tsx
  src/components/settings/gdpr-data-actions.tsx
  src/components/ui/mobile-nav.tsx
Due: prettier, lint-quick

fix(a11y): resolve scope-C review infos (decorative consistency + net-income value)
  src/app/(owner)/financials/income-statement/income-statement-page-net-summary.tsx
  src/components/landing/feature-backgrounds.tsx
Due: prettier, lint-quick

docs(a11y): explain per-token AA-large rationale for maintenance stat colors
  src/components/maintenance/maintenance-view.client.tsx
Due: prettier, lint-quick

fix(a11y): drop redundant dark override + migrate two-factor Enable button text
  src/app/auth/post-checkout/page.tsx
  src/components/settings/sections/two-factor-section.tsx
Due: prettier, lint-quick
