Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

chore: Trigger Vercel deployment
  .vercel-trigger
Due: none

feat: Add Vercel deployment check notifications
  .github/workflows/lint.yml
  .github/workflows/typecheck.yml
Due: prettier

fix: Remove emojis, replace Loading text with Skeleton, delete orphaned files
  .github/workflows/lint.yml
  .github/workflows/typecheck.yml
  apps/frontend/src/app/(protected)/manage/SectionCards.tsx
  apps/frontend/src/app/(protected)/manage/financials/balance-sheet/page.tsx
  apps/frontend/src/app/(protected)/manage/financials/cash-flow/page.tsx
  apps/frontend/src/app/(protected)/manage/financials/income-statement/page.tsx
  apps/frontend/src/app/(protected)/manage/financials/tax-documents/page.tsx
Due: prettier, lint-quick

fix: Add missing React Hook dependencies to satisfy exhaustive-deps
  apps/frontend/src/hooks/use-property-image-upload.ts
  apps/frontend/src/hooks/use-supabase-upload.ts
Due: prettier, lint-quick

feat: Complete CLAUDE.md compliance - remove mock data, fix touch targets, implement email notifications
  .gitignore
  .serena/.gitignore
  .serena/project.yml
  .vercel-trigger
  CLAUDE.md
  apps/backend/src/modules/billing/stripe-access-control.service.ts
  apps/frontend/src/app/(protected)/tenant/payments/history/page.tsx
  apps/frontend/src/components/pricing/customer-portal.test.tsx
  apps/frontend/src/components/ui/command.tsx
  apps/frontend/src/components/ui/input.tsx
  apps/frontend/src/components/ui/menubar.tsx
  apps/frontend/src/components/ui/navigation-menu.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/components/ui/tabs.tsx
  apps/frontend/src/components/ui/toggle.tsx
  packages/shared/src/types/supabase-generated.ts
  supabase/migrations/20251020_email_notifications.sql
Due: prettier, lint-quick

fix: Update pnpm version to 10.18.3 in CI workflow
  .github/workflows/ci-cd.yml
Due: prettier

fix: Add statuses:write permission to lint and typecheck workflows
  .github/workflows/lint.yml
  .github/workflows/typecheck.yml
Due: prettier

fix: Use type imports and remove unused eslint-disable directives
  apps/frontend/src/app/(protected)/manage/maintenance/page.tsx
  apps/frontend/src/app/(protected)/manage/tenants/page.tsx
  apps/frontend/src/components/ui/calendar.tsx
  apps/frontend/src/components/ui/sidebar.tsx
Due: prettier, lint-quick

fix: Remove incompatible Vercel notification steps that broke CI/CD for 40+ hours
  .github/workflows/claude.yml
  .github/workflows/lint.yml
  .github/workflows/typecheck.yml
Due: prettier

fix: Restore working CI/CD and resolve all test failures
  .github/workflows/tests.yml
  apps/frontend/src/test/components/pricing/customer-portal.test.tsx
  apps/frontend/tests/components/pricing/customer-portal.test.tsx
  pnpm-lock.yaml
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
