Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

docs(13-02): complete reclaim-finalize script + tests plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/13-seo-01-reclaim-integration/13-02-SUMMARY.md
Due: prettier

fix(13-review): harden reclaim-finalize codemod tests + nits (cycle-1 P2s)
  scripts/generate-blog-draft.ts
  scripts/reclaim-finalize.test.ts
  scripts/reclaim-finalize.ts
  src/lib/seo/reclaim-queue.ts
Due: prettier, lint-quick

docs(14): context for Phase 14 Cadence, Dedupe & Monitoring (BLOG-09)
  .planning/phases/14-cadence-dedupe-monitoring/14-CONTEXT.md
Due: prettier

docs(14): plan Phase 14 Cadence, Dedupe & Monitoring (2 plans, BLOG-09)
  .planning/ROADMAP.md
  .planning/phases/14-cadence-dedupe-monitoring/14-01-PLAN.md
  .planning/phases/14-cadence-dedupe-monitoring/14-02-PLAN.md
Due: prettier

feat(14-01): pre-POST slug dedup + greppable BLOG-GEN-FAIL output (BLOG-09a/b)
  scripts/generate-blog-draft.test.ts
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

feat(14-02): add evergreen topic source + drift guard (BLOG-09c)
  src/lib/seo/__tests__/evergreen-topics.test.ts
  src/lib/seo/evergreen-topics.ts
Due: prettier, lint-quick

test(14-review): cover the data:null coalesce branch in blogSlugExists (cycle-1 P2)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/14-cadence-dedupe-monitoring/14-01-SUMMARY.md
  .planning/phases/14-cadence-dedupe-monitoring/14-02-SUMMARY.md
  scripts/generate-blog-draft.test.ts
Due: prettier, lint-quick

chore: archive v5.0 AI Blog Content Engine milestone
  .planning/REQUIREMENTS.md
Due: prettier

chore: archive v5.0 milestone files + refresh project/roadmap/state
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v5.0-REQUIREMENTS.md
  .planning/milestones/v5.0-ROADMAP.md
Due: prettier

feat(blog): 1,000-topic canonical bank + zero-waste scheduled runner
  scripts/blog-topics.json
  scripts/blog-topics.test.ts
  scripts/run-scheduled-blog.test.ts
  scripts/run-scheduled-blog.ts
Due: prettier, lint-quick

feat(blog): interleave topic bank 1 reclaim : 2 evergreen, TenantFlow-explicit first
  scripts/blog-topics.json
  scripts/blog-topics.test.ts
Due: prettier, lint-quick

fix(blog): raise draft-generation timeout 600s -> 30min for slow local decode
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

fix(blog): pid-lockfile overlap guard so schedule ticks never run concurrently
  scripts/run-scheduled-blog.test.ts
  scripts/run-scheduled-blog.ts
Due: prettier, lint-quick

fix(blog): surface generation-error detail on stderr + in the BLOG-GEN-FAIL line
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

fix(blog): deterministically cap DocuSeal at one mention (docuseal_mention gate)
  scripts/generate-blog-draft.test.ts
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

feat(blog): full auto-publish — no human gate, no manual redirect edits
  next.config.ts
  scripts/generate-blog-draft.ts
  src/app/actions/blog-publish.ts
  src/lib/seo/__tests__/blog-redirects.test.ts
  src/lib/seo/blog-redirects.ts
  supabase/functions/n8n-blog-ingest/index.ts
  supabase/functions/tests/n8n-blog-ingest.test.ts
Due: prettier, lint-quick

feat(blog): unique category-themed generated cover art for every post
  src/app/api/og/blog/[slug]/route.tsx
  src/app/blog/[slug]/blog-post-page.tsx
  src/app/blog/[slug]/page.test.tsx
  src/components/blog/blog-card.test.tsx
  src/components/blog/blog-card.tsx
Due: prettier, lint-quick

fix(blog): satori-safe cover styles — oklch alpha broke every cover render
  src/app/api/og/blog/[slug]/route.tsx
Due: prettier, lint-quick

fix(blog): bust the image-optimizer cache poisoned by 0-byte covers
  src/app/blog/[slug]/blog-post-page.tsx
  src/app/blog/[slug]/page.test.tsx
  src/components/blog/blog-card.test.tsx
  src/components/blog/blog-card.tsx
Due: prettier, lint-quick

fix(blog): allowlist the ?v=2 cover query in images.localPatterns
  next.config.ts
Due: prettier, lint-quick

fix(blog): pixel-verified hsl cover design — satori renders oklch as black
  next.config.ts
  src/app/api/og/blog/[slug]/route.tsx
  src/app/blog/[slug]/blog-post-page.tsx
  src/app/blog/[slug]/page.test.tsx
  src/components/blog/blog-card.test.tsx
  src/components/blog/blog-card.tsx
Due: prettier, lint-quick

docs: codify generated brand covers as the permanent blog image system
  CLAUDE.md
Due: prettier

fix(blog): sanitize banned-phrase SUBSTRINGS — unpaid/prepaid rent blocked the queue
  scripts/generate-blog-draft.test.ts
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

feat(db): config-driven notification suppression for synthetic CI accounts
  supabase/migrations/20260611141843_notification_suppression_list.sql
Due: none

feat(blog): official-token cover palette, real logo badge, breadcrumb out of navbar
  src/app/api/og/blog/[slug]/route.tsx
  src/app/blog/[slug]/blog-post-page.tsx
  src/app/blog/[slug]/page.test.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/components/blog/blog-card.test.tsx
  src/components/blog/blog-card.tsx
  src/components/blog/blog-post-breadcrumb.tsx
Due: prettier, lint-quick

feat(blog): editorial post-page redesign — header-first, ToC, readable measure
  src/app/blog/[slug]/blog-post-page.tsx
  src/app/blog/[slug]/markdown-content.tsx
  src/app/blog/[slug]/page.test.tsx
Due: prettier, lint-quick

test(e2e): harden DT-08 preset filter-clear against toolbar remount race
  tests/e2e/tests/owner/dashboard-smoke.e2e.spec.ts
Due: prettier, lint-quick

fix(blog): persona-purity sanitization across all draft text fields
  scripts/generate-blog-draft.test.ts
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

fix(blog): defer the three why-tenantflow brand essays past the queue head
  scripts/blog-topics.json
Due: prettier

fix(blog): resolve the LOADED LM Studio instance id before generating
  scripts/generate-blog-draft.test.ts
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

fix(blog): demote surplus H2s to H3 — kills the word-count/h2-count ping-pong
  scripts/generate-blog-draft.test.ts
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

fix(blog): calibrate the judge + de-transactionalize banlist rewrites
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

fix(blog): success message reflects auto-publish (was stale in-review copy)
  scripts/generate-blog-draft.ts
Due: prettier, lint-quick

feat(nav): promote Blog to the global nav + footer (AUDIT-2 deferral lifted)
  src/app/__tests__/seo-aria-current-audit.test.ts
  src/components/layout/footer.tsx
  src/components/layout/navbar/__tests__/nav-blog-promotion.test.ts
  src/components/layout/navbar/__tests__/nav-blog-suppression-render.test.tsx
  src/components/layout/navbar/__tests__/nav-blog-suppression-source.test.ts
  src/components/layout/navbar/types.ts
Due: prettier, lint-quick

perf(blog): render covers ONCE at publish — static CDN files, not edge renders
  scripts/backfill-blog-covers.ts
  scripts/generate-blog-draft.ts
  scripts/render-blog-cover.tsx
Due: prettier, lint-quick

docs: cover convention reflects static publish-time rendering (#822)
  CLAUDE.md
Due: prettier

chore: archive the GSC ghost-URL audit CSV into .planning/seo-audit
  .planning/seo-audit/tenantflow-seo-audit-bucketed.csv
Due: none

feat(blog): queue the 50-state security-deposit hub at the bank head
  scripts/blog-topics.json
Due: prettier

docs: log the Facebook security-deposit series launch
  .planning/seo-audit/FB-LAUNCH-2026-06-12.md
Due: prettier

feat(blog-factory): trigger FB post drafting on every blog publish
  biome.json
  scripts/fb-append-post.test.ts
  scripts/fb-append-post.ts
  scripts/fb-fetch-blog.ts
  scripts/fb-post-voice-guide.md
  scripts/run-scheduled-blog.test.ts
  scripts/run-scheduled-blog.ts
Due: prettier, lint-quick
