Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

feat: Implement optimized CI/CD pipeline with Turbo caching and parallel jobs
  .github/workflows/ci-cd-optimized.yml
  .github/workflows/ci-cd.yml
  .husky/pre-commit
  Dockerfile
  apps/backend/src/main.ts
  apps/frontend/next.config.ts
  package-lock.json
  package.json
  test-ci-fast.sh
  test-file.txt
  turbo.json
  vercel.json
Due: prettier, lint-quick

fix: track husky hooks in git and fix pre-push validation
  .gitignore
  .husky/init.sh
  .husky/pre-push
Due: none

fix: add npm ci step to Quick Checks job in CI pipeline
  .github/workflows/ci-cd-optimized.yml
Due: prettier

fix: disable redundant CI/CD workflows to speed up pipeline
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/performance-obsession-testing.yml.disabled
Due: none

fix: resolve TypeScript compilation errors and linting issues
  apps/frontend/src/stores/auth-provider.tsx
  eslint.config.js
  package.json
Due: prettier, lint-quick

fix: resolve development environment issues and workspace dependencies
  .syncpackrc.json
  apps/backend/package.json
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  package-lock.json
  package.json
  packages/database/package.json
  packages/shared/package.json
Due: prettier

fix: remove test:unit from pre-push hook since test files are not tracked
  .husky/pre-push
Due: none

fix: replace Pino with NestJS native logger, fix auth routes and theme colors
  apps/backend/package.json
  apps/backend/src/health/health.module.ts
  apps/backend/src/pdf/pdf-generator.service.ts
  apps/backend/src/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/tenants/tenants.service.ts
  apps/backend/src/units/units.service.ts
  apps/frontend/src/app/auth/layout.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/faqs-4.tsx
  apps/frontend/src/components/navbar.tsx
  apps/frontend/src/components/stats-4.tsx
  apps/frontend/src/middleware.ts
Due: prettier, lint-quick

fix: remove broken lint-staged config and add critical security fix
  .lintstagedrc.js
  supabase/migrations/20250918_fix_auth_sync_privilege_escalation.sql
Due: prettier, lint-quick

fix: recreate lint-staged config and update test files
  .lintstagedrc.js
  apps/backend/src/units/units.service.spec.ts
Due: prettier, lint-quick

fix: restore stripe-sync integration test with fixed API key
  apps/backend/src/billing/stripe-sync.integration.spec.ts
Due: prettier, lint-quick

Fix CI/CD workflow conflicts and migrate to pnpm
  .github/workflows/ci-cd.yml
Due: prettier

Complete merge conflict resolution for checkout components and pnpm migration
  apps/backend/package.json
  apps/backend/src/billing/stripe-data.service.ts
  apps/frontend/src/components/pricing/checkout/checkout-form.tsx
  apps/frontend/src/components/pricing/checkout/checkout-loading.tsx
  apps/frontend/src/components/pricing/checkout/checkout-success.tsx
  apps/frontend/src/components/pricing/checkout/error-banner.tsx
  apps/frontend/src/components/pricing/checkout/express-checkout.tsx
  apps/frontend/src/components/pricing/checkout/success-confirmation.tsx
  packages/database/package.json
  packages/shared/package.json
  packages/typescript-config/package.json
Due: prettier, lint-quick

chore: complete pnpm migration and fix Stripe types
  apps/backend/src/billing/stripe-data.service.ts
  apps/frontend/src/components/pricing/checkout/loading-overlay.tsx
  packages/shared/src/types/domain.ts
Due: prettier, lint-quick

fix: resolve PR 224 merge conflicts and dependency issues
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier
