Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

docs(12): add code review fix report [hudsor01]
  .planning/phases/12-seo-metadata-schema-content-cleanup/12-REVIEW-FIX.md
Due: prettier

docs(12): cycle-1 post-fix review — 1 info finding [hudsor01]
  .planning/phases/12-seo-metadata-schema-content-cleanup/12-REVIEW.md
Due: prettier

fix(12): dedupe NAV_HREFS and cover /resources in aria-current audit
  src/app/__tests__/seo-aria-current-audit.test.ts
Due: prettier, lint-quick

docs(12): post-info-fix cycle — 2 new info findings [hudsor01]
  .planning/phases/12-seo-metadata-schema-content-cleanup/12-REVIEW.md
Due: prettier

fix(12): preserve NavHref literal union and clarify dedup rationale
  src/app/__tests__/seo-aria-current-audit.test.ts
Due: prettier, lint-quick

docs(12): post-fix cycle — 1 info finding [hudsor01]
  .planning/phases/12-seo-metadata-schema-content-cleanup/12-REVIEW.md
Due: prettier

fix(12): narrow NavHref via `as const satisfies` on DEFAULT_NAV_ITEMS
  src/app/__tests__/seo-aria-current-audit.test.ts
  src/components/layout/navbar/__tests__/types.test.ts
  src/components/layout/navbar/navbar-desktop-nav.tsx
  src/components/layout/navbar/navbar-mobile-menu.tsx
  src/components/layout/navbar/types.ts
Due: prettier, lint-quick

docs(12): code review clean — perfect-PR gate satisfied
  .planning/phases/12-seo-metadata-schema-content-cleanup/12-REVIEW.md
Due: prettier

docs(13): gather phase context (performance & conversion polish) [hudsor01]
  .planning/phases/13-performance-conversion-polish/13-CONTEXT.md
Due: prettier

feat(13): close PERF-02 gap + pin all 4 PERF requirements
  src/app/__tests__/performance-policy.test.ts
  src/app/about/page.tsx
Due: prettier, lint-quick

docs(phase-13): complete phase execution — verification passed (4/4)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/13-performance-conversion-polish/13-01-SUMMARY.md
  .planning/phases/13-performance-conversion-polish/13-VERIFICATION.md
Due: prettier

docs(13): code review clean — perfect-PR gate satisfied
  .planning/phases/13-performance-conversion-polish/13-REVIEW.md
Due: prettier

chore: pause v1.0 milestone at phase 13/13 (handoff)
  .planning/.continue-here.md
  .planning/HANDOFF.json
Due: prettier

docs(15): capture phase context for v1.0 milestone cleanup
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-CONTEXT.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-DISCUSSION-LOG.md
  .planning/v1.0-MILESTONE-AUDIT.md
Due: prettier

docs(state): record phase 15 context session
  .planning/STATE.md
Due: prettier

docs(15): create phase plan (5 wave-1 plans)
  .planning/STATE.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-01-PLAN.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-02-PLAN.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-03-PLAN.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-04-PLAN.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-05-PLAN.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-CONTEXT.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-PATTERNS.md
Due: prettier

docs(state): begin Phase 15 execution
  .planning/STATE.md
Due: prettier

docs(15-02): flip body checkboxes for shipped v1.0 requirements
  .planning/REQUIREMENTS.md
Due: prettier

docs(15-01): retroactive 04-VERIFICATION + 04-01-SUMMARY for Phase 4 (PR #688)
  .planning/phases/04-persona-copy/04-01-SUMMARY.md
  .planning/phases/04-persona-copy/04-VERIFICATION.md
Due: prettier

docs(15-02): flip traceability table Pending cells to Complete
  .planning/REQUIREMENTS.md
Due: prettier

docs(15-02): bump REQUIREMENTS.md Last updated stamp to 2026-05-21
  .planning/REQUIREMENTS.md
Due: prettier

docs(15-01): retroactive 05-VERIFICATION.md for Phase 5 pricing restructure (PR #689)
  .planning/phases/05-pricing-restructure/05-VERIFICATION.md
Due: prettier

test(15-03): add drift guard against re-adding dead Stripe.js packages
  src/lib/__tests__/no-stripe-js-deps.test.ts
Due: prettier, lint-quick

docs(15-02): complete REQUIREMENTS.md traceability sweep plan
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-02-SUMMARY.md
Due: prettier

docs(15-03): complete plan SUMMARY for Stripe dead-dep drift guard
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-03-SUMMARY.md
Due: prettier

docs(15-01): retroactive 06-VERIFICATION + 06-01-SUMMARY for Phase 6 blog rebuild (PR #690)
  .planning/phases/06-blog-rebuild/06-01-SUMMARY.md
  .planning/phases/06-blog-rebuild/06-VERIFICATION.md
Due: prettier

test(15-05): add source-scan pin for /blog suppression in DEFAULT_NAV_ITEMS
  src/components/layout/navbar/__tests__/nav-blog-suppression-source.test.ts
Due: prettier, lint-quick

test(15-05): add render-time pin for /blog suppression in NavbarDesktopNav and NavbarMobileMenu
  src/components/layout/navbar/__tests__/nav-blog-suppression-render.test.tsx
Due: prettier, lint-quick

docs(15-05): complete /blog nav suppression regression-pin plan
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-05-SUMMARY.md
Due: prettier

docs(15-01): retroactive 14-VERIFICATION.md for Phase 14 (PR #705)
  .planning/phases/14-battle-test-findings-remediation/14-VERIFICATION.md
Due: prettier

docs(15-01): plan summary — 6 retroactive docs closing audit documentation_gaps
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-01-SUMMARY.md
Due: prettier

docs(15-04): capture vitest baseline diagnostic (3-run, 0 fails)
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-04-DIAGNOSTIC-baseline.md
Due: prettier

perf(15-04): cap unit-project pool at 8 threads (defensive)
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-04-DIAGNOSTIC-tuned.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/_tmp-parse.cjs
  vitest.config.ts
Due: prettier, lint-quick

fix(15-04): migrate worker-pool cap to Vitest 4 maxWorkers API
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-04-DIAGNOSTIC-tuned.md
  vitest.config.ts
Due: prettier, lint-quick

docs(15-04): complete plan summary — vitest pool cap shipped
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-04-SUMMARY.md
Due: prettier

chore(15): remove leaked diagnostic helper from Phase 15 dir
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/_tmp-parse.cjs
Due: none

docs(15): phase verification passed (6/6 must-haves)
  .planning/STATE.md
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-VERIFICATION.md
Due: prettier

docs(15): ship Phase 15 — PR #743
  .planning/STATE.md
Due: prettier

docs(15): code review cycle 1 — 1 critical, 3 warnings, 3 info
  .planning/phases/15-v1-0-milestone-cleanup-close-all-audit-gaps-doc-drift-tracea/15-REVIEW.md
Due: prettier

fix(15-05): anchor /blog suppression source-scan regex to single block (WR-01)
  src/components/layout/navbar/__tests__/nav-blog-suppression-source.test.ts
Due: prettier, lint-quick
