Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

fix: optimize Dockerfile build process for Railway deployment
  Dockerfile
Due: none

fix: use local TypeScript version in Dockerfile build
  Dockerfile
Due: none

fix: remove missing color-tokens ESLint plugin dependency
  apps/frontend/eslint.config.mjs
Due: none

fix: add database package build to Docker compilation step
  Dockerfile
Due: none

fix: allow ESLint config files in Vercel deployment
  .vercelignore
Due: none

fix: remove reference to frontend app in TypeScript configuration
  tsconfig.json
Due: prettier

fix: improve TypeScript type safety and standardize logging in tests
  apps/backend/src/auth/auth-webhook.controller.spec.ts
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/test/test-environment.ts
Due: prettier, lint-quick

fix: resolve TypeScript compilation error in auth webhook controller test
  apps/backend/src/auth/auth-webhook.controller.spec.ts
Due: prettier, lint-quick

feat: migrate from Next.js lint to ESLint CLI
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier, lint-quick

fix: resolve ES module directory import issue in shared package
  apps/backend/src/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  packages/shared/src/index.ts
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
