Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

docs(phase-44): mark v1.7 PASS — all verification resolved
  .planning/STATE.md
  .planning/phases/44-deliverability-funnel-analytics/44-VERIFICATION.md
Due: prettier

docs(44-01): add summary for deliverability ingestion plan
  .planning/phases/44-deliverability-funnel-analytics/44-01-SUMMARY.md
Due: prettier

docs: archive v1.7 launch readiness milestone
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.7-REQUIREMENTS.md
  .planning/milestones/v1.7-ROADMAP.md
Due: prettier

chore(db): backfill 6 dashboard-applied migrations for source-control parity
  supabase/migrations/20260330214340_stabilize_tenant_invitations.sql
  supabase/migrations/20260403182712_fix_stripe_sync_queue_depth_security_invoker.sql
  supabase/migrations/20260403183016_move_pg_stat_monitor_to_extensions_schema.sql
  supabase/migrations/20260403183050_fix_set_updated_at_metadata_search_path.sql
  supabase/migrations/20260403183133_fix_set_updated_at_search_path.sql
  supabase/migrations/20260403183454_fix_stripe_check_rate_limit_search_path.sql
Due: none

chore(phase-44): regenerate supabase types for funnel + deliverability
  src/types/supabase.ts
Due: prettier, lint-quick

docs(v1.7): mark Wave 0 actions 1+2 complete (migrations + types)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.7-ROADMAP.md
Due: prettier

docs(v1.7): mark Wave 0 actions 3 (partial) + 4 (done)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.7-ROADMAP.md
Due: prettier

docs(v1.7): mark Wave 0 complete (4/4) — production-live
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v1.7-ROADMAP.md
Due: prettier

fix(deps): patch dompurify + hono dependabot vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier

fix(stripe): paginate balanceTransactions, guard cancel on canceled sub
  supabase/functions/stripe-cancel-subscription/index.ts
  supabase/functions/stripe-webhooks/handlers/payout-lifecycle.ts
Due: prettier, lint-quick

fix(rent-payments): gate rent charge paths with RENT_PAYMENTS_ENABLED
  supabase/functions/stripe-autopay-charge/index.ts
  supabase/functions/stripe-rent-checkout/index.ts
  supabase/functions/stripe-webhooks/handlers/payment-intent-succeeded.ts
  supabase/migrations/20260417120000_autopay_rent_payments_enabled_gate.sql
Due: prettier, lint-quick

fix(rent-payments): gate calculate_late_fees with RENT_PAYMENTS_ENABLED
  supabase/migrations/20260417130000_late_fees_rent_payments_enabled_gate.sql
Due: none

fix(rent-payments): address PR #593 review feedback
  supabase/functions/stripe-autopay-charge/index.ts
  supabase/migrations/20260417120000_autopay_rent_payments_enabled_gate.sql
Due: prettier, lint-quick

feat(esign): gate DocuSeal send-for-signature behind Growth/Max tier
  supabase/config.toml
  supabase/functions/docuseal/entitlement.ts
  supabase/functions/docuseal/handler.ts
Due: prettier, lint-quick

fix(esign): pass req to entitlement so 402/500 carry CORS headers
  supabase/functions/docuseal/entitlement.ts
  supabase/functions/docuseal/handler.ts
Due: prettier, lint-quick

refactor: complete long-term cleanup — dead code + dead schema
  src/app/(owner)/settings/__tests__/settings-page.test.tsx
  src/components/leases/__tests__/lease-action-buttons.test.tsx
  src/components/leases/__tests__/lease-details.test.tsx
  src/components/leases/__tests__/lease-form.test.tsx
  src/components/leases/detail/lease-terms-tab.tsx
  src/components/leases/lease-form.tsx
  src/components/settings/general-settings.tsx
  src/hooks/api/__tests__/use-lease.test.tsx
  src/hooks/api/query-keys/subscription-keys.ts
  src/hooks/api/query-keys/tenant-keys.ts
  src/hooks/api/use-billing-mutations.test.ts
  src/hooks/api/use-billing-mutations.ts
  src/hooks/api/use-billing.ts
  src/hooks/api/use-tenant.ts
  src/lib/validation/leases.ts
  src/test/mocks/msw/handlers.ts
  src/test/mocks/msw/handlers/payments.ts
  src/test/mocks/msw/handlers/tenants.ts
  src/test/utils/test-data.ts
  src/types/api-contracts.ts
  src/types/financial-statements.ts
  src/types/query-results.ts
  src/types/supabase.ts
  supabase/.temp/cli-latest
  supabase/functions/export-user-data/index.ts
  supabase/functions/stripe-webhooks/handlers/checkout-session-completed.ts
  supabase/functions/tests/_helpers/autopay-fixtures.ts
  supabase/functions/tests/_helpers/payout-fixtures.ts
  supabase/functions/tests/autopay-decline-retry.test.ts
  supabase/functions/tests/autopay-final-attempt.test.ts
  supabase/functions/tests/autopay-success.test.ts
  supabase/functions/tests/autopay-webhook-idempotency.test.ts
  supabase/functions/tests/payout-webhook-test.ts
  supabase/functions/tests/stripe-autopay-charge-test.ts
  supabase/functions/tests/stripe-rent-checkout-test.ts
  supabase/functions/tests/stripe-webhooks-test.ts
  supabase/migrations/20260418170000_drop_dead_lease_subscription_cols.sql
Due: prettier, lint-quick

fix(auth): remove /tenant destination from auth callback
  src/app/auth/callback/route.ts
Due: prettier, lint-quick

ci(claude): add timeout + concurrency cancel to prevent hung review runs
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier

docs(gsd): align PROJECT + STATE with landlord-only pivot (PR #596)
  .planning/PROJECT.md
  .planning/STATE.md
Due: prettier

test: align suite with landlord-only prod
  supabase/functions/tests/payout-duration-hours.test.ts
  supabase/functions/tests/payout-idempotency.test.ts
  supabase/functions/tests/payout-lifecycle-integration.test.ts
  supabase/functions/tests/send-tenant-invitation-test.ts
  supabase/functions/tests/tenant-invitation-accept-test.ts
  tests/e2e/playwright.config.ts
  tests/e2e/tests/auth-tenant.setup.ts
  tests/e2e/tests/constants/routes.ts
  tests/e2e/tests/setup-invite-tenant.setup.ts
  tests/e2e/tests/tenant-management/README.md
  tests/e2e/tests/tenant/tenant-authentication.e2e.spec.ts
  tests/e2e/tests/tenant/tenant-dashboard.e2e.spec.ts
  tests/e2e/tests/tenant/tenant-maintenance.e2e.spec.ts
  tests/e2e/tests/tenant/tenant-payments.e2e.spec.ts
  tests/integration/rls/admin-analytics-access.rls.test.ts
  tests/integration/rls/gdpr-anonymize.test.ts
  tests/integration/rls/payment-methods.rls.test.ts
  tests/integration/rls/rent-payments.rls.test.ts
  tests/integration/rls/tenant-invitations.rls.test.ts
  tests/integration/rls/tenant-isolation.rls.test.ts
Due: prettier, lint-quick

fix(db): is_admin reads app_metadata
  supabase/migrations/20260418230000_fix_is_admin_jwt_claim_path.sql
  tests/integration/rls/admin-analytics-access.rls.test.ts
Due: prettier, lint-quick

refactor: drop user_type, replace with is_admin boolean
  src/app/(admin)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/app/(owner)/profile/__tests__/profile-page.test.tsx
  src/app/about/page.tsx
  src/app/auth/callback/route.ts
  src/app/auth/select-role/page.tsx
  src/app/privacy/page.tsx
  src/components/profiles/owner/profile-card.tsx
  src/hooks/api/use-profile-emergency-mutations.ts
  src/hooks/api/use-profile.ts
  src/lib/supabase/__tests__/middleware-routing.test.ts
  src/lib/supabase/__tests__/middleware.test.ts
  src/proxy.ts
  src/test/mocks/msw/handlers/rpc.ts
  src/test/utils/test-data.ts
  src/types/api-contracts.ts
  src/types/supabase.ts
  supabase/SCHEMA.md
  supabase/config.toml
  supabase/functions/export-user-data/index.ts
  supabase/functions/trial-drip-email/index.ts
  supabase/migrations/20260418235000_drop_user_type_to_is_admin.sql
  tests/e2e/tests/smoke/critical-paths.smoke.spec.ts
  tests/integration/rls/admin-analytics-access.rls.test.ts
Due: prettier, lint-quick

test: unskip all skipped integration tests
  tests/integration/rls/deliverability-admin-rpc.test.ts
  tests/integration/rls/documents.rls.test.ts
  tests/integration/rls/funnel-admin-rpc.test.ts
  vitest.config.ts
Due: prettier, lint-quick

fix(proxy): report DB errors to Sentry
  src/proxy.ts
Due: prettier, lint-quick

refactor(db): drop first_rent funnel step
  src/components/admin/funnel-chart.tsx
  src/hooks/api/query-keys/funnel-keys.ts
  src/types/analytics.ts
  supabase/migrations/20260419040000_drop_first_rent_funnel_step.sql
  tests/integration/rls/funnel-admin-rpc.test.ts
Due: prettier, lint-quick

fix(proxy): throw on DB errors not fallthrough
  src/proxy.ts
Due: prettier, lint-quick

fix(trial-drip): filter by trialing subscription
  supabase/functions/trial-drip-email/index.ts
Due: prettier, lint-quick

fix(seed): drop user_type from all seed files
  supabase/seed.sql
  supabase/seeds/seed-development.sql
  supabase/seeds/seed-performance.sql
  supabase/seeds/seed-smoke.sql
Due: none

docs(gsd): log auth-model collapse (PR #600) in STATE + PROJECT
  .planning/PROJECT.md
  .planning/STATE.md
Due: prettier

docs(gsd): scope v2.0 Revenue Gates
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.0-ROADMAP.md
Due: prettier

docs(v2.0): add stripe-checkout source passthrough prereq
  .planning/milestones/v2.0-ROADMAP.md
Due: prettier

chore: remove dead NestJS backend refs
  package.json
  public/.well-known/security.txt
  scripts/smoke-test.sh
Due: prettier

feat(v2.0/phase-45): esign paywall conversion tracking
  src/app/(owner)/billing/plans/page.tsx
  src/lib/stripe/stripe-client.ts
  src/types/supabase.ts
  supabase/functions/_shared/tier-gate.ts
  supabase/functions/docuseal/entitlement.ts
  supabase/functions/docuseal/handler.ts
  supabase/functions/stripe-checkout/index.ts
  supabase/migrations/20260419120000_create_gate_events.sql
Due: prettier, lint-quick

feat(v2.0/phase-45): admin paywall table + E2E wire-up spec
  .planning/milestones/v2.0-ROADMAP.md
  src/app/(admin)/admin/analytics/page.tsx
  src/components/admin/gate-conversion-table.tsx
  src/hooks/api/query-keys/gate-conversion-keys.ts
  src/types/analytics.ts
  tests/e2e/tests/owner/esign-gate.spec.ts
Due: prettier, lint-quick

docs(gsd): scope v2.1 Production Integrity milestone
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.1-ROADMAP.md
Due: prettier

fix(rls): restore policies on leases / maintenance / notifications
  supabase/migrations/20260419200000_restore_rls_policies.sql
  tests/integration/rls/rls-non-empty-smoke.test.ts
  vitest.config.ts
Due: prettier, lint-quick
