Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

fix: update /portal redirects to /tenant and remove dev config
  apps/frontend/next.config.ts
  apps/frontend/src/app/page.tsx
  apps/frontend/src/proxy.ts
Due: prettier, lint-quick

fix: remove bundle analyzer and simplify homepage
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/src/app/page.tsx
  pnpm-lock.yaml
Due: prettier, lint-quick

fix: resolve property_owner_id mapping and centralize dashboard styling
  apps/backend/src/modules/properties/properties.service.ts
  apps/backend/src/modules/properties/services/property-bulk-import.service.ts
  apps/frontend/src/app/(owner)/dashboard.css
  apps/frontend/src/app/(owner)/dashboard/page.tsx
  apps/frontend/src/app/(owner)/properties/page.tsx
  apps/frontend/src/app/(tenant)/tenant/tenant-portal-page.tsx
  apps/frontend/src/app/dashboard.css
  apps/frontend/src/components/dashboard/activity-feed.tsx
  apps/frontend/src/components/dashboard/section-cards.tsx
  supabase/migrations/20251125170000_fix_properties_rls_policies.sql
Due: prettier, lint-quick

fix: resolve property service test failures in CI/CD
  apps/backend/src/modules/properties/properties.service.spec.ts
  apps/frontend/src/components/dashboard/stat-card.tsx
Due: prettier, lint-quick

fix: correct dashboard.css import path for build
  apps/frontend/src/app/(owner)/dashboard/page.tsx
Due: prettier, lint-quick

chore: update CSS variable references in dashboard components
  apps/frontend/src/app/(tenant)/tenant/tenant-portal-page.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/dashboard/section-cards.tsx
Due: prettier, lint-quick

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier

fix: correct Supabase environment variable names
  apps/frontend/@/lib/supabase/client.ts
  apps/frontend/@/lib/supabase/middleware.ts
  apps/frontend/@/lib/supabase/server.ts
Due: prettier, lint-quick

fix: auth hook defaults to OWNER instead of TENANT
  supabase/migrations/20251126030000_fix_auth_hook_default_to_owner.sql
  supabase/migrations/20251126030001_fix_security_definer_functions.sql
Due: none

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
