Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

chore(rls): remove stale invitation comment
  src/hooks/api/__tests__/use-tenant.test.tsx
Due: prettier, lint-quick

fix(billing): restore get_subscription_status + source tracking
  src/test/utils/test-data.ts
  src/types/supabase.ts
  supabase/functions/stripe-webhooks/handlers/checkout-session-completed.ts
  supabase/functions/stripe-webhooks/handlers/customer-subscription-updated.ts
  supabase/migrations/20260419210000_restore_subscription_rpc_and_source_tracking.sql
Due: prettier, lint-quick

fix(security): storage bucket listing + stripe search_path
  supabase/migrations/20260419220000_security_advisor_cleanup.sql
Due: none

docs(v2.1): mark all 4 phases shipped
  .planning/milestones/v2.1-ROADMAP.md
Due: prettier

chore: delete dead trial-drip + autopay email templates
  supabase/functions/_shared/autopay-email-template.ts
  supabase/functions/_shared/drip-email-templates.ts
  supabase/functions/stripe-webhooks/_templates/autopay-failed.tsx
  supabase/functions/stripe-webhooks/_templates/email-layout.tsx
  supabase/functions/stripe-webhooks/_templates/owner-notification.tsx
  supabase/functions/stripe-webhooks/_templates/payment-receipt.tsx
  supabase/functions/trial-drip-email/index.ts
Due: prettier, lint-quick

fix(db): drop before replace on get_subscription_status migration
  supabase/migrations/20260419210000_restore_subscription_rpc_and_source_tracking.sql
Due: none

feat(db): add 14-day trial model
  src/test/utils/test-data.ts
  src/types/supabase.ts
  supabase/migrations/20260419230000_trial_model.sql
Due: prettier, lint-quick

docs(gsd): scope v2.2 Landlord-First Positioning
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.2-ROADMAP.md
Due: prettier

refactor(phase-52): landlord-only dashboard copy + trial banner
  src/app/(owner)/@modal/(.)tenants/new/page.test.tsx
  src/app/(owner)/@modal/(.)tenants/new/page.tsx
  src/app/(owner)/dashboard/components/dashboard-empty-state.tsx
  src/app/(owner)/dashboard/page.tsx
  src/app/(owner)/leases/page.tsx
  src/app/(owner)/tenants/new/page.tsx
  src/app/__tests__/marketing-copy-landlord-only.test.ts
  src/app/support/page.tsx
  src/components/billing/__tests__/subscription-status-banner.test.tsx
  src/components/billing/subscription-status-banner.tsx
  src/components/dashboard/__tests__/owner-dashboard.test.tsx
  src/components/dashboard/dashboard-types.ts
  src/components/dashboard/dashboard.tsx
  src/components/dashboard/owner-dashboard.tsx
  src/components/maintenance/maintenance-view.client.tsx
  src/components/shared/__tests__/loading-timeout-wrapper.property.test.tsx
  src/components/tenants/__tests__/add-tenant-form-success.property.test.tsx
  src/components/tenants/__tests__/add-tenant-form.property.test.tsx
  src/components/tenants/add-tenant-form-types.ts
  src/components/tenants/add-tenant-form.tsx
  src/components/tenants/add-tenant-info-fields.tsx
  src/components/tenants/add-tenant-property-fields.tsx
  src/components/tenants/invite-tenant-form-types.ts
  src/components/tenants/tenant-quick-actions.tsx
  src/components/tenants/tenants.tsx
  src/components/tours/owner-onboarding-tour.tsx
  src/hooks/api/__tests__/use-tenant.test.tsx
  src/hooks/api/mutation-keys.ts
  src/hooks/api/query-keys/subscription-keys.ts
  src/hooks/api/query-keys/tenant-keys.ts
  src/hooks/api/use-billing-mutations.ts
  src/hooks/api/use-pending-mutations.ts
  src/lib/constants/routes.ts
  src/lib/validation/__tests__/tenants.test.ts
  src/lib/validation/tenants.ts
  src/types/api-contracts.ts
Due: prettier, lint-quick

fix(phase-52): render generic trial banner when trial_ends_at is null
  src/components/billing/__tests__/subscription-status-banner.test.tsx
  src/components/billing/subscription-status-banner.tsx
Due: prettier, lint-quick

docs(gsd): mark v2.2 Phase 52 shipped (PR #609)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.2-ROADMAP.md
Due: prettier

refactor(phase-53): public-site positioning reframe
  src/app/(auth)/login/layout.tsx
  src/app/(owner)/billing/plans/page.tsx
  src/app/blog/category/[category]/page.tsx
  src/app/blog/page.tsx
  src/app/compare/[competitor]/compare-data.ts
  src/app/compare/[competitor]/compare-sections.tsx
  src/app/compare/[competitor]/page.tsx
  src/app/faq/page.tsx
  src/app/features/page.tsx
  src/app/help/page.tsx
  src/app/marketing-home.tsx
  src/app/page.tsx
  src/app/resources/page.tsx
  src/app/resources/seasonal-maintenance-checklist/page.tsx
  src/app/security-policy/page.tsx
  src/app/support/page.tsx
  src/components/blog/blog-inline-cta.tsx
  src/components/layout/footer.tsx
  src/components/sections/features-section.tsx
  src/components/sections/home-faq.tsx
  src/components/sections/stats-showcase.tsx
  src/components/sections/testimonials-section.tsx
  src/config/pricing.ts
  src/data/faqs.ts
  src/lib/generate-metadata.ts
  supabase/functions/_shared/auth-email-templates.ts
Due: prettier, lint-quick

docs(gsd): mark v2.2 Phase 53 shipped (PR #610)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.2-ROADMAP.md
Due: prettier

feat(phase-54a): competitor-driven UX quick wins
  src/app/(owner)/dashboard/page.tsx
  src/app/(owner)/properties/property-details.client.tsx
  src/components/dashboard/expiring-leases-widget.tsx
  src/components/leases/detail/lease-details.client.tsx
  src/components/leases/detail/lease-header.tsx
  src/components/leases/rent-increase-notice-dialog.tsx
  src/components/properties/property-performance-section.tsx
  src/hooks/api/query-keys/property-keys.ts
Due: prettier, lint-quick

fix(phase-54a): address Sentry reviewer findings
  src/components/leases/detail/lease-details.client.tsx
  src/components/leases/detail/lease-header.tsx
  src/components/leases/rent-increase-notice-dialog.tsx
  src/components/properties/property-performance-section.tsx
Due: prettier, lint-quick

fix(phase-54a): use valid p_timeframe for property performance RPC
  src/components/properties/property-performance-section.tsx
  src/hooks/api/query-keys/property-keys.ts
Due: prettier, lint-quick

feat(phase-54b): maintenance multi-file upload + work-order PDF
  src/components/maintenance/detail/maintenance-details.client.tsx
  src/components/maintenance/detail/photos-card.tsx
  src/components/maintenance/detail/work-order-template.ts
  src/hooks/api/mutation-keys.ts
  src/hooks/api/query-keys/maintenance-keys.ts
  src/types/supabase.ts
  supabase/migrations/20260420000000_restore_maintenance_photos_landlord_only.sql
Due: prettier, lint-quick

fix(phase-54b): path-based ownership on maintenance-photos storage
  supabase/migrations/20260420010000_secure_maintenance_photos_storage.sql
Due: none

fix(phase-54b): partition invalid files instead of aborting whole upload batch
  src/components/maintenance/detail/photos-card.tsx
Due: prettier, lint-quick

fix(phase-54): resolve remaining Sentry findings properly
  src/components/maintenance/detail/photos-card.tsx
  src/components/properties/property-performance-section.tsx
  src/hooks/api/query-keys/maintenance-keys.ts
  supabase/migrations/20260420020000_align_maintenance_photos_bucket.sql
Due: prettier, lint-quick

docs(gsd): mark v2.2 fully shipped (all 3 phases live)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.2-ROADMAP.md
Due: prettier

feat(v2.0/phase-46): premium reports tier gate
  src/hooks/api/query-keys/report-keys.ts
  src/hooks/api/use-report-mutations.ts
  supabase/functions/export-report/index.ts
  supabase/functions/generate-pdf/index.ts
Due: prettier, lint-quick

fix(v2.0): land gate_events rows via EdgeRuntime.waitUntil + REQ-46-04 spec
  supabase/functions/_shared/tier-gate.ts
  tests/e2e/tests/owner/reports-gate.spec.ts
Due: prettier, lint-quick

fix(e2e): parse localStorage auth value as plain JSON
  tests/e2e/tests/owner/esign-gate.spec.ts
  tests/e2e/tests/owner/reports-gate.spec.ts
Due: prettier, lint-quick

docs(gsd): mark v2.0 Revenue Gates fully shipped
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.0-ROADMAP.md
Due: prettier

docs(gsd): scope v2.3 — Document Vault + Bulk-Import Extension
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.3-ROADMAP.md
Due: prettier

feat(v2.3/phase-57): document vault MVP — property-scoped upload + preview
  src/app/(owner)/properties/property-details.client.tsx
  src/components/documents/__tests__/documents-section.test.tsx
  src/components/documents/documents-section.tsx
  src/hooks/api/query-keys/document-keys.ts
  supabase/migrations/20260420030000_document_vault_phase_57.sql
Due: prettier, lint-quick

fix(phase-57): pass file MIME to upload so previews render correctly
  src/components/documents/documents-section.tsx
Due: prettier, lint-quick

fix(phase-57): scope per-row delete spinner to the row being deleted
  src/components/documents/documents-section.tsx
Due: prettier, lint-quick

fix(phase-57): detect RLS-blocked deletes via .select() and zero-row check
  src/hooks/api/query-keys/document-keys.ts
Due: prettier, lint-quick

feat(v2.3/phase-58): generic bulk-import + tenant/unit/lease CSV importers
  public/templates/lease-import-template.csv
  public/templates/property-import-template.csv
  public/templates/tenant-import-template.csv
  public/templates/unit-import-template.csv
  src/app/(owner)/leases/page.tsx
  src/components/bulk-import/__tests__/parse-csv-with-schema.test.ts
  src/components/bulk-import/bulk-import-confirm-step.tsx
  src/components/bulk-import/bulk-import-dialog.tsx
  src/components/bulk-import/bulk-import-stepper.tsx
  src/components/bulk-import/bulk-import-upload-step.tsx
  src/components/bulk-import/bulk-import-validate-step.tsx
  src/components/bulk-import/parse-csv-with-schema.ts
  src/components/bulk-import/types.ts
  src/components/leases/bulk-import-config.ts
  src/components/properties/__tests__/bulk-import-confirm-step.test.tsx
  src/components/properties/__tests__/bulk-import-dialog.test.tsx
  src/components/properties/__tests__/bulk-import-upload-step.test.tsx
  src/components/properties/__tests__/bulk-import-validate-step.test.tsx
  src/components/properties/__tests__/csv-utils.test.ts
  src/components/properties/bulk-import-config.ts
  src/components/properties/csv-utils.ts
  src/components/properties/properties-filters.tsx
  src/components/properties/property-units-table.tsx
  src/components/tenants/bulk-import-config.ts
  src/components/tenants/tenants.tsx
  src/components/units/bulk-import-config.ts
  src/types/api-contracts.ts
Due: prettier, lint-quick

fix(phase-58): attach owner_user_id in unit bulk-import insertRow
  src/components/units/bulk-import-config.ts
Due: prettier, lint-quick

fix(phase-58): add security_deposit column to lease CSV template
  public/templates/lease-import-template.csv
  src/components/leases/bulk-import-config.ts
Due: prettier, lint-quick

fix(phase-58): fail blank rent_amount instead of silently importing $0
  src/components/leases/bulk-import-config.ts
  src/components/units/bulk-import-config.ts
Due: prettier, lint-quick

fix(phase-58): treat explicit "0" payment_day same as blank — fall back to 1
  src/components/leases/bulk-import-config.ts
Due: prettier, lint-quick

fix(phase-58): enforce non-empty email/first_name/last_name on tenant CSV import
  src/components/tenants/bulk-import-config.ts
Due: prettier, lint-quick

chore(types): regenerate supabase types after Phase 57 migration
  src/types/supabase.ts
Due: prettier, lint-quick

docs(gsd): mark v2.3 fully shipped and v2.0 deployed
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v2.3-ROADMAP.md
Due: prettier

fix(v2.3): migration hardening + audit-driven RPC + orphan cleanup
  src/types/supabase.ts
  supabase/migrations/20260420030000_document_vault_phase_57.sql
  supabase/migrations/20260421120000_v23_audit_followups.sql
Due: prettier, lint-quick

fix(v2.3): resolve bulk-import + document-vault audit follow-ups
  public/templates/lease-import-template.csv
  public/templates/property-import-template.csv
  public/templates/tenant-import-template.csv
  public/templates/unit-import-template.csv
  src/components/bulk-import/__tests__/parse-csv-with-schema.test.ts
  src/components/bulk-import/bulk-import-confirm-step.tsx
  src/components/bulk-import/bulk-import-dialog.tsx
  src/components/bulk-import/bulk-import-stepper.tsx
  src/components/bulk-import/bulk-import-upload-step.tsx
  src/components/bulk-import/bulk-import-validate-step.tsx
  src/components/bulk-import/parse-csv-with-schema.ts
  src/components/bulk-import/types.ts
  src/components/documents/__tests__/documents-section.test.tsx
  src/components/documents/document-row.tsx
  src/components/documents/documents-section.tsx
  src/components/leases/__tests__/bulk-import-config.test.ts
  src/components/leases/bulk-import-config.ts
  src/components/properties/__tests__/bulk-import-config.test.ts
  src/components/properties/bulk-import-config.ts
  src/components/tenants/__tests__/bulk-import-config.test.ts
  src/components/tenants/bulk-import-config.ts
  src/components/units/__tests__/bulk-import-config.test.ts
  src/components/units/bulk-import-config.ts
  src/hooks/api/query-keys/document-keys.ts
  src/lib/format-bytes.ts
  src/types/api-contracts.ts
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
