Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

chore(57-03): migrate components to PostgREST/Edge Functions
  apps/frontend/src/components/connect/connect-requirements.tsx
  apps/frontend/src/components/contact/contact-form.tsx
  apps/frontend/src/components/export/export-buttons.tsx
  apps/frontend/src/components/leases/wizard/__tests__/selection-step-filtering.property.test.tsx
  apps/frontend/src/components/leases/wizard/__tests__/selection-step.spec.tsx
  apps/frontend/src/components/leases/wizard/lease-creation-wizard.tsx
  apps/frontend/src/components/leases/wizard/selection-step.tsx
  apps/frontend/src/components/maintenance/__tests__/maintenance-details.test.tsx
  apps/frontend/src/components/maintenance/detail/add-expense-dialog.tsx
  apps/frontend/src/components/maintenance/detail/maintenance-details.client.tsx
  apps/frontend/src/components/maintenance/kanban/maintenance-kanban.client.tsx
  apps/frontend/src/components/maintenance/table/columns.tsx
  apps/frontend/src/components/maintenance/table/maintenance-table.client.tsx
  apps/frontend/src/components/onboarding/onboarding-step-tenant.tsx
  apps/frontend/src/components/onboarding/use-onboarding.ts
  apps/frontend/src/components/pricing/customer-portal.tsx
  apps/frontend/src/components/properties/bulk-import-stepper.tsx
  apps/frontend/src/components/settings/account-data-section.tsx
  apps/frontend/src/components/settings/billing-settings.tsx
  apps/frontend/src/components/settings/general-settings.tsx
  apps/frontend/src/components/settings/sections/account-danger-section.tsx
  apps/frontend/src/components/settings/sections/billing-history-section.tsx
  apps/frontend/src/components/settings/sections/subscription-cancel-section.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form-success.property.test.tsx
  apps/frontend/src/components/tenants/__tests__/invite-tenant-form.property.test.tsx
  apps/frontend/src/components/tenants/invite-tenant-form.tsx
Due: prettier, lint-quick

chore(57-03): migrate pages and page-level callsites to PostgREST
  apps/frontend/src/app/(owner)/documents/templates/components/template-definition.ts
  apps/frontend/src/app/(owner)/documents/templates/components/use-template-pdf.test.ts
  apps/frontend/src/app/(owner)/properties/page.tsx
  apps/frontend/src/app/(owner)/settings/__tests__/settings-page.test.tsx
  apps/frontend/src/app/(owner)/settings/components/billing-settings.tsx
  apps/frontend/src/app/(owner)/settings/components/general-settings.tsx
  apps/frontend/src/app/(owner)/tenants/page.tsx
  apps/frontend/src/app/(tenant)/tenant/onboarding/page.tsx
  apps/frontend/src/app/(tenant)/tenant/payments/new/page.tsx
  apps/frontend/src/app/(tenant)/tenant/settings/page.tsx
Due: prettier, lint-quick

docs(57-03): complete frontend apiRequest removal plan
  .planning/STATE.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-03-SUMMARY.md
  apps/frontend/src/app/(auth)/accept-invite/__tests__/accept-invite.test.tsx
  apps/frontend/src/app/(auth)/accept-invite/page.tsx
Due: prettier, lint-quick

docs(57-04): complete backend deletion plan
  .planning/STATE.md
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/57-04-SUMMARY.md
Due: prettier

docs(57-05): add Railway env var audit trail before teardown
  .planning/phases/57-cleanup-deletion-remove-nestjs-entirely/railway-env-audit.md
Due: prettier

fix(ci): bump pnpm-version to 10.29.3 to match packageManager field
  .github/workflows/ci-cd.yml
Due: prettier

chore: update all dependencies to latest versions
  apps/e2e-tests/package.json
  apps/e2e-tests/tests/smoke/critical-paths.smoke.spec.ts
  apps/e2e-tests/tests/tenant-invitation/tenant-invitation-flow.e2e.spec.ts
  apps/frontend/package.json
  apps/frontend/src/components/ui/file-upload/file-upload.tsx
  apps/frontend/src/hooks/api/query-keys/maintenance-keys.ts
  apps/frontend/src/lib/dom-utils.ts
  apps/integration-tests/package.json
  package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, lint-quick

fix(ci): fix RLS workflow env var names and pnpm version
  .github/workflows/rls-security-tests.yml
Due: prettier

fix(e2e): remove NestJS backend references from E2E tests
  apps/e2e-tests/tests/full-application-diagnostic.spec.ts
  apps/e2e-tests/tests/health-check.spec.ts
  apps/e2e-tests/tests/integration/api-contracts.spec.ts
  apps/e2e-tests/tests/smoke/critical-paths.smoke.spec.ts
Due: prettier, lint-quick

fix(shared): delete orphaned api-utils test (implementation doesn't exist)
  packages/shared/src/utils/__tests__/api-utils.test.ts
Due: prettier, lint-quick

fix(frontend): remove generate:backend-schemas script and delete convert-schemas.ts
  apps/frontend/package.json
  apps/frontend/scripts/convert-schemas.ts
Due: prettier, lint-quick

fix(cleanup): remove remaining NestJS references from config and comments
  apps/frontend/package.json
  apps/frontend/src/hooks/api/use-notifications.ts
  apps/frontend/src/lib/mutation-error-handler.ts
  apps/frontend/src/lib/stripe/stripe-client.ts
  packages/shared/src/security/cors-config.ts
  turbo.json
Due: prettier, lint-quick

fix(e2e): fix playwright config and auth setup for NestJS removal
  apps/e2e-tests/playwright.config.ts
  apps/e2e-tests/preflight.ts
  apps/e2e-tests/tests/auth-api.setup.ts
  apps/e2e-tests/tests/auth-tenant.setup.ts
Due: prettier, lint-quick

fix(deps): delete dead NestJS ESLint config and TypeScript config
  packages/eslint-config/index.js
  packages/eslint-config/nestjs.js
  packages/typescript-config/nestjs.json
Due: prettier, lint-quick

fix(cleanup): remove dead getCORSConfig and stale backend references
  apps/e2e-tests/run-production-flows.sh
  packages/shared/src/security/cors-config.ts
  packages/shared/src/validation/docuseal-webhooks.ts
Due: prettier, lint-quick

chore: add full-review findings, roadmap, update planning docs and CLAUDE.md
  .full-review/00-scope.md
  .full-review/01-quality-architecture.md
  .full-review/02-security-performance.md
  .full-review/03-testing-documentation.md
  .full-review/04-best-practices.md
  .full-review/05-final-report.md
  .full-review/state.json
  .gitignore
  .planning/PROJECT.md
  .planning/STATE.md
  .planning/phases/55-external-services-edge-functions-stirlingpdf-docuseal/55-04-PLAN.md
  CLAUDE.md
  roadmap.md
Due: prettier

fix(review): address code review findings before merge
  CLAUDE.md
  apps/e2e-tests/auth-helpers.ts
  apps/e2e-tests/scripts/preflight.ts
  apps/frontend/src/components/contact/contact-form.tsx
  supabase/functions/stripe-checkout-session/index.ts
  supabase/functions/tenant-invitation-accept/index.ts
  supabase/functions/tenant-invitation-validate/index.ts
Due: prettier, lint-quick

chore: verify Railway check removed from CI
  .gitignore
Due: none

chore: trigger fresh CI run post-Railway disconnect
  .gitignore
Due: none

fix(auth): rename SUPABASE_ANON_KEY to SUPABASE_PUBLISHABLE_KEY
  apps/e2e-tests/auth-helpers.ts
  apps/e2e-tests/playwright.config.ts
  apps/e2e-tests/scripts/preflight.ts
  apps/e2e-tests/tests/auth-api.setup.ts
  apps/e2e-tests/tests/auth-tenant.setup.ts
  apps/frontend/src/app/actions/auth.ts
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/env.ts
  apps/frontend/src/lib/supabase/client.ts
  apps/frontend/src/lib/supabase/proxy.ts
  apps/frontend/src/lib/supabase/server.ts
  apps/frontend/src/lib/utils.ts
  apps/frontend/src/test/unit-setup.ts
  apps/integration-tests/src/setup/supabase-client.ts
Due: prettier, lint-quick
