Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix(reports): pin day-of-month before shifting getDefaultDateRange (TZ-02)
  src/components/reports/__tests__/reports-utils.test.ts
  src/components/reports/reports-utils.ts
Due: prettier, lint-quick

fix(dashboard): show real expenses in the revenue-vs-expenses chart (TZ-03)
  src/components/dashboard/chart-area-interactive.tsx
  src/hooks/api/__tests__/use-owner-dashboard-financial.test.tsx
  src/hooks/api/use-owner-dashboard-financial.ts
Due: prettier, lint-quick

fix(bulk-import): preserve rent_currency and reject invalid status (MISC-01)
  src/components/leases/__tests__/bulk-import-config.test.ts
  src/components/leases/bulk-import-config.ts
  src/components/tenants/__tests__/bulk-import-config.test.ts
  src/components/tenants/bulk-import-config.ts
  src/components/units/__tests__/bulk-import-config.test.ts
  src/components/units/bulk-import-config.ts
Due: prettier, lint-quick

fix(blog-scripts): honor kill-switch, fence the lock, re-gate override slug (MISC-02)
  scripts/generate-blog-draft.test.ts
  scripts/generate-blog-draft.ts
  scripts/run-continuous-blog.test.ts
  scripts/run-continuous-blog.ts
  scripts/run-scheduled-blog.test.ts
  scripts/run-scheduled-blog.ts
Due: prettier, lint-quick

fix(scripts): stop stderr contaminating generated types; retire verify-seeds (MISC-03)
  scripts/db-types.sh
  scripts/verify-seeds.sh
Due: none

fix(migrations): reconcile request_account_deletion to the live definition (MISC-04)
  supabase/migrations/20260710220901_reconcile_request_account_deletion.sql
Due: none

fix(blog-scripts): close acquireLock reclaim race with atomic rename-aside (MISC-02 review)
  scripts/run-scheduled-blog.ts
Due: prettier, lint-quick

fix(blog-scripts): content-verify the reclaimed lock (MISC-02 review cycle 2)
  scripts/run-scheduled-blog.ts
Due: prettier, lint-quick

fix(scripts): clean the db-types stderr tempfile on the success path (MISC-03 review)
  scripts/db-types.sh
Due: none

test(reports): make startOfMonthsBack case genuinely distinguish the fix (TZ-02 nit)
  src/components/reports/__tests__/reports-utils.test.ts
Due: prettier, lint-quick

docs(phase-35): summary — TZ sweep, bulk-import, scripts, hygiene (final v8.0 phase)
  .planning/phases/35-tz-hygiene/35-05-SUMMARY.md
Due: prettier

fix(units): persist cleared Square Feet in the edit panel (PROP-05 sibling)
  src/components/properties/__tests__/edit-unit-panel.test.tsx
  src/components/properties/edit-unit-panel.tsx
Due: prettier, lint-quick

fix(money): stop overstating rent 100x on property + tenant read paths (MONEY-01/02)
  src/app/(owner)/properties/components/__tests__/property-transforms.test.ts
  src/app/(owner)/properties/components/property-transforms.ts
  src/app/(owner)/tenants/components/__tests__/tenant-transforms.test.ts
  src/app/(owner)/tenants/components/tenant-transforms.ts
Due: prettier, lint-quick

docs(planning): correct v8.0 requirement count in traceability footer (56 -> 72)
  .planning/REQUIREMENTS.md
Due: prettier

chore(db): retire the stale seed subsystem (property_owners-era, orphaned)
  package.json
  supabase/seeds/seed-common.sql
  supabase/seeds/seed-development.sql
  supabase/seeds/seed-performance.sql
  supabase/seeds/seed-smoke.sql
Due: prettier

docs: define milestone v9.0 requirements (296 REQs across 16 categories)
  .planning/REQUIREMENTS.md
Due: prettier

docs: create milestone v9.0 roadmap (16 phases, 296 requirements)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

docs(v9.0): per-phase fix research + adversarial will-fix validation
  .planning/phases/36-billing-subscription-lifecycle/RESEARCH.md
  .planning/phases/37-auth-flows/RESEARCH.md
  .planning/phases/38-forms-validation/RESEARCH.md
  .planning/phases/39-data-layer-cache/RESEARCH.md
  .planning/phases/40-type-boundaries/RESEARCH.md
  .planning/phases/41-component-logic-analytics/RESEARCH.md
  .planning/phases/42-dashboard-ux-navigation/RESEARCH.md
  .planning/phases/43-esign-flow/RESEARCH.md
  .planning/phases/44-public-site-ux/RESEARCH.md
  .planning/phases/45-marketing-content-truthfulness/RESEARCH.md
  .planning/phases/46-marketing-ui-consistency/RESEARCH.md
  .planning/phases/47-accessibility/RESEARCH.md
  .planning/phases/48-routing-seo-performance/RESEARCH.md
  .planning/phases/49-client-state-zustand/RESEARCH.md
  .planning/phases/50-admin-surface/RESEARCH.md
  .planning/phases/51-code-hygiene/RESEARCH.md
  .planning/phases/CONFLICT-MAP.md
  .planning/phases/VALIDATION-SUMMARY.md
Due: prettier

docs(v9.0): residual validation complete — 296/296 fixes confirmed WILL-FIX
  .planning/phases/VALIDATION-SUMMARY.md
Due: prettier

fix(v9.0 phase 36): billing & subscription lifecycle (BILL-01..20)
  src/app/(owner)/billing/plans/page.tsx
  src/app/pricing/complete/complete-client.tsx
  src/app/pricing/complete/page.tsx
  src/app/pricing/success/page.tsx
  src/app/pricing/success/success-client.tsx
  src/app/robots.ts
  src/components/billing/__tests__/subscription-status-banner.test.tsx
  src/components/billing/subscription-status-banner.tsx
  src/components/settings/__tests__/billing-settings.test.tsx
  src/components/settings/billing-settings.tsx
  src/components/settings/sections/subscription-cancel-section.test.tsx
  src/components/settings/sections/subscription-cancel-section.tsx
  src/hooks/api/query-keys/billing-keys.test.ts
  src/hooks/api/query-keys/billing-keys.ts
  src/hooks/api/query-keys/subscription-keys.test.ts
  src/hooks/api/query-keys/subscription-keys.ts
  src/hooks/api/query-keys/subscription-verification-keys.ts
  src/lib/supabase/__tests__/middleware-routing.test.ts
  src/proxy.ts
  src/types/api-contracts.ts
  src/types/core.ts
  src/types/stripe.ts
  supabase/functions/stripe-checkout/index.ts
  supabase/functions/stripe-webhooks/handlers/checkout-session-completed.ts
  supabase/functions/stripe-webhooks/handlers/customer-subscription-deleted.ts
  supabase/functions/stripe-webhooks/handlers/customer-subscription-trial-will-end.ts
  supabase/functions/stripe-webhooks/handlers/customer-subscription-updated.ts
  supabase/functions/stripe-webhooks/handlers/invoice-payment-failed.ts
  supabase/functions/stripe-webhooks/index.ts
  supabase/functions/tests/stripe-webhooks-test.ts
Due: prettier, lint-quick

fix(v9.0 phase 36): perfect-PR cycle 1 findings
  src/app/(owner)/billing/plans/page.tsx
  src/components/billing/upgrade-dialog.tsx
  src/components/settings/__tests__/billing-settings.test.tsx
  src/components/settings/billing-settings.tsx
  src/components/settings/sections/subscription-cancel-section.test.tsx
  supabase/functions/stripe-webhooks/handlers/checkout-session-completed.ts
  tests/e2e/tests/constants/routes.ts
Due: prettier, lint-quick

fix(v9.0 phase 36): perfect-PR cycle 2 findings
  src/app/(owner)/billing/plans/page.test.tsx
  src/components/pricing/customer-portal.tsx
  supabase/functions/tests/stripe-webhooks-test.ts
  supabase/migrations/20260712030000_expire_trials_exclude_stripe_subscriptions.sql
Due: prettier, lint-quick

test(v9.0 phase 36): perfect-PR cycle 3 — cover the plan-card confirm path
  src/app/(owner)/billing/plans/page.test.tsx
Due: prettier, lint-quick

fix(v9.0 phase 36): perfect-PR cycle 5 findings
  src/app/(owner)/billing/plans/page.test.tsx
  src/app/(owner)/billing/plans/page.tsx
  src/app/stripe/success/page.tsx
Due: prettier, lint-quick

fix(v9.0 phase 37): auth flows (AUTH-01..13)
  scripts/deploy-edge-functions.ts
  src/app/(auth)/login/page.tsx
  src/app/auth/callback/__tests__/otp-validation.test.ts
  src/app/auth/callback/route.ts
  src/app/auth/confirm-email/confirm-email-states.tsx
  src/app/auth/confirm-email/page.tsx
  src/app/auth/post-checkout/page.tsx
  src/app/auth/signout/page.tsx
  src/app/auth/update-password/page.tsx
  src/app/robots.ts
  src/components/pricing/owner-subscribe-dialog.tsx
  src/components/settings/general-settings.tsx
  src/lib/supabase/__tests__/middleware-routing.test.ts
  src/proxy.ts
  supabase/config.toml
  supabase/functions/stripe-billing-portal/index.ts
  supabase/functions/stripe-checkout-session/index.ts
  supabase/functions/stripe-checkout/index.ts
Due: prettier, lint-quick

fix(v9.0 phase 38): forms & validation (FORM-01..19)
  src/app/(owner)/documents/templates/components/maintenance-request-template.client.tsx
  src/app/(owner)/documents/templates/components/property-inspection-template.client.tsx
  src/app/(owner)/documents/templates/components/rental-application-template.client.tsx
  src/app/(owner)/documents/templates/components/tenant-notice-template.client.tsx
  src/app/(owner)/documents/templates/components/use-template-pdf.test.ts
  src/app/(owner)/documents/templates/components/use-template-pdf.ts
  src/components/contact/contact-form-fields.tsx
  src/components/contact/contact-form.tsx
  src/components/inspections/new-inspection-form.client.tsx
  src/components/leases/lease-form-financial-fields.tsx
  src/components/leases/lease-form-options.ts
  src/components/leases/lease-form.tsx
  src/components/leases/wizard/__tests__/terms-step.test.tsx
  src/components/leases/wizard/details-step.tsx
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/components/leases/wizard/terms-step.tsx
  src/components/maintenance/__tests__/maintenance-form.test.tsx
  src/components/maintenance/maintenance-form-fields.tsx
  src/components/properties/add-unit-panel.tsx
  src/components/properties/edit-unit-panel.tsx
  src/components/settings/owner-emergency-contact-section.tsx
  src/components/tenants/add-tenant-info-fields.tsx
  src/components/units/unit-form-fields.tsx
  src/components/units/unit-form.client.tsx
  src/hooks/api/__tests__/use-lease.test.tsx
  src/hooks/api/query-keys/lease-mutation-options.ts
  src/hooks/use-maintenance-form.ts
  src/lib/constants/billing.ts
  src/lib/validation/common.ts
  src/lib/validation/lease-wizard.schemas.ts
  src/lib/validation/leases.ts
  src/lib/validation/properties.ts
  src/lib/validation/units.ts
Due: prettier, lint-quick

fix(v9.0 phase 38): perfect-PR cycle 1 — wizard selection-step error rendering
  src/components/leases/wizard/__tests__/selection-step.spec.tsx
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/components/leases/wizard/selection-step.tsx
Due: prettier, lint-quick

fix(v9.0 phase 38): perfect-PR cycle 2 findings
  src/components/leases/wizard/__tests__/wizard-step-errors.test.ts
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/components/leases/wizard/wizard-step-errors.ts
  src/lib/validation/__tests__/common.test.ts
  src/lib/validation/__tests__/properties.test.ts
Due: prettier, lint-quick

test(v9.0 phase 38): perfect-PR cycle 3 — cover FORM-17 + unit-rent guards
  src/components/contact/__tests__/contact-form-fields.test.tsx
  src/components/contact/__tests__/contact-form.test.tsx
  src/components/properties/__tests__/add-unit-panel.test.tsx
  src/components/properties/__tests__/edit-unit-panel.test.tsx
  src/components/units/__tests__/unit-form.test.tsx
Due: prettier, lint-quick

fix(v9.0 phase 38): perfect-PR cycle 4 findings
  src/components/leases/__tests__/lease-form-options.test.ts
  src/components/leases/lease-form-options.ts
  src/components/leases/wizard/__tests__/wizard-step-errors.test.ts
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/components/leases/wizard/wizard-step-errors.ts
  src/lib/validation/lease-wizard.schemas.ts
Due: prettier, lint-quick

test(v9.0 phase 38): perfect-PR cycle 6 — cover FORM-06 + FORM-19 wiring
  src/components/leases/__tests__/bulk-import-config.test.ts
  src/components/tenants/__tests__/add-tenant-form.property.test.tsx
Due: prettier, lint-quick

fix(v9.0 phase 38): perfect-PR cycle 8 findings
  src/components/leases/wizard/details-step.tsx
  src/components/units/__tests__/bulk-import-config.test.ts
Due: prettier, lint-quick

fix(v9.0 phase 39): data layer & cache integrity (DATA-01..18)
  src/app/(admin)/admin/blog/page.tsx
  src/hooks/api/__tests__/property-mutations.test.tsx
  src/hooks/api/__tests__/use-properties.test.tsx
  src/hooks/api/query-keys/blog-keys.ts
  src/hooks/api/query-keys/document-category-keys.ts
  src/hooks/api/query-keys/expense-keys.ts
  src/hooks/api/query-keys/inspection-keys.ts
  src/hooks/api/query-keys/lease-keys.ts
  src/hooks/api/query-keys/maintenance-keys.ts
  src/hooks/api/query-keys/property-keys.ts
  src/hooks/api/query-keys/property-stats-keys.ts
  src/hooks/api/query-keys/report-keys.ts
  src/hooks/api/query-keys/unit-keys.ts
  src/hooks/api/use-inspection-mutations.ts
  src/hooks/api/use-lease-lifecycle-mutations.ts
  src/hooks/api/use-lease-mutations.ts
  src/hooks/api/use-lease.ts
  src/hooks/api/use-properties.ts
  src/hooks/api/use-property-mutations.ts
  src/hooks/api/use-tenant-mutations.ts
  src/hooks/api/use-unit.ts
  src/hooks/create-mutation-callbacks.test.ts
  src/hooks/create-mutation-callbacks.ts
Due: prettier, lint-quick

fix(v9.0 phase 39): perfect-PR cycle 1 — bound propertyStatsQueries.performance()
  src/hooks/api/query-keys/property-stats-keys.ts
Due: prettier, lint-quick

test(v9.0 phase 39): perfect-PR cycle 3 — cover DATA-03 withLease cache targeting
  src/hooks/api/__tests__/use-tenant.test.tsx
Due: prettier, lint-quick

test(v9.0 phase 39): perfect-PR cycle 4 — cover DATA-01/02/06/18 cache targeting
  src/hooks/api/__tests__/use-inspection-mutations.test.tsx
  src/hooks/api/__tests__/use-lease.test.tsx
Due: prettier, lint-quick

docs(v9.0 phase 40): restore validation-caught research refinement (TYPE-05 test)
  .planning/phases/40-type-boundaries/RESEARCH.md
Due: prettier

fix(v9.0 phase 40): type boundaries (TYPE-01..07)
  src/app/(owner)/analytics/financial/_components/financial-overview-stats.tsx
  src/app/(owner)/financials/expenses/_components/expense-category-badge.tsx
  src/app/(owner)/financials/expenses/_components/expense-table.tsx
  src/app/(owner)/financials/expenses/page.tsx
  src/hooks/api/__tests__/use-financial-overview.test.ts
  src/hooks/api/__tests__/use-reports.test.tsx
  src/hooks/api/query-keys/analytics-keys.ts
  src/hooks/api/query-keys/analytics-mappers.ts
  src/hooks/api/query-keys/expense-keys.ts
  src/hooks/api/query-keys/financial-keys.ts
  src/hooks/api/query-keys/property-keys.ts
  src/hooks/api/query-keys/report-keys.ts
  src/hooks/api/query-keys/template-definition-keys.ts
  src/hooks/api/use-analytics.ts
  src/lib/validation/dynamic-field.ts
  src/types/reports.ts
Due: prettier, lint-quick

fix(v9.0 phase 40): perfect-PR cycle 1 findings
  src/app/(owner)/analytics/property-performance/performance-stat-cards.tsx
  src/hooks/api/__tests__/use-expenses.test.ts
  src/hooks/api/query-keys/analytics-mappers.test.ts
  src/lib/validation/dynamic-field.test.ts
Due: prettier, lint-quick
