Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

fix: update package-lock.json to include Turbo binary for macOS ARM64
  package-lock.json
Due: prettier

fix: install turbo-darwin-arm64 platform binary for consistent local development
  package-lock.json
  package.json
Due: prettier

fix: add missing auth-token.decorator.ts file
  apps/backend/src/shared/decorators/auth-token.decorator.ts
Due: prettier, lint-quick

fix: add exception for auth-token.decorator.ts in gitignore
  .gitignore
Due: none

chore: format auth-token.decorator.ts with Prettier
  apps/backend/src/shared/decorators/auth-token.decorator.ts
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
