Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

chore: update package configurations and scripts
  .vercelignore
  apps/backend/package.json
  apps/frontend/package.json
  apps/frontend/src/app/globals.css
  package.json
  pnpm-workspace.yaml
Due: prettier

fix: enforce architectural rules and remove violations
  .github/workflows/ci-cd.yml
  apps/backend/src/billing/stripe-data-validation.spec.ts
  apps/backend/src/billing/stripe.controller.ts
  apps/backend/src/shared/scripts/security-audit.ts
  apps/backend/test/email/run-email-tests.ts
  apps/backend/test/test-environment.ts
  apps/frontend/src/app/(protected)/dashboard/properties/page.tsx
  apps/frontend/src/app/(protected)/dashboard/tenants/page.tsx
  apps/frontend/src/components/auth/password-strength.tsx
  apps/frontend/src/hooks/api/tenants.ts
  apps/frontend/src/lib/api/dashboard-server.ts
Due: prettier, lint-quick

fix(critical): homepage should redirect users, not show marketing
  apps/frontend/src/app/page.tsx
Due: prettier, lint-quick

feat: transform pricing page to Apple-inspired clean design
  apps/frontend/src/app/pricing/page.tsx
Due: prettier, lint-quick

fix: enable unauthenticated Stripe checkout and UI improvements
  apps/backend/src/billing/stripe.controller.ts
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/backend/src/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/pdf/templates/lease-agreement.hbs
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/dashboard/layout.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/error.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/loading.tsx
  apps/frontend/src/app/not-found.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/pricing/page.tsx
  apps/frontend/src/components/layout/footer.tsx
  apps/frontend/src/components/layout/seo-head.tsx
  apps/frontend/src/components/layout/web-vitals.tsx
  apps/frontend/src/components/sections/cta-simple.tsx
  apps/frontend/src/design-system/README.md
  apps/frontend/src/design-system/index.ts
  apps/frontend/src/design-system/tokens/complete.json
  apps/frontend/src/design-system/tokens/essential.json
  apps/frontend/src/design-system/tokens/index.json
  apps/frontend/src/design-system/tokens/typography.json
  apps/frontend/src/design-system/tokens/unified.ts
  apps/frontend/src/lib/design-system.ts
  apps/frontend/src/lib/metadata.ts
  apps/frontend/src/lib/stripe-client.ts
  apps/frontend/src/stores/auth-provider.tsx
  packages/shared/src/constants/design-system.ts
  packages/shared/src/constants/typography-tokens.ts
  packages/shared/src/tokens/design-tokens.ts
Due: prettier, lint-quick

chore: improve gitignore comment formatting
  .gitignore
Due: none

fix: use optional doppler helper for CI scripts
  package.json
Due: prettier

fix: replace all npm references with pnpm in package.json files
  apps/frontend/package.json
  package.json
  packages/shared/package.json
  scripts/validate-production.sh
Due: prettier

fix: complete pnpm migration and resolve all linting issues
  .github/workflows/ci-cd.yml
  Dockerfile
  apps/backend/src/billing/stripe-data-validation.spec.ts
  apps/backend/test/email/run-email-tests.ts
  apps/frontend/package.json
  apps/frontend/scripts/auth-health-check.ts
  apps/frontend/tests/e2e/run-dashboard-tests.sh
  apps/frontend/tests/tanstack/playwright.config.ts
  apps/frontend/tests/tanstack/tanstack-test-results/results.json
  package.json
  packages/database/package.json
  packages/database/src/generated/client/runtime/edge-esm.js
  packages/database/src/generated/client/runtime/edge.js
  packages/database/src/generated/client/runtime/library.js
  packages/database/src/generated/client/runtime/react-native.js
  packages/database/src/generated/client/runtime/wasm-compiler-edge.js
  packages/database/src/generated/client/runtime/wasm-engine-edge.js
  packages/shared/package.json
  playwright.config.ts
  scripts/ci/verify-workflows.ts
  scripts/test-runner.sh
  scripts/validate-configs.sh
  tests/production/production-readiness.spec.ts
  tsconfig.json
  turbo.json
Due: prettier, lint-quick

fix: resolve TypeScript errors after Express migration
  apps/backend/src/main.ts
  apps/backend/src/properties/properties.service.ts
  apps/backend/src/tenants/tenants.service.ts
  apps/backend/src/units/units.service.ts
  apps/backend/tsconfig.build.json
  apps/frontend/src/app/contact/page.tsx
  apps/frontend/src/design-system/tokens/unified.ts
  packages/shared/src/types/backend-domain.ts
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
