Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

chore(post-749 cycle-5): drop redundant inspection_rooms embed from detailQuery
  .planning/post-749-review/CYCLE-5.md
  src/hooks/api/query-keys/inspection-keys.ts
Due: prettier, lint-quick

fix(edge-functions): wire import_map for every function block
  supabase/config.toml
Due: none

fix(post-756 cycle-1): preserve verify_jwt=false on 9 functions + runbook
  supabase/config.toml
Due: none

chore(post-756 cycle-2): clarify download-documents-zip auth comment
  supabase/config.toml
Due: none

chore(scripts): add edge function deploy script as cli 401 bypass
  scripts/deploy-edge-functions.ts
Due: prettier, lint-quick

fix(security): revoke anon EXECUTE on 22 security definer rpcs (2 idor + 20 dd)
  .planning/anon-exec-audit/CYCLE-1.md
  supabase/migrations/20260529224926_revoke_anon_security_definer_rpcs.sql
  supabase/migrations/20260529225039_revoke_anon_security_definer_rpcs_v2.sql
  tests/integration/rls/anon-rpc-grants.rls.test.ts
Due: prettier, lint-quick

fix(post-758 cycle-1): correct counts + record cycle-1 verifications
  .planning/anon-exec-audit/CYCLE-1.md
  supabase/migrations/20260529224926_revoke_anon_security_definer_rpcs.sql
  supabase/migrations/20260529225039_revoke_anon_security_definer_rpcs_v2.sql
  tests/integration/rls/anon-rpc-grants.rls.test.ts
Due: prettier, lint-quick

fix(post-758 cycle-2): unblock rls-security CI + finish count drift
  .planning/anon-exec-audit/CYCLE-1.md
  tests/integration/rls/anon-rpc-grants.rls.test.ts
  tests/integration/rls/funnel-admin-rpc.test.ts
Due: prettier, lint-quick

chore(post-758 cycle-3): correct funnel-admin docstring drift
  tests/integration/rls/funnel-admin-rpc.test.ts
Due: prettier, lint-quick

fix(post-758 cycle-4): complete funnel-admin docstring + it() name drift
  tests/integration/rls/funnel-admin-rpc.test.ts
Due: prettier, lint-quick

docs(post-758 cycle-6): persist 5 deferred follow-ups in audit doc
  .planning/anon-exec-audit/CYCLE-1.md
Due: prettier

chore(db): finish rent-payment / tenant-portal demolition
  .planning/repo-audit/AUDIT-2026-05-29.md
  src/types/supabase.ts
  supabase/get_critical_policies.sql
  supabase/migrations/20260530015823_finish_rent_payment_demolition.sql
  supabase/schemas/public.sql
  supabase/verify_rls_performance.sql
  tests/integration/rls/for-all-audit.test.ts
Due: prettier, lint-quick

feat(seo): 301-redirect the deleted Phase-1 blog catalogue
  .planning/seo-audit/ANALYSIS-2026-05-29.md
  next.config.ts
  src/lib/seo/__tests__/blog-redirects.test.ts
  src/lib/seo/blog-redirects.ts
Due: prettier, lint-quick

fix(post-760 cycle-1): route -vs- ghosts to live comparison posts (P2-01)
  .planning/seo-audit/ANALYSIS-2026-05-29.md
  src/lib/seo/__tests__/blog-redirects.test.ts
  src/lib/seo/blog-redirects.ts
Due: prettier, lint-quick

fix(seo): /pricing emits SoftwareApplication, not Product (Merchant-listings error)
  src/app/pricing/__tests__/page.test.ts
  src/app/pricing/page.tsx
  src/lib/seo/__tests__/product-schema.test.ts
  src/lib/seo/__tests__/software-application-schema.test.ts
  src/lib/seo/product-schema.ts
  src/lib/seo/software-application-schema.ts
Due: prettier, lint-quick

fix(seo): buildOffers rejects NaN + mixed-currency (PR #761 cycle-1)
  src/lib/seo/__tests__/software-application-schema.test.ts
  src/lib/seo/software-application-schema.ts
Due: prettier, lint-quick

test(seo): drop dead #env + getSiteUrl mocks from schema test
  src/lib/seo/__tests__/software-application-schema.test.ts
Due: prettier, lint-quick

fix(seo): buildOffers validates the whole price string (PR #761 cycle-3)
  src/lib/seo/__tests__/software-application-schema.test.ts
  src/lib/seo/software-application-schema.ts
Due: prettier, lint-quick

fix(seo): drop /pricing Product schema; rely on sitewide SoftwareApplication
  src/app/pricing/__tests__/page.test.ts
  src/app/pricing/page.tsx
  src/lib/seo/__tests__/software-application-schema.test.ts
  src/lib/seo/software-application-schema.ts
Due: prettier, lint-quick

test(seo): pin /pricing emits exactly FAQ + Breadcrumb JSON-LD (no commercial node)
  src/app/pricing/__tests__/page.test.ts
Due: prettier, lint-quick

test(e2e): /pricing SEO smoke expects SoftwareApplication, not Product
  tests/e2e/tests/public/seo-smoke.spec.ts
Due: prettier, lint-quick

docs(gsd): reconcile planning trackers to git reality
  .planning/.continue-here.md
  .planning/HANDOFF.json
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-charts/.continue-here.md
  .planning/phases/04-charts/04-REVIEW-CYCLE-8.md
  .planning/phases/04-charts/04-REVIEW-CYCLE-9.md
  .planning/post-749-review/CYCLE-6.md
  .planning/repo-audit/AUDIT-2026-05-29.md
Due: prettier

docs(05): create Portfolio DataTable phase plan (5 plans, 3 waves)
  .planning/ROADMAP.md
  .planning/phases/05-dashboard-portfolio-datatable/05-01a-PLAN.md
  .planning/phases/05-dashboard-portfolio-datatable/05-01b-PLAN.md
  .planning/phases/05-dashboard-portfolio-datatable/05-02-PLAN.md
  .planning/phases/05-dashboard-portfolio-datatable/05-03a-PLAN.md
  .planning/phases/05-dashboard-portfolio-datatable/05-03b-PLAN.md
Due: prettier

docs(05): revise Phase 5 plans per plan-check (B-1/B-2/W-1..4)
  .planning/phases/05-dashboard-portfolio-datatable/05-01a-PLAN.md
  .planning/phases/05-dashboard-portfolio-datatable/05-01b-PLAN.md
  .planning/phases/05-dashboard-portfolio-datatable/05-02-PLAN.md
  .planning/phases/05-dashboard-portfolio-datatable/05-03b-PLAN.md
Due: prettier

feat(05-01a): add useClientDataTable hook (client-side useDataTable fork)
  src/hooks/use-client-data-table.ts
Due: prettier, lint-quick

test(05-01a): pin useClientDataTable contract (6 cases)
  src/hooks/__tests__/use-client-data-table.test.tsx
Due: prettier, lint-quick

docs(05-01a): summary for useClientDataTable hook plan
  .planning/phases/05-dashboard-portfolio-datatable/05-01a-SUMMARY.md
Due: prettier

feat(05-01b): extend DataTableColumnHeader with getAriaSort + keyboard sort
  src/components/data-table/__tests__/data-table-column-header.test.tsx
  src/components/data-table/data-table-column-header.tsx
Due: prettier, lint-quick

feat(05-01b): add portfolio-columns ColumnDef<PortfolioRow>[] model
  src/components/dashboard/components/__tests__/portfolio-columns.test.tsx
  src/components/dashboard/components/portfolio-columns.tsx
Due: prettier, lint-quick

docs(05-01b): portfolio column model + getAriaSort plan summary
  .planning/phases/05-dashboard-portfolio-datatable/05-01b-SUMMARY.md
Due: prettier

feat(05-02): add PortfolioDataTableToolbar (search + faceted + view + toggle)
  src/components/dashboard/components/__tests__/portfolio-data-table.test.tsx
  src/components/dashboard/components/portfolio-data-table-toolbar.tsx
Due: prettier, lint-quick

feat(05-02): add PortfolioDataTable (aria-sort th + virtualized + grid switch)
  src/components/dashboard/components/__tests__/portfolio-data-table.test.tsx
  src/components/dashboard/components/portfolio-data-table.tsx
Due: prettier, lint-quick

docs(05-02): summary for assembled PortfolioDataTable + toolbar plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-dashboard-portfolio-datatable/05-02-SUMMARY.md
Due: prettier

feat(05-03a): add dashboard-presets Zustand persist store
  src/stores/__tests__/dashboard-presets-store.test.ts
  src/stores/dashboard-presets-store.ts
Due: prettier, lint-quick

docs(05-03a): complete dashboard-presets store plan
  .planning/phases/05-dashboard-portfolio-datatable/05-03a-SUMMARY.md
Due: prettier

feat(05-03b): swap dashboard portfolio to vendored DataTable + presets
  src/components/dashboard/components/__tests__/dashboard-portfolio-swap.test.tsx
  src/components/dashboard/components/portfolio-preset-menu.tsx
  src/components/dashboard/dashboard.tsx
  src/stores/dashboard-store.ts
Due: prettier, lint-quick

refactor(05-03b): delete hand-rolled portfolio trio (atomic swap done)
  src/components/dashboard/components/portfolio-pagination.tsx
  src/components/dashboard/components/portfolio-table.tsx
  src/components/dashboard/components/portfolio-toolbar.tsx
Due: prettier, lint-quick

docs(05-03b): drop stale toolbar pointer to deleted hand-rolled file
  src/components/dashboard/components/portfolio-data-table-toolbar.tsx
Due: prettier, lint-quick

docs(05-03b): complete dashboard portfolio atomic-swap plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-dashboard-portfolio-datatable/05-03b-SUMMARY.md
Due: prettier

fix(dashboard): make nuqs the single source of truth for table filters
  src/components/dashboard/components/__tests__/portfolio-data-table.test.tsx
  src/hooks/__tests__/use-client-data-table.test.tsx
  src/hooks/use-client-data-table.ts
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
