Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix: Standardize user_type handling to uppercase
  supabase/migrations/20251119_create_test_users.sql
  supabase/migrations/20251121000000_fix_auth_hook_proper_claims_structure.sql
Due: none

test: Add comprehensive unit tests for RolesGuard
  apps/backend/src/shared/guards/roles.guard.spec.ts
Due: prettier, lint-quick

chore: Remove unused Sentry dependencies
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier

fix: Add health_check RPC function for backend monitoring
  supabase/migrations/20251123000000_add_health_check_rpc.sql
Due: none

fix: Improve authentication flow and API client reliability
  apps/backend/src/shared/middleware/request-logger.middleware.ts
  apps/e2e-tests/auth-helpers.ts
  apps/frontend/next.config.ts
  apps/frontend/proxy.ts
  apps/frontend/src/lib/api-config.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/supabase/middleware.ts
Due: prettier, lint-quick

fix: Map legacy property_owner user_type to OWNER for backward compatibility
  apps/backend/src/shared/guards/roles.guard.spec.ts
  apps/backend/src/shared/guards/roles.guard.ts
  supabase/migrations/20251123030000_fix_auth_hook_legacy_user_type_mapping.sql
Due: prettier, lint-quick

fix: Migrate to Next.js 16 cacheComponents for production builds
  apps/frontend/next.config.ts
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/manage/analytics/financial/page.tsx
  apps/frontend/src/app/(protected)/manage/analytics/leases/page.tsx
  apps/frontend/src/app/(protected)/manage/analytics/maintenance/page.tsx
  apps/frontend/src/app/(protected)/manage/analytics/occupancy/page.tsx
  apps/frontend/src/app/(protected)/manage/analytics/overview/page.tsx
  apps/frontend/src/app/(protected)/manage/analytics/page.tsx
  apps/frontend/src/app/(protected)/manage/analytics/property-performance/page.tsx
  apps/frontend/src/app/(protected)/manage/documents/page.tsx
  apps/frontend/src/app/(protected)/manage/layout.tsx
  apps/frontend/src/app/(protected)/manage/page.tsx
  apps/frontend/src/app/(protected)/manage/properties/page.tsx
  apps/frontend/src/app/(protected)/manage/properties/property-bulk-import-dialog.tsx
  apps/frontend/src/app/(protected)/manage/reports/page.tsx
  apps/frontend/src/app/(protected)/manage/settings/layout.tsx
  apps/frontend/src/app/(protected)/manage/settings/page.tsx
  apps/frontend/src/app/(protected)/settings/payment-methods/page.tsx
  apps/frontend/src/app/accept-invite/layout.tsx
  apps/frontend/src/app/accept-invite/page.tsx
  apps/frontend/src/app/api/security/csp-report/route.ts
  apps/frontend/src/app/auth/confirm/route.ts
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/opengraph-image.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/pricing/kibo-style-pricing.tsx
  apps/frontend/test-bulk-import.csv
Due: prettier, lint-quick

feat(frontend): Migrate to T3 Env for type-safe environment variables
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/tenant/maintenance/new/page.tsx
  apps/frontend/src/app/(protected)/tenant/onboarding/page.tsx
  apps/frontend/src/app/(protected)/tenant/payments/methods/payment-method-setup-form.tsx
  apps/frontend/src/app/(protected)/tenant/tenant-error-boundary.tsx
  apps/frontend/src/app/about/page.tsx
  apps/frontend/src/app/contact/page.tsx
  apps/frontend/src/app/faq/page.tsx
  apps/frontend/src/app/features/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/app/pricing/page.tsx
  apps/frontend/src/app/resources/page.tsx
  apps/frontend/src/components/dashboard/section-cards.tsx
  apps/frontend/src/components/performance/profiler-wrapper.tsx
  apps/frontend/src/components/sw/register-sw.tsx
  apps/frontend/src/config/env.ts
  apps/frontend/src/lib/api-config.ts
  apps/frontend/src/lib/stripe/stripe-client.ts
  apps/frontend/src/lib/supabase/cookies.ts
  apps/frontend/src/providers/auth-provider.tsx
  apps/frontend/src/providers/query-provider.tsx
  apps/frontend/src/providers/stripe-provider.tsx
  apps/frontend/src/test/setup.ts
  apps/frontend/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, lint-quick

feat: Add production testing infrastructure and fix properties RLS policies
  apps/backend/scripts/diagnose-performance.ts
  apps/e2e-tests/run-production-flows.sh
  apps/e2e-tests/tests/production-flows/complete-owner-journey.e2e.spec.ts
  apps/e2e-tests/tests/production-flows/tenant-complete-journey.e2e.spec.ts
  apps/e2e-tests/tests/smoke/critical-paths.smoke.spec.ts
  apps/e2e-tests/tests/smoke/minimal.smoke.spec.ts
  supabase/migrations/20251122_add_properties_rls_policies.sql
Due: prettier, lint-quick

fix: Remove 'use cache' from analytics pages for Next.js 16 compatibility
  apps/frontend/src/app/(protected)/manage/analytics/maintenance/page.tsx
  apps/frontend/src/app/(protected)/manage/analytics/overview/page.tsx
Due: prettier, lint-quick

fix: Add Suspense boundaries and connection() for Next.js 16 Cache Components
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/manage/maintenance/[id]/page.tsx
  apps/frontend/src/app/(protected)/manage/tenants/[id]/page.tsx
  apps/frontend/src/lib/dal.ts
Due: prettier, lint-quick
