Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

fix(30): lease mutations refresh units table + drop discarded occupancy fetch (review c6)
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/hooks/api/query-keys/report-analytics-keys.ts
  src/hooks/api/use-lease-lifecycle-mutations.ts
  src/hooks/api/use-lease-mutations.ts
Due: prettier, lint-quick

refactor(30): remove orphaned mapLeaseAnalytics dead code (review c6)
  src/hooks/api/query-keys/analytics-mappers.test.ts
  src/hooks/api/query-keys/analytics-mappers.ts
Due: prettier, lint-quick

fix(30): owner-sign + unit conflict-recovery refresh the units table (review c6 sweep)
  src/components/units/unit-form.client.tsx
  src/hooks/api/use-lease-signature-mutations.ts
Due: prettier, lint-quick

fix(30): expired lease Status display + leases row measureElement (review c7)
  src/components/leases/lease-form-financial-fields.tsx
  src/components/leases/table/__tests__/leases-table-columns.a11y.test.tsx
  src/components/leases/table/leases-table-columns.tsx
  src/components/leases/table/leases-table.tsx
  src/components/shared/virtualized-table-row.ts
  src/lib/forms/fields/select-field.tsx
Due: prettier, lint-quick

docs(30): drop stale mapLeaseAnalytics comment + tenant-report occupancy mocks (review c8)
  src/hooks/api/__tests__/use-reports.test.tsx
  src/hooks/api/query-keys/analytics-mappers.ts
Due: prettier, lint-quick

fix(30): optimistic lease-delete refreshes units table (review c9)
  src/hooks/api/use-lease-mutations.ts
Due: prettier, lint-quick

fix(30): lease detail timeline shows an Expired terminal event (review c10)
  src/components/leases/detail/lease-detail-utils.ts
Due: prettier, lint-quick

fix(30): propagate 'expired' lease status across DB functions/triggers (review c12)
  .planning/phases/30-analytics-data/30-REVIEW.md
  supabase/migrations/20260709044800_data03_propagate_expired_lease_status_to_db_functions.sql
Due: prettier

fix(30): dashboard leases.expired count includes 'expired' status (review c13)
  supabase/migrations/20260709050956_data03_dashboard_expired_count_includes_expired_status.sql
Due: none

docs(30): capture DATA-04 (dashboard historical-CTE accuracy) + phase 30 verification summary
  .planning/REQUIREMENTS.md
  .planning/phases/30-analytics-data/30-07-SUMMARY.md
  .planning/phases/30-analytics-data/30-REVIEW.md
Due: prettier

fix(30): exclude soft-deleted properties from occupancy/revenue trends + search (review c16)
  supabase/migrations/20260709060533_data02_exclude_inactive_properties_from_occupancy_revenue_trends.sql
  supabase/migrations/20260709060701_data02_search_properties_exclude_inactive.sql
Due: none

fix(30): aria-rowcount/aria-rowindex on virtualized tables (review c18)
  src/components/leases/table/leases-table-columns.tsx
  src/components/leases/table/leases-table.tsx
  src/components/properties/property-table-row.tsx
  src/components/properties/property-table.tsx
  src/components/tenants/tenant-table-row.tsx
  src/components/tenants/tenant-table.tsx
Due: prettier, lint-quick

docs(30): adjudicate get_financial_overview + DATA-04 dashboard trend fns
  .planning/phases/30-analytics-data/30-REVIEW.md
Due: prettier

fix(30): tenant report reads expiringSoon (camelCase) from get_dashboard_stats (review c20)
  src/hooks/api/__tests__/use-reports.test.tsx
  src/hooks/api/query-keys/report-analytics-keys.ts
Due: prettier, lint-quick

fix(30): correct get_dashboard_stats test mocks to the real bare-object shape (review c21)
  src/hooks/api/__tests__/use-financial-overview.test.ts
  src/hooks/api/__tests__/use-financials.test.tsx
  src/hooks/api/__tests__/use-reports.test.tsx
  src/hooks/api/query-keys/financial-keys.ts
  src/hooks/api/query-keys/report-analytics-keys.ts
Due: prettier, lint-quick

fix(30): tax-documents reads get_dashboard_stats as a bare object (review c21)
  src/hooks/api/__tests__/use-expense-mutations.test.tsx
  src/hooks/api/__tests__/use-financials.test.tsx
  src/hooks/api/query-keys/expense-keys.ts
Due: prettier, lint-quick

fix(30): aria-sort on sortable virtualized-table headers (review c21)
  src/components/leases/table/leases-table.tsx
  src/components/properties/property-table.tsx
  src/components/tenants/tenant-table.tsx
Due: prettier, lint-quick

docs(30): perfect-PR gate met — review log (23 cycles, incl. HIGH data[0] bug)
  .planning/phases/30-analytics-data/30-REVIEW.md
Due: prettier

docs(31): phase 31 context — forms behavior correctness (FORMFIX-01..08)
  .planning/phases/31-forms-behavior/31-CONTEXT.md
Due: prettier

docs(31): phase 31 plans (7) + plan-check fix
  .planning/ROADMAP.md
  .planning/phases/31-forms-behavior/31-01-PLAN.md
  .planning/phases/31-forms-behavior/31-02-PLAN.md
  .planning/phases/31-forms-behavior/31-03-PLAN.md
  .planning/phases/31-forms-behavior/31-04-PLAN.md
  .planning/phases/31-forms-behavior/31-05-PLAN.md
  .planning/phases/31-forms-behavior/31-06-PLAN.md
  .planning/phases/31-forms-behavior/31-07-PLAN.md
Due: prettier

fix(31-01): arm add-tenant unsaved-changes guard reactively (FORMFIX-01)
  src/components/tenants/__tests__/add-tenant-form.property.test.tsx
  src/components/tenants/add-tenant-form.tsx
Due: prettier, lint-quick

fix(31-01): carry add-tenant property/unit into lease flow (FORMFIX-04)
  src/app/(owner)/leases/new/page.tsx
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/components/tenants/__tests__/add-tenant-form.property.test.tsx
  src/components/tenants/add-tenant-form.tsx
Due: prettier, lint-quick

fix(31-01): remove duplicate add-tenant success toast (FORMFIX-08)
  src/components/tenants/__tests__/add-tenant-form.property.test.tsx
  src/components/tenants/add-tenant-form.tsx
Due: prettier, lint-quick

docs(31-01): add-tenant form behavior plan summary
  .planning/phases/31-forms-behavior/31-01-SUMMARY.md
Due: prettier

fix(31-02): reactive property-form guard, drop duplicate toast (FORMFIX-01, FORMFIX-08)
  src/components/properties/__tests__/property-form.test.tsx
  src/components/properties/property-form.client.tsx
Due: prettier, lint-quick

fix(31-02): drop duplicate lease-form create/update toast (FORMFIX-08)
  src/components/leases/__tests__/lease-form.test.tsx
  src/components/leases/lease-form.tsx
Due: prettier, lint-quick

docs(31-02): property + lease form toast/guard plan summary
  .planning/phases/31-forms-behavior/31-02-SUMMARY.md
Due: prettier

fix(31-04): stop useFormWithProgress auto-save render loop (FORMFIX-03)
  src/hooks/use-form-progress.test.ts
  src/hooks/use-form-progress.ts
Due: prettier, lint-quick

docs(31-04): use-form-progress render loop plan summary
  .planning/phases/31-forms-behavior/31-04-SUMMARY.md
Due: prettier

feat(31-03): add send-contact-email edge function (FORMFIX-02)
  supabase/functions/send-contact-email/index.ts
Due: prettier, lint-quick

feat(31-03): wire contact form to send-contact-email, gate thank-you on success (FORMFIX-02)
  src/components/contact/__tests__/contact-form.test.tsx
  src/components/contact/contact-form.tsx
Due: prettier, lint-quick

docs(31-03): contact form send plan summary (FORMFIX-02)
  .planning/phases/31-forms-behavior/31-03-SUMMARY.md
Due: prettier

fix(31-05): maintenance edit saves unit/tenant + field validators (FORMFIX-05)
  src/components/maintenance/__tests__/maintenance-form.test.tsx
  src/components/maintenance/maintenance-form-fields.tsx
  src/hooks/use-maintenance-form.ts
Due: prettier, lint-quick

docs(31-05): maintenance edit summary (FORMFIX-05)
  .planning/phases/31-forms-behavior/31-05-SUMMARY.md
Due: prettier

fix(31-06): persist all general settings fields (FORMFIX-06)
  src/components/settings/__tests__/general-settings.test.tsx
  src/components/settings/general-settings.tsx
  src/hooks/api/query-keys/user-preferences-keys.ts
Due: prettier, lint-quick

fix(31-06): enable all notifications controls every channel (FORMFIX-07)
  src/components/settings/__tests__/notification-settings.test.tsx
  src/components/settings/notification-settings.tsx
Due: prettier, lint-quick

docs(31-06): add settings persistence plan summary (FORMFIX-06, FORMFIX-07)
  .planning/phases/31-forms-behavior/31-06-SUMMARY.md
Due: prettier

fix(31): register send-contact-email for deploy + config + raw subject header (review c1)
  scripts/deploy-edge-functions.ts
  supabase/config.toml
  supabase/functions/send-contact-email/index.ts
Due: prettier, lint-quick

fix(forms): phase 31 review cycle-2 — locked-email write + duplicate toasts
  src/components/leases/lease-form.tsx
  src/components/properties/property-form.client.tsx
  src/components/settings/__tests__/general-settings.test.tsx
  src/components/settings/general-settings.tsx
  src/components/tenants/add-tenant-form.tsx
Due: prettier, lint-quick

fix(forms): phase 31 review cycle-3 — unhandled rejection + email save-state
  src/components/properties/property-form.client.tsx
  src/components/settings/general-settings.tsx
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
