Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

fix(52): make mark-all-read e2e skip gate deterministic
  tests/e2e/tests/notifications.spec.ts
Due: prettier, lint-quick

docs(52): record perfect-PR cycle 1 outcomes in REVIEW.md
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier

fix(52): auth-gate /notifications via private route prefixes (C3)
  src/lib/routes/private-routes.ts
Due: prettier, lint-quick

docs(52): record c3 outcome in review
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier

fix(52): archive check drop, gdpr archive delete, single-writer expire_leases
  supabase/migrations/20260720015620_retention_gdpr_and_writer_hardening.sql
Due: none

fix(52): add accessible names to notification channel and category switches
  src/components/settings/__tests__/notification-settings.test.tsx
  src/components/settings/notification-settings.tsx
Due: prettier, lint-quick

fix(52): correct retention cron schedule to 50 3 in rls test comment
  tests/integration/rls/notifications-retention.rls.test.ts
Due: prettier, lint-quick

fix(52): drop unused ownerAId in notifications retention rls test
  tests/integration/rls/notifications-retention.rls.test.ts
Due: prettier, lint-quick

fix(52): cover notification item click-through mark-read and D-10
  src/components/notifications/__tests__/notification-item.test.tsx
Due: prettier, lint-quick

fix(52): pin mark-all-read disabled state to unread count in popover test
  src/components/notifications/__tests__/notification-popover-list.test.tsx
Due: prettier, lint-quick

fix(52): harden notification determinism gate against immediate poll probe
  tests/e2e/tests/notifications.spec.ts
Due: prettier, lint-quick

fix(52): align notification list totalCount fallback to count ?? 0
  src/hooks/api/query-keys/__tests__/notification-keys.test.ts
  src/hooks/api/query-keys/notification-keys.ts
Due: prettier, lint-quick

docs(52): record perfect-PR streak cycle outcomes in review
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier

fix(52): alias generated activity row type, cover trigger update + activity writes
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
  src/hooks/api/use-owner-dashboard.ts
  tests/integration/rls/notifications.rls.test.ts
Due: prettier, lint-quick

test(52): pin mark-all-read click-to-mutation wiring in popover and inbox
  src/components/notifications/__tests__/notification-popover-list.test.tsx
  src/components/notifications/__tests__/notifications-inbox.client.test.tsx
Due: prettier, lint-quick

docs(52): record streak cycle 3 outcome
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier

fix(52): drop redundant notifications index, add pagination tiebreaker
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
  src/hooks/api/query-keys/__tests__/notification-keys.test.ts
  src/hooks/api/query-keys/notification-keys.ts
  supabase/migrations/20260720151257_drop_redundant_notifications_index.sql
Due: prettier, lint-quick

fix(52): correct formatRelativeDate off-by-one for past dates
  src/lib/formatters/__tests__/formatters.test.ts
  src/lib/formatters/date.ts
Due: prettier, lint-quick

docs(52): record streak cycles 5-6 outcomes
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier

test(52): pin unauthenticated /notifications login redirect in proxy suite
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
  src/lib/supabase/__tests__/middleware-routing.test.ts
Due: prettier, lint-quick

test(52): pin inbox page-to-range fetch window glue
  src/components/notifications/__tests__/notifications-inbox.client.test.tsx
Due: prettier, lint-quick

docs(52): record streak cycles 8-9 outcomes
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier

fix(52): prune like-copied redundant indexes from notifications archive
  supabase/migrations/20260720185756_prune_notifications_archive_indexes.sql
Due: none

docs(52): record streak cycles 10-11 outcomes
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier

docs(52): perfect-pr gate closed - record cycles 12-14 + uat ci passes
  .planning/STATE.md
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-HUMAN-UAT.md
  .planning/phases/52-notification-center-activity-feed-channel-honesty/52-REVIEW.md
Due: prettier

docs(phase-52): complete phase execution
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

docs(53): capture phase context
  .planning/phases/53-renewal-reminder-delivery/53-CONTEXT.md
  .planning/phases/53-renewal-reminder-delivery/53-DISCUSSION-LOG.md
Due: prettier

docs(53): add phase research + orchestrator prod verification
  .planning/phases/53-renewal-reminder-delivery/53-RESEARCH.md
Due: prettier

docs(phase-53): add validation strategy
  .planning/phases/53-renewal-reminder-delivery/53-VALIDATION.md
Due: prettier

docs(53): create phase plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/53-renewal-reminder-delivery/53-01-PLAN.md
  .planning/phases/53-renewal-reminder-delivery/53-02-PLAN.md
  .planning/phases/53-renewal-reminder-delivery/53-03-PLAN.md
  .planning/phases/53-renewal-reminder-delivery/53-04-PLAN.md
  .planning/phases/53-renewal-reminder-delivery/53-PATTERNS.md
  .planning/phases/53-renewal-reminder-delivery/53-VALIDATION.md
Due: prettier

feat(53-01): add lease_reminders delivery-state foundation (Migration A)
  supabase/migrations/20260721120000_lease_reminders_delivery_state.sql
Due: none

docs(53-01): complete lease_reminders delivery-state foundation plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/53-renewal-reminder-delivery/53-01-SUMMARY.md
Due: prettier

chore(53-01): apply migration a to prod, reconcile filename
  supabase/migrations/20260722005310_lease_reminders_delivery_state.sql
Due: none

test(53-02): add send-lease-reminders drainer branch-matrix test
  supabase/functions/tests/send-lease-reminders-test.ts
Due: prettier, lint-quick

feat(53-02): add send-lease-reminders drainer edge function
  supabase/functions/send-lease-reminders/index.ts
Due: prettier, lint-quick

chore(53-02): register send-lease-reminders fn + renewal notification icon
  src/components/notifications/notification-item.tsx
  supabase/config.toml
Due: prettier, lint-quick

docs(53-02): complete send-lease-reminders drainer plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/53-renewal-reminder-delivery/53-02-SUMMARY.md
Due: prettier

feat(53-03): add send-lease-reminders drain cron (Migration B)
  supabase/migrations/20260721130000_send_lease_reminders_drain_cron.sql
Due: none

docs(53-03): complete drain-cron plan (Migration B authored)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/53-renewal-reminder-delivery/53-03-SUMMARY.md
Due: prettier

chore(53-03): apply migration b to prod, reconcile filename, revoke invoker grant
  supabase/migrations/20260722012107_send_lease_reminders_drain_cron.sql
Due: none

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
