Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

Update Railway config to 2025 best practices
  Dockerfile
  railway.toml
Due: none

Fix: Resolve 22 routing 404 errors + API validation + Railway 2025 config
  Dockerfile
  apps/e2e-tests/.auth/admin.json
  apps/e2e-tests/.auth/owner.json
  apps/e2e-tests/.auth/tenant.json
  apps/e2e-tests/tests/api-contract-validation.spec.ts
  apps/frontend/src/app/(protected)/manage/leases/[id]/edit/lease-edit-form.client.tsx
  apps/frontend/src/app/(protected)/manage/leases/[id]/lease-details.client.tsx
  apps/frontend/src/app/(protected)/manage/leases/leases-table.client.tsx
  apps/frontend/src/app/(protected)/manage/maintenance/[id]/edit/maintenance-edit-form.client.tsx
  apps/frontend/src/app/(protected)/manage/maintenance/[id]/maintenance-details.client.tsx
  apps/frontend/src/app/(protected)/manage/maintenance/maintenance-table.client.tsx
  apps/frontend/src/app/(protected)/manage/maintenance/new/create-maintenance-form.client.tsx
  apps/frontend/src/app/(protected)/tenant/tenants-table.client.tsx
  apps/frontend/src/hooks/api/use-tenant.ts
  railway.toml
  turbo.json
Due: prettier, lint-quick

Optimize: Add Supabase client pooling for 30-40% memory reduction
  apps/backend/src/database/supabase.service.ts
Due: prettier, lint-quick

Optimize: Supabase client pooling for 30-40% memory reduction (#270)
  apps/backend/src/database/supabase.service.ts
Due: prettier, lint-quick

Fix: Update CI/CD workflows to October 2025 best practices
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/post-deploy-monitoring.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Due: prettier

Fix: Update pnpm version to 10.18.2 across all workflows
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/smoke.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Due: prettier

Security: Remove secrets from lint/typecheck jobs (least privilege)
  .github/workflows/ci-cd.yml
Due: prettier

Perf: Disable E2E tests until project stabilizes
  .github/workflows/ci-cd.yml
  .github/workflows/nightly-e2e.yml
Due: prettier

Fix: Update CI/CD workflows to October 2025 best practices (#271)
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/post-deploy-monitoring.yml
  .github/workflows/smoke.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Due: prettier

HOTFIX: Restore explicit secrets to deploy workflow
  .github/workflows/deploy.yml
Due: prettier

HOTFIX: Pass Vercel token via --token flag (not env var)
  .github/workflows/deploy.yml
Due: prettier

Disable automatic deploys until project stabilizes
  .github/workflows/ci-cd.yml
Due: prettier

Streamline CI/CD workflows - remove all redundancy
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/post-deploy-monitoring.yml
  .github/workflows/smoke.yml
Due: prettier

feat: Implement production-ready Stripe subscription flow per official best practices
  apps/frontend/src/app/pricing/page.tsx
  apps/frontend/src/components/pricing/stripe-pricing-table.tsx
  apps/frontend/src/components/subscriptions/subscription-plans.tsx
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
