Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

chore: Update pnpm-lock.yaml to sync with eslint version
  pnpm-lock.yaml
Due: prettier

fix: Remove unused parameters in useUpdateTenant onSuccess handler
  apps/frontend/src/hooks/api/use-tenant.ts
Due: prettier, lint-quick

ci: Remove integration tests from CI/CD pipeline
  .github/workflows/ci-cd.yml
Due: prettier

fix: remove all sample/demo data and add production-ready features
  apps/frontend/src/app/(protected)/manage/ChartsSection.tsx
  apps/frontend/src/app/(protected)/manage/settings/page.tsx
  apps/frontend/src/app/(protected)/tenant/lease/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/pricing/checkout/page.tsx
  apps/frontend/src/components/charts/modern-exploded-pie-chart.tsx
  apps/frontend/src/components/charts/property-performance-bar-chart.tsx
  apps/frontend/src/components/dashboard-01/section-table.tsx
  apps/frontend/src/components/subscriptions/subscription-plans.tsx
  apps/frontend/src/hooks/api/use-properties.ts
  apps/frontend/src/lib/stripe-client.ts
  test-api-flow.sh
  test-dashboard-api.sh
Due: prettier, lint-quick

fix: Update Quick Actions navigation paths and clean up backend
  apps/backend/src/app.controller.spec.ts
  apps/backend/src/app.controller.ts
  apps/backend/src/app.module.ts
  apps/backend/src/app.service.ts
  apps/frontend/src/components/dashboard-01/quick-actions.tsx
Due: prettier, lint-quick

fix: Remove PDF templates copy from Dockerfile
  Dockerfile
Due: none

fix: Add template directories and reports folder to Dockerfile
  Dockerfile
Due: none

fix: Remove duplicate CSS variable definitions causing grayscale override
  apps/frontend/src/app/globals.css
Due: none

fix: resolve React Hooks conditional call violations and add Empty state
  apps/frontend/src/components/charts/modern-exploded-pie-chart.tsx
Due: prettier, lint-quick

fix: Production testing fixes and Dockerfile improvements (#261)
  Dockerfile
  apps/backend/src/app.controller.spec.ts
  apps/backend/src/app.controller.ts
  apps/backend/src/app.module.ts
  apps/backend/src/app.service.ts
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/pricing/checkout/page.tsx
  apps/frontend/src/components/charts/modern-exploded-pie-chart.tsx
  apps/frontend/src/components/charts/property-performance-bar-chart.tsx
  apps/frontend/src/components/dashboard-01/quick-actions.tsx
  apps/frontend/src/components/dashboard-01/section-table.tsx
  apps/frontend/src/components/subscriptions/subscription-plans.tsx
  apps/frontend/src/contexts/tenant-context.tsx
  apps/frontend/src/hooks/api/use-properties.ts
  apps/frontend/src/lib/stripe-client.ts
  test-api-flow.sh
  test-dashboard-api.sh
Due: prettier, lint-quick
