Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

docs(12): complete webhook security & reliability research
  .gitignore
  .planning/phases/12-webhook-security-reliability/12-RESEARCH.md
Due: prettier

docs(12): create webhook security & reliability phase plans
  .planning/phases/12-webhook-security-reliability/12-01-PLAN.md
  .planning/phases/12-webhook-security-reliability/12-02-PLAN.md
  .planning/phases/12-webhook-security-reliability/12-03-PLAN.md
Due: prettier

feat(12-01): add webhook transaction RPC functions
  supabase/migrations/20260117024203_add_webhook_transaction_rpcs.sql
Due: none

docs(12-01): complete webhook transaction RPCs plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/12-webhook-security-reliability/12-01-SUMMARY.md
Due: prettier

chore: update phase 12 plan count to 1/3
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

feat(12-02): refactor PaymentWebhookHandler to use RPC
  apps/backend/src/modules/billing/webhooks/handlers/payment-webhook.handler.ts
  packages/shared/src/types/supabase.ts
  packages/shared/src/validation/generated-schemas.ts
Due: prettier, lint-quick

feat(12-02): refactor SubscriptionWebhookHandler to use RPCs
  apps/backend/src/modules/billing/webhooks/handlers/subscription-webhook.handler.ts
Due: prettier, lint-quick

feat(12-02): add tenant verification audit logging to handlers
  apps/backend/src/modules/billing/webhooks/handlers/payment-webhook.handler.ts
  apps/backend/src/modules/billing/webhooks/handlers/subscription-webhook.handler.ts
Due: prettier, lint-quick

docs(12-02): complete handler-rpc-refactor plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/12-webhook-security-reliability/12-02-SUMMARY.md
Due: prettier

feat(12-03): add DLQ alerting and webhook metrics
  apps/backend/src/modules/billing/webhooks/webhook-queue.processor.ts
  apps/backend/src/modules/billing/webhooks/webhooks.module.ts
  apps/backend/src/modules/metrics/metrics.module.ts
  apps/backend/src/modules/metrics/metrics.service.ts
Due: prettier, lint-quick

docs(12-03): complete webhook-observability plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/12-webhook-security-reliability/12-03-SUMMARY.md
Due: prettier

docs(13): complete frontend checkout research
  .planning/phases/13-frontend-checkout-subscriptions/13-CONTEXT.md
  .planning/phases/13-frontend-checkout-subscriptions/RESEARCH.md
Due: prettier

docs(13): create frontend checkout & subscriptions plans
  .planning/phases/13-frontend-checkout-subscriptions/13-01-PLAN.md
  .planning/phases/13-frontend-checkout-subscriptions/13-02-PLAN.md
  .planning/phases/13-frontend-checkout-subscriptions/13-03-PLAN.md
Due: prettier

feat(13-01): create subscription pricing page with plan cards
  apps/frontend/src/app/(owner)/billing/plans/page.tsx
  apps/frontend/src/components/billing/plan-card.tsx
Due: prettier, lint-quick

feat(13-01): add upgrade/downgrade confirmation dialog
  apps/frontend/src/app/(owner)/billing/plans/page.tsx
  apps/frontend/src/components/billing/upgrade-dialog.tsx
Due: prettier, lint-quick

docs(13-01): complete subscription plan selection UI plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/13-frontend-checkout-subscriptions/13-01-SUMMARY.md
Due: prettier

feat(13-02): create payment methods list component and hooks
  apps/frontend/src/components/billing/payment-methods-list.tsx
  apps/frontend/src/hooks/api/use-payment-methods.ts
Due: prettier, lint-quick

feat(13-02): update payment methods page with improved UX
  apps/frontend/src/app/(tenant)/tenant/settings/payment-methods/payment-methods-content.client.tsx
Due: prettier, lint-quick

feat(13-02): prioritize ACH over cards with cost savings messaging
  apps/frontend/src/app/(tenant)/tenant/payments/methods/payment-method-setup-form.tsx
  apps/frontend/src/components/billing/payment-methods-list.tsx
Due: prettier, lint-quick

docs(13-02): complete payment method management UI plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/13-frontend-checkout-subscriptions/13-02-SUMMARY.md
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
