Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

chore(deps): sync bun.lock after next bump
  bun.lock
Due: none

fix(ci): stop auto-merging production deps that no gate actually checks
  .github/workflows/ci-cd.yml
  .github/workflows/dependabot-auto-merge.yml
Due: prettier

fix(sentry): stop silencing the build plugin on production builds
  next.config.ts
Due: prettier, lint-quick

fix(ci): diagnose the Sentry gate as a credentials failure, not a build failure
  .github/workflows/post-deploy-sentry-gate.yml
  next.config.ts
Due: prettier, lint-quick

fix(deps): raise postcss floor past GHSA-r28c-9q8g-f849
  bun.lock
  package.json
Due: prettier

fix(ci): close the indirect auto-merge hole #930 left open
  .github/dependabot.yml
  .github/workflows/ci-cd.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/post-deploy-sentry-gate.yml
  .github/workflows/rls-security-tests.yml
Due: prettier

fix(ci): correct the false evidence #930 baked into three workflow files
  .github/workflows/ci-cd.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/post-deploy-sentry-gate.yml
  .github/workflows/rls-security-tests.yml
Due: prettier

fix(ci): disable npm auto-merge - the scalar guard cannot express the rule
  .github/dependabot.yml
  .github/workflows/ci-cd.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/post-deploy-sentry-gate.yml
  .github/workflows/rls-security-tests.yml
Due: prettier

fix(ci): retract stale auto-merge flags instead of only declining to set them
  .github/workflows/ci-cd.yml
  .github/workflows/dependabot-auto-merge.yml
Due: prettier

chore(deps): sync bun.lock after dependency bump
  bun.lock
Due: none

fix(deps): bump react and react-dom to 19.2.8 together
  bun.lock
  package.json
Due: prettier

chore(lint): sync biome.json $schema to 2.5.5 and lockfile
  biome.json
  bun.lock
Due: prettier

fix(ci): make e2e-smoke and rls-security actually run on Dependabot PRs
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
Due: prettier

fix(ci): send Sentry the numeric project id, and stop writing fake baselines
  .github/workflows/post-deploy-sentry-gate.yml
Due: prettier

fix(ci): resolve the Sentry project id without needing org:read
  .github/workflows/post-deploy-sentry-gate.yml
Due: prettier

fix(ci): make Sentry query failures diagnosable, and testable in seconds
  .github/workflows/post-deploy-sentry-gate.yml
Due: prettier

fix(ci): capture curl status from stdout, not from the body file
  .github/workflows/post-deploy-sentry-gate.yml
Due: prettier

fix(ci): require a Personal Token, and preflight the endpoint the gate needs
  .github/workflows/post-deploy-sentry-gate.yml
Due: prettier

build(ts7): enable experimental.useTypeScriptCli so next build works on TypeScript 7
  bun.lock
  next.config.ts
Due: prettier, lint-quick

fix(ci): fingerprint the Sentry token scopes on 403 instead of guessing
  .github/workflows/post-deploy-sentry-gate.yml
Due: prettier

feat(ci): run the Sentry gate on release-level signal when event:read is unavailable
  .github/workflows/post-deploy-sentry-gate.yml
Due: prettier

fix(ci): mark degraded snapshots so a placeholder never becomes a baseline
  .github/workflows/post-deploy-sentry-gate.yml
Due: prettier

test(pricing): drop the now-dead TestimonialsSection mock
  src/app/pricing/__tests__/page.test.ts
Due: prettier, lint-quick

fix(deps): pin playwright-core to 1.62.0 and sync the lockfile
  bun.lock
  package.json
Due: prettier

chore(e2e): delete 31 orphaned visual-regression goldens
  tests/e2e/tests/__snapshots__/dashboard-layout.visual.spec.ts-snapshots/header-with-profile-chromium-darwin.png
  tests/e2e/tests/__snapshots__/dashboard-layout.visual.spec.ts-snapshots/navigation-no-scroll-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/analytics-financial-layout-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/analytics-maintenance-layout-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/analytics-occupancy-layout-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/card-component-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/leases-page-layout-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/maintenance-page-layout-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/manage-dashboard-desktop-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/manage-dashboard-mobile-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/manage-dashboard-tablet-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/properties-content-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/properties-empty-state-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/properties-page-desktop-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/properties-page-layout-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/tenants-page-desktop-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/tenants-page-layout-chromium-darwin.png
  tests/e2e/tests/__snapshots__/layout-visual-regression.spec.ts-snapshots/units-page-layout-chromium-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-create-form-dark-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-create-form-mobile-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-create-form-tablet-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-create-form-validation-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-form-button-hover-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-form-desktop-lg-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-form-desktop-md-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-form-desktop-sm-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-form-keyboard-focus-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-form-mobile-lg-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-form-mobile-md-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-form-mobile-sm-chromium-visual-darwin.png
  tests/e2e/tests/__snapshots__/tenant-forms.visual.spec.ts-snapshots/tenant-form-tablet-chromium-visual-darwin.png
Due: none

fix(upload): build dropzone files with Object.assign for react-dropzone 19
  bun.lock
  src/hooks/use-supabase-upload.ts
Due: prettier, lint-quick

fix(deps): move the undici override to >=8.7.0 for jsdom 30
  bun.lock
  package.json
Due: prettier

docs(56): reconcile planning lines to full separation
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/56-reporting-hub-documents-landing/56-CONTEXT.md
  .planning/phases/56-reporting-hub-documents-landing/56-DISCUSSION-LOG.md
  .planning/phases/56-reporting-hub-documents-landing/56-RESEARCH.md
  .planning/phases/56-reporting-hub-documents-landing/56-UI-SPEC.md
  .planning/phases/56-reporting-hub-documents-landing/56-VALIDATION.md
Due: prettier

docs(56): resolve all five open questions, two on false premises
  .planning/phases/56-reporting-hub-documents-landing/56-CONTEXT.md
Due: prettier

docs(56): resolve pattern-mapper conflicts before planning
  .planning/phases/56-reporting-hub-documents-landing/56-CONTEXT.md
  .planning/phases/56-reporting-hub-documents-landing/56-PATTERNS.md
Due: prettier

docs(56): create reporting hub phase plans
  .planning/ROADMAP.md
  .planning/phases/56-reporting-hub-documents-landing/56-01-PLAN.md
  .planning/phases/56-reporting-hub-documents-landing/56-02-PLAN.md
  .planning/phases/56-reporting-hub-documents-landing/56-03-PLAN.md
  .planning/phases/56-reporting-hub-documents-landing/56-04-PLAN.md
  .planning/phases/56-reporting-hub-documents-landing/56-05-PLAN.md
  .planning/phases/56-reporting-hub-documents-landing/56-06-PLAN.md
  .planning/phases/56-reporting-hub-documents-landing/56-07-PLAN.md
  .planning/phases/56-reporting-hub-documents-landing/56-08-PLAN.md
Due: prettier

docs(56): serialize 56-08 after 56-07 and scope the /financials sweep
  .planning/ROADMAP.md
  .planning/phases/56-reporting-hub-documents-landing/56-07-PLAN.md
  .planning/phases/56-reporting-hub-documents-landing/56-08-PLAN.md
Due: prettier

docs(56): advance state to phase 56 planned + verified
  .planning/STATE.md
Due: prettier

feat(56-01): add hub entry directory and premium slug mirror
  src/app/(owner)/reports/reports-hub-entries.ts
  src/lib/reports/premium-report-slugs.ts
Due: prettier, lint-quick

feat(56-01): add uniform reports hub tile
  src/app/(owner)/reports/report-hub-tile.tsx
Due: prettier, lint-quick

feat(56-01): add D-30 reports summary strip with pinned contract
  src/app/(owner)/reports/__tests__/reports-summary-strip.test.tsx
  src/app/(owner)/reports/reports-summary-strip.tsx
Due: prettier, lint-quick

docs(56-01): complete hub primitives plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/56-reporting-hub-documents-landing/56-01-SUMMARY.md
Due: prettier

feat(56-02): add 7-entry reporting redirect map
  src/lib/seo/reporting-redirects.ts
Due: prettier, lint-quick

test(56-02): pin reporting redirect map invariants and guards
  src/lib/seo/__tests__/reporting-redirects.test.ts
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
