Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix: Add missing usePropertyImages mock to property-form.test.tsx
  apps/backend/src/modules/billing/stripe-webhook.listener.ts
  apps/backend/src/modules/properties/services/property-analytics.service.ts
  apps/backend/src/modules/rent-payments/rent-payments.controller.ts
  apps/backend/src/modules/tenants/tenants.controller.ts
  apps/backend/src/modules/units/units.service.ts
  apps/frontend/src/app/(protected)/manage/leases/page.tsx
  apps/frontend/src/app/(protected)/manage/leases/renew-lease-dialog.tsx
  apps/frontend/src/app/(protected)/manage/leases/terminate-lease-dialog.tsx
  apps/frontend/src/components/leases/renew-lease-dialog.tsx
  apps/frontend/src/components/leases/terminate-lease-dialog.tsx
  apps/frontend/src/components/maintenance/maintenance-form.client.tsx
  apps/frontend/src/components/properties/__tests__/property-form.test.tsx
  apps/frontend/src/hooks/api/mutations/property-mutations.ts
  apps/frontend/tests/integration/hooks/api/use-property-images.test.tsx
  apps/frontend/tests/integration/hooks/api/use-tenants-crud.test.tsx
  supabase/archive/superseded/rls-security-fix.sql
  supabase/archive/superseded/supabase-rpc-functions.sql
Due: prettier, lint-quick

pkce/ssr updates and guidance
  apps/backend/package.json
  apps/backend/src/modules/analytics/property-performance.service.ts
  apps/backend/src/modules/billing/stripe-connect.service.ts
  apps/backend/src/modules/contact/contact.service.ts
  apps/backend/src/modules/email/email.service.ts
  apps/backend/src/shared/stripe-client.service.ts
  apps/backend/src/types/resend.d.ts
  apps/frontend/package.json
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/hooks/use-realtime-presence.ts
  apps/frontend/src/hooks/use-realtime-subscription.ts
  apps/frontend/src/hooks/use-user-profile.ts
  apps/frontend/src/providers/auth-provider.tsx
  package.json
  packages/shared/src/lib/supabase-client.ts
  pnpm-lock.yaml
Due: prettier, lint-quick

fix: Update auth hook to properly include user_type, subscription_status, stripe_customer_id in JWT claims
  supabase/migrations/20251120090000_fix_public_schema_privileges.sql
  supabase/migrations/20251120093000_update_auth_hook_claims.sql
Due: none

more supabse auth patches
  apps/frontend/src/lib/supabase/middleware.ts
Due: prettier, lint-quick

fix: Clean up middleware comments and improve code clarity
  apps/frontend/src/lib/supabase/middleware.ts
Due: prettier, lint-quick

fix: Address Copilot code review comments across frontend and backend
  apps/backend/src/modules/analytics/property-performance.service.ts
  apps/backend/src/modules/email/email.service.ts
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/hooks/use-user-profile.ts
  package.json
Due: prettier, lint-quick

fix: Bulletproof auth hook and fix query cache invalidation
  apps/frontend/src/app/auth/callback/route.ts
  apps/frontend/src/hooks/use-user-profile.ts
  supabase/migrations/20251120034000_fix_auth_hook_constraint_handling.sql
Due: prettier, lint-quick

fix: Update pnpm catalog to use @supabase/supabase-js 2.83.0 consistently
  pnpm-lock.yaml
Due: prettier

fix: Add proper middleware.ts at root of src directory
  apps/frontend/src/middleware.ts
Due: prettier, lint-quick

fix: Make auth hook bulletproof and clean up duplicate migrations
  supabase/migrations/20251120034000_fix_auth_hook_constraint_handling.sql
  supabase/migrations/20251120090000_fix_public_schema_privileges.sql
  supabase/migrations/20251120093000_update_auth_hook_claims.sql
Due: none

fix: Remove incorrect middleware.ts - use proxy.ts for Next.js 15
  apps/frontend/src/middleware.ts
Due: prettier, lint-quick
