Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix: remove invalid @nestjs/swagger reference from backend package.json
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier

fix: remove unused _event parameter in handleExpressCheckout
  apps/frontend/src/components/pricing/checkout-form.tsx
Due: prettier, lint-quick

docs: streamline CLAUDE.md examples for readability
  CLAUDE.md
Due: prettier

fix: resolve Vercel build issues for successful deployment
  apps/frontend/src/components/charts/maintenance-analytics.tsx
  apps/frontend/src/components/charts/revenue-trend-chart.tsx
  apps/frontend/src/components/sections/features-section.tsx
  apps/frontend/src/lib/error-handler.tsx
  apps/frontend/src/lib/token-bridge.ts
Due: prettier, lint-quick

refactor: complete design system consolidation and Apple reference removal
  apps/frontend/src/lib/error-handler.tsx
Due: prettier, lint-quick

refactor: remove all tw- prefixes and align with design system
  apps/frontend/package.json
  apps/frontend/src/app/auth/confirm-email/page.tsx
  apps/frontend/src/app/auth/register/page.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/logos/meta.tsx
  apps/frontend/src/components/magicui/bento-grid.tsx
  apps/frontend/src/components/magicui/loading-spinner.tsx
  apps/frontend/src/components/pricing/customer-portal.tsx
  apps/frontend/src/components/pricing/stripe-pricing-section.tsx
  apps/frontend/src/components/sections/features-section.tsx
  apps/frontend/src/components/ui/accordion.tsx
  apps/frontend/src/components/ui/card.tsx
  apps/frontend/src/components/ui/dialog.tsx
  apps/frontend/src/components/ui/label.tsx
  apps/frontend/src/components/ui/separator.tsx
  apps/frontend/src/lib/auth-constants.ts
  apps/frontend/src/middleware.ts
  apps/frontend/src/middleware/auth-middleware.ts
  apps/frontend/src/stores/auth-provider.tsx
  apps/frontend/tsconfig.json
  packages/shared/src/constants/apple-colors.ts
  packages/shared/src/constants/chart-colors.ts
  packages/shared/src/constants/motion-system.ts
  packages/shared/src/constants/motion-tokens.ts
  packages/shared/src/index.ts
  tests/performance/micro-interactions/apple-motion-tokens.spec.ts
  turbo.json
Due: prettier, lint-quick

fix: resolve broken navigation links and routing issues
  apps/frontend/src/app/about/page.tsx
  apps/frontend/src/app/blog/page.tsx
  apps/frontend/src/app/faq/page.tsx
  apps/frontend/src/app/features/page.tsx
  apps/frontend/src/app/help/page.tsx
  apps/frontend/src/components/auth/login-form.tsx
  apps/frontend/src/components/auth/logout-button.tsx
  apps/frontend/src/components/layout/navbar.tsx
  apps/frontend/src/components/sections/hero-section.tsx
Due: prettier, lint-quick

fix: prevent Express JSON parser from overwriting Stripe webhook raw buffer
  apps/backend/src/config/express.config.ts
Due: prettier, lint-quick

fix: optimize Dockerfile build process for Railway deployment
  Dockerfile
Due: none
