Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix: Add multer to production dependencies
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier

chore: Trigger CI rebuild with clean state
  apps/frontend/src/app/globals.css
Due: none

fix: Update pnpm lockfile to reflect multer in backend dependencies
  pnpm-lock.yaml
Due: prettier

fix: Fix form error display issues - remove "[object Object]" and "0" bugs
  apps/backend/test/env-check.spec.ts
  apps/e2e-tests/auth.setup.ts
  apps/e2e-tests/tests/api-error-handling.spec.ts
  apps/e2e-tests/tests/dashboard-stats.spec.ts
  apps/e2e-tests/tests/property-crud-workflow.spec.ts
  apps/e2e-tests/tests/role-based-access.spec.ts
  apps/e2e-tests/tests/tenant-onboarding.spec.ts
  apps/frontend/src/app/(protected)/manage/leases/page.tsx
  apps/frontend/src/app/(protected)/manage/maintenance/page.tsx
  apps/frontend/src/app/(protected)/manage/page.tsx
  apps/frontend/src/app/(protected)/manage/properties/[id]/not-found.tsx
  apps/frontend/src/app/(protected)/manage/properties/create-property-form.client.tsx
  apps/frontend/src/app/(protected)/manage/properties/page.tsx
  apps/frontend/src/app/(protected)/manage/tenants/page.tsx
  apps/frontend/src/app/(protected)/tenant/create-tenant-form.client.tsx
Due: prettier, lint-quick

feat: Add prominent Invite Tenant button to Tenants page header
  apps/frontend/src/app/(protected)/manage/tenants/page.tsx
Due: prettier, lint-quick

fix: Replace <a> tag with Next.js Link component in tenants page
  apps/frontend/src/app/(protected)/manage/tenants/page.tsx
Due: prettier, lint-quick

fix: Make unitId optional for single-family properties
  apps/backend/src/modules/rent-payments/rent-payments.service.ts
  apps/backend/src/modules/tenants/tenants.service.ts
  apps/backend/src/subscriptions/subscriptions.service.ts
  apps/frontend/src/app/(protected)/manage/leases/page.tsx
  apps/frontend/src/app/(protected)/tenant/create-tenant-form.client.tsx
  apps/frontend/src/hooks/api/use-lease.ts
  packages/shared/src/types/backend-domain.ts
  packages/shared/src/types/supabase-generated.ts
  supabase/migrations/20251026_make_lease_unitid_nullable.sql
Due: prettier, lint-quick

refactor: Remove dead code and unnecessary abstractions
  apps/backend/src/subscriptions/subscriptions.service.ts
  apps/frontend/src/app/(protected)/manage/leases/page.tsx
  apps/frontend/src/app/(protected)/tenant/create-tenant-form.client.tsx
  apps/frontend/src/app/actions/dashboard.ts
  apps/frontend/src/app/actions/properties.ts
  apps/frontend/src/app/actions/property.ts
  apps/frontend/src/app/actions/tenants.ts
  apps/frontend/src/app/api/contact/route.ts
  apps/frontend/src/lib/api-client.ts
  supabase/migrations/20251026_make_lease_unitid_nullable.sql
Due: prettier, lint-quick

fix: Update contact form to call backend directly
  apps/frontend/src/app/contact/contact-form.tsx
Due: prettier, lint-quick
