Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix: resolve PR 224 merge conflicts and dependency issues
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier

feat: implement Stripe FDW integration and email template system
  .npmrc
  apps/backend/package.json
  apps/backend/src/billing/stripe-data.service.ts
  apps/backend/src/billing/stripe.module.ts
  apps/backend/src/billing/stripe.service.ts
  apps/backend/src/config/fastify.config.ts
  apps/backend/src/emails/direct-email.service.ts
  apps/backend/src/emails/maintenance-request-email.tsx
  apps/backend/src/health/health.controller.ts
  apps/backend/src/main.ts
  apps/backend/src/shared/services/security-monitor.service.ts
  package.json
  packages/shared/src/types/health.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/supabase-generated.ts
Due: prettier, lint-quick

fix: resolve TypeScript type mismatches in health and security interfaces
  packages/shared/src/types/health.ts
Due: prettier, lint-quick

fix: resolve backend startup issues and enforce type safety
  apps/backend/src/health/health.controller.ts
  apps/backend/src/interceptors/performance.interceptor.ts
  packages/database/package.json
  packages/eslint-config/package.json
  packages/shared/package.json
  packages/shared/src/types/health.ts
  packages/typescript-config/package.json
Due: prettier, lint-quick

fix: resolve ESLint module resolution issues for CI/CD compatibility
  apps/backend/eslint.config.mjs
  apps/frontend/eslint.config.mjs
Due: none

fix: resolve TypeScript import issues and export missing types
  apps/backend/src/auth/auth-webhook.controller.ts
  apps/backend/src/dashboard/dashboard.controller.ts
  apps/backend/src/database/storage.service.ts
  apps/backend/src/leases/leases.service.ts
  apps/backend/src/notifications/notifications.service.ts
  apps/backend/src/pdf/template-helpers.ts
  apps/backend/src/shared/decorators/current-user.decorator.ts
  apps/backend/src/shared/decorators/roles.decorator.ts
  apps/backend/src/tenants/tenants.service.ts
  apps/frontend/package.json
  apps/frontend/src/stores/auth-provider.tsx
  package-lock.json
  package.json
  packages/database/package.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/lib/frontend-logger.ts
  packages/shared/src/types/index.ts
  pnpm-lock.yaml
Due: prettier, lint-quick

wip: partial lint fixes
  apps/backend/src/dashboard/dashboard.controller.ts
  package.json
  packages/shared/src/types/backend-domain.ts
  packages/shared/src/types/index.ts
  pnpm-lock.yaml
Due: prettier, lint-quick

fix: resolve TypeScript build errors and critical lint issues
  apps/backend/eslint.config.mjs
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/cache/cache.service.ts
  apps/backend/src/interceptors/performance.interceptor.ts
  apps/backend/src/shared/scripts/security-audit.ts
  apps/backend/src/shared/services/error-boundary.service.ts
  apps/backend/src/shared/services/resilience.service.ts
  apps/frontend/src/components/pricing/checkout/checkout-form.tsx
  apps/frontend/src/components/pricing/checkout/checkout-loading.tsx
  apps/frontend/src/components/pricing/checkout/checkout-success.tsx
  apps/frontend/src/components/pricing/checkout/error-banner.tsx
  apps/frontend/src/components/pricing/checkout/loading-overlay.tsx
  apps/frontend/src/components/pricing/checkout/success-confirmation.tsx
Due: prettier, lint-quick

fix: resolve Jest test configuration and ESLint module warnings
  apps/backend/eslint.config.mjs
  apps/backend/jest.config.js
  packages/eslint-config/package.json
Due: prettier, lint-quick

feat: major lint improvements - reduce errors from 43 to 7
  apps/backend/src/cache/cache.service.ts
  apps/backend/src/dashboard/dashboard.service.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/shared/filters/security-exception.filter.ts
  apps/backend/src/shared/middleware/input-sanitization.middleware.ts
  apps/backend/src/shared/scripts/security-audit.ts
  packages/shared/src/types/backend-domain.ts
  packages/shared/src/types/core.ts
Due: prettier, lint-quick
