Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

fix: Add NEXT_PUBLIC_SB_* env vars for Next.js SSR support
  packages/shared/src/config/supabase.ts
Due: prettier, lint-quick

fix: Resolve authentication and cookie type issues
  .zshrc-fix-snippet.sh
  apps/backend/src/database/supabase.module.ts
  apps/backend/src/modules/owner-dashboard/guards/owner-auth.guard.ts
  apps/frontend/proxy.ts
  apps/frontend/src/app/api/auth/callback/google/route.ts
  apps/frontend/src/app/auth/confirm/route.ts
  apps/frontend/src/app/login/login-action.ts
  apps/frontend/src/lib/api-auth.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/reports-client.ts
  apps/frontend/src/lib/api/server.ts
  apps/frontend/src/lib/server-auth.ts
  apps/frontend/src/lib/stripe-client.ts
  apps/frontend/src/lib/supabase/cookies.ts
  apps/frontend/src/lib/supabase/middleware.ts
  apps/frontend/src/lib/supabase/server.ts
  apps/frontend/tsconfig.json
Due: prettier, lint-quick

fix: NestJS dependency injection for auth services
  apps/backend/src/shared/auth/jwt-verification.service.ts
  apps/backend/src/shared/auth/supabase.strategy.ts
  apps/e2e-tests/tests/auth-diagnostic.spec.ts
Due: prettier, lint-quick

fix: Export auth services from AuthModule for dependency injection
  apps/backend/src/shared/auth/auth.module.ts
Due: prettier, lint-quick

refactor: Phase 1 - Delete unnecessary Stripe services
  apps/backend/src/modules/billing/stripe-3d-secure.service.ts
  apps/backend/src/modules/billing/stripe-access-control.service.spec.ts
  apps/backend/src/modules/billing/stripe-access-control.service.ts
  apps/backend/src/modules/billing/stripe-connect.controller.ts
  apps/backend/src/modules/billing/stripe-data.service.ts
  apps/backend/src/modules/billing/stripe-error-codes.service.ts
  apps/backend/src/modules/billing/stripe-identity.controller.ts
  apps/backend/src/modules/billing/stripe-identity.service.spec.ts
  apps/backend/src/modules/billing/stripe-identity.service.ts
  apps/backend/src/modules/billing/stripe-webhook.listener.ts
  apps/backend/src/modules/billing/stripe.module.ts
  apps/backend/src/modules/stripe-sync/stripe-payment-webhooks.spec.ts
  apps/backend/src/modules/stripe-sync/stripe-sync-webhooks.spec.ts
  apps/backend/src/modules/stripe-sync/stripe-sync.controller.ts
Due: prettier, lint-quick

refactor: Phase 2 - Remove EventEmitter from webhooks
  apps/backend/src/modules/billing/stripe-webhook.controller.spec.ts
  apps/backend/src/modules/billing/stripe-webhook.controller.ts
  apps/backend/src/modules/billing/stripe-webhook.listener.ts
  apps/backend/src/modules/billing/stripe.module.ts
Due: prettier, lint-quick

chore: clean up project root files
  .gitignore
  e2e_full_results.txt
  stripe_integration_exact_code.md
Due: prettier

fix: Add case-insensitive role comparison in RolesGuard
  apps/backend/src/shared/guards/roles.guard.ts
Due: prettier, lint-quick

fix: Standardize user_type handling to uppercase
  supabase/migrations/20251119_create_test_users.sql
  supabase/migrations/20251121000000_fix_auth_hook_proper_claims_structure.sql
Due: none

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
