Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix: Disable pre-commit validation hooks
  apps/frontend/src/components/sections/testimonials-section.tsx
  apps/frontend/src/components/settings/password-update-section.tsx
  apps/frontend/src/components/settings/stripe-connect-onboarding.tsx
  apps/frontend/src/components/settings/stripe-connect-tab.tsx
  apps/frontend/src/components/ui/sidebar.tsx
  apps/frontend/src/hooks/use-performance-monitor.ts
  apps/frontend/src/hooks/use-realtime-presence.ts
  apps/frontend/src/hooks/use-supabase-upload.ts
  apps/frontend/src/providers/preferences-provider.tsx
  apps/frontend/src/providers/view-transitions-provider.tsx
  lint-staged.config.js
Due: prettier, lint-quick

fix: Critical React lint violations (batch 2)
  apps/frontend/src/components/charts/bar-chart.tsx
  apps/frontend/src/components/error-boundary/react-query-error-boundary.tsx
  apps/frontend/src/components/layout/navbar.tsx
  apps/frontend/src/components/magicui/blur-fade.tsx
  apps/frontend/src/components/magicui/number-ticker.tsx
Due: prettier, lint-quick

fix: Resolve all React linting errors (182 → 0 errors)
  apps/frontend/src/app/(protected)/manage/analytics/financial/page.tsx
  apps/frontend/src/app/(protected)/manage/documents/lease-template/page.tsx
  apps/frontend/src/app/(protected)/manage/financials/balance-sheet/page.tsx
  apps/frontend/src/app/(protected)/manage/leases/late-fee-config-dialog.tsx
  apps/frontend/src/app/(protected)/manage/maintenance/[id]/edit/maintenance-edit-form.client.tsx
  apps/frontend/src/app/(protected)/settings/stripe/page.tsx
  apps/frontend/src/app/(protected)/tenant/maintenance/new/page.tsx
  apps/frontend/src/app/(protected)/tenant/profile/page.tsx
  apps/frontend/src/app/(protected)/tenant/tenant-details.client.tsx
  apps/frontend/src/app/(protected)/tenant/tenants-table.client.tsx
  apps/frontend/src/app/about/page.tsx
  apps/frontend/src/app/auth/confirm-email/page.tsx
  apps/frontend/src/app/auth/post-checkout/page.tsx
  apps/frontend/src/app/contact/contact-form.tsx
  apps/frontend/src/app/features/page.tsx
  apps/frontend/src/app/help/page.tsx
  apps/frontend/src/app/not-found.tsx
  apps/frontend/src/app/pricing/cancel/page.tsx
  apps/frontend/src/app/pricing/checkout/page.tsx
  apps/frontend/src/app/pricing/page.tsx
  apps/frontend/src/app/pricing/success/page.tsx
  apps/frontend/src/app/privacy/page.tsx
  apps/frontend/src/app/search/page.tsx
  apps/frontend/src/app/stripe/cancel/page.tsx
  apps/frontend/src/app/terms/page.tsx
  apps/frontend/src/components/auth/forgot-password-modal.tsx
  apps/frontend/src/components/auth/login-layout.tsx
  apps/frontend/src/components/auth/signup-form.tsx
  apps/frontend/src/components/magicui/testimonial.tsx
  apps/frontend/src/components/pricing/customer-portal.tsx
  apps/frontend/src/components/sections/final-cta.tsx
  apps/frontend/src/components/sections/stats-showcase.tsx
  apps/frontend/src/hooks/use-performance-monitor.ts
  apps/frontend/src/hooks/use-supabase-upload.ts
Due: prettier, lint-quick

fix: Use date_sold field instead of status for sold property check
  apps/backend/src/modules/properties/properties.service.ts
Due: prettier, lint-quick

Delete .serena directory
  .serena/.gitignore
  .serena/project.yml
Due: prettier

Delete .supabase directory
  .supabase/.gitignore
  .supabase/config.toml
Due: none

chore: comprehensive dependency cleanup - remove 24+ unused frontend packages
  PERFORMANCE_OPTIMIZATION_TODO.md
  apps/frontend/eslint.config.mjs
  apps/frontend/package.json
  apps/frontend/src/app/globals.css
  apps/frontend/src/lib/supabase/client.ts
  package.json
  packages/api-client/package.json
  packages/config/package.json
  packages/shared/package.json
  packages/shared/src/utils/__tests__/api-utils.test.ts
  packages/shared/vitest.config.ts
  packages/testing/package.json
  packages/testing/src/vitest.ts
  pnpm-lock.yaml
  scripts/audit-all-deps.sh
Due: prettier, lint-quick

fix: correct Supabase environment variable name
  apps/frontend/src/lib/supabase/middleware.ts
  apps/frontend/src/lib/supabase/server.ts
Due: prettier, lint-quick

fix: correct auth redirect path from /auth/login to /login
  apps/frontend/src/lib/supabase/middleware.ts
Due: prettier, lint-quick

perf: optimize frontend performance with lazy loading and font optimization
  apps/frontend/src/app/(protected)/manage/ChartsSection.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/charts/chart-skeleton.tsx
Due: prettier, lint-quick

docs: update PERFORMANCE_OPTIMIZATION_TODO.md with completed items
  PERFORMANCE_OPTIMIZATION_TODO.md
Due: prettier
