Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix(storage): the quota block was undetectable by the client on upload
  src/lib/__tests__/storage-plan-limit.test.ts
  src/lib/storage-plan-limit.ts
  supabase/migrations/20260823225001_storage_quota_distinct_sqlstate.sql
  tests/integration/rls/storage-metering.rls.test.ts
Due: prettier, lint-quick

fix(tests): lease-signing tests tracked behaviour the product moved past
  tests/integration/rls/lease-signing-tokens.rls.test.ts
Due: prettier, lint-quick

fix(tests): the last two, both researched to root cause
  tests/integration/rls/rental-applications-retention.test.ts
  tests/integration/rls/storage-metering.rls.test.ts
Due: prettier, lint-quick

fix(tests): the column is notification_type, not type — my error
  tests/integration/rls/lease-signing-tokens.rls.test.ts
  tests/integration/rls/storage-metering.rls.test.ts
Due: prettier, lint-quick

fix(storage): the avatars bucket had no SELECT policy
  supabase/migrations/20260831130523_avatars_select_policy_owner_folder.sql
  tests/integration/rls/storage-metering.rls.test.ts
Due: prettier, lint-quick

fix(ci): close the last 12 skips — admin creds and the cron probe
  .github/workflows/rls-security-tests.yml
  supabase/migrations/20260831132425_cron_slot_probe_for_tests.sql
  tests/integration/rls/rental-applications-retention.test.ts
Due: prettier, lint-quick

docs(audit): record the 401 root cause and close the triage
  .planning/audits/2026-08-23-rls-18-failures-triage.md
Due: prettier

fix(e2e): scope signOut to local — global revoked the RLS suite's session
  tests/e2e/tests/owner/applications.spec.ts
  tests/e2e/tests/public/apply-token.spec.ts
Due: prettier, lint-quick

fix(ci): serialize the two jobs that write to the same production account
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/deferred-items.md
Due: prettier

fix(ci): give hooks a real timeout and make the zero-skip gate achievable
  tests/e2e/tests/owner/dashboard-smoke.e2e.spec.ts
  tests/integration/rls/rental-applications-retention.test.ts
  vitest.config.ts
Due: prettier, lint-quick

fix(ci): duplicate concurrency key made ci-cd.yml invalid — mine
  .github/workflows/ci-cd.yml
Due: prettier

fix: delete the orphaned edge function; handle Server Action deploy skew
  next.config.ts
  sentry.server.config.ts
Due: prettier, lint-quick

refactor(config): drop dead config from next.config.ts
  next.config.ts
Due: prettier, lint-quick

chore(deps): upgrade next to 16.3.5
  bun.lock
  package.json
Due: prettier

chore(config): host the next dev agent block in AGENTS.md
  AGENTS.md
Due: prettier

chore(config): gitignore AGENTS.md instead of tracking it
  .gitignore
  AGENTS.md
Due: prettier

docs(config): stop pinning a next version in the deploymentId comment
  next.config.ts
Due: prettier, lint-quick

fix(ci): queue the prod-account jobs instead of evicting them
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/deferred-items.md
Due: prettier

fix(ci): make the prod-account lock global and retry blog prerenders
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/deferred-items.md
  src/app/blog/[slug]/page.tsx
Due: prettier, lint-quick

chore(config): drop the now-default useTypeScriptCli flag
  next.config.ts
Due: prettier, lint-quick

fix(test): build a policy-compliant password for the disposable auth user
  tests/integration/rls/rental-applications-retention.test.ts
Due: prettier, lint-quick

docs(config): correct the dpl stamp evidence for 16.3
  next.config.ts
Due: prettier, lint-quick

fix(og): move the OG routes off the deprecated edge runtime
  bun.lock
  package.json
  src/app/api/og/blog/[slug]/route.tsx
  src/app/api/og/compare/[competitor]/route.tsx
  src/app/api/og/features/route.tsx
  src/app/api/og/pricing/route.tsx
  src/app/features/__tests__/page.test.ts
Due: prettier, lint-quick

chore(deps): drop the unused react-intersection-observer dependency
  bun.lock
  package.json
Due: prettier

chore(deps): sync bun.lock and the biome schema for 2.5.13
  biome.json
  bun.lock
Due: prettier

chore(deps): sync bun.lock for @axe-core/playwright 4.13.0
  bun.lock
Due: none

chore(deps): sync bun.lock for react-dropzone 20
  bun.lock
Due: none

chore(deps): sync bun.lock for @diceui/combobox 2.0.0
  bun.lock
Due: none

chore(deps): bump @diceui/combobox to 2.0.0
  bun.lock
  package.json
Due: prettier

fix(dependabot): use the bun ecosystem to match bun.lock
  .github/dependabot.yml
Due: prettier

fix(test): size the property-test timeout to the iteration count
  .planning/phases/66.1-postgres-backed-rate-limiting-with-trusted-client-ip-forward/deferred-items.md
  src/components/tenants/__tests__/add-tenant-form-success.property.test.tsx
  src/components/tenants/__tests__/add-tenant-form.property.test.tsx
Due: prettier, lint-quick

chore(deps): bump @axe-core/playwright to 4.13.0
  bun.lock
  package.json
Due: prettier

fix(test): pick an editable lease for the UPDATE isolation check
  tests/integration/rls/leases.rls.test.ts
Due: prettier, lint-quick

chore(test): delete the tests/e2e manifest that installs nothing
  tests/e2e/package.json
Due: prettier

fix(ci): point the missing-secret error at the Dependabot scope
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
Due: prettier

fix(query): use the tagged key and an updater fn for the optimistic write
  src/hooks/api/use-owner-emergency-contact.ts
Due: prettier, lint-quick

fix(ci): accept SUPABASE_SECRET_KEY, the key Supabase actually issues now
  .github/workflows/rls-security-tests.yml
Due: prettier

chore(env): drop the service-role key entry nothing reads
  src/env.ts
Due: prettier, lint-quick

fix(test): keep the rate-limit round inside one window
  tests/integration/rls/rate-limit-concurrency.rls.test.ts
Due: prettier, lint-quick
