Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

chore: update pnpm lockfile
  pnpm-lock.yaml
Due: prettier

chore: add pnpm lockfile verification to pre-commit hook
  .husky/pre-commit
Due: none

fix: resolve lint errors and improve code quality
  .husky/pre-commit
  apps/frontend/src/hooks/api/use-subscriptions.ts
  apps/frontend/src/hooks/use-property-image-upload.ts
  apps/frontend/src/hooks/use-supabase-upload.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/image-compression.ts
Due: prettier, lint-quick

fix: prevent null description in property creation
  packages/shared/src/validation/properties.ts
Due: prettier, lint-quick

fix: resolve property creation failures
  packages/shared/src/validation/properties.ts
  supabase/migrations/20251102_fix_coalesce_type_mismatch.sql
Due: prettier, lint-quick

fix: resolve Docker undefined variable linting errors
  Dockerfile
Due: none

fix: resolve COEP error and 400 bad request on property creation
  apps/backend/src/shared/auth/auth.module.ts
  apps/backend/src/shared/auth/supabase.strategy.ts
  apps/backend/src/shared/services/utility.service.ts
  apps/frontend/vercel.json
Due: prettier, lint-quick

feat: implement real payment status with N+1 query fix
  apps/backend/__mocks__/uuid.js
  apps/backend/jest.config.js
  apps/backend/src/modules/tenants/tenants.controller.spec.ts
  apps/backend/src/modules/tenants/tenants.controller.ts
  apps/backend/src/modules/tenants/tenants.service.spec.ts
  apps/backend/src/modules/tenants/tenants.service.ts
  apps/backend/src/shared/constants/routes.ts
  apps/backend/src/shared/services/utility.service.ts
  packages/shared/src/types/backend-domain.ts
  packages/shared/src/types/core.ts
  scripts/create-user-records.sql
Due: prettier, lint-quick

Update apps/backend/src/modules/tenants/tenants.service.ts
  apps/backend/src/modules/tenants/tenants.service.ts
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
