Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix: remove duplicate SubscriptionStatus type export from auth
  packages/shared/src/types/index.ts
  test-vscode-inputs.html
Due: prettier, lint-quick

fix: complete repository cleanup and maintenance
  apps/backend/src/billing/stripe.controller.ts
  apps/frontend/scripts/auth-health-check.ts
  apps/frontend/src/components/pricing/stripe-pricing-section.tsx
  packages/shared/src/types/index.ts
Due: prettier, lint-quick

fix: implement metadata sanitization in StripeController for security
  apps/backend/src/billing/stripe.controller.spec.ts
Due: prettier, lint-quick

fix: update dependency versions to match lockfile for Vercel deployment
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier

fix: remove invalid Vercel runtime config and set up pnpm catalogs
  packages/shared/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vercel.json
Due: prettier

fix: remove vite from pnpm catalogs (not used in project)
  pnpm-workspace.yaml
Due: prettier

fix: remove non-existent API routes from Vercel functions config
  vercel.json
Due: prettier

fix: remove functions config entirely - let Vercel auto-detect Next.js API routes
  vercel.json
Due: prettier

fix: add Next.js to root package.json for Vercel detection
  package.json
  pnpm-lock.yaml
Due: prettier

fix: use npm script for Vercel build command
  vercel.json
Due: prettier

fix: use direct turbo commands for Vercel build (no Doppler)
  vercel.json
Due: prettier

fix: specify exact Node.js 22.x version for Vercel
  package.json
  pnpm-workspace.yaml
Due: prettier

fix: update pnpm lock file with Node.js version changes
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix(security): surface client sanitization errors as 400, not Stripe 500
  .github/workflows/ci-cd.yml
  apps/backend/src/billing/stripe.controller.spec.ts
  apps/backend/src/billing/stripe.controller.ts
Due: prettier, lint-quick

fix: remove duplicate packages directory from backend
  apps/backend/package.json
Due: prettier

fix: remove backend .vercelignore and fix root .vercelignore
  .github/workflows/ci-cd.yml
  .vercelignore
  apps/backend/.vercelignore
Due: prettier

fix: update pnpm-lock.yaml to match stripe-sync-engine version
  pnpm-lock.yaml
Due: prettier

fix: add poolConfig to stripe-sync-engine initialization
  apps/backend/src/billing/stripe-sync.service.ts
Due: prettier, lint-quick

test: update stripe-sync.service test for poolConfig
  apps/backend/src/billing/stripe-sync.service.spec.ts
Due: prettier, lint-quick

Repository Cleanup: Fix git conflicts, TypeScript errors, and test failures (#237)
  .github/workflows/ci-cd.yml
  .vercelignore
  apps/backend/.vercelignore
  apps/backend/package.json
  apps/backend/src/billing/stripe-sync.service.spec.ts
  apps/backend/src/billing/stripe-sync.service.ts
  apps/backend/src/billing/stripe.controller.spec.ts
  apps/backend/src/billing/stripe.controller.ts
  apps/frontend/scripts/auth-health-check.ts
  apps/frontend/src/components/pricing/stripe-pricing-section.tsx
  package.json
  packages/shared/package.json
  packages/shared/src/types/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vercel.json
Due: prettier, lint-quick

fix: update Dockerfile cache mount IDs for Railway compatibility
  Dockerfile
Due: none

chore: clean up type validation and remove temporary files
  apps/backend/src/shared/scripts/security-audit.ts
  apps/backend/src/shared/services/security-monitor.service.ts
  apps/frontend/typecheck_output.txt
Due: prettier, lint-quick

Fix/vercel deployment and dependencies (#238)
  Dockerfile
  apps/backend/src/shared/scripts/security-audit.ts
  apps/backend/src/shared/services/security-monitor.service.ts
  apps/frontend/typecheck_output.txt
Due: prettier, lint-quick

fix: restore Railway deployment fix with service ID cache mounts and turbo
  Dockerfile
Due: none

fix: Railway deployment with service ID cache mounts and turbo
  Dockerfile
Due: none

Cleanup/repository maintenance (#239)
  Dockerfile
Due: none

fix: install TypeScript globally in Docker for shared package build
  Dockerfile
Due: none
