Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix: improve Sentry source map upload config for cross-platform support
  apps/frontend/next.config.ts
Due: prettier, lint-quick

fix: simplify next.config.ts and silence build spam (#489)
  .github/workflows/ci-cd.yml
  .github/workflows/migrations.yml
  apps/frontend/next.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier, lint-quick

fix: use lightweight healthcheck for faster Railway deployments
  Dockerfile
  railway.toml
Due: none

fix: optimize Docker build and relax local testing requirements
  .dockerignore
  Dockerfile
  apps/backend/src/config/config.schema.ts
Due: prettier, lint-quick

fix: use explicit opt-in for skipping production validation
  apps/backend/src/config/config.schema.ts
Due: prettier, lint-quick

fix: optimize Docker build and fix Railway deployment (#490)
  .dockerignore
  Dockerfile
  apps/backend/src/config/config.schema.ts
  railway.toml
Due: prettier, lint-quick

chore: trigger Vercel deployment with synced env vars
  apps/frontend/next.config.ts
Due: prettier, lint-quick

chore: trigger Vercel deployment with synced env vars (#491)
  apps/frontend/next.config.ts
Due: prettier, lint-quick

chore: add NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY to Vercel
  apps/frontend/next.config.ts
Due: prettier, lint-quick

chore: add NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY to Vercel (#492)
  apps/frontend/next.config.ts
Due: prettier, lint-quick

docs: create milestone v2.0 Stripe Integration Excellence (7 phases)
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

docs(11): complete phase research
  .planning/phases/11-stripe-backend-hardening/11-RESEARCH.md
Due: prettier

docs(11): create execution plans for Stripe backend hardening
  .planning/phases/11-stripe-backend-hardening/11-02-PLAN.md
  .planning/phases/11-stripe-backend-hardening/11-03-PLAN.md
  .planning/phases/11-stripe-backend-hardening/11-04-PLAN.md
Due: prettier

feat(11-01): add Stripe SDK monitoring and configure retries
  apps/backend/src/shared/stripe-client.service.ts
Due: prettier, lint-quick

docs(11-01): complete SDK monitoring plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/11-stripe-backend-hardening/11-01-SUMMARY.md
Due: prettier

feat(11-02): replace manual pagination with SDK auto-pagination
  apps/backend/src/modules/billing/subscriptions/subscription.service.spec.ts
  apps/backend/src/modules/billing/subscriptions/subscription.service.ts
Due: prettier, lint-quick

docs(11-02): complete auto-pagination plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/11-stripe-backend-hardening/11-02-SUMMARY.md
Due: prettier

feat(11-03): replace getAllCustomers with SDK auto-pagination
  apps/backend/src/modules/billing/stripe-customer.service.spec.ts
  apps/backend/src/modules/billing/stripe-customer.service.ts
Due: prettier, lint-quick

feat(11-03): replace getAllInvoices with SDK auto-pagination
  apps/backend/src/modules/billing/stripe.service.ts
Due: prettier, lint-quick

docs(11-03): complete customer & invoice auto-pagination plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/11-stripe-backend-hardening/11-03-SUMMARY.md
Due: prettier

chore(11-04): add NestJS Logger to backfill script
  apps/backend/scripts/backfill-stripe-customers.ts
Due: prettier, lint-quick

feat(11-04): replace console.log with structured logging
  apps/backend/scripts/backfill-stripe-customers.ts
Due: prettier, lint-quick

docs(11-04): complete structured logging plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/11-stripe-backend-hardening/11-04-SUMMARY.md
Due: prettier
