Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

feat(phase-14-04): add route-scoped /blog/loading.tsx for streaming mutual exclusion
  src/app/blog/loading.test.tsx
  src/app/blog/loading.tsx
Due: prettier, lint-quick

docs(phase-14-04): complete D-04 route-scoped blog loading.tsx plan
  .planning/STATE.md
  .planning/phases/14-battle-test-findings-remediation/14-04-SUMMARY.md
  .planning/phases/14-battle-test-findings-remediation/deferred-items.md
Due: prettier

test(integration): cache auth sessions via vitest globalSetup
  tests/integration/setup/global-auth-setup.ts
  tests/integration/setup/supabase-client.ts
  vitest.config.ts
Due: prettier, lint-quick

chore: gitignore BATTLE-TEST-BROWSER-AGENT.txt
  .gitignore
Due: none

fix(security-tab): break React error #185 infinite loop on /settings?tab=security
  src/components/auth/__tests__/two-factor-setup-dialog.test.tsx
  src/components/auth/two-factor-setup-dialog.tsx
Due: prettier, lint-quick

fix(test): regression test now actually fails on buggy deps
  src/components/auth/__tests__/two-factor-setup-dialog.test.tsx
  src/components/auth/two-factor-setup-dialog.tsx
Due: prettier, lint-quick

chore(deps): revert @tanstack/react-query-persist-client to ^5.100.9
  package.json
  pnpm-lock.yaml
Due: prettier

docs(deps): bump pnpm 10 to 11 in CLAUDE.md, README, PROJECT.md, memory
  .planning/PROJECT.md
  CLAUDE.md
  README.md
  memory/context/company.md
Due: prettier

chore(deps): cycle-1 review fixes
  package.json
  pnpm-lock.yaml
  src/components/error-boundary/__tests__/error-boundary.test.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/file-upload/file-upload.tsx
  src/components/ui/stepper.tsx
  src/components/ui/tour.tsx
  src/test/unit-setup.ts
Due: prettier, lint-quick

chore(deps): revert pnpm 11 to pnpm 10 - security pin overrides silently dropped
  .planning/PROJECT.md
  CLAUDE.md
  README.md
  memory/context/company.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore(deps): cycle-3 polish - rename Direction import to RadixDirection
  src/components/ui/tour.tsx
Due: prettier, lint-quick

chore(deps): migrate from pnpm to bun
  .gitattributes
  .github/workflows/ci-cd.yml
  .github/workflows/rls-security-tests.yml
  .planning/PROJECT.md
  CLAUDE.md
  README.md
  bun.lock
  lefthook.yml
  memory/context/company.md
  package.json
  pnpm-lock.yaml
  scripts/health-check.sh
  vercel.json
Due: prettier

chore(deps): cycle-1 review fixes - sweep remaining pnpm references
  .github/dependabot.yml
  .npmrc
  .prettierignore
  .vercelignore
  Dockerfile
  docs/bun-evaluation.md
  memory/glossary.md
  next-env.d.ts
  package.json
  supabase/SCHEMA.md
  supabase/migrations/20260415193246_get_deliverability_stats_rpc.sql
  tests/e2e/.env.example
  tests/e2e/package.json
  tests/e2e/preflight.ts
  tests/e2e/run-production-flows.sh
  tests/e2e/scripts/preflight.ts
  tests/e2e/tests/_archived/integration/react-query-production.spec.ts
Due: prettier, lint-quick

chore(deps): drop tsx — bun runs TypeScript natively
  bun.lock
  package.json
  tests/e2e/package.json
  tests/e2e/scripts/preflight.ts
Due: prettier, lint-quick

fix(e2e): split smoke suite — reuse setup-owner storageState
  .github/workflows/ci-cd.yml
  tests/e2e/playwright.config.ts
  tests/e2e/tests/smoke/authenticated-flows.smoke.spec.ts
  tests/e2e/tests/smoke/critical-paths.smoke.spec.ts
Due: prettier, lint-quick

chore(e2e): delete orphan tests/e2e/preflight.ts
  .planning/RETROSPECTIVE.md
  .planning/phases/12-seo-cleanup/12-REVIEW-cycle-1.md
  .planning/phases/12-seo-cleanup/12-REVIEW-cycle-2.md
  .planning/phases/12-seo-cleanup/12-REVIEW-cycle-3.md
  .planning/phases/12-seo-cleanup/12-REVIEW-cycle-4.md
  .planning/phases/13-perf-conversion/13-REVIEW-cycle-1.md
  .planning/phases/13-perf-conversion/13-REVIEW-cycle-2.md
  .planning/phases/13-perf-conversion/13-REVIEW-cycle-3.md
  dashboard.html
  docs/plans/2026-03-06-blog-redesign.md
  tests/e2e/preflight.ts
Due: prettier, lint-quick

chore: revert out-of-scope changes accidentally swept into 83905911e
  .planning/RETROSPECTIVE.md
  .planning/phases/12-seo-cleanup/12-REVIEW-cycle-1.md
  .planning/phases/12-seo-cleanup/12-REVIEW-cycle-2.md
  .planning/phases/12-seo-cleanup/12-REVIEW-cycle-3.md
  .planning/phases/12-seo-cleanup/12-REVIEW-cycle-4.md
  .planning/phases/13-perf-conversion/13-REVIEW-cycle-1.md
  .planning/phases/13-perf-conversion/13-REVIEW-cycle-2.md
  .planning/phases/13-perf-conversion/13-REVIEW-cycle-3.md
  dashboard.html
  docs/plans/2026-03-06-blog-redesign.md
Due: prettier

fix(e2e): use UI-login setup so saved cookies are real @supabase/ssr session
  tests/e2e/playwright.config.ts
  tests/e2e/tests/auth-api.setup.ts
  tests/e2e/tests/auth-ui.setup.ts
Due: prettier, lint-quick

fix(e2e): force /dashboard load + cookie-write wait in setup-owner
  tests/e2e/tests/auth-ui.setup.ts
Due: prettier, lint-quick

fix(e2e): use beforeAll + serial pattern instead of storageState
  .github/workflows/ci-cd.yml
  tests/e2e/playwright.config.ts
  tests/e2e/tests/auth-ui.setup.ts
  tests/e2e/tests/smoke/authenticated-flows.smoke.spec.ts
  tests/e2e/tests/smoke/critical-paths.smoke.spec.ts
Due: prettier, lint-quick

chore(deps): bump @commitlint/{cli,config-conventional} 20.5.3 to 21.0.1
  bun.lock
  package.json
Due: prettier

chore(lint): clean up dead + improvable suppressions
  src/app/(owner)/documents/templates/components/build-template-html.test.ts
  src/app/(owner)/documents/templates/components/build-template-html.ts
  src/app/(owner)/reports/page.tsx
  src/app/(owner)/reports/year-end/page.tsx
  src/app/layout.tsx
  src/components/auth/google-button.tsx
  src/components/auth/two-factor-setup-steps.tsx
  src/components/dashboard/dashboard-filters.tsx
  src/components/leases/rent-increase-notice-dialog.tsx
  src/components/maintenance/detail/work-order-template.ts
  src/components/pricing/owner-subscribe-plan-selector.tsx
  src/components/properties/property-form-fields.tsx
  src/components/sections/logo-cloud.tsx
  src/components/settings/category-delete-dialog.tsx
  src/components/ui/tour.tsx
  src/hooks/api/__tests__/auth-keys.test.ts
  src/hooks/api/__tests__/use-reports.test.tsx
  src/hooks/api/use-reports.ts
  src/lib/generate-metadata.ts
  src/test/msw-polyfill.ts
Due: prettier, lint-quick

chore(lint): cycle-1 review fixes - live noRestrictedImports + dead paths
  biome.json
Due: prettier

chore(lint): cycle-3 review fixes - override precedence + dead config
  biome.json
  src/types/lease-generator.types.ts
Due: prettier, lint-quick

chore(lint): cycle-4 review fixes - drop orphan prettier + nested eslint
  .prettierignore
  tests/e2e/package.json
Due: prettier

chore(lint): cycle-5 review fix - drop stricter-than-policy noConsole on src tests
  biome.json
Due: prettier

chore(lint): cycle-7 review fixes - drop orphan globals dep + exclude dashboard.html
  biome.json
  bun.lock
  dashboard.html
  package.json
Due: prettier

chore: delete dashboard.html (Claude Code productivity plugin artifact)
  biome.json
  dashboard.html
Due: prettier

fix(battle-test): resolve P0/P2/P3 findings from browser-agent Session 4
  src/app/(owner)/documents/page.tsx
  src/components/layout/navbar.tsx
  src/components/layout/navbar/navbar-mobile-menu.tsx
  src/components/pricing/pricing-card-featured.tsx
  src/components/pricing/pricing-card-standard.tsx
  src/components/settings/__tests__/billing-settings.test.tsx
  src/components/settings/billing-settings.tsx
Due: prettier, lint-quick

fix(battle-test): cycle-1 review followups for PR #718
  src/app/(owner)/documents/page.tsx
  src/components/layout/navbar.tsx
  src/components/layout/navbar/navbar-mobile-menu.tsx
  src/components/pricing/pricing-card-featured.tsx
  src/components/pricing/pricing-card-standard.tsx
  src/components/settings/billing-settings.tsx
  src/hooks/api/use-auth.ts
Due: prettier, lint-quick

chore(documents): remove orphaned DocumentsClient
  src/components/documents/documents.client.tsx
Due: prettier, lint-quick

fix(battle-test): session-5 P3 followups
  src/app/sitemap.test.ts
  src/app/sitemap.ts
  src/components/settings/__tests__/billing-settings.test.tsx
  src/components/settings/billing-settings.tsx
  src/providers/query-persistence.ts
Due: prettier, lint-quick

fix(battle-test): cycle-1 review followups for PR #719
  src/app/sitemap.test.ts
  src/app/sitemap.ts
  src/components/settings/__tests__/billing-settings.test.tsx
  src/components/settings/billing-settings.tsx
  src/providers/query-persistence.ts
Due: prettier, lint-quick

test(sitemap): symmetric doUnmock for DB-failure describe block
  src/app/sitemap.test.ts
Due: prettier, lint-quick

fix(navbar): signed-out cold-start hang on /pricing (battle-test S6 P1)
  src/components/layout/navbar.tsx
Due: prettier, lint-quick

fix(billing): surface subscription-query errors explicitly (S6 P2)
  src/components/settings/billing-settings.tsx
Due: prettier, lint-quick

fix(navbar/billing): cycle-1 review followups for PR #720
  src/components/layout/__tests__/navbar.test.tsx
  src/components/layout/navbar.tsx
  src/components/settings/__tests__/billing-settings.test.tsx
  src/lib/supabase/cookie-name.ts
Due: prettier, lint-quick

fix(billing): cycle-3 P3 followup — preserve user destination on auth-error
  src/components/settings/__tests__/billing-settings.test.tsx
  src/components/settings/billing-settings.tsx
Due: prettier, lint-quick

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
