Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

feat: optimize deployment by reducing env vars and using native approaches
  apps/backend/src/billing/stripe-data-validation.spec.ts
  apps/backend/src/billing/stripe-event-processor.service.ts
  apps/backend/src/billing/stripe-sync.service.ts
  apps/backend/src/billing/stripe.controller.ts
  apps/backend/src/config/app-config.ts
  apps/backend/src/config/config.schema.ts
  apps/backend/src/config/express.config.ts
  apps/backend/src/database/supabase.service.ts
  apps/backend/src/emails/direct-email.service.ts
  apps/backend/src/emails/payment-failed-email.tsx
  apps/backend/src/emails/payment-success-email.tsx
  apps/backend/src/emails/subscription-canceled-email.tsx
  apps/backend/src/health/health.controller.spec.ts
  apps/backend/src/health/health.controller.ts
  apps/backend/src/interceptors/cache-control.interceptor.ts
  apps/backend/src/main.ts
  apps/backend/src/pdf/pdf-generator.service.ts
  apps/backend/src/shared/services/email.service.ts
  apps/backend/src/shared/services/security-monitor.service.ts
  apps/frontend/src/app/api/contact/route.ts
  apps/frontend/src/app/contact/page.tsx
  apps/frontend/src/components/marketing/bento-grid-alt.tsx
  apps/frontend/src/components/marketing/contact-form.tsx
  apps/frontend/src/components/marketing/content-section.tsx
  apps/frontend/src/components/marketing/cta-section.tsx
  apps/frontend/src/components/marketing/features-grid.tsx
  packages/shared/src/stripe/config.ts
  packages/shared/src/types/core.ts
  turbo.json
Due: prettier, lint-quick

fix: update GitHub Actions pnpm version to match package.json
  .github/workflows/ci-cd.yml
Due: prettier

fix: update contact page with consistent design system classes
  apps/frontend/src/app/contact/page.tsx
Due: prettier, lint-quick

fix: remove Node 20 from CI/CD tests - only use Node 22
  .github/workflows/ci-cd.yml
Due: prettier

fix: resolve Railway 502 errors by fixing health check configuration
  Dockerfile
  apps/backend/src/health/health.controller.ts
  apps/frontend/src/components/marketing/contact-form.tsx
Due: prettier, lint-quick

fix: expose port 8080 explicitly for Railway deployment
  Dockerfile
Due: none

fix: change Docker default PORT from 8080 to 4600 to match Railway domain configuration
  Dockerfile
  apps/frontend/src/app/contact/page.tsx
  apps/frontend/src/components/marketing/contact-form.tsx
Due: prettier, lint-quick

fix: correct port in health controller tests
  apps/backend/src/health/health.controller.spec.ts
  apps/frontend/src/components/marketing/contact-form.tsx
Due: prettier, lint-quick

trigger: force Railway redeploy after environment variable update
  apps/backend/apps/backend/README.md
Due: prettier

fix: correct health controller route ordering to resolve 502 errors
  apps/backend/src/health/health.controller.ts
  apps/frontend/src/app/contact/page.tsx
  apps/frontend/src/components/marketing/contact-form.tsx
  apps/frontend/src/components/sections/hero-section.tsx
Due: prettier, lint-quick

refactor: clean up health controller using service delegation pattern
  .github/workflows/ci-cd.yml
  apps/backend/src/health/circuit-breaker.service.ts
  apps/backend/src/health/health.controller.spec.ts
  apps/backend/src/health/health.controller.ts
  apps/backend/src/health/health.module.ts
  apps/backend/src/health/health.service.ts
  apps/backend/src/health/metrics.service.ts
  apps/frontend/src/components/marketing/contact-form.tsx
  apps/frontend/src/components/sections/testimonials-minimal.tsx
  packages/shared/src/types/health.ts
  packages/shared/src/types/index.ts
Due: prettier, lint-quick
