Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

prettier:
  run: npx prettier --check {staged_files} || true
  stage_fixed: false

lint-quick:
  run: npx eslint {staged_files} --quiet --fix-dry-run || true
  skip:
  - merge
  - rebase

fix: implement bulletproof platform dependency handling in CI
  .github/workflows/ci-cd.yml
Due: prettier

fix: add missing CSRF files that were blocked by overly broad gitignore
  apps/frontend/src/lib/auth/csrf-token.ts
Due: prettier, lint-quick

fix: resolve Jest test setup file configuration for CI
  apps/backend/jest.config.js
Due: prettier, lint-quick

fix: resolve CI/CD pipeline security check issues
  .github/workflows/ci-cd.yml
  eslint.config.js
Due: prettier, lint-quick

fix: include GitHub Actions scripts in repository
  .github/scripts/README.md
  .github/scripts/pre-commit-deployment-check.js
  .github/scripts/railway-health-check.sh
  .github/scripts/test-ci-build.sh
  .github/scripts/test-ci-local.sh
  .github/scripts/test-deployment.sh
  .github/scripts/validate-deployment.js
  .github/scripts/validate-env.sh
  .github/scripts/validate-workflow-types.ts
  .github/workflows/ci-cd.yml
  .gitignore
Due: prettier, lint-quick

fix: restore packageManager field for Docker Turbo resolution
  package.json
Due: prettier

fix: configure Vercel to skip optional platform-specific dependencies
  .npmrc
  vercel.json
Due: prettier

fix: correct Docker build order based on turbo.json dependencies
  Dockerfile
Due: none

fix: resolve all CI/CD linting and TypeScript errors
  .gitignore
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/billing/stripe-webhook.service.ts
  apps/backend/src/billing/stripe.service.ts
  apps/frontend/src/design-tokens/accessibility-audit.css
  apps/frontend/src/design-tokens/tokens/brand-gradients.css
  apps/frontend/src/design-tokens/tokens/typography-scale.css
  eslint.config.js
Due: prettier, lint-quick

fix: simplify deployment validation for MVP testing
  .github/workflows/ci-cd.yml
Due: prettier

fix: resolve CI failures with packageManager and SWC binary issues
  .github/workflows/ci-cd.yml
  apps/frontend/package.json
  package.json
Due: prettier

fix: resolve remaining linting issues
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/billing/stripe-webhook.service.ts
  apps/backend/src/billing/stripe.service.ts
Due: prettier, lint-quick

fix: add --omit=optional to ALL GitHub workflow npm ci commands
  .github/workflows/ci-cd.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/fast-feedback.yml
Due: prettier

fix: force Linux package-lock.json generation for cross-platform compatibility
  Dockerfile
  vercel.json
Due: prettier

fix: remove platform-specific turbo-darwin-arm64 dependency
  apps/frontend/package.json
  package-lock.json
Due: prettier

fix: resolve CI/CD pipeline issues
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/billing/stripe-webhook.service.ts
  apps/backend/src/billing/stripe.service.ts
  apps/backend/src/shared/guards/throttler-proxy.guard.ts
  apps/backend/src/webhooks/webhook.controller.ts
  apps/frontend/src/middleware/auth.ts
  scripts/ci-lint-check.sh
  tsconfig.json
Due: prettier, lint-quick

feat: implement isomorphic lockfile architecture for cross-platform compatibility
  .github/workflows/ci-cd.yml
  .npmrc
  Dockerfile
  apps/frontend/package.json
  package-lock.json
  package.json
  vercel.json
Due: prettier

fix: resolve ESLint configuration issue in frontend
  apps/backend/src/scripts/replace-error-handler.sh
  apps/frontend/eslint.config.mjs
  apps/frontend/scripts/auth-health-check.ts
  apps/frontend/scripts/setup-email.ts
  apps/frontend/scripts/test-production-readiness.sh
  apps/frontend/scripts/verify-email-config.ts
  scripts/ci/ci-types.ts
  scripts/ci/print-env.sh
  scripts/ci/verify-workflows.ts
  scripts/eslint-coverage-check.js
  scripts/validate-eslint-config.js
  scripts/validate-eslint-quick.js
  scripts/validate-eslint.sh
  scripts/verify-deployment.sh
Due: prettier, lint-quick

fix: exclude optional platform-specific dependencies in CI workflows
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: prettier

fix: resolve Docker build failures
  .github/workflows/ci-cd.yml
  Dockerfile
Due: prettier

fix: remove turbo from dependencies, use npx turbo instead
  package.json
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  lint-quick: any of: *.{js,jsx,ts,tsx}
