Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix(65): opt this phase's anchors out of the global underline
  src/app/(owner)/documents/__tests__/documents-hub.test.ts
  src/app/(owner)/documents/document-hub-tile.tsx
  src/app/(owner)/documents/page.tsx
Due: prettier, lint-quick

fix(65): zero the base p margin where the box traps it, on the landing too
  src/app/(owner)/documents/__tests__/documents-hub.test.ts
  src/app/(owner)/documents/document-hub-tile.tsx
  src/app/(owner)/documents/page.tsx
Due: prettier, lint-quick

test(65): make two of my own assertions non-vacuous
  src/app/(owner)/documents/__tests__/recent-documents-panel.test.tsx
Due: prettier, lint-quick

test(65): close the visual UAT item by measuring it, not deferring it
  .planning/phases/65-documents-landing/65-HUMAN-UAT.md
Due: prettier

docs(65): retract two overstated UAT claims, record verification passed
  .planning/phases/65-documents-landing/65-HUMAN-UAT.md
  .planning/phases/65-documents-landing/65-VERIFICATION.md
Due: prettier

docs(phase-65): complete phase tracking, correct a false milestone_complete
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

fix(db): dedupe cron-failure reporting in check_cron_health
  supabase/migrations/20260804152801_dedupe_check_cron_health.sql
Due: none

chore(deps): regenerate bun.lock for the biome 2.5.6 bump
  bun.lock
Due: none

chore(deps): point biome.json at the 2.5.6 schema
  biome.json
Due: prettier

fix(seo): redirect www to the apex host in config, not the dashboard
  next.config.ts
  src/lib/seo/__tests__/www-canonical-redirect.test.ts
Due: prettier, lint-quick

docs: correct stale STATE claims after the phase-65 merge and deploy
  .planning/STATE.md
Due: prettier

chore(planning): renumber unstarted phases 57-64 to 66-73
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

test(65): add rendered E2E coverage for the /documents landing
  tests/e2e/playwright.config.ts
  tests/e2e/tests/documents-hub.spec.ts
Due: prettier, lint-quick

docs(66): capture phase context for rental application intake
  .planning/phases/66-rental-application-intake/66-CONTEXT.md
Due: prettier

docs(66): research rental application intake domain
  .planning/phases/66-rental-application-intake/66-RESEARCH.md
Due: prettier

docs(66): correct three context decisions that research overturned
  .planning/phases/66-rental-application-intake/66-CONTEXT.md
Due: prettier

docs(phase-66): add validation strategy, record four production-verified constraints
  .planning/phases/66-rental-application-intake/66-CONTEXT.md
  .planning/phases/66-rental-application-intake/66-VALIDATION.md
Due: prettier

docs(66): author the UI design contract for both intake surfaces
  .planning/phases/66-rental-application-intake/66-UI-SPEC.md
Due: prettier

docs(66): close the ui-checker block and its three flagged gaps
  .planning/phases/66-rental-application-intake/66-UI-SPEC.md
Due: prettier

docs(66): create phase plan
  .planning/ROADMAP.md
  .planning/phases/66-rental-application-intake/66-01-PLAN.md
  .planning/phases/66-rental-application-intake/66-02-PLAN.md
  .planning/phases/66-rental-application-intake/66-03-PLAN.md
  .planning/phases/66-rental-application-intake/66-04-PLAN.md
  .planning/phases/66-rental-application-intake/66-05-PLAN.md
  .planning/phases/66-rental-application-intake/66-06-PLAN.md
  .planning/phases/66-rental-application-intake/66-07-PLAN.md
  .planning/phases/66-rental-application-intake/66-08-PLAN.md
  .planning/phases/66-rental-application-intake/66-09-PLAN.md
  .planning/phases/66-rental-application-intake/66-10-PLAN.md
  .planning/phases/66-rental-application-intake/66-11-PLAN.md
  .planning/phases/66-rental-application-intake/66-12-PLAN.md
  .planning/phases/66-rental-application-intake/66-13-PLAN.md
  .planning/phases/66-rental-application-intake/66-14-PLAN.md
  .planning/phases/66-rental-application-intake/66-15-PLAN.md
  .planning/phases/66-rental-application-intake/66-16-PLAN.md
  .planning/phases/66-rental-application-intake/66-17-PLAN.md
  .planning/phases/66-rental-application-intake/66-VALIDATION.md
Due: prettier

docs(66): back-annotate the four open questions as resolved
  .planning/phases/66-rental-application-intake/66-RESEARCH.md
Due: prettier

docs(66): mark phase 66 planned and verified
  .planning/STATE.md
Due: prettier

docs: correct the route-gating rule from allow-list to deny-list
  CLAUDE.md
Due: prettier

feat(66-01): add rental application intake tables, constraints and indexes
  supabase/migrations/20260806120000_rental_applications_schema.sql
Due: none

feat(66-01): lock down rental application RLS, grants and notification type check
  supabase/migrations/20260806120000_rental_applications_schema.sql
Due: none

docs(66-01): complete rental application schema plan
  .planning/phases/66-rental-application-intake/66-01-SUMMARY.md
Due: prettier

feat(66-02): add the application bot guards and strict payload validator
  supabase/functions/__tests__/application-guards.test.ts
  supabase/functions/_shared/application-guards.ts
Due: prettier, lint-quick

feat(66-02): add the rental application zod schema and the bidirectional parity guard
  src/lib/validation/__tests__/rental-applications.test.ts
  src/lib/validation/rental-applications.ts
  supabase/functions/__tests__/application-payload-parity.test.ts
Due: prettier, lint-quick

feat(66-02): add the locked application copy constants
  .gitignore
  src/lib/applications/__tests__/application-copy.test.ts
  src/lib/applications/application-copy.ts
Due: prettier, lint-quick

docs(66-02): complete the validation, guards and locked copy plan
  .planning/phases/66-rental-application-intake/66-02-SUMMARY.md
Due: prettier

feat(66-03): gate /applications and pin /apply as public by absence
  src/app/robots.test.ts
  src/lib/routes/private-routes.ts
Due: prettier, lint-quick

feat(66-03): add the Applications entry to both nav surfaces and the breadcrumb map
  src/components/shell/__tests__/app-shell-nav.test.tsx
  src/components/shell/app-shell.tsx
  src/components/shell/main-nav.tsx
  src/lib/breadcrumbs.ts
Due: prettier, lint-quick

feat(66-03): map application_received to the Inbox glyph
  src/components/notifications/notification-item.tsx
Due: prettier, lint-quick

docs(66-03): complete route gating, navigation and notification wiring plan
  .planning/phases/66-rental-application-intake/66-03-SUMMARY.md
Due: prettier

feat(66-04): add owner link lifecycle RPCs for rental applications
  supabase/migrations/20260806121000_rental_application_rpcs.sql
Due: none

feat(66-04): add service-role RPCs for the public apply surface
  supabase/migrations/20260806121000_rental_application_rpcs.sql
Due: none

feat(66-04): add owner mutation RPCs for status, notes and conversion
  supabase/migrations/20260806121000_rental_application_rpcs.sql
Due: none

docs(66-04): complete rental application RPCs plan
  .planning/phases/66-rental-application-intake/66-04-SUMMARY.md
Due: prettier

feat(66-05): add the 730-day applicant PII retention sweep
  supabase/migrations/20260806122000_rental_applications_retention.sql
Due: none

feat(66-05): cascade owner deletion into both rental application tables
  supabase/migrations/20260806123000_rental_applications_gdpr_cascade.sql
Due: none
