Repository hudsor01/tenant-flow: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-quick

lefthook.yml:

# Lefthook configuration - Streamlined for performance
# Uses GitGuardian for security, focuses on fast essential checks

pre-commit:
    parallel: true
    commands:
        # GitGuardian for comprehensive secret scanning (if available)
        gitguardian:
            run: |
                if command -v ggshield &> /dev/null; then
                    ggshield secret scan pre-commit
                fi
            priority: 1 # Run first as it's most important

        # Quick formatting check (won't block on style issues)
        prettier:
            glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
            run: npx prettier --check {staged_files} || true
            stage_fixed: false # Don't auto-stage to avoid surprises

        # Lightweight linting (only on changed files)
        lint-quick:
            glob: '*.{js,jsx,ts,tsx}'
            run: npx eslint {staged_files} --quiet --fix-dry-run || true
            skip:
                - merge
                - rebase

pre-push:
    # Removed build checks - they belong in CI
    # Pre-push should be fast to not interrupt workflow
    commands:
        test-quick:
            run: |
                echo "Running quick tests..."
                # Only run if tests are fast (< 10s)
                if [ -f "package.json" ] && grep -q "test:quick" package.json; then
                    npm run test:quick 2>/dev/null || echo "⚠️ Some tests failed - check CI for details"
                else
                    echo "ℹ️ No quick tests configured"
                fi

commit-msg:
    commands:
        commitlint:
            run: |
                # Conventional commit format check
                MSG=$(head -1 {1})
                PATTERN="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,100}$"

                if ! echo "$MSG" | grep -qE "$PATTERN"; then
                    echo "❌ Invalid commit message format!"
                    echo ""
                    echo "Expected: <type>(<scope>): <subject>"
                    echo "Example:  feat(auth): add OAuth support"
                    echo ""
                    echo "Types: feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert"
                    exit 1
                fi

fix: allow the next-themes no-flash inline script in the nonce CSP
  src/proxy.ts
Due: prettier, lint-quick

fix(db): repair get_expense_summary (dropped mr.category) — group by vendor
  supabase/migrations/20260621033810_fix_get_expense_summary_vendor_grouping.sql
  supabase/migrations/20260621033856_fix_get_expense_summary_vendor_grouping_v2.sql
Due: none

fix(dashboard): equal-height KPI cards in the bento row
  src/components/dashboard/components/kpi-bento-row.tsx
Due: prettier, lint-quick

test(phase-06): complete auth + financial hook test coverage (closes #860)
  .planning/phases/06-auth-dollar-hook-tests/06-SUMMARY.md
  src/hooks/api/__tests__/use-auth-mutations.test.tsx
  src/hooks/api/__tests__/use-expense-mutations.test.tsx
  src/hooks/api/__tests__/use-mfa.test.tsx
  src/hooks/api/__tests__/use-report-mutations.test.tsx
  src/hooks/api/__tests__/use-reports.test.tsx
  src/hooks/api/__tests__/use-sessions.test.tsx
Due: prettier, lint-quick

fix(blog): single Sentry report per getBlogPost failure (dedupe)
  src/app/blog/[slug]/page.tsx
Due: prettier, lint-quick

refactor(types): compile-time exhaustiveness for inspection enums
  src/components/inspections/__tests__/inspection-labels.test.ts
  src/components/inspections/inspection-detail-sections.tsx
  src/components/inspections/inspection-detail.client.tsx
  src/components/inspections/inspection-labels.ts
  src/components/inspections/inspection-list.client.tsx
  src/components/inspections/inspection-room-card.tsx
  src/components/leases/wizard/lease-creation-wizard.tsx
  src/hooks/api/query-keys/inspection-keys.ts
  src/lib/__tests__/assert-never.test.ts
  src/lib/assert-never.ts
  src/lib/utils/currency.ts
  src/lib/validation/inspections.ts
  src/types/sections/__tests__/inspections.test.ts
  src/types/sections/inspections.ts
Due: prettier, lint-quick

refactor(types): replace the last two form-field `any`s with typed form API
  src/components/pricing/owner-subscribe-form-types.ts
  src/components/pricing/owner-subscribe-plan-selector.tsx
  src/components/properties/property-form-fields.tsx
Due: prettier, lint-quick

refactor(types): address review P2s — migration lockstep + precise variants
  src/components/inspections/inspection-detail.client.tsx
  src/components/inspections/inspection-list.client.tsx
  src/types/sections/__tests__/inspections.test.ts
Due: prettier, lint-quick

docs(types): correct SubscribeFormApi sharing comment per review
  src/components/pricing/owner-subscribe-form-types.ts
Due: prettier, lint-quick

docs: start milestone v7.0 TanStack Form Composition Migration
  .planning/PROJECT.md
  .planning/STATE.md
  .planning/milestones/v6.0-REQUIREMENTS.md
  .planning/milestones/v6.0-ROADMAP.md
Due: prettier

docs: define milestone v7.0 requirements (FORM-01..13)
  .planning/REQUIREMENTS.md
Due: prettier

docs: create milestone v7.0 roadmap (5 phases, 20-24)
  .planning/ROADMAP.md
Due: prettier

feat(forms): shared TanStack Form composition foundation (phase 20)
  src/lib/forms/__tests__/form-hook.test.tsx
  src/lib/forms/fields/date-field.tsx
  src/lib/forms/fields/icon-input-field.tsx
  src/lib/forms/fields/number-field.tsx
  src/lib/forms/fields/select-field.tsx
  src/lib/forms/fields/switch-field.tsx
  src/lib/forms/fields/text-field.tsx
  src/lib/forms/fields/textarea-field.tsx
  src/lib/forms/form-components/submit-button.tsx
  src/lib/forms/form-contexts.ts
  src/lib/forms/form-hook.tsx
Due: prettier, lint-quick

docs: mark v7.0 phase 20 executed (foundation built + verified)
  .planning/STATE.md
Due: prettier

test(forms): harden form foundation per phase-20 review
  src/lib/forms/__tests__/form-hook.test.tsx
  src/lib/forms/fields/number-field.tsx
  src/lib/forms/fields/switch-field.tsx
  src/lib/forms/form-contexts.ts
  src/lib/forms/form-hook.tsx
Due: prettier, lint-quick

refactor(forms): migrate subscribe form to composition API (FORM-05)
  src/components/pricing/owner-subscribe-dialog.tsx
  src/components/pricing/owner-subscribe-form-options.ts
  src/components/pricing/owner-subscribe-form-types.ts
  src/components/pricing/owner-subscribe-plan-selector.tsx
Due: prettier, lint-quick

refactor(forms): migrate property form to composition API (FORM-04)
  src/components/properties/property-form-fields.tsx
  src/components/properties/property-form-options.ts
  src/components/properties/property-form-types.ts
  src/components/properties/property-form.client.tsx
  src/components/properties/sections/property-address-section.tsx
  src/components/properties/sections/property-info-section.tsx
Due: prettier, lint-quick

fix(forms): gate field errors on isTouched (progressive validation)
  src/components/properties/sections/property-address-section.tsx
  src/lib/forms/__tests__/form-hook.test.tsx
  src/lib/forms/fields/date-field.tsx
  src/lib/forms/fields/icon-input-field.tsx
  src/lib/forms/fields/number-field.tsx
  src/lib/forms/fields/select-field.tsx
  src/lib/forms/fields/switch-field.tsx
  src/lib/forms/fields/text-field.tsx
  src/lib/forms/fields/textarea-field.tsx
Due: prettier, lint-quick

refactor(forms): migrate unit form to composition API (FORM-08, core)
  src/components/units/unit-form-fields.tsx
  src/components/units/unit-form-options.ts
  src/components/units/unit-form-types.ts
  src/components/units/unit-form.client.tsx
Due: prettier, lint-quick

refactor(forms): migrate add/edit unit panels to composition API (FORM-08)
  src/components/properties/add-unit-panel.tsx
  src/components/properties/edit-unit-panel.tsx
Due: prettier, lint-quick

refactor(forms): migrate lease form to composition API (FORM-06)
  src/components/leases/lease-form-financial-fields.tsx
  src/components/leases/lease-form-options.ts
  src/components/leases/lease-form-property-unit-fields.tsx
  src/components/leases/lease-form-tenant-date-fields.tsx
  src/components/leases/lease-form-types.ts
  src/components/leases/lease-form.tsx
Due: prettier, lint-quick

refactor(forms): migrate tenant forms to composition API (FORM-07)
  src/app/(owner)/tenants/components/tenant-edit-form.client.tsx
  src/components/tenants/add-tenant-form-options.ts
  src/components/tenants/add-tenant-form-types.ts
  src/components/tenants/add-tenant-form.tsx
  src/components/tenants/add-tenant-info-fields.tsx
  src/components/tenants/add-tenant-property-fields.tsx
  src/lib/forms/fields/icon-input-field.tsx
Due: prettier, lint-quick

fix(forms): restore tenant-edit validation (review P1 — was NOT inert)
  src/app/(owner)/tenants/components/tenant-edit-form.client.tsx
Due: prettier, lint-quick

docs: start milestone v8.0 Correctness Restoration (11 phases, 56 reqs)
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/milestones/v7.0-REQUIREMENTS.md
  .planning/milestones/v7.0-ROADMAP.md
Due: prettier

docs(25): fix roadmap phase-heading format + add phase 25 context
  .planning/ROADMAP.md
  .planning/phases/25-critical-corruption-broken-deletes/25-CONTEXT.md
Due: prettier

docs(25): plan phase 25 — CRIT-01..04 (5 plans, 2 waves)
  .planning/ROADMAP.md
  .planning/phases/25-critical-corruption-broken-deletes/25-01-PLAN.md
  .planning/phases/25-critical-corruption-broken-deletes/25-02-PLAN.md
  .planning/phases/25-critical-corruption-broken-deletes/25-03-PLAN.md
  .planning/phases/25-critical-corruption-broken-deletes/25-04-PLAN.md
  .planning/phases/25-critical-corruption-broken-deletes/25-05-PLAN.md
Due: prettier

fix(25-01): convert lease wizard money inputs from cents to dollars
  src/components/leases/wizard/details-step.tsx
  src/components/leases/wizard/terms-step.tsx
Due: prettier, lint-quick

fix(25-01): review renders dollars + schema/tests state dollar semantics
  src/components/leases/wizard/__tests__/review-step-completeness.property.test.tsx
  src/components/leases/wizard/__tests__/terms-step.test.tsx
  src/components/leases/wizard/review-step.tsx
  src/lib/validation/lease-wizard.schemas.ts
Due: prettier, lint-quick

docs(25-01): complete lease-wizard money-as-dollars plan
  .planning/phases/25-critical-corruption-broken-deletes/25-01-SUMMARY.md
Due: prettier

fix(25-02): format lease-template cents fields with formatCents (CRIT-02)
  src/lib/templates/lease-template.ts
Due: prettier, lint-quick

test(25-02): pin face-value lease-template money render (CRIT-02)
  src/lib/templates/lease-template.test.ts
Due: prettier, lint-quick

docs(25-02): complete lease-template money formatter fix plan
  .planning/phases/25-critical-corruption-broken-deletes/25-02-SUMMARY.md
Due: prettier

fix(db): restore unit + lease delete via inactive soft-delete (CRIT-03/04)
  .planning/phases/25-critical-corruption-broken-deletes/25-03-SUMMARY.md
  .planning/phases/25-critical-corruption-broken-deletes/25-04-SUMMARY.md
  supabase/migrations/20260702214657_add_inactive_to_units_status_check.sql
  supabase/migrations/20260702214706_add_inactive_to_leases_lease_status_check.sql
  supabase/migrations/20260702215602_exclude_inactive_from_occupancy_stats.sql
Due: prettier

docs(25): phase 25 verified — CRIT-01..04 complete (tracking + verification)
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/25-critical-corruption-broken-deletes/25-05-SUMMARY.md
Due: prettier

fix(db): exclude inactive units from remaining occupancy and quota counts
  supabase/migrations/20260702222955_exclude_inactive_from_remaining_occupancy_and_quota.sql
Due: none

fix(db): exclude inactive units/properties from get_user_profile counts (CRIT-03/04 audit)
  supabase/migrations/20260702224429_exclude_inactive_from_user_profile_counts.sql
Due: none

fix(db): exclude inactive leases from get_lead_paint_compliance_report (CRIT-04 audit)
  supabase/migrations/20260702224917_exclude_inactive_from_lead_paint_compliance.sql
Due: none

fix(db): complete inactive-exclusion in get_dashboard_stats (CRIT-03 audit cycle 3)
  supabase/migrations/20260702225850_complete_inactive_exclusion_in_get_dashboard_stats.sql
Due: none

fix(db,units): make lease->unit status sync aware of inactive soft-delete (CRIT-03/04 cycle 5)
  src/app/(owner)/units/page.tsx
  supabase/migrations/20260703144003_sync_unit_status_aware_of_inactive_soft_delete.sql
Due: prettier, lint-quick

fix(db): exclude inactive leases from get_dashboard_stats lease-side (CRIT-04 cycle 7)
  supabase/migrations/20260703225238_exclude_inactive_leases_from_dashboard_stats_lease_side.sql
Due: none
